head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../css/style.css")
    title Document
body
    .popup.popup13
        .container
            .popup-body.popup-body13
                h1.popup-body__title.popup-body13__title Đăng ký xác nhận thông tin
                button.popup-body__exit
                    img(src="../assets/images/closse-popup.png")
                label(for="sever")
                    span Sever
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Chọn sever</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                label(for="name")
                    span Tên nhân vật
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Chọn nhân vật</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                label(for="id")
                    span ID
                    input#id
                button.popup-body__btn.popup-body13__btn Xác nhận


script(src="../js/bootstrap.min.js")
script(src="../js/index.js")