hea
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../css/style.css")
    title Document
body
    .popup.popupa1
        .container
            .popup-body.popup-bodya1
                h1.popup-body__title Hòm đồ
                button.popup-body__exit
                    img(src="../assets/images/closse-popup.png")
                .popup-bodya1__table
                    table
                        thead
                            tr
                                th STT
                                th Phần quà
                                th Thời gian
                                th Trạng thái
                            
                        tbody
                            tr 
                                td 1
                                td 5000gc
                            
                                td 00/00/00
                                td 
                                    span.active Đã nhận 
                                    button Nhận quà
                            tr 
                                td 1
                                td 5000gc
                            
                                td 00/00/00
                                td 
                                    span.active Đã nhận 
                                    button Nhận quà
                            tr 
                                td 1
                                td 5000gc
                            
                                td 00/00/00
                                td 
                                    span.active Đã nhận 
                                    button Nhận quà
                            tr 
                                td 1
                                td 5000gc
                            
                                td 00/00/00
                                td 
                                    span.active Đã nhận 
                                    button Nhận quà
                            tr 
                                td 1
                                td 5000gc
                            
                                td 00/00/00
                                td 
                                    span.active Đã nhận 
                                    button Nhận quà
                            tr 
                                td 1
                                td 5000gc
                            
                                td 00/00/00
                                td 
                                    span.active Đã nhận 
                                    button Nhận quà
                            tr 
                                td 1
                                td 5000gc
                            
                                td 00/00/00
                                td 
                                    span.active Đã nhận 
                                    button Nhận quà
                            tr 
                                td 1
                                td 5000gc
                            
                                td 00/00/00
                                td 
                                    span.active Đã nhận 
                                    button Nhận quà
                            tr 
                                td 1
                                td 5000gc
                            
                                td 00/00/00
                                td 
                                    span Đã nhận 
                                    button.active Nhận quà
                            tr 
                                td 1
                                td 5000gc
                                td 00/00/00
                                td 
                                    span.active Đã nhận 
                                    button Nhận quà
                    .popup-bodya1__table-btn
                        button.popup-bodya1__table-btn1
                        button.popup-bodya1__table-btn2
                       
                            
                    