head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../css/style.css")
    title Document
body
    .popup.popup12
        .container
            .popup-body.popup-body12
                h1.popup-body__title Nhận quà
                button.popup-body__exit
                    img(src="../assets/images/closse-popup.png")
                p.popup-body__name Chúc mừng phi công đã nhận được gói quà 
                h2.popup-body12__rank BẠC



script(src="../js/bootstrap.min.js")
script(src="../js/index.js")