head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../css/style.css")
    title Document
body
    .popup.popup3
        .container
            .popup-body.popup-body3
                h1.popup-body__title Thiết kế
                button.popup-body__exit
                    img(src="../assets/images/closse-popup.png")
                label.popup-body3__avata(for="avata")
                    input(type="file")#avata
                    label(for="avata")
                        img(src="../assets/images/photo.png")
                p.popup-body__name.popup-body3__name Tên của bạn
                input.popup-body3__input(placeholder="Nhập lời chúc tại đây.... ")
                button.popup-body__btn Tạo thiệp mời



                   
script(src="../js/bootstrap.min.js")
script(src="../js/index.js")