.app
    .container
        .app-left
            button DOWNLOAD<strong>Phi đội 2.0</strong>
            .app-left__nav
                button 
                    img(alt='',src="../assets/images/Layer15.jpg")
                    a(href="#") Đăng ký
                button 
                    img(alt='',src="../assets/images/Layer116.jpg")
                    a(href="#") Nạp thẻ
                button 
                    img(alt='',src="../assets/images/Layer114.jpg")
                    a(href="#") Hỗ trợ
                button 
                    img(alt='',src="../assets/images/Layer133.jpg")
                    a(href="#") Gift code
            .app-left__slide.js-slide
                img(alt='',src="../assets/images/logocopy.png")
                span 300x250
                img(alt='',src="../assets/images/Group2.png")
                .control
                    span.js-slideBtn.js-slideBtn1.active
                    span.js-slideBtn.js-slideBtn2
                    span.js-slideBtn.js-slideBtn3
                    span.js-slideBtn.js-slideBtn4
        .app-right
            .app-right__head
                a(href="") Sự kiện
                    img(alt='',src="../assets/images/Layer132.png")
                .app-right__head-link
                    a(href="") Trang chủ » 
                        img(alt='',src="../assets/images/Forma1.png")
                    
                    a(href="") Sự kiện
            .app-right__body
                .js-data
                    ul
                        li
                            img(alt='',src="../assets/images/Layer120.jpg")
                            em
                                h3 [CLB]Chính thức nhận đơn ứng cử Ban Chấp Hành CLB Phi Đội
                                span 14-1
                                span Thiên hà 24h
                                hr
                                p Iphone 5SE, Bàn Phím Gaming K65 RGB, Chuột Corsair Raptor M40, Giftcode trị giá 5.000.000 VNĐ cùng nhiều vật phẩm ingame hấp dẫn khác là phần thưởng đặc biệt từ sự kiện Online Quay Số.      
                        li
                            img(alt='',src="../assets/images/Layer120.jpg")
                            em
                                h3 [CLB]Chính thức nhận đơn ứng cử Ban Chấp Hành CLB Phi Đội
                                span 14-1
                                span Thiên hà 24h
                                hr
                                p Iphone 5SE, Bàn Phím Gaming K65 RGB, Chuột Corsair Raptor M40, Giftcode trị giá 5.000.000 VNĐ cùng nhiều vật phẩm ingame hấp dẫn khác là phần thưởng đặc biệt từ sự kiện Online Quay Số.      
                        li
                            img(alt='',src="../assets/images/Layer120.jpg")
                            em
                                h3 [CLB]Chính thức nhận đơn ứng cử Ban Chấp Hành CLB Phi Đội
                                span 14-1
                                span Thiên hà 24h
                                hr
                                p Iphone 5SE, Bàn Phím Gaming K65 RGB, Chuột Corsair Raptor M40, Giftcode trị giá 5.000.000 VNĐ cùng nhiều vật phẩm ingame hấp dẫn khác là phần thưởng đặc biệt từ sự kiện Online Quay Số.      
                        li
                            img(alt='',src="../assets/images/Layer120.jpg")
                            em
                                h3 [CLB]Chính thức nhận đơn ứng cử Ban Chấp Hành CLB Phi Đội
                                span 14-1
                                span.other Cộng đồng VTC
                                hr
                                p Iphone 5SE, Bàn Phím Gaming K65 RGB, Chuột Corsair Raptor M40, Giftcode trị giá 5.000.000 VNĐ cùng nhiều vật phẩm ingame hấp dẫn khác là phần thưởng đặc biệt từ sự kiện Online Quay Số.      
                        li
                            img(alt='',src="../assets/images/Layer120.jpg")
                            em
                                h3 [CLB]Chính thức nhận đơn ứng cử Ban Chấp Hành CLB Phi Đội
                                span 14-1
                                span.other Cộng đồng VTC
                                hr
                                p Iphone 5SE, Bàn Phím Gaming K65 RGB, Chuột Corsair Raptor M40, Giftcode trị giá 5.000.000 VNĐ cùng nhiều vật phẩm ingame hấp dẫn khác là phần thưởng đặc biệt từ sự kiện Online Quay Số.      
                .app-right__body-control
                    img(alt='',src="../assets/images/Group1.png").js-pevm
                    img(alt='',src="../assets/images/Forma.png").js-pev
                    .js-add
                        span.js-item 1
                        span.js-item.active 2
                        span.js-item 3
                    img(alt='',src="../assets/images/Forma.png").js-next
                    img(alt='',src="../assets/images/Group1.png").js-nextm
        button.app-movtop.js-movtop TOP
            
