header.header   
    .container
        ul.header-nav__left.header-nav
            li      
                a(href="").active.js-nav Trang chủ
            li      
                a(href="").js-nav Giới thiệu
            li      
                a(href="").js-nav Hướng dẫn
        a(href="")
            img(src="../assets/images/logo.png" alt="")
        ul.header-nav__right.header-nav
            li      
                a(href="").js-nav Thư viện 
            li      
                a(href="").js-nav Cộng đồng  
            li      
                a(href="").js-nav Xếp hạng
