head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css")
  link(rel="stylesheet" href="../css/style.css")
  title Document
body
  .app
    .container
      .app-help
        ul.nav.nav-tab(role="tablist").mytab
          li.nav-item.mytab-li
            a.nav-link.active.app-help__a(data-bs-toggle="tab" href="#home" )
              p.app-help__p Hướng dẫn nạp Vcoin
              img.app-help__img(src="../assets/images/item1.svg" alt="")
          li.nav-item.mytab-li
            a.nav-link.app-help__a(data-bs-toggle="tab" href="#home1" )
              p.app-help__p Hướng dẫn nạp InGame
              img.app-help__img(src="../assets/images/item1.svg" alt="")
          li.nav-item.mytab-li
            a.nav-link.app-help__a(data-bs-toggle="tab" href="#home2" )
              p.app-help__p Câu hỏi thường gặp
              img.app-help__img(src="../assets/images/item1.svg" alt="")
        .tab-content.mytab-content
          #home.tab-pane.active
            .mytab-pane2
              ul.nav.nav-tab(role="tablist").mytab1
                li.nav-item.mytab1-li
                  a.nav-link.mytab1-item__a.active(data-bs-toggle="tab" href="#home4" )
                    .mytab1-item
                      img(src='../assets/images/item2.svg').mytab1-item__img
                      .mytab1-item__des
                        h2.mytab1-item__des-h2 Hướng dẫn nạp qua Chuyển khoản ngân hàng

                li.nav-item.mytab1-li
                  a.nav-link.mytab1-item__a(data-bs-toggle="tab" href="#home5" )
                    .mytab1-item
                      img(src='../assets/images/item3.svg').mytab1-item__img
                      .mytab1-item__des
                        h2.mytab1-item__des-h2 Hướng dẫn nạp thẻ Từ thẻ cào trả trước

                li.nav-item.mytab1-li
                  a.nav-link.mytab1-item__a(data-bs-toggle="tab" href="#home6" )
                    .mytab1-item
                      img(src='../assets/images/item4.svg').mytab1-item__img
                      .mytab1-item__des
                        h2.mytab1-item__des-h2 Hướng dẫn nạp qua Ví điện tử
                li.nav-item.mytab1-li
                  a.nav-link.mytab1-item__a(data-bs-toggle="tab" href="#home7" )
                    .mytab1-item
                      img(src='../assets/images/item5.svg').mytab1-item__img
                      .mytab1-item__des
                        h2.mytab1-item__des-h2 Hướng dẫn nạp qua Ngân hàng/Thẻ quốc tế
                li.nav-item.mytab1-li
                  a.nav-link.mytab1-item__a(data-bs-toggle="tab" href="#home8" )
                    .mytab1-item
                      img(src='../assets/images/item6.svg').mytab1-item__img
                      .mytab1-item__des
                        h2.mytab1-item__des-h2 Hướng dẫn nạp qua Tin nhắn SMS
              .tab-content.mytab1-content
                #home4.tab-pane.active
                  .mytab1-pane  
                    h1.mytab1-pane__heading Hướng dẫn nạp VCoin qua hình thức Chuyển khoản ngân hàng
                    ul.mytab1-pane__ul
                      li.mytab1-pane__ul-li
                        .mytab1-pane__ul-li__des
                          span.mytab1-pane__ul-li__des-span Bước 1: <strong class="mytab1-pane__ul-li__des-p">Bạn truy cập website: </strong>napthe.vtcgame.vn <strong class="mytab1-pane__ul-li__des-p"> chọn mục “Nạp Vcoin” hoặc chọn mục Game muốn nạp theo nhu cầu</strong>
                       
                      .mytab1-pane__ul-li__img
                        img(src="../assets/images/item7.jpg" alt="")
                        p.mytab1-pane__ul-li__img-p Màn hình chỉ dẫn chọn mục “Nạp Vcoin”
                      p.mytab1-pane__ul-li__note Lưu ý: Bạn nên đăng nhập tài khoản VTC Game để đảm bảo nạp đúng Vcoin cho tài khoản của mình (không yêu cầu bắt buộc phải đăng nhập tài khoản mới nạp được Vcoin)
                      .mytab1-pane__ul-li__img
                        img(src="../assets/images/item8.jpg" alt="")
                
                #home5.tab-pane
                  h1 comming soon1....
                #home6.tab-pane
                  h1 comming soon2....
                #home7.tab-pane
                  h1 comming soon3....
                #home8.tab-pane
                  h1 comming soon4....


          #home1.tab-pane
            .mytab-pane2
              ul.nav.nav-tab(role="tablist").mytab1
                li.nav-item.mytab1-li
                  a.nav-link.mytab1-item__a.active(data-bs-toggle="tab" href="#home9" )
                    .mytab1-item
                      img(src='../assets/images/item2.svg').mytab1-item__img
                      .mytab1-item__des
                        h2.mytab1-item__des-h2 Hướng dẫn nạp qua Chuyển khoản ngân hàng

                li.nav-item.mytab1-li
                  a.nav-link.mytab1-item__a(data-bs-toggle="tab" href="#home10" )
                    .mytab1-item
                      img(src='../assets/images/item3.svg').mytab1-item__img
                      .mytab1-item__des
                        h2.mytab1-item__des-h2 Hướng dẫn nạp thẻ Từ thẻ cào trả trước

                li.nav-item.mytab1-li
                  a.nav-link.mytab1-item__a(data-bs-toggle="tab" href="#home11" )
                    .mytab1-item
                      img(src='../assets/images/item4.svg').mytab1-item__img
                      .mytab1-item__des
                        h2.mytab1-item__des-h2 Hướng dẫn nạp qua Ví điện tử
                li.nav-item.mytab1-li
                  a.nav-link.mytab1-item__a(data-bs-toggle="tab" href="#home12" )
                    .mytab1-item
                      img(src='../assets/images/item5.svg').mytab1-item__img
                      .mytab1-item__des
                        h2.mytab1-item__des-h2 Hướng dẫn nạp qua Ngân hàng nội địa
                li.nav-item.mytab1-li
                  a.nav-link.mytab1-item__a(data-bs-toggle="tab" href="#home13" )
                    .mytab1-item
                      img(src='../assets/images/item9.svg').mytab1-item__img
                      .mytab1-item__des
                        h2.mytab1-item__des-h2 Hướng dẫn nạp qua Thẻ quốc tế
                li.nav-item.mytab1-li
                  a.nav-link.mytab1-item__a(data-bs-toggle="tab" href="#home14" )
                    .mytab1-item
                      img(src='../assets/images/item8.svg').mytab1-item__img
                      .mytab1-item__des
                        h2.mytab1-item__des-h2 Hướng dẫn nạp qua Số dư Vcoin
                li.nav-item.mytab1-li
                  a.nav-link.mytab1-item__a(data-bs-toggle="tab" href="#home15" )
                    .mytab1-item
                      img(src='../assets/images/item6.svg').mytab1-item__img
                      .mytab1-item__des
                        h2.mytab1-item__des-h2 Hướng dẫn nạp qua Tin nhắn SMS
              .tab-content.mytab1-content
                #home9.tab-pane.active
                  .mytab1-pane  
                    h1.mytab1-pane__heading Hướng dẫn nạp VCoin qua hình thức Chuyển khoản ngân hàng
                    ul.mytab1-pane__ul
                      li.mytab1-pane__ul-li
                        .mytab1-pane__ul-li__des
                          span.mytab1-pane__ul-li__des-span Bước 1:
                            strong.mytab1-pane__ul-li__des-p Bạn truy cập website: 
                            |napthe.vtcgame.vn
                            strong.mytab1-pane__ul-li__des-p chọn mục “Nạp Vcoin” hoặc chọn mục Game muốn nạp theo nhu cầu
                      .mytab1-pane__ul-li__img
                        img(src="../assets/images/item7.jpg" alt="")
                        p.mytab1-pane__ul-li__img-p Màn hình chỉ dẫn chọn mục “Nạp Vcoin”
                      p.mytab1-pane__ul-li__note Lưu ý: Bạn nên đăng nhập tài khoản VTC Game để đảm bảo nạp đúng Vcoin cho tài khoản của mình (không yêu cầu bắt buộc phải đăng nhập tài khoản mới nạp được Vcoin)
                      .mytab1-pane__ul-li__img
                        img(src="../assets/images/item8.jpg" alt="")
                      li.mytab1-pane__ul-li
                        .mytab1-pane__ul-li__des
                          span.mytab1-pane__ul-li__des-span Bước 2:
                            strong.mytab1-pane__ul-li__des-p Tùy từng game sẽ yêu cầu nhập UID/ID hoặc Server/máy chủ (những thông tin có dấu “*” sẽ bắt buộc phải nhập thông tin)
                #home10.tab-pane
                  .mytab1-pane
                    h1 comming soon1....
                #home11.tab-pane
                  .mytab1-pane
                    h1 comming soon2....
                #home12.tab-pane
                  .mytab1-pane
                    h1 comming soon3....
                #home13.tab-pane
                  .mytab1-pane
                    h1 comming soon4....
                #home14.tab-pane
                  .mytab1-pane
                    h1 comming soon5....
                #home15.tab-pane
                  .mytab1-pane
                    h1 comming soon6....

          #home2.tab-pane
            .mytab-pane1  
              h1.mytab1-pane__heading Câu hỏi thường gặp
              .mytab3-pane
                h3.mytab3-pane__h3 <b>Câu hỏi:</b> Bạn có thể mua thẻ Vcoin ở đâu ?
                p.mytab3-pane__p Trả lời: Bạn có thể mua thẻ cào Vcoin tại cửa hàng: Điện Máy Xanh, Thế Giới Di Động, Co.op mart hoặc các Game Center gần nhất nhé!
                h3.mytab3-pane__h3 <b>Câu hỏi:</b> Làm thế nào để nạp Vcoin?
                p.mytab3-pane__p Trả lời: Bạn thực hiện các bước như sau:
                ul.mytab3-pane__ul
                  li.mytab3-pane__ul-li Bước 1: Bạn truy cập trang web: napthe.vtcgame.vn chọn “Nạp Vcoin”
                  li.mytab3-pane__ul-li Bạn nên đăng nhập tài khoản VTC Game để đảm bảo nạp đúng Vcoin cho tài khoản của mình<br> (không yêu cầu bắt buộc phải đăng nhập tài khoản mới nạp được Vcoin)
                  li.mytab3-pane__ul-li Bước 2: Bạn chọn hình thức thanh toán và nhập các nội dung yêu cầu (những thông tin có dấu “ *” sẽ bắt buộc phải nhập)
                  li.mytab3-pane__ul-li Bước 3: Chọn “Thanh toán” để xác nhận giao dịch
                p.mytab3-pane__p Bạn có thể nạp Vcoin bằng các hình thức thanh toán:
                ul.mytab3-pane__ul2
                  li.mytab3-pane__ul2-li - Chuyển khoản ngân hàng
                  li.mytab3-pane__ul2-li - Thẻ Vcoin
                  li.mytab3-pane__ul2-li - Ví điện tử
                  li.mytab3-pane__ul2-li - Ngân hàng – Thẻ quốc tế
                  li.mytab3-pane__ul2-li - Tin nhắn SMS
                h3.mytab3-pane__h3 <b>Câu hỏi:</b> Làm thế nào để nạp game AU Beat, AU2, UFC, Phục Kích, Laplace, Super SUS và các game mobile khác?
                p.mytab3-pane__p Trả lời: Bạn thực hiện các bước như sau:
                ul.mytab3-pane__ul
                  li.mytab3-pane__ul-li Bước 1: Bạn truy cập trang web: napthe.vtcgame.vn chọn Icon game muốn nạp
                  li.mytab3-pane__ul-li Bạn nên đăng nhập tài khoản VTC Game để đảm bảo nạp đúng cho tài khoản của mình (không yêu cầu bắt buộc phải đăng nhập tài khoản mới nạp được ingame)
                  li.mytab3-pane__ul-li Bước 2: Từng game sẽ yêu cầu nhập UID/ID hoặc Server/máy chủ (những thông tin có dấu “ *” sẽ bắt buộc phải nhập)
                  li.mytab3-pane__ul-li Bước 3: Sau đó chọn tiếp các hình thức thanh toán theo yêu cầu và nhập thông tin thanh toán
                  li.mytab3-pane__ul-li Bước 4: Chọn “Thanh toán” để xác nhận giao dịch
                p.mytab3-pane__p Bạn có thể nạp Vcoin bằng các hình thức thanh toán:
                ul.mytab3-pane__ul2
                  li.mytab3-pane__ul2-li - Chuyển khoản ngân hàng
                  li.mytab3-pane__ul2-li - Thẻ Vcoin
                  li.mytab3-pane__ul2-li - Ví điện tử
                  li.mytab3-pane__ul2-li - Ngân hàng – Thẻ quốc tế
                  li.mytab3-pane__ul2-li - Tin nhắn SMS
                h3.mytab3-pane__h3 <b>Câu hỏi:</b> Nạp bằng hình thức thanh toán nào được hưởng nhiểu ưu đãi nhất khi chơi game của VTC Game
                p.mytab3-pane__p Trả lời: Nạp Vcoin hoặc nạp Ingame bằng hình thức “Chuyển khoản ngân hàng” để được giảm giá 5%.
script(src="../js/swiper.js")
script(src="../js/bootstrap.min.js")
script(src="../js/index.js")