@font-face {
    font-family: 'OpenSansBold';
    src: url('../assets/fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'UTMAvoBold';
    src: url('../assets/fonts/UTMAvoBold.ttf');
}

@font-face {
    font-family: 'UVNBaiSau';
    src: url('../assets/fonts/UVNBaiSau_B.TTF');
}

@font-face {
    font-family: 'UTMAvo';
    src: url('../assets/fonts/UTMAvo.ttf');
}

body {
    position: relative;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

button {
    cursor: pointer;
}

.bg {
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.header {
    &-nav {
        position: relative;
        left: -100px;
        width: 1398px;
        height: 172px;
        background: url("../assets/images/menu.png") center /contain no-repeat;
        display: flex;
        justify-content: space-between;
        padding: 0 80px;
        ul {
            display: flex;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    position: relative;
                    font-family: 'UTMAvo';
                    font-size: 24px;
                    padding: 0px 30px;
                    height: 67px;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    &:hover {
                        color: #dfff00;
                    }
                    &.active {
                        color: #dfff00;
                    }
                }
                &:nth-child(1) {
                    a {
                        padding-left: 0;
                    }
                }
                &:nth-child(3) {
                    a {
                        padding-right: 0;
                    }
                }
                &:nth-child(2) {
                    a {
                        cursor: pointer;
                        &::before {
                            position: absolute;
                            content: "";
                            width: 2px;
                            height: 100%;
                            display: block;
                            left: 0;
                            top: 50%;
                            background: linear-gradient(rgba(255, 255, 255, 0), #fff, rgba(255, 255, 255, 0));
                            transform: translateY(-50%);
                            -webkit-transform: translateY(-50%);
                            -moz-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                            -o-transform: translateY(-50%);
                        }
                        &::after {
                            position: absolute;
                            content: "";
                            width: 2px;
                            height: 100%;
                            right: 0;
                            top: 50%;
                            display: block;
                            background: linear-gradient(rgba(255, 255, 255, 0), #fff, rgba(255, 255, 255, 0));
                            transform: translateY(-50%);
                            -webkit-transform: translateY(-50%);
                            -moz-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                            -o-transform: translateY(-50%);
                        }
                    }
                }
            }
        }
        &>a {
            position: absolute;
            top: 18px;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
        }
    }
    &-introduce {
        top: -84px;
        position: relative;
        &>button {
            position: relative;
            top: 250px;
            padding: 10px 0 0 0;
            left: -6px;
            width: 374px;
            height: 127px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: row-reverse;
            font-size: 35px;
            font-family: 'UTMAvoBold';
            line-height: 1.2;
            text-indent: 15px;
            color: #562a00;
            text-shadow: 1px 1px #fdfa2e;
            background: url("../assets/images/1.png") center/contain no-repeat;
            text-transform: uppercase;
            transition: transform 0.5s;
            -webkit-transition: transform 0.5s;
            -moz-transition: transform 0.5s;
            -ms-transition: transform 0.5s;
            -o-transition: transform 0.5s;
            img {
                position: absolute;
                top: 18px;
                left: 97px;
            }
            &:hover {
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
            }
        }
        &>img {
            position: absolute;
            left: 46px;
            top: -24px;
        }
        &__video {
            position: relative;
            margin-top: 262px;
            display: flex;
            .iframe {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                iframe {
                    border: 10px solid rgb(43, 139, 234);
                    min-width: 707px;
                    height: 359px;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                }
                img {
                    display: none;
                }
                &.defaut {
                    position: relative;
                    background: url("../assets/images/3.jpg") center /cover no-repeat;
                    img {
                        display: flex;
                        position: absolute;
                        width: 149px;
                        height: 149px;
                        cursor: pointer;
                        z-index: 1;
                    }
                    &::after {
                        position: absolute;
                        content: "";
                        display: block;
                        width: calc(100% - 10px);
                        height: calc(100% - 10px);
                        background: rgba(0, 0, 0, 0.8);
                    }
                }
            }
        }
        &__download {
            position: relative;
            display: flex;
            margin-top: 9px;
            button {
                width: 230px;
                height: 96px;
                background: #88d762;
                box-shadow: 0 0 4px #000, inset 0 -6px #58bc24;
                border-radius: 24px;
                -webkit-border-radius: 24px;
                -moz-border-radius: 24px;
                -ms-border-radius: 24px;
                -o-border-radius: 24px;
                display: flex;
                flex-direction: row-reverse;
                justify-content: center;
                align-items: center;
                margin-right: 8px;
                font-size: 24px;
                color: #fff;
                font-family: 'UTMAvoBold';
                text-align: left;
                padding-bottom: 6px;
                transition: transform 0.5s;
                -webkit-transition: transform 0.5s;
                -moz-transition: transform 0.5s;
                -ms-transition: transform 0.5s;
                -o-transition: transform 0.5s;
                &:hover {
                    transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                    -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    -o-transform: scale(1.1);
                }
                img {
                    margin-right: 20px;
                }
                &:nth-child(2) {
                    box-shadow: 0 0 4px #000, inset 0 -6px #3381d3;
                    background: #4693e3;
                    width: 257px;
                }
                &:nth-child(3) {
                    box-shadow: 0 0 4px #000, inset 0 -6px #d38733;
                    background: #e39846;
                    width: 202px;
                    margin-right: 0;
                }
            }
        }
    }
    &-download {
        position: fixed;
        top: 250px;
        right: 100px;
        z-index: 999;
        ul {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 151px;
            height: 443px;
            box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.004);
            background: linear-gradient(#ffdf00, #ffb900);
            border-radius: 74px;
            -webkit-border-radius: 74px;
            -moz-border-radius: 74px;
            -ms-border-radius: 74px;
            -o-border-radius: 74px;
            overflow: hidden;
            li {
                position: relative;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                font-family: 'UVNBaiSau';
                padding-top: 4px;
                padding-bottom: 4px;
                font-size: 22px;
                color: #361601;
                width: 100%;
                text-align: center;
                &:hover {
                    background: linear-gradient(#ff8902, #da8928);
                    cursor: pointer;
                }
                img {
                    margin-bottom: 5px;
                }
                &::after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    background-color: #fff;
                    height: 1px;
                    bottom: 0;
                    display: block;
                }
                &:nth-child(1) {
                    padding-top: 26px;
                    margin-top: 0;
                    img {
                        width: 65px;
                        height: 65px;
                    }
                }
                &:last-child {
                    padding-bottom: 26px;
                    padding-top: 7px;
                    &::after {
                        display: none;
                    }
                }
            }
        }
        &>img {
            &:nth-child(1) {
                position: absolute;
                top: -207px;
                z-index: -1;
            }
            &:nth-child(3) {
                position: absolute;
                bottom: -100px;
            }
        }
        &>button {
            position: absolute;
            width: 60px;
            height: 119px;
            background: url("../assets/images/pkmd.png") center/contain no-repeat;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            bottom: -110px;
            z-index: -1;
            font-size: 21px;
            font-family: 'UVNBaiSau';
            color: #000;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            padding-bottom: 16px;
            img {
                width: 22px;
                height: 22px;
                transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
            }
        }
    }
}