.app
    .wide.grid
        .row.app-hotnews
            .app-hotnews__item.app-hotnews__item7.col-lg-12.col-md-12.col-sm-12
        .row
            h1.app-heading Giải đấu
            .app-row
            .app-help.col-lg-12.col-md-12.col-sm-12
                .app-help__catalogue
                    .app-highlight__btn
                        button.app-highlight__btn-item.app-highlight__btn-item1.active Tổng quát
                        button.app-highlight__btn-item.app-highlight__btn-item2 Vòng bảng
                        button.app-highlight__btn-item.app-highlight__btn-item3 Vòng chung kết
                .app-help__body
                    h2 Bảng xếp hạng
                    .app-even
                        .app-table
                            .app-table__head
                                span Cúp Bát gia
                                span Bảng A
                            .app-row.mid.light
                            table.app-table__body
                                thead
                                    tr
                                        th Player
                                        th Trận
                                        th Tỷ số
                                        th Điểm 
                                tbody
                                    tr 
                                        th Chim sẻ 123
                                        th 3
                                        th 19-2
                                        th 3
                                    tr 
                                        th Đại bàng @2@
                                        th 3
                                        th 18-3
                                        th 3
                                    tr 
                                        th Tu hú
                                        th 3
                                        th 16-4
                                        th 1
                                    tr 
                                        th Chim sẻ 
                                        th 3
                                        th 19-2
                                        th 1
                                    tr 
                                        th Đại bàng
                                        th 3
                                        th 18-3
                                        th 1
                                    tr 
                                        th Tu hú
                                        th 3
                                        th 16-4
                                        th 1
                                    tr 
                                        th Chim sẻ 
                                        th 3
                                        th 19-2
                                        th 1
                    .app-even
                        .app-table
                            .app-table__head
                                span Cúp Bát gia
                                span Bảng B
                            .app-row.mid.light
                            table.app-table__body
                                thead
                                    tr
                                        th Player
                                        th Trận
                                        th Tỷ số
                                        th Điểm 
                                tbody
                                    tr 
                                        th Chim sẻ 123
                                        th 3
                                        th 19-2
                                        th 3
                                    tr 
                                        th Đại bàng @2@
                                        th 3
                                        th 18-3
                                        th 3
                                    tr 
                                        th Tu hú
                                        th 3
                                        th 16-4
                                        th 1
                                    tr 
                                        th Chim sẻ 
                                        th 3
                                        th 19-2
                                        th 1
                                    tr 
                                        th Đại bàng
                                        th 3
                                        th 18-3
                                        th 1
                                    tr 
                                        th Tu hú
                                        th 3
                                        th 16-4
                                        th 1
                                    tr 
                                        th Chim sẻ 
                                        th 3
                                        th 19-2
                                        th 1
                    .app-result
                        h1.app-heading Kết quả thi đấu
                        .app-tablem
                            .app-tablem__head
                                button
                                span Ngày 23/08
                                button
                            table.app-tablem__body
                                thead
                                    tr
                                        th Trận
                                        th Kết quả
                                        th Livestream
                                        th Highlight
                                tbody
                                    tr 
                                        th Chim sẻ 123 <span>vs</span><br> Đại bàng 456
                                        th 7-0
                                        th <span></span>
                                        th <span></span>
                                    tr 
                                        th Chim sẻ 123 <span>vs</span><br> Đại bàng 456
                                        th 7-0
                                        th <span></span>
                                        th <span></span>
                                    tr 
                                        th Chim sẻ 123 <span>vs</span><br> Đại bàng 456
                                        th 7-0
                                        th <span></span>
                                        th <span></span>
                                    tr 
                                        th Chim sẻ 123 <span>vs</span><br> Đại bàng 456
                                        th 7-0
                                        th <span></span>
                                        th <span></span>

        .col.app-adv
            img(src="../aseets/images/Layer82571.jpg")