.app
    .wide.grid
        .row.app-hotnews
            .app-hotnews__item.app-hotnews__item7.col-lg-12.col-md-12.col-sm-12
        .row.center
            h1.app-heading Videos
            .app-row
            iframe.col-lg-8.col-sm-12(src="https://www.youtube.com/embed/30zH7IRMmWY" autoplay)
        .row.center
            .app-highlight__btn.col-sm-12
                button.app-highlight__btn-item.app-highlight__btn-item1.active Giải đấu
                button.app-highlight__btn-item.app-highlight__btn-item2 highlight
        .row.col-md-0.col-sm-0
            .app-videohl      
                button
                iframe.app-videohl__item.app-videohl__item1(src="https://www.youtube.com/embed/30zH7IRMmWY" autoplay)
                iframe.app-videohl__item.app-videohl__item2(src="https://www.youtube.com/embed/30zH7IRMmWY" autoplay)
                iframe.app-videohl__item.app-videohl__item3(src="https://www.youtube.com/embed/30zH7IRMmWY" autoplay)
                button
        .app-adv
                img(src="../aseets/images/Layer82571.jpg")
                
