.app
    .wide.grid
        .row.app-highlight
            button.col-lg-1.col-md-1.col-sm-1.app-highlight__left.js-highLightBtnLeft
            .col-lg-10.col-md-10.col-sm-10
                iframe.js-iframe(src="https://www.youtube.com/embed/TYqPpWIb0jc" autoplay)
                .app-highlight__btn.col-md-0
                    button.app-highlight__btn-item.app-highlight__btn-item1.active Giải đấu
                    button.app-highlight__btn-item.app-highlight__btn-item2 Highlight
            button.app-highlight__right.col-lg-1.col-md-1.col-sm-1.js-highLightBtnRight
        h1.app-heading Tin tiêu điểm
        .app-row
        .row.app-hotnews
            .col-lg-8.col-md-12.col-sm-12
                .app-hotnews__item.app-hotnews__item1
                    span SK Hoàn trả Kim cương khi thanh toán bằng hình thức chuyển khoản ngân hàng
            .col-lg-4.col-md-0.col-sm-0
                .app-hotnews__item.app-hotnews__item2
                    span SK Hoàn trả Kim cương khi thanh toán bằng hình thức chuyển khoản ngân hàng
                .app-hotnews__item.app-hotnews__item3
                    span SK Hoàn trả Kim cương khi thanh toán bằng hình thức chuyển khoản ngân hàng
        .app-row.mid.green
        .row.app-slide
            .col-lg-4.col-sm-12.col-md-4
                .app-hotnews__item.app-hotnews__item4
                    span SK Hoàn trả Kim cương khi thanh toán bằng hình thức chuyển khoản ngân hàng
            .col-lg-4.col-sm-12.col-md-4
                .app-hotnews__item.app-hotnews__item5
                    span SK Hoàn trả Kim cương khi thanh toán bằng hình thức chuyển khoản ngân hàng
            .col-lg-4.col-sm-12.col-md-4
                .app-hotnews__item.app-hotnews__item6
                    span SK Hoàn trả Kim cương khi thanh toán bằng hình thức chuyển khoản ngân hàng
            .col-lg-4.col-sm-12.col-md-4
                .app-hotnews__item.app-hotnews__item4
                    span SK Hoàn trả Kim cương khi thanh toán bằng hình thức chuyển khoản ngân hàng
            .col-lg-4.col-sm-12.col-md-4
                .app-hotnews__item.app-hotnews__item5
                    span SK Hoàn trả Kim cương khi thanh toán bằng hình thức chuyển khoản ngân hàng
            .col-lg-4.col-sm-12.col-md-4
                .app-hotnews__item.app-hotnews__item6
                    span SK Hoàn trả Kim cương khi thanh toán bằng hình thức chuyển khoản ngân hàng
            .col-lg-4.col-sm-12.col-md-4
                .app-hotnews__item.app-hotnews__item4
                    span SK Hoàn trả Kim cương khi thanh toán bằng hình thức chuyển khoản ngân hàng
            .col-lg-4.col-sm-12.col-md-4
                .app-hotnews__item.app-hotnews__item5
                    span SK Hoàn trả Kim cương khi thanh toán bằng hình thức chuyển khoản ngân hàng
            .col-lg-4.col-sm-12.col-md-4
                .app-hotnews__item.app-hotnews__item6
                    span SK Hoàn trả Kim cương khi thanh toán bằng hình thức chuyển khoản ngân hàng
            .col-lg-4.col-sm-12.col-md-4
                .app-hotnews__item.app-hotnews__item4
                    span SK Hoàn trả Kim cương khi thanh toán bằng hình thức chuyển khoản ngân hàng
            .col-lg-4.col-sm-12.col-md-4
                .app-hotnews__item.app-hotnews__item5
                    span SK Hoàn trả Kim cương khi thanh toán bằng hình thức chuyển khoản ngân hàng
            .col-lg-4.col-sm-12.col-md-4
                .app-hotnews__item.app-hotnews__item6
                    span SK Hoàn trả Kim cương khi thanh toán bằng hình thức chuyển khoản ngân hàng
            .col-lg-4.col-sm-12.col-md-4
                .app-hotnews__item.app-hotnews__item6
                    span SK Hoàn trả Kim cương khi thanh toán bằng hình thức chuyển khoản ngân hàng
     
        .app-control
                span.js-toggleControl.js-toggleControl1
                span.active.js-toggleControl.js-toggleControl2
                span.js-toggleControl.js-toggleControl3
                span.js-toggleControl.js-toggleControl4
        .app-row.mid.green
        .app-hotnews__item.app-hotnews__item7
        .row
            .app-even.col-lg-8.col-md-12.col-sm-12
                h1.app-heading Giải đấu
                .app-row
                .app-table
                        .app-table__head
                            span Cúp Bát gia
                            span Bảng A
                        .app-row.mid.light
                        table.app-table__body
                            thead
                                tr
                                    th Player
                                    th Trận
                                    th Tỷ số
                                    th Điểm 
                            tbody
                                tr 
                                    th Chim sẻ 123
                                    th 3
                                    th 19-2
                                    th 3
                                tr 
                                    th Đại bàng @2@
                                    th 3
                                    th 18-3
                                    th 3
                                tr 
                                    th Tu hú
                                    th 3
                                    th 16-4
                                    th 1
                                tr 
                                    th Chim sẻ 
                                    th 3
                                    th 19-2
                                    th 1
                                tr 
                                    th Đại bàng
                                    th 3
                                    th 18-3
                                    th 1
                                tr 
                                    th Tu hú
                                    th 3
                                    th 16-4
                                    th 1
                                tr 
                                    th Chim sẻ 
                                    th 3
                                    th 19-2
                                    th 1
            .app-schedule.col-lg-4.col-md-12.col-sm-12
                h1.app-heading Lịch thi đấu
                .app-row
                .app-tablem
                    .app-tablem__head
                        button
                        span Ngày 23/08
                        button
                    table.app-tablem__body
                        thead
                            tr
                                th Trận
                                th Thể loại
                                th Thời gian
                                th Bo
                        tbody
                            tr 
                                th Chim sẻ 123 <span>vs</span> Đại bàng 456
                                th Random
                                th 18h
                                th Chạm 7
                            tr 
                                th Chim sẻ 123 <span>vs</span> Đại bàng 456
                                th Random
                                th 18h
                                th Chạm 7
                            tr 
                                th Chim sẻ 123 <span>vs</span> Đại bàng 456
                                th Random
                                th 18h
                                th Chạm 7
                            tr 
                                th Chim sẻ 123 <span>vs</span> Đại bàng 456
                                th Random
                                th 18h
                                th Chạm 7
                .app-schedule__banner
        .row
            .app-even.col-lg-8.col-sm-12.col-md-12
                .app-table
                    .app-table__head
                        span Cúp Bát gia
                        span Bảng B
                    .app-row.mid.light
                    table.app-table__body
                        thead
                            tr
                                th Player
                                th Trận
                                th Tỷ số
                                th Điểm 
                        tbody
                            tr 
                                th Chim sẻ 123
                                th 3
                                th 19-2
                                th 3
                            tr 
                                th Đại bàng @2@
                                th 3
                                th 18-3
                                th 3
                            tr 
                                th Tu hú
                                th 3
                                th 16-4
                                th 1
                            tr 
                                th Chim sẻ 
                                th 3
                                th 19-2
                                th 1
                            tr 
                                th Đại bàng
                                th 3
                                th 18-3
                                th 1
                            tr 
                                th Tu hú
                                th 3
                                th 16-4
                                th 1
                            tr 
                                th Chim sẻ 
                                th 3
                                th 19-2
                                th 1
        .row
            .app-result.col-lg-8.col-sm-12.col-md-12
                h1.app-heading Kết quả thi đấu
                .app-row
                .app-tablem
                    .app-tablem__head
                        button
                        span Ngày 23/08
                        button
                    table.app-tablem__body
                        thead
                            tr
                                th Trận
                                th Kết quả
                                th Livestream
                                th Highlight
                        tbody
                            tr 
                                th Chim sẻ 123 <span>vs</span><br> Đại bàng 456
                                th 7-0
                                th <span></span>
                                th <span></span>
                            tr 
                                th Chim sẻ 123 <span>vs</span><br> Đại bàng 456
                                th 7-0
                                th <span></span>
                                th <span></span>
                            tr 
                                th Chim sẻ 123 <span>vs</span><br> Đại bàng 456
                                th 7-0
                                th <span></span>
                                th <span></span>
                            tr 
                                th Chim sẻ 123 <span>vs</span><br> Đại bàng 456
                                th 7-0
                                th <span></span>
                                th <span></span>
            .app-videohl.col-lg-4.col-sm-12.col-md-12
                h1.app-heading Video highlights
                .app-row
                iframe.col.m-5.l-5.app-videohl__item.app-videohl__item1(src="https://www.youtube.com/embed/30zH7IRMmWY" autoplay)
                iframe.col.m-5.l-5.app-videohl__item.app-videohl__item2(src="https://www.youtube.com/embed/30zH7IRMmWY" autoplay)
                iframe.col.m-0.l-0.app-videohl__item.app-videohl__item3(src="https://www.youtube.com/embed/30zH7IRMmWY" autoplay)
        .row
            .app-news.col-lg-8.col-sm-12.col-md-12
                    h1.app-heading Tin tức
                    .app-row
                    .app-news__body
                        .app-news__body-item.app-news__body-item1
                            img(src="../aseets/images/Layer825.jpg")
                            .flex
                                span SK Hoàn trả Kim cương khi thanh toán bằng hình thức chuyển khoản ngân hàng 
                                span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat, sapien vitae mollis sagittis, ex ipsum.
                        .app-news__body-item.app-news__body-item2
                            img(src="../aseets/images/Layer787.jpg")
                            .flex
                                span SK Hoàn trả Kim cương khi thanh toán bằng hình thức chuyển khoản ngân hàng 
                                span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat, sapien vitae mollis sagittis, ex ipsum.
                        .app-news__body-item.app-news__body-item3
                            img(src="../aseets/images/Group1.jpg")
                            .flex
                                span SK Hoàn trả Kim cương khi thanh toán bằng hình thức chuyển khoản ngân hàng 
                                span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat, sapien vitae mollis sagittis, ex ipsum.
                    button.app-news__btn Xem thêm
        .app-adv
            img(src="../aseets/images/Layer8251.jpg")
            img(src="../aseets/images/Layer82571.jpg")