.app
    .wide.grid
        .row.app-hotnews
            .app-hotnews__item.app-hotnews__item7.col-lg-12.col-md-12.col-sm-12
        .row
            h1.app-heading Giải đấu
            .app-row
            .app-help.col-lg-12.col-ms-12.col-sm-12
                .app-help__catalogue
                    .app-highlight__btn
                        button.app-highlight__btn-item.app-highlight__btn-item1.active Tổng quát
                        button.app-highlight__btn-item.app-highlight__btn-item2 Vòng bảng
                        button.app-highlight__btn-item.app-highlight__btn-item3 Vòng chung kết
                .app-help__body
                    h2.app-heading Vòng chung kết
                    img(src="../aseets/images/Group45.png")
                    .app-match
                        span.app-match__item.app-match__item1 Chung kết <br> TBD
                        span.app-match__item2
                        span.app-match__item.app-match__item3 <span>Chim sẻ <span style="color:#b2bee5"> vs</span></span><span style="color:#65d3e3">Ổ cú</span><span style="color:#dfad58;   font-weight: bold;">7-6</span>
                        span.app-match__item.app-match__item4 <span>Chim sẻ 123 <span style="color:#b2bee5"> vs</span></span><span style="color:#65d3e3">Đại bàng 456</span><span style="color:#dfad58;   font-weight: bold;">7-6</span>
                        span.app-match__item5
                        span.app-match__item.app-match__item6 Tranh giải ba tư <br> TBD
        .col.app-adv
            img(src="../aseets/images/Layer82571.jpg")