.app
    .wide.grid
        .row.app-hotnews
            .app-hotnews__item.app-hotnews__item7.col-lg-12.col-md-12.col-sm-12
        .row
            .app-news
                h1.app-heading Kết quả tìm kiếm
                .app-news__body
                    span Tìm được <span>52</span> kết quả
                    .app-news__body-item.app-news__body-item1
                        .flex
                            span SK Hoàn trả Kim cương khi thanh toán bằng hình thức chuyển khoản ngân hàng
                            span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat, sapien vitae mollis sagittis, ex ipsum.
                    .app-news__body-item.app-news__body-item2
                        .flex
                            span SK Hoàn trả Kim cương khi thanh toán bằng hình thức chuyển khoản ngân hàng
                            span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat, sapien vitae mollis sagittis, ex ipsum.
                    .app-news__body-item.app-news__body-item3
                        .flex
                            span SK Hoàn trả Kim cương khi thanh toán bằng hình thức chuyển khoản ngân hàng
                            span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat, sapien vitae mollis sagittis, ex ipsum.
                    .app-news__body-item.app-news__body-item4
                        .flex
                            span SK Hoàn trả Kim cương khi thanh toán bằng hình thức chuyển khoản ngân hàng
                            span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat, sapien vitae mollis sagittis, ex ipsum.
                    .app-news__body-item.app-news__body-item5
                        .flex
                            span SK Hoàn trả Kim cương khi thanh toán bằng hình thức chuyển khoản ngân hàng
                            span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat, sapien vitae mollis sagittis, ex ipsum.
                    .app-news__body-item.app-news__body-item6
                        .flex
                            span SK Hoàn trả Kim cương khi thanh toán bằng hình thức chuyển khoản ngân hàng
                            span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat, sapien vitae mollis sagittis, ex ipsum.
                    .app-news__body-item.app-news__body-item7
                        .flex
                            span SK Hoàn trả Kim cương khi thanh toán bằng hình thức chuyển khoản ngân hàng
                            span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat, sapien vitae mollis sagittis, ex ipsum.
                    .app-news__body-item.app-news__body-item8
                        .flex
                            span SK Hoàn trả Kim cương khi thanh toán bằng hình thức chuyển khoản ngân hàng
                            span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat, sapien vitae mollis sagittis, ex ipsum.
                    .app-news__body-item.app-news__body-item9
                        .flex
                            span SK Hoàn trả Kim cương khi thanh toán bằng hình thức chuyển khoản ngân hàng
                            span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat, sapien vitae mollis sagittis, ex ipsum.

                    .app-news__body-control
                        button
                        span 1
                        span.active 2
                        span 3
                        button
            .app-news__adv
                img(src="../aseets/images/Layer831.jpg")
                img(src="../aseets/images/Layer832.jpg")
        .app-adv
            img(src="../aseets/images/Layer834.jpg")
            img(src="../aseets/images/Layer82571.jpg")
            img(src="../aseets/images/Layer834.jpg")
