.app
    .wide.grid
        .row.app-hotnews
            .app-hotnews__item.app-hotnews__item7.col-lg-12.col-md-12.col-sm-12
        .row
            .app-news.col-lg-8.col-sm-12.col-md-12
                h1.app-heading Giải đấu
                .app-highlight__btn
                    button.app-highlight__btn-item.app-highlight__btn-item1.active Đang diễn ra
                    button.col-sm-0.app-highlight__btn-item.app-highlight__btn-item2 Sắp diễn ra
                    button.col-sm-0.app-highlight__btn-item.app-highlight__btn-item3 Đã diễn ra
                    button.app-highlight__btn-item.app-highlight__btn-item4 Tất cả
                .app-row
                .app-news__body
                   .app-news__body-item.app-news__body-item1
                        img(src="../aseets/images/Layer825.jpg")
                        .flex
                            span Giải đấu Bát gia
                            span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat, sapien vitae mollis sagittis, ex ipsum.
                   .app-news__body-item.app-news__body-item2
                        img(src="../aseets/images/Layer787.jpg")
                        .flex
                            span Giải đấu Bát gia
                            span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat, sapien vitae mollis sagittis, ex ipsum.
                   .app-news__body-item.app-news__body-item3
                        img(src="../aseets/images/Group1.jpg")
                        .flex
                            span Giải đấu Bát gia
                            span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat, sapien vitae mollis sagittis, ex ipsum.
                   .app-news__body-item.app-news__body-item4
                        img(src="../aseets/images/Layer825.jpg")
                        .flex
                            span Giải đấu Bát gia
                            span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat, sapien vitae mollis sagittis, ex ipsum.
            .app-news__adv.col-lg-4.col-sm-12.col-md-12
                img(src="../aseets/images/Layer831.jpg")
        .row
            .app-adv
                img.col-lg-6.col-sm-0.col-md-0(src="../aseets/images/Layer834.jpg")
                img(src="../aseets/images/Layer82571.jpg")
                img.col-lg-6.col-sm-0.col-md-0(src="../aseets/images/Layer834.jpg")
