
header.header
    .grid.wide
        .row.center.header-heading
            button.col-lg-3.col-md-0.col-sm-0.header-heading__download TẢI LAUNCHER
            a(href="./index.html").col-lg-8.col-md-12.col-sm-12.header-heading__logo
            a(href="./index-timkiem.html").header-heading__icon.col-lg-1.col-md-0.col-sm-0
        .row.center
            ul.col-lg-12.col-md-12.col-sm-12.header-nav
                li.header-nav__item.header-nav__item1
                    a(href="./index-tintuc.html") tin tức
                li.header-nav__item.header-nav__item2
                    a(href="./index-giaidau.html") giải đấu
                li.header-nav__item.header-nav__item3
                    a(href="./index-videos.html") videos
                li.header-nav__item.header-nav__item4
                    a(href="./index-huongdan.html") hướng dẫn
                li.header-nav__item.header-nav__item5
                    a cộng đồng

