doctype html
html(lang="en")
    include head.pug
    link(rel='stylesheet', href='../css/app-sub.css')
    link(rel='stylesheet', href='../css/app-huongdan.css')
    link(rel='stylesheet', href='../css/respontive-huongdan.css')

    body
        include header.pug
        include app-huongdan.pug
    