doctype html
html(lang="en")
    include head.pug
    link(rel='stylesheet', href='../css/app-sub.css')
    link(rel='stylesheet', href='../css/app-giaidau.css')
    link(rel='stylesheet', href='../css/respontive-giaidau.css')
    body
        include header.pug
        include app-giaidau.pug
    