doctype html
html(lang="en")
    head
        include ../../pages/head
      
    body
    
        include ../../pages/app13.pug
       
        script(src="../js/index.js") 
        script(src="../js/bootstrap.min.js") 