doctype html
html(lang="en")
    head
        include ../../pages/head
    body
        include ../../pages/header
        include ../../pages/app24.pug
        include ../../pages/footer
        script(src="../js/index.js") 
        script(src="../js/bootstrap.min.js") 