meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="stylesheet" href="../css/style.css")
script(src="../js/index.js") 

title Document
.popup-index14
    .popup-index14__body
        h2 Nhập mã OTP<br> để xác nhận tài khoản
        p.index14-js-5.active Mã OTP đã được gửi về số điện thoại <strong>0797208888.</strong><br>Vui lòng nhập mã để xác nhận
        p.index14-js-4 Để nhận lại mã OTP, vui lòng soạn tin:<br><strong>EB DK</strong> gửi đến số <strong>8030</strong>
        input(placeholder="Nhập mã OTP").index14-js-6

        span.index14-js-1.active Mã OTP có hiệu lực trong vòng
            strong.index14-js-countdown
        span.index14-js-2 Mã OTP đã hết hạn.<br> Nhấn <a class="index14-js-3">Gửi lại</a> để nhận lại mã.
        .popup-index14__body-btn
            button Đổi sđt 
            button.index14-js-xn Xác nhận
        span.index14-js-closepopup 
            img(src="../assets/images/app14-close.png")


