meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="stylesheet" href="../css/style.css")
title Document
.popup-index25
    .popup-index25__body
        h2 Kết quả bài thi
            p 2/5
        p Kết quả của bạn:<strong> Không đạt </strong>
        p Số câu trả lời đúng:<strong> 20</strong>
        p Số câu trả lời sai:<strong> 12</strong>
        .popup-index25__body-btn
            button.js-index25-return Xem lại câu sai
            button.js-index25-closepopup Kết thúc
