meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="stylesheet" href="../css/style.css")
title Document
body
    .popup-thanhcong
        .popup-thanhcong__body
            .popup-thanhcong__body-header
                img(src="../assets/images/popup-logo.png")
            .popup-thanhcong__body-bd
                img(src="../assets/images/ion_checkmark-done-circle.png")
                span Cập nhật thông tin thành công
            img(src="../assets/images/exit.png")
    
    
    
