meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="stylesheet" href="../css/style.css")
title Document
.verify.js-popup2
    .verify-body
        span Kết quả bài thi
        p Kết quả của bạn:<strong> Không đạt </strong>
        p Số câu trả lời đúng:<strong> 20</strong>
        p Số câu trả lời sai:<strong> 12</strong>
        p Số câu chưa trả lời:<strong> 1</strong>
        p Số câu điểm liệt bị sai:<strong> 1</strong>
        .verify-body__btn
            button.js-return Xem lại câu sai
            button.js-closepopup2 Kết thúc

