meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="stylesheet" href="../css/style.css")
title Document
.send.js-index4-popup
    .send-body
        span Nộp bài
        p Bạn đã chắc chắn nộp bài?
        .send-body__btn
            button.js-index4-closepopup Hủy
            button.js-index4-verify Xác nhận

