meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="stylesheet" href="../css/style.css")
title Document
.popup2-index14
    .popup2-index14__body
        h2 Xác thực số điện thoại
        p Để thay đổi mật khẩu. Vui lòng nhập số điện thoại để xác thực tài  khoản
        input(placeholder="Nhập số điện thoại")
        .popup2-index14__body-btn
            button Hủy bỏ
            button Xác thực
        span.index14-js-closepopup2 
            img(src="../assets/images/app14-close.png")


