meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="stylesheet" href="../css/style.css")
title Document
.popup-thatbai
    .popup-thatbai__body
        .popup-thatbai__body-header
            img(src="../assets/images/popup-logo.png")
        .popup-thatbai__body-bd
            img(src="../assets/images/ph_x-circle-fill.png")
            span Cập nhật thông tin thành công
        img(src="../assets/images/exit.png")
    
    
