doctype html
html(lang="en")
    head
        include ../../pages/head
        script(src="../js/city.min.js") 
    body
        include ../../pages/header
        include ../../pages/app14.pug
        include ../../pages/footer
        script(src="../js/bootstrap.min.js") 
        script(src="../js/index.js") 