.index-13-app {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../assets/images/login.jpeg") top center/cover no-repeat;
    & > span {
        display: none;
    }
    & .container {
        background: rgba(255, 255, 255, 0.6);
        box-shadow: 10px 12px 13px rgba(0, 0, 0, 0.2);
        border-radius: 30px;
        width: 994px;
        & > ul {
            display: flex;
            align-items: center;
            padding: 25px 42px 33px 70px;
            & > li {
                &:nth-child(1) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-right: 121px;
                    a {
                        &:nth-child(2) {
                            display: none;
                        }
                    }
                    p {
                        width: max-content;
                        text-align: center;
                        margin-top: 22px;
                        font-size: 14px;
                        line-height: 19px;
                        font-family: "NotoSans-medium";
                        color: #0066bc;
                    }
                }
                &:nth-child(2) {
                    width: 412px;
                    display: flex;
                    flex-direction: column;
                    h2 {
                        font-weight: 800;
                        font-size: 24px;
                        font-family: "NotoSans-ExtraBold";
                        color: #0066bc;
                        margin-bottom: 13px;
                        text-align: center;
                    }
                    & > span {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 19px;
                        font-family: "NotoSans-medium";
                        color: #212c42;
                        text-align: center;
                        margin-bottom: 11px;
                    }
                    input {
                        width: calc(100%);
                        height: 56px;
                        background: #ffffff;
                        border: 1px solid #c6c6c6;
                        border-radius: 7px;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 22px;
                        color: #000000;
                        padding: 0 0 0 14px;
                        font-family: "NotoSans-medium";
                        outline-color: #000000;
                        &::placeholder {
                            font-family: "NotoSans-Light";
                            color: rgba(139, 146, 150, 0.71);
                        }
                    }
                    & > em {
                        &:nth-child(3) {
                            display: flex;
                            justify-content: center;
                            justify-content: space-between;
                            margin-bottom: 10px;

                            a {
                                cursor: pointer;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-direction: row-reverse;
                                width: 186px;
                                height: 56px;
                                background: #ffffff;
                                border: 1px solid #d9d9d9;
                                border-radius: 7px;
                                font-family: "NotoSans-medium";

                                font-size: 14px;
                                line-height: 19px;
                                color: #000000;
                                -webkit-border-radius: 7px;
                                -moz-border-radius: 7px;
                                -ms-border-radius: 7px;
                                -o-border-radius: 7px;

                                img {
                                    margin-right: 9px;
                                }
                                &.active {
                                    border: 2px solid #336fe4;
                                    background: #e9f2ff;
                                }
                            }
                        }
                    }
                }
                &:nth-child(3) {
                    display: none;
                    flex-direction: column;
                    align-items: center;
                    h2 {
                        font-weight: 800;
                        font-size: 24px;
                        font-family: "NotoSans-ExtraBold";
                        color: #0066bc;
                        margin-bottom: 18px;
                        text-align: center;
                    }
                    span {
                        width: 110%;
                        font-family: "NotoSans";

                        font-size: 18px;
                        line-height: 25px;

                        color: #3c3c3c;
                        strong {
                            color: #000;
                        }
                        margin-bottom: 16px;
                        text-align: center;
                    }
                    input {
                        width: 100%;
                        height: 56px;
                        background: #ffffff;
                        border: 1px solid #c5c5c5;
                        border-radius: 7px;
                        -webkit-border-radius: 7px;
                        -moz-border-radius: 7px;
                        -ms-border-radius: 7px;
                        -o-border-radius: 7px;
                        margin-bottom: 22px;
                        color: #336fe4;
                        text-align: center;
                        font-family: "NotoSans-medium";
                        font-size: 20px;
                        line-height: 27px;
                        outline: none;

                        &::placeholder {
                            font-size: 20px;
                            line-height: 27px;

                            font-family: "NotoSans-Light";

                            font-size: 20px;
                            line-height: 27px;
                            text-align: center;

                            color: rgba(139, 146, 150, 0.71);
                        }
                    }
                    button {
                        width: 100%;
                        height: 56px;

                        font-family: "NotoSans-SemiBold";

                        background: #0066bc;
                        border-radius: 9px;
                        color: #fff;
                        margin-bottom: 18px;
                    }
                    h3 {
                        font-family: "NotoSans";

                        font-size: 18px;
                        line-height: 25px;

                        color: #3c3c3c;
                        strong {
                            color: #000;
                        }
                        margin-bottom: 16px;
                    }
                    a {
                        cursor: pointer;
                        width: 100%;
                        display: flex;
                        flex-direction: row-reverse;
                        align-items: center;
                        justify-content: flex-end;
                        font-family: "NotoSans";

                        font-size: 18px;
                        line-height: 25px;

                        color: #336fe4;
                        img {
                            width: 11px;
                            height: 19px;
                            margin-right: 7px;
                            object-fit: contain;
                            filter: brightness(0) saturate(100%) invert(40%) sepia(28%) saturate(5740%)
                                hue-rotate(208deg) brightness(92%) contrast(94%);
                            -webkit-filter: brightness(0) saturate(100%) invert(40%) sepia(28%) saturate(5740%)
                                hue-rotate(208deg) brightness(92%) contrast(94%);
                            transform: rotate(180deg);
                            -webkit-transform: rotate(180deg);
                            -moz-transform: rotate(180deg);
                            -ms-transform: rotate(180deg);
                            -o-transform: rotate(180deg);
                        }
                        margin-bottom: 16px;
                    }
                    p {
                        font-family: "NotoSans";

                        font-size: 18px;
                        line-height: 25px;
                        text-align: center;
                        color: #3c3c3c;
                        strong {
                            color: #336fe4;
                        }
                    }
                }
            }
        }
    }
}

.index-13-app {
    & .container {
        & > ul {
            & > li {
                &:nth-child(2) {
                    & #home1 {
                        em {
                            &:nth-child(1) {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                button {
                                    position: relative;
                                    width: 122px;
                                    height: 48px;
                                    background: #ffffff;
                                    border: 1px solid #c5c5c5;
                                    border-radius: 7px;
                                    -webkit-border-radius: 7px;
                                    -moz-border-radius: 7px;
                                    -ms-border-radius: 7px;
                                    -o-border-radius: 7px;
                                    display: flex;
                                    flex-direction: row-reverse;
                                    align-items: center;
                                    justify-content: left;
                                    padding-left: 8px;
                                    font-family: "NotoSans";

                                    font-size: 16px;
                                    line-height: 22px;

                                    color: #000000;
                                    img {
                                        margin-right: 8px;
                                    }
                                    &::after {
                                        position: absolute;
                                        right: 8px;
                                    }
                                }
                                ul {
                                    li {
                                        a {
                                            font-family: "NotoSans";
                                            font-size: 16px;
                                            line-height: 22px;

                                            display: flex;
                                            flex-direction: row-reverse;
                                            align-items: center;
                                            justify-content: left;
                                            padding-left: 8px;
                                            img {
                                                margin-right: 5px;
                                            }
                                        }
                                    }
                                }
                                input {
                                    width: 277px;
                                    height: 48px;
                                }
                            }
                            &:nth-child(2) {
                                display: block;
                                margin-top: 11px;
                                margin-bottom: 11px;
                                position: relative;
                                input {
                                    color: #000;
                                }

                                button {
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    -webkit-transform: translateY(-50%);
                                    -moz-transform: translateY(-50%);
                                    -ms-transform: translateY(-50%);
                                    -o-transform: translateY(-50%);
                                    right: 15px;
                                    cursor: pointer;
                                    width: 24px;
                                    height: 24px;
                                    display: none;
                                }

                                &:focus-within {
                                    button {
                                        cursor: pointer;
                                        display: block;
                                        background: url("../assets/images/login-eye-off.png");
                                    }
                                }
                            }
                            &:nth-child(3) {
                                display: block;
                                margin-bottom: 11px;
                                position: relative;
                                input {
                                    color: #000;
                                }
                                span {
                                    display: none;
                                    font-weight: 300;
                                    font-size: 14px;
                                    line-height: 19px;
                                    font-family: "NotoSans-LightItalic";
                                    color: #e63454;
                                    span {
                                        margin-left: 22px;
                                        display: block;
                                    }
                                }
                                button {
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    -webkit-transform: translateY(-50%);
                                    -moz-transform: translateY(-50%);
                                    -ms-transform: translateY(-50%);
                                    -o-transform: translateY(-50%);
                                    right: 15px;
                                    cursor: pointer;
                                    width: 24px;
                                    height: 24px;
                                    display: none;
                                }
                                &:focus-within {
                                    button {
                                        cursor: pointer;
                                        display: block;
                                        background: url("../assets/images/login-eye-off.png");
                                    }
                                }
                            }
                            &:nth-child(4) {
                                border: none;
                                margin-bottom: 15px;
                                position: relative;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                input {
                                    width: 207px;
                                }
                                span {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-weight: 500;
                                    font-size: 20px;
                                    line-height: 27px;
                                    font-family: "NotoSans-medium";
                                    color: #5a4444;
                                    width: 77px;
                                    height: 30px;
                                    background: #d9d9d9;
                                }
                            }
                            &:last-child {
                                display: flex;
                                justify-content: center;
                                span,
                                a {
                                    font-family: "NotoSans-medium";
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 22px;
                                    color: rgba(139, 146, 150, 0.71);
                                }
                                a {
                                    color: #255fcf;
                                    margin-left: 3px;
                                }
                            }
                        }
                        & > button {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 40px;
                            background: #0066bc;
                            border-radius: 7px;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 27px;
                            font-family: "NotoSans-SemiBold";
                            color: #ffffff;
                            margin-bottom: 16px;
                        }
                        & > p {
                            margin-bottom: 14px;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 16px;
                            font-family: "NotoSans-medium";
                            color: rgba(139, 146, 150, 0.71);
                            a {
                                color: #3574e6;
                                strong {
                                    color: rgba(139, 146, 150, 0.71);
                                }
                            }
                        }
                    }
                    & #home2 {
                        & .index13-js-home2-1{

                            & > button {
                                margin-top: 10px;
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 40px;
                                background: #0066bc;
                                border-radius: 7px;
                                font-weight: 600;
                                font-size: 20px;
                                line-height: 27px;
                                font-family: "NotoSans-SemiBold";
                                color: #ffffff;
                                margin-bottom: 16px;
                            }
                        }
                        em {
                            &:nth-child(1){

                                flex-direction: column;
                                input {
                                    width: 100%;
                                   
                                }
                                p {
                                    display: none;
                                    font-family: "NotoSans-Italic";
                                    font-size: 14px;
                                    line-height: 19px;
                                    color: #e63454;
                                    margin-bottom: 10px;
                                }
                            }
                            &:nth-child(3) {
                                display: flex;
                                justify-content: center;
                                span {
                                    margin-bottom: 14px;
                                    font-weight: 500;
                                    font-size: 12px;
                                    line-height: 16px;
                                    font-family: "NotoSans-medium";
                                    color: rgba(139, 146, 150, 0.71);
                                    margin-right: 3px;
                                }
                                a {
                                    color: #3574e6;
                                    strong {
                                        color: rgba(139, 146, 150, 0.71);
                                    }
                                }
                        }
                        }
                        
                        & .index13-js-home2-2{
                            width: 100%;
                            display: none;
                            & > span {
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 19px;
                                font-family: "NotoSans-medium";
                                color: #212c42;
                                text-align: center;
                                margin-bottom: 11px;
                            }
                            input {
                                width: calc(100%);
                                height: 56px;
                                background: #ffffff;
                                border: 1px solid #c6c6c6;
                                border-radius: 7px;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 22px;
                                color: #000000;
                                padding: 0 0 0 14px;
                                font-family: "NotoSans-medium";
                                outline-color: #000000;
                                &::placeholder {
                                    font-family: "NotoSans-Light";
                                    color: rgba(139, 146, 150, 0.71);
                                }
                            }
                            em {
                              
                                &:nth-child(1) {
                                    display: block;
                                    margin-top: 11px;
                                    margin-bottom: 11px;
                                    position: relative;
                                    input {
                                        color: #000;
                                    }
        
                                    button {
                                        position: absolute;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        -webkit-transform: translateY(-50%);
                                        -moz-transform: translateY(-50%);
                                        -ms-transform: translateY(-50%);
                                        -o-transform: translateY(-50%);
                                        right: 15px;
                                        cursor: pointer;
                                        width: 24px;
                                        height: 24px;
                                        display: none;
                                    }
        
                                    &:focus-within {
                                        button {
                                            cursor: pointer;
                                            display: block;
                                            background: url("../assets/images/login-eye-off.png");
                                        }
                                    }
                                }
                                &:nth-child(2) {
                                    display: block;
                                    margin-bottom: 11px;
                                    position: relative;
                                    input {
                                        color: #000;
                                    }
                                    span {
                                        display: none;
                                        font-weight: 300;
                                        font-size: 14px;
                                        line-height: 19px;
                                        font-family: "NotoSans-LightItalic";
                                        color: #e63454;
                                        span {
                                            margin-left: 22px;
                                            display: block;
                                        }
                                    }
                                    button {
                                        position: absolute;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        -webkit-transform: translateY(-50%);
                                        -moz-transform: translateY(-50%);
                                        -ms-transform: translateY(-50%);
                                        -o-transform: translateY(-50%);
                                        right: 15px;
                                        cursor: pointer;
                                        width: 24px;
                                        height: 24px;
                                        display: none;
                                    }
                                    &:focus-within {
                                        button {
                                            cursor: pointer;
                                            display: block;
                                            background: url("../assets/images/login-eye-off.png");
                                        }
                                    }
                                }
                              
                                &:last-child {
                                    display: flex;
                                    justify-content: center;
                                    span,
                                    a {
                                        font-family: "NotoSans-medium";
                                        font-weight: 500;
                                        font-size: 16px;
                                        line-height: 22px;
                                        color: rgba(139, 146, 150, 0.71);
                                    }
                                    a {
                                        color: #255fcf;
                                        margin-left: 3px;
                                    }
                                }
                            }
                          

                                & > button {
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    height: 40px;
                                    background: #0066bc;
                                    border-radius: 7px;
                                    font-weight: 600;
                                    font-size: 20px;
                                    line-height: 27px;
                                    font-family: "NotoSans-SemiBold";
                                    color: #ffffff;
                                    margin-bottom: 16px;
                                }
                                & > p {
                                    margin-bottom: 14px;
                                    font-weight: 500;
                                    font-size: 12px;
                                    line-height: 16px;
                                    font-family: "NotoSans-medium";
                                    color: rgba(139, 146, 150, 0.71);
                                    a {
                                        color: #3574e6;
                                        strong {
                                            color: rgba(139, 146, 150, 0.71);
                                        }
                                    }
                                
                            }
                        }
                    }
                }
               
            }
        }
    }
}
