.index-25-app {
    padding-top: 49px;
    padding-bottom: 40vh;
    &-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 39px;
        h2 {
            font-size: 20px;
            line-height: 27px;
            font-family: 'NotoSans-SemiBold';
            color: #0066BC;
        }
        &__btn {
            display: flex;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row-reverse;
                width: 168px;
                height: 42px;
                left: 1216px;
                top: 172px;
                border-radius: 7px;
                background: #D2E6FF;
                color: #0066BC;
                margin-left: 8px;
                img {
                    margin-right: 6px;
                    filter: invert(15%) sepia(85%) saturate(6064%) hue-rotate(197deg) brightness(100%) contrast(101%);
                    -webkit-filter: invert(15%) sepia(85%) saturate(6064%) hue-rotate(197deg) brightness(100%) contrast(101%);
                }
                &.active {
                    color: #fff;
                    background: #0066BC;
                    img {
                        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(34deg) brightness(105%) contrast(101%);
                        -webkit-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(34deg) brightness(105%) contrast(101%);
                    }
                }
            }
        }
    }
    &-body {
        padding-bottom: 27px;
        background: #EBF4FF;
        border-radius: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        &__head {
            width: 615px;
            padding-top: 40px;
            display: flex;
            justify-content: space-between;
            h2 {
                font-size: 20px;
                line-height: 27px;
                color: #0066BC;
                font-family: 'NotoSans-SemiBold';
                p {
                    font-family: 'NotoSans';
                    color: #212C42;
                    margin-bottom: 9px;
                }
            }
            button {
                width: 106px;
                height: 35px;
                background: linear-gradient(248.39deg, #99EA6F 27.09%, #5DCD83 64.19%);
                border-radius: 6px;
                font-size: 16px;
                line-height: 22px;
                font-family: 'NotoSans-bold';
                color: #1C6E38;
            }
        }
        &__slider {
            margin-bottom: 11px;
            width: 615px;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border: 1px solid #D9D9D9;
            border-radius: 20px;
            img {
                width: 70%;
            }
        }
        ul {
            width: 615px;
            li {
                display: flex;
                align-items: center;
                min-width: 170px;
                width: max-content;
                max-width: 100%;
                padding: 3px 16px;
                background: #FFFFFF;
                border: 1px solid #AFBACA;
                border-radius: 6px;
                font-size: 20px;
                line-height: 27px;
                font-family: 'NotoSans';
                color: #212C42;
                margin-bottom: 3px;
                &:hover {
                    background: #0066BC;
                    color: #fff;
                    cursor: pointer;
                }
                &.active {
                    background: #0066BC;
                    color: #fff;
                }
                &.true {
                    background-color: #5DCD83;
                    color: #fff;
                }
                &.false {
                    background-color: #FF6C71;
                    color: #fff;
                }
            }
        }
        &__resulf {
            display: none;
            margin-bottom: 23px;
            padding: 12px 25px 11px 27px;
            margin-top: 14px;
            width: 615px;
            background: #FFFFFF;
            border: 1px solid #5DCD83;
            border-radius: 20px;
            h3,
            p {
                font-size: 18px;
                line-height: 25px;
                color: #5DCD83;
                font-family: 'NotoSans';
            }
            p {
                color: #212C42;
                height: 130px;
                overflow-y: scroll;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
            &.active {
                display: block;
            }
        }
      
    }
}

.popup-index25 {
   display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    &__body {
        background: #FFFFFF;
        box-shadow: 5px 10px 22px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        width: 488px;
        padding-bottom: 25px;
        padding-top: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        h2 {
            font-size: 28px;
            line-height: 38px;
            text-align: center;
            color: #0066BC;
            font-family: 'NotoSans-bold';
            margin-bottom: 51px;
            p {
                font-family: 'NotoSans-bold';
                font-size: 28px;
                line-height: 38px;
                text-align: center;
                color: #FF6C71;
            }
        }
        p {
            font-size: 20px;
            line-height: 27px;
            font-family: 'NotoSans';
            color: #212C42;
            margin-bottom: 8px;
            strong {
                font-family: 'NotoSans-SemiBold';
                color: #FF6C71;
            }
            &:nth-child(4) {
                margin-bottom: 39px;
            }
            &:nth-child(3) {
                strong {
                    color: #5DCD83;
                }
            }
        }
        &-btn {
            display: flex;
            button {
                margin-right: 22px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: 13px;
                padding-right: 14px;
                height: 42px;
                border: 1px solid #0066BC;
                border-radius: 6px;
                font-size: 20px;
                line-height: 27px;
                color: #0066BC;
                background-color: #fff;
                font-family: 'NotoSans';
                a {
                    font-family: 'NotoSans';
                    font-size: 20px;
                    line-height: 27px;
                    color: #0066BC;
                }
                &:last-child {
                    margin-right: 0;
                }
                &:hover {
                    border: none;
                    background-color: #0066BC;
                    color: #FFFFFF;
                    a {
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
    &.active {
        display: flex;
    }
}

.index-25-app-left__btnmb {
    display: none;
}

.index-25-app{
    &-body{
        padding-bottom: 100px;
        position: relative;
        &__btn{
        position: absolute;
        right: 26%;
        top: 40px;
                width: 106px;
                height: 35px;
                background: linear-gradient(248.39deg, #99EA6F 27.09%, #5DCD83 64.19%);
                border-radius: 6px;
                font-size: 16px;
                line-height: 22px;
                font-family: 'NotoSans-bold';
                color: #1C6E38;
                z-index: 2;
            
        }
        
    }
    & .index-25-app-active__sl-btn__prev {
            top: unset;
            bottom: 27px;
            left: 45%;
            width: 36px;
            height: 36px;
            background: #FFFFFF;
            border: 1px solid #0066BC;
            border-radius: 10px;
          
            span
{
                
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 13px;
                    height: 22px;
                    object-fit: contain;
                    filter: brightness(0) saturate(100%) invert(29%) sepia(98%) saturate(1289%) hue-rotate(186deg) brightness(85%) contrast(106%);
                    -webkit-filter: brightness(0) saturate(100%) invert(29%) sepia(98%) saturate(1289%) hue-rotate(186deg) brightness(85%) contrast(106%);
                    
                        transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                        -moz-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                }
            }
            
              
                
            
        }
    & .index-25-app-active__sl-btn__next{
        top: unset;
        bottom: 27px;
        right: 45%;
        width: 36px;
        height: 36px;
        background: #FFFFFF;
        border: 1px solid #0066BC;
        border-radius: 10px;
        
        span
        
{
            
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 13px;
                height: 22px;
                object-fit: contain;
                filter: brightness(0) saturate(100%) invert(29%) sepia(98%) saturate(1289%) hue-rotate(186deg) brightness(85%) contrast(106%);
                -webkit-filter: brightness(0) saturate(100%) invert(29%) sepia(98%) saturate(1289%) hue-rotate(186deg) brightness(85%) contrast(106%);
            }}
    }
    }
