.verify {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    &-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 488px;
        height: 356px;
        background: #ffffff;
        box-shadow: 5px 10px 22px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        span {
            font-weight: 700;
            font-size: 28px;
            line-height: 38px;
            text-align: center;
            font-family: "NotoSans-bold";
            color: #0066bc;
            margin-bottom: 30px;
            display: block;
        }
        p {
            font-family: "NotoSans";
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            text-align: center;
            color: #212c42;
            strong {
                color: #ff6c71;
            }
            &:nth-child(2) {
                strong {
                    color: #5dcd83;
                }
            }
            &:nth-child(5) {
                strong {
                    color: #e82127;
                }
            }
            &:nth-child(4) {
                strong {
                    color: #212c42;
                }
            }
        }
        &__btn {
            margin-top: 32px;
            display: flex;
            button {
                width: 120px;
                height: 42px;
                border: 2px solid #0066bc;
                border-radius: 6px;
                background-color: #fff;
                margin-right: 22px;
                color: #0066bc;
                &:nth-child(2) {
                    margin-right: 0;
                }
                &:hover {
                    color: #fff;
                    border: none;
                    background-color: #0066bc;
                }
            }
            &mn {
                display: none;
            }
        }
    }
}

.send {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    &-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 488px;
        height: 268px;
        background: #ffffff;
        box-shadow: 5px 10px 22px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        span {
            font-weight: 700;
            font-size: 28px;
            line-height: 38px;
            text-align: center;
            font-family: "NotoSans-bold";
            color: #0066bc;
            margin-bottom: 30px;
            display: block;
        }
        p {
            font-family: "NotoSans";
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            text-align: center;
            color: #212c42;
            margin-bottom: 70px;
        }
        &__btn {
            display: flex;
            button {
                width: 120px;
                height: 42px;
                border: 2px solid #0066bc;
                border-radius: 6px;
                background-color: #fff;
                margin-right: 22px;
                color: #0066bc;
                &:nth-child(2) {
                    margin-right: 0;
                }
                &:hover {
                    color: #fff;
                    border: none;
                    background-color: #0066bc;
                }
            }
            &mn {
                display: none;
            }
        }
    }
}

.index-4-app {
    &.active {
        display: none;
    }
    padding-top: 30px;
    padding-bottom: 74px;
    & .container {
        display: flex;
        justify-content: space-between;
    }
    &-left {
        padding-right: 46px;
        padding-left: 26px;
        position: relative;
        width: 58%;
        height: 843px;
        background: #ffffff;
        box-shadow: 5px 10px 22px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        & > span {
            &:nth-child(1) {
                margin-bottom: 20px;
                margin-left: -26px;
                padding-left: 22px;
                display: flex;
                align-items: center;
                font-family: "NotoSans-SemiBold";
                font-weight: 600;
                font-size: 20px;
                line-height: 27px;
                color: #ffffff;
                width: 590.5px;
                height: 65px;
                background: url("../assets/images/h.png");
                br {
                    display: none;
                }
                a {
                    margin-left: 3px;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            &:nth-child(5) {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 300px;
                background: #ffffff;
                border: 1px solid #d9d9d9;
                border-radius: 20px;
                img {
                    width: 90%;
                }
            }
        }
        & > h3,
        & > p {
            font-family: "NotoSans-medium";
            font-weight: 600;
            font-size: 20px;
            line-height: 27px;
            color: #336fe4;
            margin-bottom: 15px;
        }
        & > p {
            color: #212c42;
            font-family: "NotoSans";
        }

        &__btn {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            span {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 35px;
                height: 35px;
                background: #ffffff;
                border: 1px solid #0066bc;
                border-radius: 10px;
                img {
                    filter: invert(26%) sepia(88%) saturate(5209%) hue-rotate(195deg) brightness(90%) contrast(101%);
                    width: 13px;
                    height: 22px;
                    object-fit: contain;
                }
                &:nth-child(1) {
                    margin-right: 10px;
                    img {
                        transform: rotate(-90deg);
                        -webkit-transform: rotate(-90deg);
                        -moz-transform: rotate(-90deg);
                        -ms-transform: rotate(-90deg);
                        -o-transform: rotate(-90deg);
                    }
                }
                &:nth-child(2) {
                    img {
                        transform: rotate(90deg);
                        -webkit-transform: rotate(90deg);
                        -moz-transform: rotate(90deg);
                        -ms-transform: rotate(90deg);
                        -o-transform: rotate(90deg);
                    }
                }
                &:hover {
                    background: #0066bc;
                    img {
                        filter: brightness(0) saturate(100%) invert(99%) sepia(5%) saturate(0%) hue-rotate(83deg)
                            brightness(105%) contrast(100%);
                        -webkit-filter: brightness(0) saturate(100%) invert(99%) sepia(5%) saturate(0%)
                            hue-rotate(83deg) brightness(105%) contrast(100%);
                    }
                }
            }
            &mb {
                display: none;
            }
        }
        &__resulf {
            margin: 21px auto 0;
            width: 100%;
            height: 153px;
            display: none;
            padding: 12px 25px 11px 27px;
            background: #ffffff;
            border: 1px solid #5dcd83;
            border-radius: 20px;
            h3,
            p {
                font-family: "NotoSans-medium";
                font-size: 18px;
                line-height: 25px;
                color: #5dcd83;
                margin-bottom: 7px;
            }
            p {
                font-family: "NotoSans";
                color: #212c42;
                margin-bottom: 0;
                overflow-y: scroll;
                height: 100px;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
            &.active {
                display: block;
            }
        }
    }
    &-right {
        width: 40%;
        height: 843px;
        background: #ffffff;
        box-shadow: 5px 10px 22px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        padding: 24px 13px 36px 23px;
        &__head {
            display: flex;
            justify-content: space-between;
            margin-bottom: 14px;
            span {
                font-family: "NotoSans";
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: #000000;
                strong {
                    margin-left: 20px;
                    font-family: "NotoSans-SemiBold";
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 33px;
                    color: #0066bc;
                }
            }
            button {
                width: 106px;
                height: 35px;
                background: linear-gradient(248.39deg, #99ea6f 27.09%, #5dcd83 64.19%);
                border-radius: 6px;
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;
                font-family: "NotoSans-bold";
                color: #1c6e38;
            }
            &mb {
                display: none;
            }
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
            flex-direction: column;
            overflow-y: scroll;
            height: 756px;
            &::-webkit-scrollbar {
                display: none;
            }
            li {
                margin-right: 11px;
                margin-bottom: 11px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 8px;
                padding-right: 14px;
                width: 137px;
                height: 52px;
                background: #dfe3ea;
                border-radius: 10px;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 27px;
                color: #212c42;
                font-family: "NotoSans-SemiBold";
                a {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    label {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 22px;
                        font-family: "NotoSans";
                        color: #212c42;
                    }
                }
                &.true {
                    background: #5dcd83;
                }
                &.false {
                    background: #ff6c71;
                }
            }
        }
    }
}

.index-4-app {
    &-left {
        padding-bottom: 100px;
        height: unset;
        &__ul {
            margin: 14px auto 0;
            display: flex;
            flex-wrap: wrap;
            & > li {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                label {
                    cursor: pointer;
                    padding-left: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    min-width: 170px;
                    width: max-content;
                    padding: 3px 16px;
                    max-width: 100%;
                    border-radius: 6px;
                    font-family: "NotoSans";
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 27px;
                    background: #ffffff;
                    border: 1px solid #afbaca;
                    color: #212c42;
                    margin-bottom: 3px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                &.active {
                    label {
                        background: #0066bc;
                        border: none;
                        color: #ffffff;
                    }
                }
                &.true {
                    label {
                        background: #5dcd83;
                        color: #ffffff;
                    }
                }
                &.false {
                    label {
                        background: #ff6c71;
                        color: #ffffff;
                    }
                }
            }
        }
        &__pane {
            & > span {
                &:nth-child(1) {
                    margin-bottom: 20px;
                    margin-left: -26px;
                    padding-left: 22px;
                    display: flex;
                    align-items: center;
                    font-family: "NotoSans-SemiBold";
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 27px;
                    color: #ffffff;
                    width: 590.5px;
                    height: 65px;
                    background: url("../assets/images/h.png");
                    br {
                        display: none;
                    }
                    a {
                        margin-left: 3px;
                        cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                &:nth-child(3) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 300px;
                    background: #ffffff;
                    border: 1px solid #d9d9d9;
                    border-radius: 20px;
                    img {
                        width: 90%;
                    }
                }
            }
            & > h3,
            & > p {
                font-family: "NotoSans-medium";
                font-weight: 600;
                font-size: 20px;
                line-height: 27px;
                color: #336fe4;
                margin-bottom: 15px;
            }
            & > p {
                color: #212c42;
                font-family: "NotoSans";
            }
        }
        &__btnmb {
            span {
                &:nth-child(2) {
                    ul {
                        li {
                            a {
                                position: relative;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                             
                                width: 46px;
                                height: 46px;
                                background: #dfe3ea;
                                border-radius: 8.20144px;
                                -webkit-border-radius: 8.20144px;
                                -moz-border-radius: 8.20144px;
                                -ms-border-radius: 8.20144px;
                                -o-border-radius: 8.20144px;
                                z-index: 1;
                                font-family: "NotoSans-SemiBold";
                                font-size: 16px;
                                line-height: 22px;
                            }
                        }
                    }
                }
            }
        }
    }
    &-right,
    & .index-6-app-left__btnmb {
        & .nav-tabs {
            border: none;
        }
        & .nav-link {
            border: none;
            outline: none;
            &:hover,
            &:focus,
            &.active {
                background: unset;
            }
        }
        ul {
            li {
                position: relative;
                a {
                    padding: 0;
                    position: absolute;
                    width: 20%;
                    height: 100%;

                    left: 0;
                    top: 0;
                }
                label {
                    width: 10%;
                }
            }
        }
    }
}
@media (max-width: 739px) {
    .index-4-app {
        &-left {
            padding-bottom: 100px;

            & .index-4-app-left__resulf {
                margin-bottom: 20px;
            }
        }
    }
}
@media (min-width: 740px) and (max-width: 1023px) {
    .index-4-app {
        &-left {
            padding-bottom: 100px !important;
        }
    }
}
