        // pc high
        @media (min-width: 2001px) {
            .index-21-app {}
        }
        
        // pc
        @media (min-width: 1281px) and (max-width: 2000px) {}
        
        // pc low
        @media (min-width: 1024px) and (max-width: 1280px) {
            .index-21-app {
                &-body {
                    ul {
                        &:nth-child(2) {
                            height: unset;
                            padding-bottom: 16px;
                            li {
                                &:nth-child(2) {
                                    padding-left: 16px;
                                }
                                &:nth-child(2),
                                &:nth-child(4) {}
                                &:nth-child(3),
                                &:nth-child(5) {
                                    em {
                                        &:nth-child(1) {
                                            width: 250px;
                                            span {
                                                width: 20%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &:nth-child(3) {
                            li {
                                width: 49%;
                            }
                        }
                    }
                }
            }
        }
        
        @media (min-width: 1024px) {}
        /* tablet */
        
        @media (min-width: 740px) and (max-width: 1023px) {
            .index-21-app {
                &-body {
                    padding: 0 16px;
                    &>span {
                        margin-left: -16px;
                    }
                    ul {
                        &:nth-child(2) {
                            height: unset;
                            padding-bottom: 16px;
                            li {
                                &:nth-child(2) {
                                    padding-left: 16px;
                                }
                                &:nth-child(2),
                                &:nth-child(4) {
                                    margin-right: 16px;
                                }
                                &:nth-child(3),
                                &:nth-child(5) {
                                    padding-right: 16px;
                                    em {
                                        &:nth-child(1) {
                                            width: 200px;
                                            span {
                                                width: 20%;
                                            }
                                        }
                                    }
                                }
                                &:nth-child(2),
                                &:nth-child(3) {
                                    margin-bottom: 16px;
                                }
                            }
                        }
                        &:nth-child(3) {
                            li {
                                width: 49%;
                            }
                        }
                    }
                }
            }
        }
        /* mobile */
        
        @media (max-width: 739px) {
            .index-21-app {
                padding-top: 0;
                padding-bottom: 0;
                & .container {
                    padding: 0;
                }
                &-body {
                    box-shadow: inset 0px 8px 10px rgba(21, 0, 37, 0.2);
                    padding: 12px 16px 40px 16px;
                    border-radius: 0px;
                    -webkit-border-radius: 0px;
                    -moz-border-radius: 0px;
                    -ms-border-radius: 0px;
                    -o-border-radius: 0px;
                    &>span {
                        display: none;
                    }
                    ul {
                  
                        &:nth-child(2) {
                            margin-bottom: 32px;
                            justify-content: unset;
                            li {
                                &:nth-child(1) {
                                    height: 46.25px;
                                    font-size: 12px;
                                    line-height: 16px;
                                    margin-bottom: 12px;
                                    em {
                                        padding-left: 8px;
                                        width: 134.74px;
                                        height: 46.25px;
                                        img {
                                            width: 24px;
                                            height: 19.91px;
                                        }
                                        span {
                                            font-size: 18px;
                                            line-height: 25px;
                                        }
                                    }
                                }
                               
                                &:nth-child(2),
                                &:nth-child(4) {
                                    width: 30%;
                                    padding-left: 8px;
                               
                                    font-size: 14px;
                                    line-height: 19px;
                                    strong {
                                        font-size: 14px;
                                        line-height: 17px;
                                    }
                                }
                                &:nth-child(3),
                                &:nth-child(5) {
                                    width: 70%;
                                    padding-right: 34px;
                                    em {
                                        
                                        &:nth-child(1) {
                                            width: 100%;
                                           
                                            height: 15px;
                                            margin-bottom: 12px;
                                            span {
                                                width: 20%;
                                                height: 15px;
                                                font-size: 10px;
                                                line-height: 14px;
                                            }
                                        }
                                        &:nth-child(2) {

                                            &>span {
                                                font-size: 12px;
                                                line-height: 15px;
                                                &:nth-child(2) {
                                                    margin-left: 8px;
                                                }
                                                span {
                                                    font-size: 12px;
                                                    line-height: 15px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &:nth-child(3) {
                            li {
                                width: 164px;
                                margin-bottom: 32px;
                                margin-right: 15px;
                                &:nth-child(2n) {
                                    margin-right: 0;
                                }
                                h2 {
                                    padding: 12px 8px 0 8px;
                                    font-size: 12px;
                                    line-height: 16px;
                                }
                                p {
                                    width: max-content;
                                    top: 67px;
                                    font-size: 17.7582px;
                                    line-height: 24px;
                                    transform: unset;
                                    -webkit-transform: unset;
                                    -moz-transform: unset;
                                    -ms-transform: unset;
                                    -o-transform: unset;
                                    left: 52px;
                                }
                                img {
                                    object-fit: cover;
                                    height: 143px;
                                    object-position: -10px;
                                }
                                em {
                                    flex-wrap: wrap;
                                    &:nth-child(4) {
                                        margin-top: 10px;
                                        padding-left: 8px;
                                        padding-right: 8px;
                                        &>span {
                                            font-size: 10px;
                                            line-height: 14px;
                                            span {
                                                width: 19.34px;
                                                height: 19.34px;
                                                margin-right: 6px;
                                            }
                                            &:nth-child(1) {
                                                order: 1;
                                            }
                                            &:nth-child(2) {
                                                order: 3;
                                                width: 70px;
                                            }
                                            &:nth-child(3) {
                                                order: 2;
                                            }
                                        }
                                    }
                                    &:nth-child(5) {
                                        padding: 0 8px;
                                        flex-wrap: wrap;
                                        button {
                                            &:nth-child(1) {
                                                margin-right: 0;
                                                margin-bottom: 8px;
                                            }
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }