    // pc high
    @media (min-width: 2001px) {
        .index-5-app {}
    }
    
    // pc
    @media (min-width: 1281px) and (max-width: 2000px) {}
    
    // pc low
    @media (min-width: 1024px) and (max-width: 1280px) {
        .index-5-app {
            &-left {
                ul {
                    padding-left: 0;
                    justify-content: center;
                    li {
                        &:nth-child(3n) {
                            margin-right: 53px;
                        }
                        &:nth-child(2n) {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    
    @media (min-width: 1024px) {}
    /* tablet */
    
    @media (min-width: 740px) and (max-width: 1023px) {
        .index-5-app {
            &-left {
                ul {
                    padding-left: 0;
                    justify-content: center;
                    li {
                        margin-right: 24px;
                        width: 270px;
                        &:nth-child(3n) {
                            margin-right: 24px;
                        }
                        &:nth-child(2n) {
                            margin-right: 0;
                        }
                        &>span {
                            span {
                                padding-left: 10px;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
    /* mobile */
    
    @media (max-width: 739px) {
        .index-5-banner {
            display: none;
        }
        .notify {
            &-body {
                width: 319px;
                height: 263px;
                span {
                    margin-bottom: 35px;
                    font-size: 24px;
                    line-height: 33px;
                }
                p {
                    margin-bottom: 43px;
                    font-size: 16px;
                    line-height: 22px;
                }
                &__btn {
                    button {
                        font-size: 16px;
                        line-height: 22px;
                        height: 40px;
                    }
                }
            }
        }
        .verify {
            &-body {
                width: 319px;
                height: 299px;
                span {
                    margin-bottom: 33px;
                    font-size: 24px;
                    line-height: 33px;
                }
                p {
                    font-size: 16px;
                    line-height: 22px;
                }
                &__btn {
                    button {
                        font-size: 16px;
                        line-height: 22px;
                        height: 40px;
                    }
                }
            }
        }
        .index-5-app {
            padding: 0;
            & .container {
                padding: 0;
            }
            &-left {
                padding: 0;
                border-radius: unset;
                -webkit-border-radius: unset;
                -moz-border-radius: unset;
                -ms-border-radius: unset;
                -o-border-radius: unset;
                width: 100%;
                &>span {
                    &:nth-child(1) {
                        margin: 0 0 20px;
                        width: 100%;
                        background: #0066BC;
                        font-size: 14px;
                        line-height: 19px;
                        flex-direction: column;
                        justify-content: center;
                        br {
                            display: block;
                        }
                        strong {
                            display: none;
                        }
                        a {
                            font-family: 'NotoSans';
                        }
                    }
                    &:nth-child(2) {
                        display: block;
                        margin-left: 16px;
                        width: 343px;
                        font-size: 16px;
                        line-height: 22px;
                    }
                }
                ul {
                    padding: 0 16px;
                    margin: 14px 0 0;
                    justify-content: space-between;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    li {
                        height: 128.45px;
                        margin-right: 0;
                        width: 48%;
                        margin-bottom: 17px;
                        &>span {
                            height: 32.39px;
                            span {
                                padding-left: 9px;
                                font-size: 16px;
                                line-height: 22px;
                                &:nth-child(1) {
                                    padding-left: 4px;
                                    width: 56.71px;
                                    height: 32.39px;
                                    text-transform: capitalize;
                                    strong {
                                        display: none;
                                    }
                                }
                                &:nth-child(2) {
                                    margin-right: 13px;
                                    img {
                                        width: 15px;
                                        height: 15px;
                                    }
                                }
                            }
                        }
                        img {
                            width: 24px;
                            height: 24px;
                        }
                        em {
                            padding-left: 28px;
                            span {
                                text-transform: capitalize;
                                margin-bottom: 6px;
                                font-size: 14px;
                                line-height: 19px;
                                img {
                                    margin-right: 11px;
                                    width: 18.44px;
                                    height: 18.44px;
                                }
                                strong {
                                    &:nth-child(2) {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
                &__btn {
                    display: none;
                    &mb {
                        padding: 0px 16px;
                        background: #0066BC;
                        height: 50px;
                        position: fixed;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        bottom: 0;
                        span {
                            &:nth-child(1) {
                                img {
                                    transform: rotate(-90deg);
                                    -webkit-transform: rotate(-90deg);
                                    -moz-transform: rotate(-90deg);
                                    -ms-transform: rotate(-90deg);
                                    -o-transform: rotate(-90deg);
                                    width: 13px;
                                    height: 22px;
                                    object-fit: contain;
                                    filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(231deg) brightness(105%) contrast(100%);
                                    -webkit-filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(231deg) brightness(105%) contrast(100%);
                                }
                            }
                            &:nth-child(2) {
                                ul {
                                    position: fixed;
                                    bottom: 50px;
                                    left: 0;
                                    right: 0;
                                    display: none;
                                    flex-wrap: wrap;
                                    padding: 18px 3px 192px 16px;
                                    background-color: #fff;
                                    justify-content: center;
                                    li {
                                        position: relative;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        margin-right: 13px;
                                        width: 46px;
                                        height: 46px;
                                        background: #DFE3EA;
                                        border-radius: 8.20144px;
                                        -webkit-border-radius: 8.20144px;
                                        -moz-border-radius: 8.20144px;
                                        -ms-border-radius: 8.20144px;
                                        -o-border-radius: 8.20144px;
                                        z-index: 1;
                                        &:hover {
                                            background: #0066BC;
                                            color: #fff;
                                        }
                                        &.false {
                                            &::after {
                                                content: "";
                                                position: absolute;
                                                width: 46px;
                                                height: 46px;
                                                background: url("../assets/images/Unavailable.png") #FF6C71;
                                                top: 0;
                                                left: 0;
                                                display: block;
                                                z-index: -1;
                                                border-radius: 8.20144px;
                                                -webkit-border-radius: 8.20144px;
                                                -moz-border-radius: 8.20144px;
                                                -ms-border-radius: 8.20144px;
                                                -o-border-radius: 8.20144px;
                                            }
                                        }
                                        &.true {
                                            background: #5DCD83;
                                        }
                                        &.active {
                                            background: #0066BC;
                                            color: #fff;
                                        }
                                    }
                                }
                                &.active {
                                    ul {
                                        display: flex;
                                    }
                                }
                            }
                            &:nth-child(3) {
                                img {
                                    filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(231deg) brightness(105%) contrast(100%);
                                    transform: rotate(90deg);
                                    -webkit-transform: rotate(90deg);
                                    -moz-transform: rotate(90deg);
                                    -ms-transform: rotate(90deg);
                                    -o-transform: rotate(90deg);
                                    width: 13px;
                                    height: 22px;
                                    object-fit: contain;
                                    -webkit-filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(231deg) brightness(105%) contrast(100%);
                                }
                            }
                        }
                        &-overlay {
                            display: none;
                            position: fixed;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 50px;
                            z-index: -1;
                            background: rgba(0, 0, 0, 0.5);
                        }
                    }
                }
                &__resulf {
                    display: none;
                }
            }
        }
    }