.slider
    button Chơi ngay
    .control    
        span.active.js-toggleControl
        span.js-toggleControl
        span.js-toggleControl
        span.js-toggleControl
        span.js-toggleControl
.app
    .container
        .app-heading 
            span VTCFUN 
            h2 THÔNG TIN NGƯỜI CHƠI
        .app-infouser
            .app-infouser__header
                img(src="../assets/images/61.jpg")
                .app-infouser__header-des
                    span Moctieungu
                    span Id tài khoản: <strong>1236587945</strong>
            .app-infouser__body
                span Tổng số dư:<strong>32.000</strong>
                span Số dư Coin:<strong>15.000.000</strong>
                span Vip point:<strong>4002356</strong>
                span Ngày đăng ký:<strong>20/812/2022</strong>