.slider
    button Chơi ngay
    .control    
        span.active.js-toggleControl
        span.js-toggleControl
        span.js-toggleControl
        span.js-toggleControl
        span.js-toggleControl
.app
    .container
        .app-news
            .app-heading 
                span VTCFUN 
                h2 TRÒ CHƠI TRÊN DI ĐỘNG
            .app-news__even
                h2 Choáng với mức giá không tưởng của căn phòng khách sạn Jimin (BTS) nghỉ ngơi khi tham gia Paris Fashion Week
                p Trải qua 6 năm - tương đương hơn 2000 ngày rực rỡ ở mọi đấu trường, Phục Kích đã ghi dấu ấn về một Tượng đài, trở thành tựa game thuần FPS trên Mobile được người chơi yêu thích nhất hiện nay và đạt được những thành tích cực "đáng nể":- 1,2 triệu game thủ trung thành- 1200 Clan đoàn kết- 1500 items, trong đó hàng trăm items độc quyền- Hàng nghìn khách hàng VIP đồng hành cùng NPH- Hàng trăm set quà tri ân được gửi tới anh em xạ thủ- Update thành công bản cập nhật 64bit đỉnh nhất mọi thời đạiLần nào đến dịp sinh nhật, Phục Kích cũng mang lại những trải nghiệm bất ngờ cho các xạ thủ tới tham dự. Điển hình như trong sinh nhật 6 tuổi của mình, BQT Game đã tặng ngay mã code chung SINHNHAT6TUOI cùng chuỗi sự kiện ingame vô cùng hấp dẫn. Đặc biệt, NPH còn bật mí sẽ tổ chức thật hoành tráng một bữa tiệc sinh nhật offline ngay vào tháng 2/2023 khiến cộng đồng FPS thực sự sôi động và mong chờ.
                img(src="../assets/images/7.jpg")
                p Trải qua 6 năm - tương đương hơn 2000 ngày rực rỡ ở mọi đấu trường, Phục Kích đã ghi dấu ấn về một Tượng đài, trở thành tựa game thuần FPS trên Mobile được người chơi yêu thích nhất hiện nay và đạt được những thành tích cực "đáng nể":- 1,2 triệu game thủ trung thành- 1200 Clan đoàn kết- 1500 items, trong đó hàng trăm items độc quyền- Hàng nghìn khách hàng VIP đồng hành cùng NPH- Hàng trăm set quà tri ân được gửi tới anh em xạ thủ- Update thành công bản cập nhật 64bit đỉnh nhất mọi thời đạiLần nào đến dịp sinh nhật, Phục Kích cũng mang lại những trải nghiệm bất ngờ cho các xạ thủ tới tham dự. Điển hình như trong sinh nhật 6 tuổi của mình, BQT Game đã tặng ngay mã code chung SINHNHAT6TUOI cùng chuỗi sự kiện ingame vô cùng hấp dẫn. Đặc biệt, NPH còn bật mí sẽ tổ chức thật hoành tráng một bữa tiệc sinh nhật offline ngay vào tháng 2/2023 khiến cộng đồng FPS thực sự sôi động và mong chờ.
                img(src="../assets/images/8.jpg")

