.slider
    button Chơi ngay
    .control    
        span.active.js-toggleControl
        span.js-toggleControl
        span.js-toggleControl
        span.js-toggleControl
        span.js-toggleControl
.app
    .container
        .app-heading 
            span VTCFUN 
            h2 THÔNG TIN GAME
        .app-infogame
            .app-infogame__header
                img(src="../assets/images/9.jpg")
                .app-infogame__header-des
                    span Game cờ
                    span Thể loại MobileGame
                    .app-game__item-body__btn
                        button.btn1 Chơi ngay
                        button.btn3 
                            img(src="../assets/images/53.svg")
                            span tải game trên <br>
                                strong Google Play
                        button.btn4 
                            img(src="../assets/images/59.svg")
                            span tải game trên <br>
                                strong App Store
                    
            .app-infogame__body
                p Là cổng game đa nền tảng nên eSports.vn đem đến hàng loạt các tựa game từ game Android, game IOS cho tới các game H5 chơi ngay trên trình duyệt không cần tải về. Sự đa dạng về các tựa game sẽ đem đến cho người chơi cảm giác thoải mái lựa chọn để trải nghiệm khi bước chân vào cổng game eSports.vn<br><br> Các tựa game hiện có trên cổng game eSports.vn đã được lựa chọn kỹ lưỡng với đủ thể loại từ khó tới dễ nhằm đem lại sự vui vẻ giải trí khi trải nghiệm, một số tựa game nổi bật mà chúng ta có thể kể đến như: Cờ Caro, Xạ thủ bắn lon, Đua xe, Siêu trí nhớ, Nghệ nhân cây cảnh,…
                .app-game__slide
                    button 
                        img(src="../assets/images/45.svg")
                    img(src="../assets/images/75.jpg")
                    button 
                        img(src="../assets/images/45.svg")