
.slider.js-slider
    button Chơi ngay
    .control
        span.active.js-toggleSlide.js-toggleSlide1
        span.js-toggleSlide.js-toggleSlide2
        span.js-toggleSlide.js-toggleSlide3
        span.js-toggleSlide.js-toggleSlide4
        span.js-toggleSlide.js-toggleSlide5
.app
    .container
        .app-news
            .app-heading 
                span VTCFUN 
                h2 TRÒ CHƠI TRÊN DI ĐỘNG
            .app-news__item.app-news__item1
                img(src="../assets/images/61.jpg")
                .app-news__item-des
                    a Đẳng cấp khác biệt của rich kid Dubai: Xây sở thú <br>trong nhà, bọc xe bằng Louis Vuitton, sự xa hoa <br>thuộc một tầm cao mới
                    a “Triều đại” HLV Park Hang-seo đã kết thúc vào ngày 31/1/2023. Một thời kỳ <br>mới nhiều hứa hẹn của bóng đá Việt Nam sắp mở ra. Và nếu bạn muốn tìm <br>hiểu về vị HLV mới, theo một cách rất dễ dàng
                    button Xem thêm
            .app-news__item.app-news__item2
                img(src="../assets/images/1.jpg")
                .app-news__item-des
                    a Đẳng cấp khác biệt của rich kid Dubai: Xây sở thú <br>trong nhà, bọc xe bằng Louis Vuitton, sự xa hoa <br>thuộc một tầm cao mới
                    a “Triều đại” HLV Park Hang-seo đã kết thúc vào ngày 31/1/2023. Một thời kỳ <br>mới nhiều hứa hẹn của bóng đá Việt Nam sắp mở ra. Và nếu bạn muốn tìm <br>hiểu về vị HLV mới, theo một cách rất dễ dàng
                    button Xem thêm
            .app-news__item.app-news__item3
                img(src="../assets/images/2.jpg")
                .app-news__item-des
                    a Đẳng cấp khác biệt của rich kid Dubai: Xây sở thú <br>trong nhà, bọc xe bằng Louis Vuitton, sự xa hoa <br>thuộc một tầm cao mới
                    a “Triều đại” HLV Park Hang-seo đã kết thúc vào ngày 31/1/2023. Một thời kỳ <br>mới nhiều hứa hẹn của bóng đá Việt Nam sắp mở ra. Và nếu bạn muốn tìm <br>hiểu về vị HLV mới, theo một cách rất dễ dàng
                    button Xem thêm
            .app-news__item.app-news__item4
                img(src="../assets/images/3.jpg")
                .app-news__item-des
                    a Đẳng cấp khác biệt của rich kid Dubai: Xây sở thú <br>trong nhà, bọc xe bằng Louis Vuitton, sự xa hoa <br>thuộc một tầm cao mới
                    a “Triều đại” HLV Park Hang-seo đã kết thúc vào ngày 31/1/2023. Một thời kỳ <br>mới nhiều hứa hẹn của bóng đá Việt Nam sắp mở ra. Và nếu bạn muốn tìm <br>hiểu về vị HLV mới, theo một cách rất dễ dàng
                    button Xem thêm
            .app-news__item.app-news__item5
                img(src="../assets/images/4.jpg")
                .app-news__item-des
                    a Đẳng cấp khác biệt của rich kid Dubai: Xây sở thú <br>trong nhà, bọc xe bằng Louis Vuitton, sự xa hoa <br>thuộc một tầm cao mới
                    a “Triều đại” HLV Park Hang-seo đã kết thúc vào ngày 31/1/2023. Một thời kỳ <br>mới nhiều hứa hẹn của bóng đá Việt Nam sắp mở ra. Và nếu bạn muốn tìm <br>hiểu về vị HLV mới, theo một cách rất dễ dàng
                    button Xem thêm
            .app-news__item.app-news__item7
                img(src="../assets/images/21.jpg")
                .app-news__item-des
                    a Đẳng cấp khác biệt của rich kid Dubai: Xây sở thú trong nhà, bọc xe bằng Louis Vuitton, 
                   
            .app-news__item.app-news__item8
                img(src="../assets/images/12.jpg")
                .app-news__item-des
                    a Đẳng cấp khác biệt của rich kid Dubai: Xây sở thú trong nhà, bọc xe bằng Louis Vuitton, 
                   
            .app-news__item.app-news__item9
                img(src="../assets/images/61.jpg")
                .app-news__item-des
                    a Đẳng cấp khác biệt của rich kid Dubai: Xây sở thú trong nhà, bọc xe bằng Louis Vuitton, 
                   
           
            .app-news__item.app-news__item10
                img(src="../assets/images/21.jpg")
                .app-news__item-des
                    a Đẳng cấp khác biệt của rich kid Dubai: Xây sở thú trong nhà, bọc xe bằng Louis Vuitton, 
                   
            .app-news__item.app-news__item11
                img(src="../assets/images/12.jpg")
                .app-news__item-des
                    a Đẳng cấp khác biệt của rich kid Dubai: Xây sở thú trong nhà, bọc xe bằng Louis Vuitton, 
                   
            .app-news__item.app-news__item12
                img(src="../assets/images/61.jpg")
                .app-news__item-des
                    a Đẳng cấp khác biệt của rich kid Dubai: Xây sở thú trong nhà, bọc xe bằng Louis Vuitton, 
                   
           
            .app-news__item.app-news__item13
                img(src="../assets/images/21.jpg")
                .app-news__item-des
                    a Đẳng cấp khác biệt của rich kid Dubai: Xây sở thú trong nhà, bọc xe bằng Louis Vuitton, 
                   
            .app-news__item.app-news__item14
                img(src="../assets/images/12.jpg")
                .app-news__item-des
                    a Đẳng cấp khác biệt của rich kid Dubai: Xây sở thú trong nhà, bọc xe bằng Louis Vuitton, 
                   
            .app-news__item.app-news__item15
                img(src="../assets/images/61.jpg")
                .app-news__item-des
                    a Đẳng cấp khác biệt của rich kid Dubai: Xây sở thú trong nhà, bọc xe bằng Louis Vuitton, 
                   
            .app-news__control
                span.js-toggleControl 1
                span.active.js-toggleControl 2
                span.js-toggleControl 3
                span.js-toggleControl 4
                span 
                    img(src="../assets/images/ChevronLeft.svg")
                    img(src="../assets/images/ChevronLeft.svg")

                

                
        