.slider.js-slider
    button Chơi ngay
    .control
        span.js-toggleSlide.js-toggleSlide1
        span.active.js-toggleSlide.js-toggleSlide2
        span.js-toggleSlide.js-toggleSlide3
        span.js-toggleSlide.js-toggleSlide4
        span.js-toggleSlide.js-toggleSlide5
.app    
    .container 
        .app-game
            .app-heading 
                span VTCFUN 
                h2 TRÒ CHƠI TRÊN DI ĐỘNG
            .app-game__item.app-game__item1.js-game
               
                .app-game__item-body
                    span.span1 TÊN CỦA GAME
                    span.span2 Thể loại: 
                        span Game dạng bảng
                    span.span3 Nền tảng:
                        span Mobile
                    .app-game__item-body__btn
                        button.btn1 Chơi ngay
                        button.btn2 Xem chi tiết
                        button.btn3 
                            img(src="../assets/images/53.svg")
                            span tải game trên <br>
                                strong Google Play
                        button.btn4 
                            img(src="../assets/images/59.svg")
                            span tải game trên <br>
                                strong App Store
            .app-game__item.app-game__item2
                img(src="../assets/images/61.jpg")
                .app-game__item-body
                    span.span1 TÊN CỦA GAME
                    span.span2 Thể loại: 
                        span Game dạng bảng
                    span.span3 Nền tảng:
                        img(src="../assets/images/6.png")
                        img(src="../assets/images/50.png")
                    .app-game__item-body__btn
                        button.btn1 Chơi ngay
                        button.btn2 Xem chi tiết                       
            .app-game__item.app-game__item3
                img(src="../assets/images/17.jpg")
                .app-game__item-body
                    span.span1 TÊN CỦA GAME
                    span.span2 Thể loại: 
                        span Game dạng bảng
                    span.span3 Nền tảng:
                        img(src="../assets/images/6.png")
                        img(src="../assets/images/50.png")
                    .app-game__item-body__btn
                        button.btn1 Chơi ngay
                        button.btn2 Xem chi tiết                   
            .app-game__item.app-game__item4
                img(src="../assets/images/18.jpg")
                .app-game__item-body
                    span.span1 TÊN CỦA GAME
                    span.span2 Thể loại: 
                        span Game dạng bảng
                    span.span3 Nền tảng:
                        img(src="../assets/images/6.png")
                        img(src="../assets/images/50.png")
                    .app-game__item-body__btn
                        button.btn1 Chơi ngay
                        button.btn2 Xem chi tiết                       
            .app-game__item.app-game__item5
                img(src="../assets/images/11.jpg")
                .app-game__item-body
                    span.span1 TÊN CỦA GAME
                    span.span2 Thể loại: 
                        span Game dạng bảng
                    span.span3 Nền tảng:
                        img(src="../assets/images/6.png")
                        img(src="../assets/images/50.png")
                    .app-game__item-body__btn
                        button.btn1 Chơi ngay
                        button.btn2 Xem chi tiết
                           
            .app-game__slide
                button
                    img(src="../assets/images/45.svg")
                img(src="../assets/images/Rectangle3.jpg").js-btnGame.js-btnGame1
                img(src="../assets/images/17.jpg").js-btnGame.js-btnGame2
                img(src="../assets/images/12.jpg").js-btnGame.js-btnGame3
                img(src="../assets/images/11.jpg").js-btnGame.js-btnGame4
                img(src="../assets/images/21.jpg").js-btnGame.js-btnGame5
                button
                    img(src="../assets/images/45.svg")
        .app-news 
            .app-heading 
                span VTCFUN 
                h2 TRÒ CHƠI TRÊN DI ĐỘNG
            .app-news__left 
                .app-news__left-item.app-news__left-item1.js-toggleSlideNews.js-toggleSlideNews1
                    img(src="../assets/images/18.jpg")
                    a [HOT] Sự kiện Tết "LÁ SỐ MAY<br> MẮN" của VTC Pay chính thức <br>lên sóng!
                .app-news__left-item.app-news__left-item2.js-toggleSlideNews.js-toggleSlideNews2
                    img(src="../assets/images/18.jpg")
                    a [HOT] Sự kiện Tết "LÁ SỐ MAY<br> MẮN" của VTC Pay chính thức <br>lên sóng!
                .app-news__left-item.app-news__left-item3.js-toggleSlideNews.js-toggleSlideNews3
                    img(src="../assets/images/18.jpg")
                    a [HOT] Sự kiện Tết "LÁ SỐ MAY<br> MẮN" của VTC Pay chính thức <br>lên sóng!
                .app-news__left-item.app-news__left-item4.js-toggleSlideNews.js-toggleSlideNews4
                    img(src="../assets/images/18.jpg")
                    a [HOT] Sự kiện Tết "LÁ SỐ MAY<br> MẮN" của VTC Pay chính thức <br>lên sóng! 
                                                         
                .app-news__left-item.app-news__left-item5 
                    img(src="../assets/images/21.jpg")
                    a Đẳng cấp khác biệt của rich kid Dubai: Xây sở thú trong nhà, bọc xe bằng Louis Vuitton, 
                                                         
                .app-news__left-item.app-news__left-item6
                    img(src="../assets/images/12.jpg")
                    a Đẳng cấp khác biệt của rich kid Dubai: Xây sở thú trong nhà, bọc xe bằng Louis Vuitton, 
                                                         
                .app-news__left-item.app-news__left-item7
                    img(src="../assets/images/61.jpg")
                    a Đẳng cấp khác biệt của rich kid Dubai: Xây sở thú trong nhà, bọc xe bằng Louis Vuitton, 
                                                         
                button Xem thêm
            .app-news__right.js-sliderNews
                  .control
                    span.js-toggleSlideNews.js-toggleSlideNews1
                    span.active.js-toggleSlideNews.js-toggleSlideNews2
                    span.js-toggleSlideNews.js-toggleSlideNews3
                    span.js-toggleSlideNews.js-toggleSlideNews4
                    span.js-toggleSlideNews.js-toggleSlideNews5
                



