header.header
    .container
        .header-nav
            a.header-nav__logo(href="./index.html")
                h1 VTC <strong>FUN</strong>
            ul.header-nav__menu
                li
                    a(href="./index.html").active.js-toggleControl Trang chủ
                li
                    a(href="#").js-toggleControl Trò chơi
                        img(src="../assets/images/ChevronLeft.svg")
                    ul.header-nav__menu-subtt
                        li
                            a(href="./index-2.html") Trò chơi VTC Fun
                        li
                            a(href="./index-5.html") Trò chơi VTC Game
                li 
                    a(href="./index-3.html").js-toggleControl Tin tức
                    
                li 
                    a(href="#").js-toggleControl Nạp thẻ
            a(href="./index-4.html").header-nav__login Đăng ký / Đăng nhập
            a(href="./index-4.html").header-nav__info.active Tên tài khoản
                span
                    img(src="../assets/images/User.svg")
            .header-nav__menumb
                button.js-toggleMenu
                    span 
                    span
                    span
                ul.js-menuShow
                    li
                        a(href="./index-2.html").active.js-toggleControl Trò chơi VTC FUN
                    li
                        a(href="./index-5.html").js-toggleControl Trò chơi VTC Game
                    li 
                        a(href="./index-3.html").js-toggleControl Tin tức               
                    li 
                        a(href="#").js-toggleControl Nạp thẻ
                    li 
                        a(href="./index-4.html").js-toggleControl Đăng ký
                    li 
                        a(href="./index-4.html").js-toggleControl Đăng nhập
                .overlay.js-overLay
        .header-download.js-downLoad
            span Quét để tải <strong>VTCFUN</strong>
            img(src="../assets/images/Vector.jpg")
            .header-download__store
                a(href="#") ANDROID
                    img(src="../assets/images/6.png")
                a(href="#") IOS
                    img(src="../assets/images/50.png")
            button.js-btnShowDownload
                img(src="../assets/images/45.svg")



                
