header.header
    .container
        .header-nav
            h1.header-nav__logo VTC <strong>FUN</strong>
            ul.header-nav__menu
                li
                    a.active.js-toggleControl Trang chủ
                li
                    a.js-toggleControl Trò chơi
                        img(src="../assets/images/ChevronLeft.svg")
                    ul.header-nav__menu-subtt
                        li
                            a Trò chơi VTC Fun
                        li
                            a Trò chơi VTC Game
                li 
                    a.js-toggleControl Tin tức
                    
                li 
                    a.js-toggleControl Nạp thẻ
            a.header-nav__login Đăng ký / Đăng nhập
            a.header-nav__info.active Tên tài khoản
                span
                    img(src="../assets/images/User.svg")
            .header-nav__menumb
                button.js-toggleMenu
                    span 
                    span
                    span
                ul.js-menuShow
                    li
                        a.active.js-toggleControl Trò chơi VTC FUN
                    li
                        a.js-toggleControl Trò chơi VTC Game
                    li 
                        a.js-toggleControl Tin tức               
                    li 
                        a.js-toggleControl Nạp thẻ
                    li 
                        a.js-toggleControl Đăng ký
                    li 
                        a.js-toggleControl Đăng nhập
                .overlay.js-overLay
        .header-download.js-downLoad
            span Quét để tải <strong>VTCFUN</strong>
            img(src="../assets/images/Vector.jpg")
            .header-download__store
                a ANDROID
                    img(src="../assets/images/6.png")
                a IOS
                    img(src="../assets/images/50.png")
            button.js-btnShowDownload
                img(src="../assets/images/45.svg")



                
