doctype html
html(lang="en")
    include head.pug
    link(rel="stylesheet" href="../css/app-5.css")
    link(rel="stylesheet" href="../css/respontive-5.css")
    link(rel="stylesheet" href="../css/respontive-sub.css")


    body
        include header.pug
        include app-5.pug
        script(src="../js/index.js")
        script(src="../js/index-5.js")