@mixin btn($a, $b, $c) {
    background: linear-gradient(to bottom, $a, $b);
    box-shadow: inset 3px 8px 8px $c, inset -3px 8px 8px $c, inset 0px -3px 3px $c, inset -3px 0 3px $c;
}

@mixin btnsm($a, $b, $c) {
    background: linear-gradient(to bottom, $a, $b);
    box-shadow: inset 0px 0px 8px $c, inset -3px 3px 8px $c;
}

.app {
    background: url("../assets/images") top center/cover no-repeat;
}