@font-face {
    font-family: 'MijasUltra';
    src: url('../assets/fonts/Mijas-Ultra.otf');
}

@font-face {
    font-family: 'NunitoBold';
    src: url('../assets/fonts/Nunito-Bold.ttf');
}

@font-face {
    font-family: 'NunitoExtraBold';
    src: url('../assets/fonts/Nunito-ExtraBold.ttf');
}

@font-face {
    font-family: 'NunitoLight';
    src: url('../assets/fonts/Nunito-Light.ttf');
}

@font-face {
    font-family: 'NunitoRegular';
    src: url('../assets/fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: 'NunitoSemiBold';
    src: url('../assets/fonts/Nunito-SemiBold.ttf');
}

@font-face {
    font-family: 'iCielPony';
    src: url('../assets/fonts/iCielPony.ttf');
}

@font-face {
    font-family: 'UTMAvoBol';
    src: url('../assets/fonts/UTMAvoBold.ttf');
}

@font-face {
    font-family: 'UTMAvo';
    src: url('../assets/fonts/UTMAvo.ttf');
}

@font-face {
    font-family: 'UTMAvoItalic';
    src: url('../assets/fonts/UTMAvoItalic.ttf');
}

body {
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

@keyframes showdll {
    from {
        left: -300px;
    }
    to {
        left: 30px;
    }
}

@keyframes showdlr {
    from {
        right: -300px;
    }
    to {
        right: 30px;
    }
}

@mixin btn($a,
$b,
$c) {
    background: linear-gradient(to bottom, $a, $b);
    box-shadow: inset 3px 8px 8px $c, inset -3px 8px 8px $c, inset 0px -3px 3px $c, inset -3px 0 3px $c;
}

.header {
    background: center center/cover no-repeat url("../assets/images/Group867.png");
    height: 875px;
    padding-top: 12px;
    & .container {
        position: relative;
        height: 875px;
    }
    &-menubtn {
        display: none;
    }
    &-logo {
        position: absolute;
        top: 504px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        img {
            &:nth-child(1) {
                position: absolute;
                top: 34px;
                left: -87px;
                z-index: 1;
            }
            &:nth-child(3) {
                position: absolute;
                right: -87px;
                bottom: 34px;
                z-index: 1;
            }
        }
    }
    &-nav {
        &__top {
            width: 568px;
            height: 48px;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 48px;
            -webkit-border-radius: 48px;
            -moz-border-radius: 48px;
            -ms-border-radius: 48px;
            -o-border-radius: 48px;
            margin: 0 auto 0;
            ul {
                display: flex;
                justify-content: space-between;
                padding-left: 56px;
                padding-right: 43px;
                li {
                    a {
                        font-family: 'NunitoRegular';
                        font-size: 24px;
                        color: #fff;
                        line-height: 48px;
                        cursor: pointer;
                        &:hover {
                            cursor: pointer;
                            color: #b85200;
                        }
                    }
                }
            }
        }
        &__left,
        &__right {
            position: absolute;
            width: 50%;
            button {
                position: absolute;
                width: 246px;
                height: 93px;
                top: 666px;
                @include btn(#ffa376,
                #f8332b,
                #ffbc83);
                border-radius: 48px;
                -webkit-border-radius: 48px;
                -moz-border-radius: 48px;
                -ms-border-radius: 48px;
                -o-border-radius: 48px;
                font-size: 28px;
                font-family: "iCielPony";
                color: rgb(255, 255, 255);
                padding-top: 20px;
                line-height: 1.2;
                &:hover {
                    cursor: pointer;
                    color: #b85200;
                }
                img {
                    position: absolute;
                    top: -20px;
                }
            }
        }
        &__left {
            left: 0;
            &>img {
                position: absolute;
                right: 432px;
                top: 147px;
            }
            button {
                right: 211px;
                padding-left: 73px;
                img {
                    left: -17px;
                    top: -20px;
                }
            }
        }
        &__right {
            right: 0;
            &>img {
                position: absolute;
                left: 387px;
                top: 100px;
            }
            button {
                left: 216px;
                padding-right: 77px;
                @include btn(#76c2ff,
                #4bbdd3,
                #69a6fc);
                img {
                    right: -6px;
                    top: -27px;
                }
            }
        }
    }
    &-download {
        position: fixed;
        top: 50px;
        width: 222px;
        display: flex;
        align-items: center;
        flex-direction: column;
        z-index: 9999;
        button {
            height: 60px;
            font-size: 43px;
            font-family: 'NunitoExtraBold';
            color: #fff;
            padding-left: 76px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            span {
                font-size: 19px;
                font-family: 'NunitoExtraBold';
                padding-left: 10px;
                line-height: 1.2;
                text-align: left;
            }
            &:nth-child(2) {
                width: 260px;
                background: url("../assets/images/3.png") center/contain no-repeat;
                margin-bottom: 20px;
            }
            &:nth-child(3) {
                width: 254px;
                background: url("../assets/images/4.png") center/contain no-repeat;
                margin-bottom: 40px;
            }
            &:nth-child(5) {
                padding: 0;
                @include btn(#d55dff,
                #a242e3,
                #ff68ff);
                width: 45px;
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                position: absolute;
                bottom: 86px;
                cursor: pointer;
            }
        }
        &>span {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            font-size: 28px;
            font-family: 'NunitoSemiBold';
            color: #fff;
            cursor: pointer;
        }
        &__left {
            left: -300px;
            background: url("../assets/images/aubeat_float.png") center/contain no-repeat;
            height: 490px;
            &>img {
                margin-top: 11px;
                margin-left: -3px;
                width: 236px;
                height: 154px;
                margin-bottom: 35px;
            }
            button {
                &:nth-child(5) {
                    right: -110px;
                }
                &:hover {
                    cursor: pointer;
                }
            }
            &.active {
                animation: showdll 1s ease-in;
                -webkit-animation: showdll 1s ease-in;
                button {
                    &:nth-child(5) {
                        right: -5px;
                        img {
                            transform: rotate(180deg);
                            -webkit-transform: rotate(180deg);
                            -moz-transform: rotate(180deg);
                            -ms-transform: rotate(180deg);
                            -o-transform: rotate(180deg);
                        }
                    }
                }
                left: 20px;
            }
        }
        &__right {
            right: -300px;
            background: url("../assets/images/au2_float.png") center/contain no-repeat;
            height: 496px;
            &>img {
                width: 237px;
                height: 142px;
                margin-top: 48px;
                margin-left: -5px;
                margin-bottom: 20px;
            }
            button {
                &:nth-child(5) {
                    left: -110px;
                    img {
                        transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                        -moz-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                    }
                }
                &:hover {
                    cursor: pointer;
                }
            }
            &.active {
                animation: showdlr 1s ease-in;
                -webkit-animation: showdlr 1s ease-in;
                button {
                    &:nth-child(5) {
                        left: -5px;
                        img {
                            transform: rotate(0);
                            -webkit-transform: rotate(0);
                            -moz-transform: rotate(0);
                            -ms-transform: rotate(0);
                            -o-transform: rotate(0);
                        }
                    }
                }
                right: 20px;
            }
        }
    }
    &-login {
        position: absolute;
        top: 8px;
        right: 0;
        display: flex;
        flex-direction: row-reverse;
        background: transparent;
        align-items: center;
        cursor: pointer;
        z-index: 9999;
        &>span {
            font-family: 'NunitoRegular';
            font-size: 30px;
            color: #fff;
            &:nth-child(2) {
                position: relative;
                span {
                    width: 0;
                    height: 0;
                    display: block;
                    border-top: 11px solid #fff;
                    border-right: 6px solid transparent;
                    border-left: 6px solid transparent;
                }
                &::before {
                    position: absolute;
                    top: -10px;
                    right: 10px;
                    content: "1";
                    width: 27px;
                    height: 27px;
                    background-color: red;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    position: absolute;
                    font-size: 18px;
                    font-family: 'NunitoBold';
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        img {
            margin-right: 25px;
        }
        &.defaut {
            &>span {
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    display: none;
                }
            }
        }
        &.active {
            &>span {
                &:nth-child(1) {
                    display: none;
                }
                &:nth-child(2) {
                    display: flex;
                    align-items: center;
                    position: relative;
                    span {
                        margin-left: 15px;
                    }
                    &:hover {
                        & .header-login__menu {
                            display: block;
                        }
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -10px;
                        width: 100%;
                        height: 30px;
                        background: transparent;
                    }
                    ul {
                        display: none;
                        position: absolute;
                        top: 48px;
                        right: 0;
                        width: 254px;
                        height: 146px;
                        background: rgba(255, 255, 255, 0.3);
                        box-shadow: inset 5px 5px 10px #fff, inset -5px -5px 10px #fff;
                        border-radius: 10px;
                        -webkit-border-radius: 10px;
                        -moz-border-radius: 10px;
                        -ms-border-radius: 10px;
                        -o-border-radius: 10px;
                        li {
                            a {
                                text-decoration: none;
                                font-family: 'NunitoRegular';
                                font-size: 26px;
                                color: #fff;
                                line-height: 48px;
                                &:hover {
                                    color: #b85200;
                                }
                            }
                        }
                    }
                }
            }
            img {
                display: none;
            }
        }
    }
    &-notify {
        font-family: 'UTMAvoBol';
        font-size: 18px;
        color: #a70077;
        position: absolute;
        bottom: -13px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
}