@font-face {
    font-family: 'MijasUltra';
    src: url('../assets/fonts/Mijas-Ultra.otf');
}

@font-face {
    font-family: 'NunitoBold';
    src: url('../assets/fonts/Nunito-Bold.ttf');
}

@font-face {
    font-family: 'NunitoExtraBold';
    src: url('../assets/fonts/Nunito-ExtraBold.ttf');
}

@font-face {
    font-family: 'NunitoLight';
    src: url('../assets/fonts/Nunito-Light.ttf');
}

@font-face {
    font-family: 'NunitoRegular';
    src: url('../assets/fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: 'NunitoSemiBold';
    src: url('../assets/fonts/Nunito-SemiBold.ttf');
}

@font-face {
    font-family: 'iCielPony';
    src: url('../assets/fonts/iCielPony.ttf');
}

@font-face {
    font-family: 'UTMAvoBol';
    src: url('../assets/fonts/UTMAvoBold.ttf');
}

@font-face {
    font-family: 'UTMAvo';
    src: url('../assets/fonts/UTMAvo.ttf');
}

@font-face {
    font-family: 'UTMAvoItalic';
    src: url('../assets/fonts/UTMAvoItalic.ttf');
}

body {
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

@keyframes showdll {
    from {
        left: -300px;
    }
    to {
        left: 30px;
    }
}

@keyframes showdlr {
    from {
        right: -300px;
    }
    to {
        right: 30px;
    }
}

@mixin btn($a,
$b,
$c) {
    background: linear-gradient(to bottom, $a, $b);
    box-shadow: inset 3px 8px 8px $c, inset -3px 8px 8px $c, inset 0px -3px 3px $c, inset -3px 0 3px $c;
}

.header {
    background: center center/cover no-repeat url("../assets/images/Group867.png");
    & .container {
        position: relative;
        height: 875px;
    }
}