/* tablet and mobile */

@media (max-width: 1023px) {
    .header {}
    .app {}
}

// pc high
@media (min-width: 2000px) {
    .header {}
    .app {}
}

// pc
@media (min-width: 1024px) {
    .header {}
    .app {}
}

// pc low
@media (min-width: 1024px) and (max-width: 1280px) {
    .container {
        max-width: 1000px;
    }
    .header {
        &-nav {
            &__left {
                &>img {
                    width: 20%;
                    top: 140px;
                    right: 350px;
                }
            }
            &__right {
                &>img {
                    width: 35%;
                    top: 260px;
                    left: 310px;
                }
            }
        }
        &-download {
            width: 150px;
            &>img {
                width: 150px;
                height: 100px;
            }
            &>button {
                &:nth-child(2) {
                    margin-bottom: 12px;
                }
                &:nth-child(3) {
                    margin-bottom: 8px;
                }
                &:nth-child(2),
                &:nth-child(3) {
                    width: 200px;
                    height: 48px;
                    font-size: 30px;
                    padding-left: 60px;
                    span {
                        font-size: 12px;
                    }
                }
                &:nth-child(5) {
                    bottom: 35px;
                }
            }
            &>span {
                font-size: 20px;
                img {
                    width: 36px;
                    height: 36px;
                }
            }
            &__left {
                &.active {
                    left: 30px;
                }
                height: 339px;
                &>img {
                    margin-top: 37px;
                    margin-bottom: 10px;
                }
                button {
                    &:nth-child(5) {
                        right: -180px;
                    }
                }
            }
            &__right {
                &.active {
                    right: 30px;
                }
                height: 338px;
                &>img {
                    margin-top: 30px;
                    margin-bottom: 15px;
                }
                button {
                    &:nth-child(5) {
                        left: -180px;
                    }
                }
            }
        }
        &-notify {
            font-size: 15px;
        }
    }
    .app {
        &-bannerkol {
            img {
                width: 100%;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
        &-miss {
            & .app-heading {
                width: 80%;
            }
            &__nav {
                &-search {
                    input {
                        width: 490px;
                        padding-left: 24px;
                        font-size: 16px;
                    }
                }
            }
        }
        &-mrright {
            & .app-heading {
                width: 50%;
            }
            &>button {
                &:nth-child(3) {
                    top: 210px;
                }
            }
            &__buy {
                padding: 0;
                justify-content: space-between;
            }
            ul {
                li {
                    width: 240px;
                    span {
                        width: 90%;
                    }
                    button {
                        width: 90%;
                    }
                }
            }
        }
        &-rank {
            & .app-heading {
                width: 100%;
            }
            &__left {
                width: 49%;
            }
            &__right {
                width: 49%;
            }
        }
        &-gift {
            & .app-heading {
                width: 70%;
            }
            &__list {
                &-item {
                    width: 320px;
                    &1,
                    &3 {
                        &>img {
                            left: 50%;
                            transform: translateX(-50%);
                            -webkit-transform: translateX(-50%);
                            -moz-transform: translateX(-50%);
                            -ms-transform: translateX(-50%);
                            -o-transform: translateX(-50%);
                        }
                    }
                    &2 {
                        button {
                            left: 50%;
                            transform: translateX(-50%);
                            -webkit-transform: translateX(-50%);
                            -moz-transform: translateX(-50%);
                            -ms-transform: translateX(-50%);
                            -o-transform: translateX(-50%);
                        }
                        img {
                            width: 80%;
                        }
                        span {
                            &:nth-child(4),
                            &:nth-child(6) {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* tablet */

@media (min-width: 740px) and (max-width: 1023px) {
    .container {
        max-width: 700px;
    }
    .header {
        height: 400px;
        & .container {
            height: 400px;
        }
        &-logo {
            width: 40%;
            display: flex;
            justify-content: center;
            top: 200px;
            img {
                &:nth-child(1) {
                    width: 25%;
                    left: 40px;
                    top: 25px;
                }
                &:nth-child(3) {
                    width: 20%;
                    right: 45px;
                    bottom: 20px;
                }
                &:nth-child(2) {
                    width: 50%;
                }
            }
        }
        &-nav {
            &__top {
                width: 300px;
                ul {
                    padding: 0 12px;
                    li {
                        a {
                            font-size: 16px;
                        }
                    }
                }
            }
            &__left {
                &>img {
                    width: 30%;
                    top: 0px;
                    right: 185px;
                }
                button {
                    top: 266px;
                    left: 100px;
                    width: 150px;
                    height: 48px;
                    font-size: 16px;
                    padding-top: 6px;
                    padding-left: 30px;
                    img {
                        width: 40%;
                    }
                }
            }
            &__right {
                &>img {
                    width: 40%;
                    top: 15px;
                    left: 170px;
                }
                button {
                    padding-right: 30px;
                    top: 266px;
                    left: 100px;
                    width: 150px;
                    height: 48px;
                    font-size: 16px;
                    padding-top: 6px;
                    img {
                        width: 40%;
                    }
                }
            }
        }
        &-login {
            &>span {
                font-size: 16px;
            }
            span {
                &:nth-child(3) {
                    font-size: 12px;
                    width: 18px;
                    height: 18px;
                    top: -7px;
                    right: 20px;
                }
            }
            &.active {
                &>span {
                    &:nth-child(2) {
                        font-size: 16px;
                        ul {
                            top: 24px;
                            width: 200px;
                            height: 100px;
                            li {
                                a {
                                    font-size: 16px;
                                    line-height: 32px;
                                }
                            }
                        }
                    }
                }
            }
        }
        &-download {
            width: 150px;
            &>img {
                width: 150px;
                height: 100px;
            }
            &>button {
                &:nth-child(2) {
                    margin-bottom: 12px;
                }
                &:nth-child(3) {
                    margin-bottom: 8px;
                }
                &:nth-child(2),
                &:nth-child(3) {
                    width: 200px;
                    height: 48px;
                    font-size: 30px;
                    padding-left: 60px;
                    span {
                        font-size: 12px;
                    }
                }
                &:nth-child(5) {
                    bottom: 35px;
                }
            }
            &>span {
                font-size: 20px;
                img {
                    width: 36px;
                    height: 36px;
                }
            }
            &__left {
                &.active {
                    left: 30px;
                }
                height: 339px;
                &>img {
                    margin-top: 37px;
                    margin-bottom: 10px;
                }
                button {
                    &:nth-child(5) {
                        right: -180px;
                    }
                }
            }
            &__right {
                &.active {
                    right: 30px;
                }
                height: 338px;
                &>img {
                    margin-top: 30px;
                    margin-bottom: 15px;
                }
                button {
                    &:nth-child(5) {
                        left: -180px;
                    }
                }
            }
        }
        &-notify {
            font-size: 12px;
            width: 100%;
            text-align: center;
        }
    }
    .app {
        &-bannerkol {
            &__btn {
                &-list {
                    button {
                        font-size: 24px;
                        width: 180px;
                        height: 60px;
                    }
                }
            }
            img {
                width: 100%;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
        &-miss {
            & .app-heading {
                width: 80%;
            }
            &__nav {
                &>button {
                    font-size: 16px;
                    line-height: 1.2;
                }
                &-search {
                    input {
                        width: 300px;
                        padding-left: 24px;
                        font-size: 12px;
                    }
                    button {
                        width: 100px;
                        font-size: 14px;
                    }
                }
            }
            &__table {
                tr {
                    &:nth-child(1) {
                        th {
                            font-size: 14px;
                        }
                    }
                    td {
                        &:nth-child(2) {
                            span {
                                font-size: 12px;
                                img {
                                    width: 48px;
                                    height: 48px;
                                }
                            }
                        }
                        &:nth-child(3) {
                            img {
                                width: 70px;
                            }
                        }
                        &:nth-child(4) {
                            font-size: 12px;
                        }
                        &:nth-child(5) {
                            span {
                                width: 70px;
                                font-size: 12px;
                                padding-left: 12px;
                            }
                        }
                    }
                }
            }
        }
        &-mrright {
            & .app-heading {
                width: 50%;
            }
            &>button {
                &:nth-child(3) {
                    top: 140px;
                }
            }
            &__buy {
                padding: 0;
                justify-content: space-between;
                &>button {
                    font-size: 18px;
                }
                &-info {
                    span {
                        width: 350px;
                    }
                }
                &-gift {
                    button {
                        font-size: 18px;
                        width: 200px;
                    }
                    span {
                        font-size: 14px;
                    }
                }
            }
            ul {
                li {
                    width: 170px;
                    span {
                        width: 90%;
                        img {
                            width: 80%;
                        }
                    }
                    button {
                        width: 90%;
                        font-size: 12px;
                    }
                }
            }
        }
        &-rank {
            &>button {
                &:nth-child(1) {
                    top: -50px;
                }
            }
            & .app-heading {
                width: 100%;
            }
            &__left {
                width: 49%;
            }
            &__right {
                width: 49%;
            }
            &__left,
            &__right {
                button {
                    font-size: 18px;
                }
            }
            & .app-miss__table {
                tr {
                    &:nth-child(1) {
                        th {
                            font-size: 16px;
                        }
                    }
                    td {
                        &:nth-child(1) {
                            span {
                                width: 40px;
                                height: 40px;
                                font-size: 18px;
                            }
                        }
                        &:nth-child(2) {
                            span {
                                font-size: 14px;
                            }
                        }
                        &:nth-child(3) {
                            img {
                                height: unset;
                                width: 50px;
                            }
                        }
                        &:nth-child(4) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        &-gift {
            & .app-heading {
                width: 70%;
            }
            &__list {
                &-item {
                    width: 230px;
                    padding-top: 60px;
                    &1,
                    &3 {
                        &>span {
                            font-size: 22px;
                            margin-bottom: 16px;
                        }
                        &>img {
                            top: -40px;
                            width: 50%;
                            height: unset;
                            left: 50%;
                            transform: translateX(-50%);
                            -webkit-transform: translateX(-50%);
                            -moz-transform: translateX(-50%);
                            -ms-transform: translateX(-50%);
                            -o-transform: translateX(-50%);
                        }
                        ul {
                            margin-bottom: 24px;
                            li {
                                img {
                                    width: 60px;
                                }
                                span {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                    &3 {
                        &>img {
                            top: -30px;
                        }
                    }
                    &2 {
                        height: 400px;
                        button {
                            top: -28px;
                            width: 120px;
                            font-size: 22px;
                            height: 48px;
                            left: 50%;
                            transform: translateX(-50%);
                            -webkit-transform: translateX(-50%);
                            -moz-transform: translateX(-50%);
                            -ms-transform: translateX(-50%);
                            -o-transform: translateX(-50%);
                        }
                        img {
                            width: 80%;
                        }
                        span {
                            &:nth-child(2) {
                                font-size: 22px;
                            }
                            &:nth-child(4),
                            &:nth-child(6) {
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* mobile */

@media (max-width: 739px) {
    .container {
        max-width: 355px;
    }
    .header {
        height: 200px;
        & .container {
            height: 200px;
        }
        &-logo {
            width: 40%;
            display: flex;
            justify-content: center;
            top: 100px;
            img {
                &:nth-child(1) {
                    width: 30%;
                    left: 15px;
                    top: 10px;
                }
                &:nth-child(3) {
                    width: 30%;
                    right: 10px;
                    top: 30px;
                }
                &:nth-child(2) {
                    width: 50%;
                }
            }
        }
        &-menubtn {
            padding: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;
            background: #ccc;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            span {
                background: #fff;
                display: block;
                margin-top: 3px;
                width: 70%;
                height: 2px;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                &:first-child {
                    margin-top: 0;
                }
            }
        }
        &-nav {
            &__top {
                margin-left: 50px;
                display: none;
                position: absolute;
                background-color: #ccc;
                height: unset;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                width: 300px;
                z-index: 99999;
                &.active {
                    display: block;
                }
                ul {
                    flex-direction: column;
                    align-items: center;
                    padding: 0 12px;
                    li {
                        a {
                            font-size: 16px;
                        }
                    }
                }
            }
            &__left {
                &>img {
                    width: 25%;
                    top: 35px;
                    right: 90px;
                }
                button {
                    top: 156px;
                    left: 70px;
                    width: 70px;
                    height: 28px;
                    font-size: 8px;
                    padding-top: 4px;
                    padding-left: 20px;
                    img {
                        width: 40%;
                        top: -10px;
                        left: -5px;
                    }
                }
            }
            &__right {
                &>img {
                    width: 40%;
                    top: 40px;
                    left: 80px;
                }
                button {
                    padding-right: 20px;
                    top: 156px;
                    left: 45px;
                    width: 70px;
                    height: 28px;
                    font-size: 8px;
                    padding-top: 4px;
                    img {
                        width: 40%;
                        top: -10px;
                        right: -5px;
                    }
                }
            }
        }
        &-login {
            top: 0;
            &>span {
                font-size: 16px;
                &:nth-child(2) {
                    &::before {
                        font-size: 8px;
                        width: 12px;
                        height: 12px;
                        top: -5px;
                        right: 20px;
                    }
                }
            }
            &.active {
                &>span {
                    &:nth-child(2) {
                        font-size: 12px;
                        ul {
                            top: 24px;
                            width: 200px;
                            height: 100px;
                            li {
                                a {
                                    font-size: 16px;
                                    line-height: 32px;
                                }
                            }
                        }
                    }
                }
            }
        }
        &-download {
            width: 150px;
            &>img {
                width: 150px;
                height: 100px;
            }
            &>button {
                &:nth-child(2) {
                    margin-bottom: 12px;
                }
                &:nth-child(3) {
                    margin-bottom: 8px;
                }
                &:nth-child(2),
                &:nth-child(3) {
                    width: 200px;
                    height: 48px;
                    font-size: 30px;
                    padding-left: 60px;
                    span {
                        font-size: 12px;
                    }
                }
                &:nth-child(5) {
                    bottom: 35px;
                }
            }
            &>span {
                font-size: 20px;
                img {
                    width: 36px;
                    height: 36px;
                }
            }
            &__left {
                &.active {
                    left: 30px;
                }
                height: 339px;
                &>img {
                    margin-top: 37px;
                    margin-bottom: 10px;
                }
                button {
                    &:nth-child(5) {
                        right: -180px;
                    }
                }
            }
            &__right {
                &.active {
                    right: 30px;
                }
                height: 338px;
                &>img {
                    margin-top: 30px;
                    margin-bottom: 15px;
                }
                button {
                    &:nth-child(5) {
                        left: -180px;
                    }
                }
            }
        }
        &-notify {
            font-size: 10px;
            width: 100%;
            text-align: center;
        }
    }
    .app {
        padding-top: 80px;
        &-control {
            span {
                width: 36px;
                height: 36px;
                font-size: 16px;
            }
        }
        &-bannerkol {
            img {
                width: 100%;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            &__btn {
                &>button {
                    &:nth-child(1) {
                        width: 180px;
                        font-size: 20px;
                        height: 56px;
                    }
                }
                margin-top: -10px;
                span {
                    font-size: 10px;
                }
                &-list {
                    button {
                        font-size: 16px;
                        width: 120px;
                        height: 48px;
                        &:nth-child(1) {
                            margin-right: 24px;
                        }
                    }
                }
            }
        }
        &-miss {
            & .app-heading {
                width: 100%;
            }
            &__nav {
                position: relative;
                width: 100%;
                margin-bottom: 0;
                &>button {
                    font-size: 16px;
                    line-height: 1.2;
                    margin-bottom: 100px;
                }
                &-search {
                    position: absolute;
                    top: 90px;
                    width: 100%;
                    margin-left: unset;
                    margin-right: unset;
                    input {
                        padding-left: 24px;
                        font-size: 12px;
                    }
                    button {
                        width: 100px;
                        font-size: 12px;
                    }
                }
            }
            &__table {
                tr {
                    &:nth-child(1) {
                        th {
                            font-size: 8px;
                            &:nth-child(5) {
                                width: 20%;
                            }
                            &:nth-child(4) {
                                width: 25%;
                            }
                        }
                    }
                    td {
                        &:nth-child(1) {
                            span {
                                width: 24px;
                                height: 24px;
                                font-size: 12px;
                            }
                        }
                        &:nth-child(2) {
                            span {
                                flex-direction: column-reverse;
                                font-size: 8px;
                                img {
                                    width: 24px;
                                    height: 24px;
                                    margin-right: 0;
                                    margin-bottom: 8px;
                                }
                            }
                        }
                        &:nth-child(3) {
                            img {
                                width: 40px;
                            }
                        }
                        &:nth-child(4) {
                            font-size: 8px;
                            width: 25%;
                        }
                        &:nth-child(5) {
                            width: 20%;
                            span {
                                width: 40px;
                                height: 40px;
                                font-size: 8px;
                                padding-left: 5px;
                                padding-top: 14px;
                            }
                        }
                    }
                }
            }
            &>button {
                width: 100%;
                font-size: 16px;
            }
        }
        &-mrright {
            & .app-heading {
                width: 50%;
            }
            &>button {
                &:nth-child(3) {
                    top: 80px;
                    width: 50px;
                    height: 50px;
                }
            }
            &__buy {
                padding: 0;
                flex-direction: column;
                align-items: center;
                &>button {
                    width: 120px;
                    font-size: 20px;
                    margin-bottom: 24px;
                    height: 48px;
                }
                &-info {
                    margin-right: 0;
                    span {
                        width: 350px;
                    }
                    button {
                        width: 200px;
                        font-size: 20px;
                        height: 62px;
                    }
                }
                &-gift {
                    button {
                        font-size: 20px;
                        width: 200px;
                        height: 48px;
                    }
                    span {
                        font-size: 14px;
                    }
                }
            }
            ul {
                overflow-y: scroll;
                height: 522px;
                justify-content: center;
                &::-webkit-scrollbar {
                    display: none;
                }
                li {
                    min-width: 291px;
                }
            }
        }
        &-rank {
            &>button {
                &:nth-child(1) {
                    top: -50px;
                    width: 50px;
                    height: 50px;
                    img {
                        width: 50%;
                    }
                }
            }
            & .app-heading {
                width: 100%;
            }
            &__left,
            &__right {
                width: 100%;
                button {
                    font-size: 20px;
                }
            }
            & .app-miss__table {
                tr {
                    &:nth-child(1) {
                        th {
                            font-size: 16px;
                        }
                    }
                    td {
                        &:nth-child(1) {
                            span {
                                width: 40px;
                                height: 40px;
                                font-size: 18px;
                            }
                        }
                        &:nth-child(2) {
                            span {
                                font-size: 14px;
                            }
                        }
                        &:nth-child(3) {
                            img {
                                height: unset;
                                width: 50px;
                            }
                        }
                        &:nth-child(4) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        &-gift {
            & .app-heading {
                width: 70%;
                margin-bottom: 30px;
            }
            &__list {
                flex-wrap: wrap;
                &-item {
                    width: 100%;
                    padding-top: 60px;
                    &1,
                    &3 {
                        &>img {
                            left: 50%;
                            transform: translateX(-50%);
                            -webkit-transform: translateX(-50%);
                            -moz-transform: translateX(-50%);
                            -ms-transform: translateX(-50%);
                            -o-transform: translateX(-50%);
                        }
                    }
                    // &3 {
                    //     &>img {
                    //         top: -30px;
                    //     }
                    // }
                    &2 {
                        margin-top: 100px;
                        button {
                            left: 50%;
                            transform: translateX(-50%);
                            -webkit-transform: translateX(-50%);
                            -moz-transform: translateX(-50%);
                            -ms-transform: translateX(-50%);
                            -o-transform: translateX(-50%);
                        }
                    }
                }
            }
        }
    }
}