.footer {
    background: #1a1a1a;
    display: flex;
    padding: 36px 0;
    align-items: center;
    justify-content: center;
    height: 228px;
    color: #fff;
    span {
        font-size: 24px;
    }
    a {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
    }
    &-logo {
        display: flex;
        flex-direction: column;
        img {
            width: 82px;
            height: 36px;
            margin-bottom: 24px;
        }
        span {
            letter-spacing: -2px;
        }
    }
    &-info {
        margin: 0px 110px 0 65px;
        display: flex;
        flex-direction: column;
        &__contact,
        &__boss {
            display: flex;
            flex-direction: column;
        }
        &__boss {
            margin-bottom: 32px;
        }
        &__contact {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            div {
                display: flex;
                flex-direction: column;
                a {
                    margin-left: 24px;
                }
                i {
                    margin-bottom: 10px;
                }
            }
        }
    }
    &-address {
        div {
            display: flex;
            flex-direction: column;
        }
        div:first-child {
            margin-bottom: 32px;
        }
    }
    &>.container {
        flex-direction: unset;
    }
}