head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../css/style.css")
    title Document
body
    .popup
        .popup-container
            .popup-container__header
                h2 Chi tiết khóa học
                img(src="../assets/images/x-mark2.png")
            .popup-ctkh__container-body
                .popup-ctkh__container-body__search
                    input(placeholder="Nhập tên bài học")
                    img(src="../assets/images/magnifying-glass1.png",alt="").popup-ctkh__container-body__search-icon
                    span.popup-ctkh__container-body__search-dl
                        img(src="../assets/images/Group1921.svg",alt="")
                table
                    thead
                        tr
                            th Bài học
                            th Thời gian 
                            th Giảng viên
                            th Thao tác
                    tbody
                        tr
                            td 
                                a(href="#") 1. Giới thiệu tổng quan 
                            td 6h
                            td Nguyễn Văn A
                            td
                                span
                                    img(alt='',src="../assets/images/download1.png")
                                span 
                                    img(alt='',src="../assets/images/Vector.svg")
                        tr
                            td 
                                a(href="#") 2. Tạo đối tượng 
                            td 6h
                            td Nguyễn Văn A
                            td
                                span
                                    img(alt='',src="../assets/images/download1.png")

                                span
                                    img(alt='',src="../assets/images/Vector.svg")
                        tr
                            td 
                                a(href="#") 3. Cài đặt môi trường làm việc
                            td 6h
                            td Nguyễn Văn A
                            td
                                span
                                    img(alt='',src="../assets/images/download1.png")

                                span
                                    img(alt='',src="../assets/images/Vector.svg")
                        tr
                            td 
                                a(href="#") 4. PlayFab là gì?
                            td 6h
                            td Nguyễn Văn A
                            td
                                span
                                    img(alt='',src="../assets/images/download1.png")

                                span
                                    img(alt='',src="../assets/images/Vector.svg")
                        tr
                            td 
                                a(href="#") 1. Giới thiệu tổng quan 
                            td 6h
                            td Nguyễn Văn A
                            td
                                span
                                    img(alt='',src="../assets/images/download1.png")
                                span 
                                    img(alt='',src="../assets/images/Vector.svg")
                        tr
                            td 
                                a(href="#") 2. Tạo đối tượng 
                            td 6h
                            td Nguyễn Văn A
                            td
                                span
                                    img(alt='',src="../assets/images/download1.png")

                                span
                                    img(alt='',src="../assets/images/Vector.svg")
                        tr
                            td 
                                a(href="#") 3. Cài đặt môi trường làm việc
                            td 6h
                            td Nguyễn Văn A
                            td
                                span
                                    img(alt='',src="../assets/images/download1.png")

                                span
                                    img(alt='',src="../assets/images/Vector.svg")
                        tr
                            td 
                                a(href="#") 4. PlayFab là gì?
                            td 6h
                            td Nguyễn Văn A
                            td
                                span
                                    img(alt='',src="../assets/images/download1.png")

                                span
                                    img(alt='',src="../assets/images/Vector.svg")
               
                .popup-ctkh__container-body__control
                    ul
                        li 
                            img(alt='',src="../assets/images/next1.png").popup-ctkh__container-body__control-prev
                        li.active 1
                        li 2
                        li 3
                        li 4
                        li 5
                        li.popup-ctkh__container-body__control-more ...
                        li 
                            img(alt='',src="../assets/images/next1.png").popup-ctkh__container-body__control-next

                

        


        
        
script(src="../js/index.js")