
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="../css/style.css"/>
  <title>Document</title>
</head>
<body>
  <div class="popup2">
    <div class="popup2-container">
      <div class="popup2-container__header">
        <h2>Đăng nhập</h2><img src="../assets/images/x-mark2.png"/>
      </div>
      <div class="popup-dn__container-body">
        <label for="tk"><img src="../assets/images/Vector(1).png"/>
          <input placeholder="Nhập tài khoản của bạn" id="tk"/>
        </label>
        <label for="mk" class="popup-dn-js-pw1"> <img src="../assets/images/lock1.png"/>
          <input type="password" placeholder="Nhập mật khẩu" id="mk"/>
          <button tabindex="-1" class="popup-dn-js-switchpw1"></button>
        </label>
        <div class="popup-dn__container-body__qmk">
          <label for="gn">Ghi nhớ đăng nhập
            <input type="checkbox" id="gn"/>
          </label><a href="#">Quên mật khẩu?</a>
        </div>
        <button>Đăng nhập</button>
        <div class="popup-or"><span></span>
          <p>Hoặc</p><span></span>
        </div>
        <div class="popup-dn__container-body__login"><img src="../assets/images/2021_Facebook_icon1.png"/><img src="../assets/images/Google__G__Logo1.png"/></div>
        <p>Bạn chưa có tài khoản? <a href="#">Đăng ký ngay</a></p><a>Điều khoản dịch vụ <strong>&</strong> Chính sách bảo mật </a>
      </div>
    </div>
  </div>
</body>
<script src="../js/index.js"></script>