head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../css/style.css")
    title Document
body
- var linkk ="https://www.figma.com/file/lftiTfOH5iYhOJmWBTjY6Q/Gameportal?type=design&node-id=0-1&t=W2T9jNOqC79uh2HE-0"
    .popup
        .popup-container
            .popup-container__header
                h2 Thông tin bài học
                img(src="../assets/images/x-mark2.png")
            ul.popup-ttbh__container-body
                li 
                    em Hình thức:
                    span Học online qua đường dẫn: 
                        a(href=linkk) https://www.figma.com/file/lftiTfOH5iYhOJmWBTjY6Q/Gameportaltype=designnode-id=0-1t=W2T9jNOqC79uh2HE-0
                       
                li 
                    em Thời gian học:
                    p 24/05/2023 - 30/05/2023
                li.popup-ttbh__container-body__item3
                    em Tổng quan nội dung:
                    ul
                        li Giới thiệu tổng quan về Unity 
                        li Cài đặt môi trường làm việc
                        li Tạo đối tượng
                        li Animation và Animator
                        li Rigibody and Collider

script(src="../js/index.js")