.app
    img(src="../assets/images/Layer1048.png")
    img(src="../assets/images/Group78.png")
    .app-bqmn
        .container
            h1.app-heading Bốc quà mỗi ngày
                span Thử vận may của bạn bằng cách chọn 1 lá bài dưới đây, rồi bấm “Lật bài”.<br>Sau đó bạn nhập giftcode trong game để nhận phần thưởng.
            .app-bqmn__container
                ul
                    li.active.js-movbq Bốc quà <br>mỗi ngày
                    li.js-movdknq  Đăng ký <br>nhận quà
                    li.js-movtm Tạo <br>thiệp mời
                    li.js-movctnq Cách thức <br>nhận quà
                    li.js-movct Cốt truyện
                ul
                    li.js-cart  
                    li.js-cart  
                    li.js-cart
                    li.js-cart  
                    li.js-cart  
            .app-bqmn__btn
                button Lật bài 
                button Thể lệ
    .app-dknq
        img(src="../assets/images/Group61copy.png")
        .container
            .app-row
            h1.app-heading Đăng ký<br><strong>nhận quà</strong>
            .app-dknq__container
                img(src="../assets/images/dangkydatmoc.png")
                ul
                    li
                        img(src="../assets/images/1.png")
                        span 50K lượt ĐK<br><strong>Kim Cương Lam</strong>
                    li
                        img(src="../assets/images/2.png")
                        span 50K lượt ĐK<br><strong>Kim Cương Lam</strong>
                    li
                        img(src="../assets/images/4.png")
                        span 50K lượt ĐK<br><strong>Kim Cương Lam</strong>
                    li
                        img(src="../assets/images/5.png")
                        span 50K lượt ĐK<br><strong>Kim Cương Lam</strong>
                    li.defaut
                        img(src="../assets/images/3.png")
                        span 50K lượt ĐK<br><strong>Kim Cương Lam</strong>
                .app-dknq__regiter
                    span Số lượt đăng ký<br><strong>325.321</strong>
                    button Đăng ký
                .app-dknq__giftcode
                    span Code chung
                    span NVL12382
    .app-tm
        .container  
            .app-row    
            h1.app-heading Tạo thiệp mời
            .app-tm__container
                .app-tm__container-help
                    img(src="../assets/images/Group64copy.png")
                    button Tải ảnh lên
                .app-tm__container-create
                    input(placeholder="Nhập tên")
                    input(placeholder="Link facebook")
                    input(placeholder="Nhập gmail")
                    span.rules Bạn chưa tải ảnh lên.
                    button Tạo thiệp
    .app-ct 
        .container  
            h1.app-heading Cốt truyện
            .app-ct__container
                img(src="../assets/images/Layer1009.jpg")
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae diam in nibh tempor suscipit sed quis lorem. Ut consectetur maximus augue, id sollicitudin arcu faucibus nec. Etiam varius felis in odio pulvinar tincidunt. Aliquam luctus tortor id magna viverra, nec blandit sem porttitor. Proin eget pellentesque augue, eu tristique erat. Quisque sagittis urna in quam gravida, nec tristique ex lacinia. Curabitur pellentesque velit nec ante dignissim euismod. Ut et nibh quis lacus mattis vestibulum id vel sem. Nulla facilisi. Aenean non turpis varius, dapibus lacus eu, fermentum dui. Donec rutrum sit amet ante vel mattis. Vivamus consequat, ex in scelerisque dictum, quam ipsum aliquam lectus, sagittis porttitor felis lectus sed magna. Vivamus feugiat purus a vehicula bibendum. Nunc commodo ipsum urna, at dapibus tortor tempor nec. Donec dictum ornare tempor.
            .app-ct__btn
                button 
                    img(src="../assets/images/rown.png")
                button
                    img(src="../assets/images/rown.png")







