.app
    .container
        .app-bannerkol
            img(src="../assets/images/5.png")
            .app-bannerkol__btn
                button Nhận quà
                span Bấm nút để nhận ngẫu nhiên 1 trong 3 set trang phục trên 
            .app-bannerkol__btn-list
                button Thể lệ
                button Quà tặng
        .app-miss
            img.app-heading(src="../assets/images/Group63.png") 
            .app-miss__nav
                button Xếp hạng<br>của bạn
                .app-miss__nav-search
                    input(placeholder="Nhập id tìm kiếm miss yêu thích")
                    button Tìm kiếm
                button Thể lệ
            table.app-miss__table
                tr
                    th Top
                    th Miss
                    th Game
                    th Số lượt bình chọn
                    th Bình chọn
                tr
                    td 
                        span 1
                    td 
                        span Tên nhân vật
                            img(src="../assets/images/Group66.png")
                    td 
                        img(src="../assets/images/Logo-Au-Ok2.png")
                    td 10.000.000
                    td  
                        span.js-like
                            
                tr
                    td 
                        span 2
                    td
                        span Tên nhân vật
                            img(src="../assets/images/Group66.png")
                    td 
                        img(src="../assets/images/Logo-Au-Ok2.png")
                    td 10.000.000
                    td 
                        span.active.js-like Voted
                            
                tr
                    td 
                        span 3
                    td
                        span Tên nhân vật
                            img(src="../assets/images/Group66.png")
                    td 
                        img(src="../assets/images/Logo-Au-Ok2.png")
                    td 10.000.000
                    td 
                        span.active.js-like Voted
                            
                tr
                    td 
                        span 4
                    td
                        span Tên nhân vật
                            img(src="../assets/images/Group66.png")
                    td 
                        img(src="../assets/images/Logo-Au-Ok2.png")
                    td 10.000.000
                    td 
                        span.active.js-like Voted
                            
                tr
                    td 
                        span 5
                    td
                        span Tên nhân vật
                            img(src="../assets/images/Group66.png")
                    td 
                        img(src="../assets/images/Logo-Au-Ok2.png")
                    td 10.000.000
                    td 
                        span.active.js-like Voted                    
            .app-control  
                span.active.js-missct 1 
                span.js-missct 2  
                span.js-missct 3
                span.js-missct 4
                span >>   
            button Chi tiết phần thưởng dành cho top <strong>10</strong>    
        .app-mrright
            img.app-heading(src="../assets/images/Group80.png")
            marquee [AU2] Strange đã tặng Peter 100 Bông hoa hồng
            button 
                img.app-heading(src="../assets/images/rules.png")
            ul
                li
                    span 
                        img(src="../assets/images/9.png")
                    button Mua cho bản thân <br><strong>123.456 Vcoin</strong>
                    button Mua để tặng <br><strong>123.45 Vcoin</strong>
                li
                    span 
                        img(src="../assets/images/9.png")
                    button Mua cho bản thân <br><strong>123.456 Vcoin</strong>
                    button Mua để tặng <br><strong>123.45 Vcoin</strong>
                li
                    span 
                        img(src="../assets/images/9.png")
                    button Mua cho bản thân <br><strong>123.456 Vcoin</strong>
                    button Mua để tặng <br><strong>123.45 Vcoin</strong>
                li
                    span 
                        img(src="../assets/images/9.png")
                    button Mua cho bản thân <br><strong>123.456 Vcoin</strong>
                    button Mua để tặng <br><strong>123.45 Vcoin</strong>
                li
                    span 
                        img(src="../assets/images/9.png")
                    button Mua cho bản thân <br><strong>123.456 Vcoin</strong>
                    button Mua để tặng <br><strong>123.45 Vcoin</strong>
                li
                    span 
                        img(src="../assets/images/9.png")
                    button Mua cho bản thân <br><strong>123.456 Vcoin</strong>
                    button Mua để tặng <br><strong>123.45 Vcoin</strong>
                li
                    span 
                        img(src="../assets/images/9.png")
                    button Mua cho bản thân <br><strong>123.456 Vcoin</strong>
                    button Mua để tặng <br><strong>123.45 Vcoin</strong>
                li
                    span 
                        img(src="../assets/images/9.png")
                    button Mua cho bản thân <br><strong>123.456 Vcoin</strong>
                    button Mua để tặng <br><strong>123.45 Vcoin</strong>
            .app-mrright__buy
                button LSGD
                .app-mrright__buy-info
                    span Bạn đang có
                        span 500 Vcoin
                        span 5000 Bông hoa hồng
                    button Nạp Vcoin
                .app-mrright__buy-gift
                    button Tặng hoa hồng
                    span Nạp kim cương qua website <br>để nhận bonus Hoa hồng
                    span 50.000đ =1 bông hồng
        .app-rank
            button 
                img(src="../assets/images/rules.png")
            .app-rank__left
                img.app-heading(src="../assets/images/Group74.png")
               
                .app-rank__left-btn
                    button TỔNG
                    button AU 2
                    button AU BEAT
                table.app-miss__table
                    tr
                        th Top
                        th Mr/Mrs
                        th Game
                        th Tổng điểm tặng quà
                        
                    tr
                        td 
                            span 1
                        td 
                            span Tên nhân vật
                               
                        td 
                            img(src="../assets/images/Logo-Au-Ok2.png")
                        td 500.000.000
                    tr
                        td 
                            span 2
                        td 
                            span Tên nhân vật
                               
                        td 
                            img(src="../assets/images/Logo-Au-Ok2.png")
                        td 500.000.000
                    tr
                        td 
                            span 3
                        td 
                            span Tên nhân vật
                               
                        td 
                            img(src="../assets/images/Logo-Au-Ok2.png")
                        td 500.000.000
                    tr
                        td 
                            span 4
                        td 
                            span Tên nhân vật
                               
                        td 
                            img(src="../assets/images/Logo-Au-Ok2.png")
                        td 500.000.000
                    tr
                        td 
                            span 5
                        td 
                            span Tên nhân vật
                               
                        td 
                            img(src="../assets/images/Logo-Au-Ok2.png")
                        td 500.000.000
                .app-control  
                    span.active.js-rankct1 1
                    span.js-rankct1 2
                    span.js-rankct1 3
                    span.js-rankct1 4
                    span >>   
            .app-rank__right
                img.app-heading(src="../assets/images/Group75.png")
                .app-rank__left-btn
                    button TỔNG
                    button AU 2
                    button AU BEAT
                table.app-miss__table
                    tr
                        th Top
                        th Mr/Mrs
                        th Game
                        th Tổng điểm tặng quà
                        
                    tr
                        td 
                            span 1
                        td 
                            span Tên nhân vật
                               
                        td 
                            img(src="../assets/images/Logo-Au-Ok2.png")
                        td 500.000.000
                    tr
                        td 
                            span 2
                        td 
                            span Tên nhân vật
                               
                        td 
                            img(src="../assets/images/Logo-Au-Ok2.png")
                        td 500.000.000
                    tr
                        td 
                            span 3
                        td 
                            span Tên nhân vật
                               
                        td 
                            img(src="../assets/images/Logo-Au-Ok2.png")
                        td 500.000.000
                    tr
                        td 
                            span 4
                        td 
                            span Tên nhân vật
                               
                        td 
                            img(src="../assets/images/Logo-Au-Ok2.png")
                        td 500.000.000
                    tr
                        td 
                            span 5
                        td 
                            span Tên nhân vật
                               
                        td 
                            img(src="../assets/images/Logo-Au-Ok2.png")
                        td 500.000.000
                .app-control  
                    span.active.js-rankct2 1
                    span.js-rankct2 2
                    span.js-rankct2 3
                    span.js-rankct2 4
                    span >>   
            button Xếp hạng của bạn
        .app-gift
            img.app-heading(src="../assets/images/Group866.png")
            .app-gift__list
                .app-gift__list-item.app-gift__list-item1
                    img(src="../assets/images/Logo-Aubeat(option3).png")
                    span Top 1
                    ul
                        li
                             
                            img(src="../assets/images/Group87.png")
                            span Tên item
                        li
                             
                            img(src="../assets/images/Group87.png")
                            span Tên item
                        li
                             
                            img(src="../assets/images/Group87.png")
                            span Tên item
                    span Top 2 - 5
                    ul
                        li
                             
                            img(src="../assets/images/Group87.png")
                            span Tên item
                        li
                             
                            img(src="../assets/images/Group87.png")
                            span Tên item
                        li
                             
                            img(src="../assets/images/Group87.png")
                            span Tên item
                    span Top 6 - 10
                    ul
                        li
                             
                            img(src="../assets/images/Group87.png")
                            span Tên item
                        li
                             
                            img(src="../assets/images/Group87.png")
                            span Tên item
                        li
                             
                            img(src="../assets/images/Group87.png")
                            span Tên item

                .app-gift__list-item.app-gift__list-item2
                    button Tổng
                    span Top 1
                    img(src="../assets/images/MRS.Right.png")
                    span Danh hiệu Mrs Always Right (nữ) 
                    img(src="../assets/images/MR.Right.png")
                    span Danh hiệu Mrs Always Right (nữ) 
                .app-gift__list-item.app-gift__list-item3
                    img(src="../assets/images/Logo-Au-Ok2.png")
                    span Top 1
                    ul
                        li
                             
                            img(src="../assets/images/Group87.png")
                            span Tên item
                        li
                             
                            img(src="../assets/images/Group87.png")
                            span Tên item
                        li
                             
                            img(src="../assets/images/Group87.png")
                            span Tên item
                    span Top 2 - 5
                    ul
                        li
                             
                            img(src="../assets/images/Group87.png")
                            span Tên item
                        li
                             
                            img(src="../assets/images/Group87.png")
                            span Tên item
                        li
                             
                            img(src="../assets/images/Group87.png")
                            span Tên item
                    span Top 6 - 10
                    ul
                        li
                             
                            img(src="../assets/images/Group87.png")
                            span Tên item
                        li
                             
                            img(src="../assets/images/Group87.png")
                            span Tên item
                        li
                             
                            img(src="../assets/images/Group87.png")
                            span Tên item
            button chi tiết
                          

                
                        
  
            
                
        

        

                


