header.header   
    .container
        img.header-logo(src="../assets/images/LOGO2.png")       
        img.header-welcome(src="../assets/images/Group79.png")
        .header-download.js-download
            img(src="../assets/images/Layer990.png")
            button.header-download__google
            button.header-download__app
            .header-download__social
                button.header-download__social-facebook Facebook
                    img(src="../assets/images/facebbok.png")
                button.header-download__social-group Group
                    img(src="../assets/images/group.png")
            button.header-download__mov.js-movtop TOP
            button.header-download__btn.js-downloadBtn
                img(src="../assets/images/row.png")

