.btn {
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: 'BeVietnamProBold';
    width: 195px;
    height: 62px;
    background: linear-gradient( to right, #e8496d, #a44aff, #95f2ff);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 2px 2px #ea5b94, -2px 2px #ea5b94, 2px -2px #ea5b94, -2px -2px #ea5b94;
}

.app {
    padding-top: 29px;
    padding-bottom: 237px;
    &-introduce {
        display: flex;
        align-items: center;
        flex-direction: column;
        &__btn {
            background: linear-gradient(to right, #e53d75, #faa851);
            width: 249px;
            height: 68px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'BeVietnamProBold';
            color: #fff;
            font-size: 30px;
            margin-bottom: 33px;
        }
        &>span {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            span {
                font-family: 'iCielPony';
                font-size: 22px;
                color: #fff;
                margin-bottom: 29px;
                background: linear-gradient(#28a7fd, #28a7fd, #f62694, #f62694, #f62694);
                -webkit-background-clip: text;
                -webkit-text-stroke: 6px rgba(0, 0, 0, 0);
                padding: 12px;
                &:nth-child(2) {
                    padding-left: 0;
                }
                &:nth-child(1) {
                    padding-right: 2px;
                }
            }
        }
        &__gift {
            display: flex;
            justify-content: space-between;
            width: 854px;
            margin-bottom: 40px;
            button {
                width: 214px;
                height: 247px;
                background: url("../assets/images/1.png") center/contain no-repeat;
                &:nth-child(1) {
                    img {
                        margin-top: 88px;
                    }
                }
                &:nth-child(2) {
                    img {
                        margin-top: 109px;
                    }
                }
                &:nth-child(3) {
                    img {
                        margin-top: 79px;
                    }
                }
            }
        }
        &__directional {
            display: flex;
            & .app-introduce__btn {
                width: 211px;
                height: 57px;
                margin-right: 19px;
                margin-bottom: 92px;
            }
        }
    }
    &-rules {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__detail {
            position: relative;
            width: 100%;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            border: 4px solid #fff;
            padding: 97px 0px 72px 90px;
            background: #3e1170;
            margin-bottom: 111px;
            box-shadow: 3px 3px #ea5b94, 3px -3px #ea5b94, -3px 3px #ea5b94, -3px -3px #ea5b94, inset 3px 3px #ea5b94, inset 3px -3px #ea5b94, inset -3px 3px #ea5b94, inset -3px -3px #ea5b94, 10px 10px 10px rgba(179, 70, 181, 0.5), 10px -10px 10px rgba(179, 70, 181, 0.5), -10px 10px 10px rgba(179, 70, 181, 0.5), -10px -10px 10px rgba(179, 70, 181, 0.5), inset 20px 20px 20px rgba(179, 70, 181, 0.5), inset 20px -20px 20px rgba(179, 70, 181, 0.5), inset -20px 20px 20px rgba(179, 70, 181, 0.5), inset -20px -20px 20px rgba(179, 70, 181, 0.5);
            li {
                position: relative;
                list-style: none;
                font-family: 'BeVietnamPro';
                font-size: 24px;
                color: #fff;
                margin-bottom: 26px;
                strong {
                    font-family: 'BeVietnamProBold';
                    color: #96eaff;
                }
                &::after {
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                    left: -31px;
                    content: "";
                    width: 20px;
                    height: 20px;
                    background: linear-gradient(#e13c75, #a24cff, #94dffc);
                    display: flex;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }
                &:nth-child(1) {
                    &::after {
                        display: none;
                    }
                    position: absolute;
                    top: -33px;
                    left: 50%;
                    transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    -o-transform: translateX(-50%);
                }
            }
        }
        &>button {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'BeVietnamProBold';
            font-size: 29px;
            color: #fff;
            width: 313px;
            height: 110px;
            background: url("../assets/images/10.png") center/contain no-repeat;
            padding-right: 20px;
            margin-bottom: 40px;
            text-shadow: 0 0 4px #ce18ea, 0 0 4px #ce18ea, 0 0 4px #ce18ea, 0 0 4px #ce18ea, 0 0 4px #ce18ea, 0 0 4px #ce18ea, 0 0 4px #ce18ea, 0 0 4px #ce18ea;
            &:nth-child(4) {
                filter: hue-rotate(135deg);
                -webkit-filter: hue-rotate(135deg);
            }
            &:nth-child(6) {
                filter: hue-rotate(270deg);
                -webkit-filter: hue-rotate(270deg);
            }
        }
        &__code {
            display: flex;
            width: 100%;
            li {
                position: relative;
                background: url("../assets/images/7.png") center/contain no-repeat;
                border-radius: 20px;
                width: 289px;
                height: 178px;
                padding-top: 46px;
                margin-right: 17px;
                margin-bottom: 65px;
                &:last-child {
                    margin-right: 0;
                }
                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    background: linear-gradient( #e24dc0, #d5b952);
                    -webkit-background-clip: text;
                    -webkit-text-stroke: 6px transparent;
                    font-size: 35px;
                    font-family: 'BeVietnamProBold';
                    color: #fff;
                    strong {
                        font-size: 58px;
                        margin-top: 12px;
                    }
                }
                button {
                    background: linear-gradient(to right, #e63d76, #ab42f8, #99e5fb);
                    width: 160px;
                    height: 49px;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -25px;
                    border-top: 3px solid #fb43cb;
                    border-bottom: 3px solid #fb43cb;
                    color: #f8e54d;
                    font-family: 'BeVietnamProBold';
                    font-size: 18px;
                    padding: 0;
                    text-shadow: 0px 0px 3px #78057d, -0px 0px 3px #78057d, 0px -0px 3px #78057d, -0px -0px 3px #78057d, 0px 0px 3px #78057d, -0px 0px 3px #78057d, 0px -0px 3px #78057d, -0px -0px 3px #78057d;
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    -o-transform: translateX(-50%);
                }
            }
            &3 {
                margin-bottom: 158px;
            }
        }
    }
    &-help {
        display: flex;
        flex-direction: column;
        align-items: center;
        & .app-rules__detail {
            display: flex;
            align-items: center;
            flex-direction: column;
            position: relative;
            margin-bottom: 0;
            padding: 88px 0 95px 0;
            li {
                margin-bottom: 0;
                &::after {
                    display: none;
                }
                &:nth-child(3) {
                    display: flex;
                    align-items: center;
                    &>img {
                        width: 87px;
                        height: 88px;
                        &:nth-child(1) {
                            transform: rotate(180deg);
                            -webkit-transform: rotate(180deg);
                            -moz-transform: rotate(180deg);
                            -ms-transform: rotate(180deg);
                            -o-transform: rotate(180deg);
                        }
                        &:nth-child(2) {
                            margin: 0px 60px;
                        }
                    }
                    & .slide {
                        display: flex;
                        align-items: center;
                        overflow-x: scroll;
                        width: 375px;
                        &::-webkit-scrollbar {
                            display: none;
                        }
                        img {
                            width: 375px;
                            margin-right: 1px;
                        }
                    }
                }
                &:nth-child(2) {
                    margin-bottom: 67px;
                }
                &:nth-child(4) {
                    position: absolute;
                    bottom: 83px;
                    left: 126px;
                }
                &:nth-child(5) {
                    position: absolute;
                    bottom: 83px;
                    right: 110px;
                }
            }
        }
        &>button {
            display: none;
            margin-top: 52px;
            width: 210px;
            height: 84px;
            background: url("../assets/images/9.png") center/contain no-repeat;
            font-family: 'MYRIADPRO';
            font-size: 16px;
            color: #fff;
            font-style: italic;
            text-transform: uppercase;
            padding-top: 14px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-shadow: 1px 1px 1px #904203, 1px -1px 1px #904203, -1px 1px 1px #904203, -1px -1px 1px #904203, 0px 0px 3px #904203, 0px 0px 3px #904203, 0px 0px 3px #904203, 0px 0px 3px #904203;
        }
    }
}

.popup {
    display: none;
    position: fixed;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 260px;
    background-color: rgba(0, 0, 0, 0.5);
    & .app-rules__detail {
        padding: 100px 84px 0px 75px;
        width: 925px;
        height: 506px;
        li {
            margin-bottom: 35px;
            &::after {
                display: none;
            }
        }
        & .popup-close {
            position: absolute;
            top: -15px;
            right: -14px;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(to right, #e53d75, #a446ff, #93e5fb);
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            cursor: pointer;
        }
    }
    &.active {
        display: flex;
    }
}