.footer {
    background: #1a1a1a;
    display: flex;
    padding: 36px 0;
    align-items: center;
    justify-content: center;
    height: 228px;
    color: #fff;
    & .container {
        display: flex;
    }
    span {
        font-size: 24px;
    }
    a {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
    }
    &-logo {
        display: flex;
        flex-direction: column;
        width: 40%;
        span {
            display: flex;
            flex-direction: column;
            font-size: 13px;
            font-family: Arial;
            strong {
                margin-top: 3px;
                font-weight: 700;
            }
        }
        img {
            width: 82px;
            height: 36px;
            margin-bottom: 24px;
        }
    }
    &-info {
        width: 30%;
        display: flex;
        flex-direction: column;
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
        span {
            font-size: 13px;
            font-family: Arial;
            font-weight: 700;
        }
        &>a {
            font-size: 12px;
            font-family: Arial;
            margin-top: 5px;
            margin-bottom: 26px;
        }
        table {
            tr {
                td {
                    a {
                        font-size: 12px;
                        font-family: Arial;
                    }
                    img {
                        margin-right: 10px;
                    }
                }
                &:nth-child(1) {
                    td {
                        padding-bottom: 5px;
                    }
                }
            }
        }
    }
    &-address {
        width: 30%;
        display: flex;
        flex-direction: column;
        &__item {
            margin-bottom: 26px;
            h5 {
                font-family: Arial;
                font-weight: 700;
                font-size: 13px;
            }
            p {
                margin-top: 5px;
                font-size: 12px;
                font-family: Arial;
            }
        }
    }
}