@font-face {
    font-family: 'BeVietnamProBold';
    src: url('../assets/fonts/BeVietnamProBold.ttf');
}

@font-face {
    font-family: 'BeVietnamPro';
    src: url('../assets/fonts/BeVietnamPro-Regular.ttf');
}

@font-face {
    font-family: 'UTMAvo';
    src: url('../assets/fonts/UTMAvo.ttf');
}

@font-face {
    font-family: 'iCielPony';
    src: url('../assets/fonts/iCielPony.ttf');
}

@font-face {
    font-family: 'UTMPenumbraBold';
    src: url('../assets/fonts/UTMPenumbraBold.ttf');
}

@font-face {
    font-family: 'UTMPenumbra';
    src: url('../assets/fonts/00155-UTM-Penumbra.ttf');
}

@font-face {
    font-family: 'MYRIADPRO';
    src: url('../assets/fonts/MYRIADPRO-REGULAR.OTF');
}

body {
    overflow-x: hidden;
    font-family: 'AmericanaBEx';
    position: relative;
}

* {
    font-family: 'AmericanaBEx';
}

.container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

button {
    cursor: pointer;
}

.bg-all {
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
}

.header {
    position: relative;
    padding-top: 19px;
    &-logo {
        margin-left: -59px;
    }
    &-download {
        position: fixed;
        top: 50px;
        right: 0;
        width: 274px;
        height: 353px;
        background: url("../assets/images/download.png") center/contain no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;
        padding-top: 29px;
        transition: right 0.5s;
        -webkit-transition: right 0.5s;
        -moz-transition: right 0.5s;
        -ms-transition: right 0.5s;
        -o-transition: right 0.5s;
        &>span {
            font-family: 'UTMPenumbraBold';
            color: #fff;
            font-size: 18px;
            margin-bottom: 12px;
            &:nth-child(2) {
                padding: 3px 7px 4px 9px;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                width: 139px;
                height: 136px;
                display: block;
                background-color: #fff;
                img {
                    width: 123px;
                    height: 129px;
                }
            }
        }
        button {
            border-radius: 10px;
            width: 183px;
            height: 44px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: flex-end;
            background: #3e1170;
            margin-bottom: 6px;
            padding-left: 12px;
            span {
                font-size: 12px;
                color: #fff;
                display: flex;
                flex-direction: column;
                text-align: left;
                margin-left: 10px;
                font-family: 'UTMPenumbra';
            }
            strong {
                font-family: 'UTMPenumbraBold';
                font-size: 16px;
            }
            &:last-child {
                position: absolute;
                bottom: -21px;
                width: 57px;
                height: 57px;
                background: linear-gradient(to right, #e43d78, #a447ff, #96e7ff);
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                img {
                    width: 100%;
                    transform: rotate(-90deg);
                    -webkit-transform: rotate(-90deg);
                    -moz-transform: rotate(-90deg);
                    -ms-transform: rotate(-90deg);
                    -o-transform: rotate(-90deg);
                }
            }
            &:nth-last-child(2) {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -50px;
                width: 57px;
                height: 57px;
                background: linear-gradient(to right, #e43d78, #a447ff, #96e7ff);
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                display: none;
                align-items: center;
                justify-content: center;
                padding: 0;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                img {
                    width: 100%;
                    transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                }
                &.active {
                    left: -50px;
                }
            }
        }
        &.active {
            right: 0;
            button {
                &:nth-last-child(2) {
                    display: flex;
                    left: -30px;
                    width: 57px;
                    img {
                        transform: rotate(0deg);
                        -webkit-transform: rotate(0deg);
                        -moz-transform: rotate(0deg);
                        -ms-transform: rotate(0deg);
                        -o-transform: rotate(0deg);
                    }
                    &.active {
                        left: -50px;
                    }
                }
            }
        }
    }
    &-login {
        position: absolute;
        top: 0;
        display: flex;
        height: 48px;
        align-items: center;
        background-color: #d9bce7;
        padding-left: 24px;
        border-radius: 0 0 10px 10px;
        -webkit-border-radius: 0 0 10px 10px;
        -moz-border-radius: 0 0 10px 10px;
        -ms-border-radius: 0 0 10px 10px;
        -o-border-radius: 0 0 10px 10px;
        li {
            list-style: none;
            a {
                position: relative;
                text-decoration: none;
                font-family: 'UTMAvo';
                font-size: 18px;
                color: #fff;
                margin-right: 80px;
                cursor: pointer;
                &.active {
                    color: #320771;
                }
                &::after {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -40px;
                    content: "";
                    height: 80%;
                    width: 1px;
                    background-color: #fff;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                }
                &:hover {
                    color: #320771;
                }
            }
            &:last-child {
                a {
                    margin-right: 32px;
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}