/* tablet and mobile */

@media (max-width: 1023px) {
    .header {}
    .app {}
}

// pc high
@media (min-width: 2000px) {
    .header {}
    .app {}
}

// pc
@media (min-width: 1024px) {
    .header {}
    .app {}
}

// pc low
@media (min-width: 1024px) and (max-width: 1280px) {
    .container {
        max-width: 1000px;
    }
    .header {
        &-logo {
            width: 100%;
            margin-left: 0;
        }
        &-download {
            right: -274px;
            button {
                &:nth-last-child(2) {
                    display: block;
                }
            }
        }
    }
    .app {
        &-rules {
            &__code {
                width: 100%;
                li {
                    padding-top: 50px;
                    span {
                        font-size: 26px;
                        strong {
                            font-size: 48px;
                        }
                    }
                    button {
                        bottom: -10px;
                        font-size: 14px;
                    }
                }
            }
        }
        &-help {
            & .app-rules__detail {
                li {
                    &:nth-child(4) {
                        left: 70px;
                    }
                    &:nth-child(5) {
                        right: 70px;
                    }
                }
            }
        }
    }
    .popup {
        padding-top: 50px;
    }
}


/* tablet */

@media (min-width: 740px) and (max-width: 1023px) {
    .container {
        max-width: 700px;
    }
    .header {
        background-size: 100% 100%;
        &-logo {
            width: 100%;
            margin-left: 0;
        }
        &-login {
            height: 36px;
            li {
                a {
                    font-size: 12px;
                }
            }
        }
        &-download {
            right: -274px;
            button {
                &:nth-last-child(2) {
                    display: block;
                }
            }
        }
    }
    .app {
        background-size: 100% 100%;
        &-introduce {
            &__gift {
                width: 100%;
            }
        }
        &-rules {
            &__detail {
                li {
                    font-size: 12px;
                }
            }
            &__code {
                width: 100%;
                flex-wrap: wrap;
                li {
                    width: 50%;
                    margin-right: 0;
                }
            }
        }
        &-help {
            & .app-rules__detail {
                li {
                    font-size: 18px;
                    button {
                        img {
                            &:nth-child(2) {
                                margin: 0px 30px;
                            }
                        }
                    }
                    &:nth-child(4),
                    &:nth-child(5) {
                        display: none;
                    }
                }
            }
        }
    }
}


/* mobile */

@media (max-width: 739px) {
    .bg-all {
        object-position: center -40px;
    }
    .container {
        max-width: 360px;
    }
    .header {
        position: relative;
        padding-top: 55px;
        &-logo {
            width: 100%;
            margin-left: 0;
        }
        &-login {
            position: absolute;
            top: 0;
            left: 0;
            height: 45px;
            width: 100%;
            padding-left: 0;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
            justify-content: center;
            li {
                a {
                    font-size: 18px;
                }
                &:last-child {
                    a {
                        margin-right: 0;
                    }
                }
            }
        }
        &-download {
            display: none;
        }
    }
    .app {
        padding-top: 45px;
        padding-bottom: 18px;
        background-size: unset;
        &-introduce {
            &>span {
                span {
                    font-size: 18px;
                    width: 245px;
                    text-align: center;
                    margin-bottom: 36px;
                    display: block;
                    padding: 0;
                    &:nth-child(1) {
                        margin-bottom: 0;
                    }
                }
            }
            &__gift {
                width: 100%;
                flex-wrap: wrap;
                justify-content: center;
                button {
                    margin-bottom: 17px;
                    width: 189px;
                    height: 215px;
                    img {
                        width: 142px;
                        height: 140px;
                    }
                    &:nth-child(1) {
                        img {
                            margin-top: 60px;
                        }
                    }
                    &:nth-child(2) {
                        img {
                            width: 146px;
                            height: 87px;
                            margin-top: 91px;
                        }
                    }
                    &:nth-child(3) {
                        img {
                            width: 154px;
                            height: 102px;
                            margin-top: 67px;
                        }
                    }
                }
            }
            &__btn {
                width: 155px;
                height: 42px;
                font-size: 19px;
                margin-bottom: 33px;
            }
            &__directional {
                & .app-introduce__btn {
                    width: 150px;
                    height: 41px;
                    font-size: 17px;
                }
            }
        }
        &-rules {
            &__detail {
                width: 272px;
                padding: 63px 23px 57px 24px;
                margin-bottom: 52px;
                li {
                    line-height: 1.2;
                    margin-bottom: 20px;
                    font-size: 16px;
                    &:nth-child(1) {
                        width: 142px;
                        height: 46px;
                        font-size: 16px;
                    }
                    &::after {
                        display: none;
                    }
                }
            }
            &__code {
                width: 100%;
                flex-wrap: wrap;
                justify-content: center;
                li {
                    width: 150px;
                    height: 114px;
                    padding-top: 30px;
                    margin-bottom: 10px;
                    &:nth-child(2) {
                        margin-right: 0;
                    }
                    span {
                        font-size: 17px;
                        strong {
                            font-size: 27.4px;
                            margin-top: 10px;
                        }
                    }
                    button {
                        font-size: 8px;
                        width: 73px;
                        height: 23px;
                        bottom: 0px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        line-height: 1;
                        word-wrap: normal;
                        word-break: normalœ;
                    }
                }
                &1 {
                    margin-bottom: 52px;
                }
                &3 {
                    margin-bottom: 71px;
                }
            }
            &>button {
                width: 199px;
                height: 70px;
                font-size: 18px
            }
        }
        &-help {
            width: 100%;
            display: flex;
            justify-content: center;
            & .app-rules__detail {
                width: 280px;
                padding: 51px 41px 80px 40px;
                li {
                    font-size: 16px;
                    text-align: center;
                    &:nth-child(3) {
                        flex-direction: column;
                        &>img {
                            &:nth-child(1) {
                                display: none;
                            }
                        }
                        & .slide {
                            width: 100%;
                            img {
                                width: 100%;
                            }
                        }
                    }
                    &:nth-child(2) {
                        margin-bottom: 20px;
                    }
                    &:nth-child(4),
                    &:nth-child(5) {
                        display: none;
                    }
                }
            }
            &>button {
                display: flex;
            }
        }
    }
    .popup {
        padding-top: 60px;
        & .app-rules__detail {
            width: 350px;
            padding: 63px 23px 57px 24px;
            li {
                margin-bottom: 20px;
                font-size: 16px;
                &::after {
                    display: none;
                }
            }
            & .popup-close {
                top: -8px;
                right: -8px;
            }
        }
    }
    .footer {
        height: unset;
        & .container {
            flex-direction: column;
        }
        &-info {
            width: 100%;
        }
        &-address {
            width: 100%;
        }
        &-logo {
            width: 100%;
        }
    }
}