/* tablet and mobile */

@media (max-width: 1023px) {
    .header {}
    .app {}
}

// pc high
@media (min-width: 2000px) {
    .header {}
    .app {}
}

// pc
@media (min-width: 1024px) {
    .header {}
    .app {}
}

// pc low
@media (min-width: 1024px) and (max-width: 1280px) {
    .container {
        max-width: 1000px;
    }
    .header {
        &-logo {
            width: 20%;
            top: 40px;
        }
        &-welcome {
            width: 70%;
            left: 110px;
        }
        & .container {
            height: 492px;
        }
    }
    .app {
        &>img {
            &:nth-child(1) {
                width: 25%;
            }
            &:nth-child(2) {
                width: 20%;
                top: 370px;
            }
        }
        &-row {
            width: 50%;
        }
        &-bqmn {
            background-size: cover;
            height: 350px;
            & .app-heading {
                font-size: 30px;
                padding-top: 35px;
                padding-left: 200px;
                span {
                    width: 100%;
                    font-size: 8px;
                    margin-top: 12px;
                }
            }
            &__container {
                ul {
                    &:nth-child(1) {
                        height: 400px;
                        margin-left: 218px;
                        margin-top: -60px;
                        li {
                            width: 90px;
                            margin-bottom: 0;
                            padding-left: 20px;
                            font-size: 10px;
                            height: 33px;
                            margin-bottom: 12px;
                            margin-left: -4px;
                        }
                    }
                    &:nth-child(2) {
                        margin-top: 50px;
                        margin-left: 100px;
                        li {
                            width: 100px;
                            height: 180px;
                            margin-right: 12px;
                            &.active {
                                img {
                                    width: 110px;
                                    height: 220px;
                                    left: -7px;
                                    top: -22px;
                                }
                                span {
                                    &:nth-child(2) {
                                        img {
                                            object-fit: contain;
                                            width: 20%;
                                        }
                                    }
                                    &:nth-child(3) {
                                        margin-top: 2px;
                                        width: 95px;
                                        font-size: 10px;
                                        height: 62px;
                                    }
                                    &:nth-child(4) {
                                        margin-top: 2px;
                                        button,
                                        span {
                                            margin-right: 0;
                                            width: 44px;
                                            height: 16px;
                                            font-size: 8px;
                                            margin-bottom: 2px;
                                        }
                                        span {
                                            margin-right: 2px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &__btn {
                left: 400px;
                bottom: -70px;
                button {
                    padding: 0;
                    width: 200px;
                    height: 42px;
                    font-size: 16px;
                    &:nth-child(1) {
                        margin-right: 12px;
                    }
                }
            }
        }
        &-dknq {
            &>img {
                width: 25%;
            }
            & .app-heading {
                font-size: 42px;
                top: 80px;
                left: 200px;
                strong {
                    font-size: 50px;
                }
            }
            &__container {
                &>img {
                    margin-top: 11px;
                    margin-left: 140px;
                    width: 60%;
                }
                ul {
                    li {
                        width: 100px;
                        height: 100px;
                        img {
                            width: 50%;
                        }
                        span {
                            font-size: 16px;
                            right: -180px;
                            strong {
                                margin-top: 4px;
                                font-size: 18px;
                            }
                        }
                        &:nth-child(1) {
                            left: 540px;
                            top: -30px;
                        }
                        &:nth-child(2) {
                            left: 650px;
                            top: 75px;
                        }
                        &:nth-child(3) {
                            left: 690px;
                            top: 200px;
                        }
                        &:nth-child(4) {
                            left: 670px;
                            top: 320px;
                        }
                        &:nth-child(5) {
                            left: 590px;
                            top: 420px;
                        }
                    }
                }
            }
            &__regiter {
                top: 250px;
                left: 155px;
                width: 200px;
                height: 90px;
                span {
                    width: 180px;
                    height: 80px;
                    font-size: 16px;
                    strong {
                        font-size: 26px;
                    }
                }
                button {
                    width: 200px;
                }
            }
            &__giftcode {
                width: 180px;
                left: 380px;
                bottom: -20px;
                span {
                    &:nth-child(2) {
                        width: 176px;
                    }
                }
            }
        }
        &-tm {
            height: 514px;
            & .app-heading {
                font-size: 31px;
                margin-top: 8px;
                margin-bottom: 24px;
            }
            & .app-row {
                width: 40%;
                height: 45px;
            }
            &__container {
                &-help {
                    margin-right: 12px;
                    width: 25%;
                    img {
                        width: 100%;
                    }
                    button {
                        width: 160px;
                        height: 40px;
                        font-size: 16px;
                    }
                }
                &-create {
                    margin-top: 12px;
                    margin-left: 0;
                    input {
                        width: 200px;
                        height: 24px;
                        font-size: 14px;
                    }
                    span {
                        font-size: 12px;
                    }
                    button {
                        width: 200px;
                        height: 40px;
                        font-size: 16px;
                        margin-top: 50px;
                    }
                }
            }
        }
        &-ct {
            & .app-heading {
                font-size: 51px;
            }
            &__container {
                height: unset;
                padding-bottom: 24px;
                width: 60%;
                img {
                    width: 95%;
                }
                p {
                    width: 95%;
                    font-size: 12px;
                }
            }
        }
    }
}


/* tablet */

@media (min-width: 740px) and (max-width: 1023px) {
    .container {
        max-width: 700px;
    }
    .header {
        &-logo {
            width: 20%;
            top: 40px;
        }
        &-welcome {
            width: 70%;
            left: 80px;
        }
        & .container {
            height: 370px;
        }
    }
    .app {
        &>img {
            &:nth-child(1) {
                width: 25%;
            }
            &:nth-child(2) {
                width: 20%;
                top: 290px;
            }
        }
        &-row {
            width: 50%;
        }
        &-bqmn {
            background-size: cover;
            height: 300px;
            & .app-heading {
                font-size: 26px;
                padding-top: 35px;
                padding-left: 140px;
                span {
                    width: 100%;
                    font-size: 8px;
                    margin-top: 12px;
                }
            }
            &__container {
                ul {
                    &:nth-child(1) {
                        height: 370px;
                        margin-left: 137px;
                        margin-top: -100px;
                        li {
                            width: 90px;
                            margin-bottom: 0;
                            padding-left: 20px;
                            font-size: 10px;
                            height: 33px;
                            margin-bottom: 12px;
                            margin-left: -4px;
                        }
                    }
                    &:nth-child(2) {
                        margin-top: 30px;
                        margin-left: 90px;
                        li {
                            width: 90px;
                            height: 140px;
                            margin-right: 0px;
                            &.active {
                                padding-top: 2px;
                                img {
                                    width: 100px;
                                    height: 180px;
                                    left: -7px;
                                    top: -22px;
                                }
                                span {
                                    &:nth-child(2) {
                                        background-size: 100% 100%;
                                        width: 81px;
                                        height: 81px;
                                        img {
                                            object-fit: contain;
                                            width: 30%;
                                        }
                                    }
                                    &:nth-child(3) {
                                        margin-top: 2px;
                                        width: 90px;
                                        font-size: 7px;
                                        height: 31px;
                                    }
                                    &:nth-child(4) {
                                        margin-top: 2px;
                                        button,
                                        span {
                                            margin-right: 0;
                                            width: 40px;
                                            height: 16px;
                                            font-size: 6px;
                                            margin-bottom: 2px;
                                        }
                                        span {
                                            margin-right: 2px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &__btn {
                left: 300px;
                bottom: -50px;
                button {
                    padding: 0;
                    width: 180px;
                    height: 42px;
                    font-size: 16px;
                    &:nth-child(1) {
                        margin-right: 12px;
                    }
                }
            }
        }
        &-dknq {
            margin-top: 75px;
            &>img {
                width: 25%;
            }
            & .app-heading {
                font-size: 31px;
                top: 80px;
                left: 200px;
                strong {
                    font-size: 41px;
                }
            }
            &__container {
                &>img {
                    margin-top: 11px;
                    margin-left: 140px;
                    width: 60%;
                }
                ul {
                    li {
                        width: 60px;
                        height: 60px;
                        img {
                            width: 50%;
                        }
                        span {
                            font-size: 12px;
                            right: -140px;
                            strong {
                                margin-top: 4px;
                                font-size: 14px;
                            }
                        }
                        &:nth-child(1) {
                            left: 374px;
                            top: -30px;
                        }
                        &:nth-child(2) {
                            left: 480px;
                            top: 30px;
                        }
                        &:nth-child(3) {
                            left: 525px;
                            top: 105px;
                        }
                        &:nth-child(4) {
                            left: 520px;
                            top: 195px;
                        }
                        &:nth-child(5) {
                            left: 470px;
                            top: 295px;
                        }
                    }
                }
            }
            &__regiter {
                top: 180px;
                left: 140px;
                width: 180px;
                height: 70px;
                span {
                    width: 160px;
                    height: 60px;
                    font-size: 14px;
                    strong {
                        font-size: 24px;
                    }
                }
                button {
                    width: 160px;
                }
            }
            &__giftcode {
                width: 160px;
                left: 330px;
                bottom: -30px;
                span {
                    &:nth-child(2) {
                        width: 156px;
                    }
                }
            }
        }
        &-tm {
            height: 514px;
            & .app-heading {
                font-size: 31px;
                margin-top: 8px;
                margin-bottom: 24px;
            }
            & .app-row {
                width: 40%;
                height: 45px;
            }
            &__container {
                &-help {
                    margin-right: 12px;
                    width: 25%;
                    img {
                        width: 100%;
                    }
                    button {
                        width: 160px;
                        height: 40px;
                        font-size: 16px;
                    }
                }
                &-create {
                    margin-top: 12px;
                    margin-left: 0;
                    input {
                        width: 200px;
                        height: 18px;
                        font-size: 10px;
                        margin-bottom: 4px;
                    }
                    span {
                        font-size: 12px;
                    }
                    button {
                        width: 160px;
                        height: 32px;
                        font-size: 16px;
                        margin-top: 30px;
                    }
                }
            }
        }
        &-ct {
            height: 660px;
            & .app-heading {
                font-size: 51px;
            }
            &__container {
                height: unset;
                padding-bottom: 24px;
                width: 60%;
                img {
                    width: 95%;
                }
                p {
                    font-size: 10px;
                    width: 95%;
                }
            }
            &__btn {
                button {
                    width: 30px;
                    height: 35px;
                    img {
                        width: 25px;
                        height: 30px;
                    }
                }
            }
        }
    }
}


/* mobile */

@media (max-width: 739px) {
    .container {
        max-width: 355px;
    }
    .header {
        &-logo {
            width: 20%;
            top: 20px;
        }
        &-welcome {
            width: 70%;
            left: 30px;
        }
        & .container {
            height: 180px;
        }
    }
    .app {
        &>img {
            &:nth-child(1) {
                width: 25%;
            }
            &:nth-child(2) {
                width: 20%;
                top: 160px;
            }
        }
        &-row {
            width: 50%;
        }
        &-bqmn {
            background-size: cover;
            height: 150px;
            & .app-heading {
                font-size: 13px;
                padding-top: 15px;
                padding-left: 60px;
                span {
                    width: 80%;
                    font-size: 8px;
                    margin-top: 8px;
                    line-height: 1.2;
                }
            }
            &__container {
                ul {
                    &:nth-child(1) {
                        height: 370px;
                        margin-left: 70px;
                        margin-top: -100px;
                        li {
                            width: 90px;
                            margin-bottom: 0;
                            padding-left: 20px;
                            font-size: 10px;
                            height: 33px;
                            margin-bottom: 12px;
                            margin-left: -4px;
                        }
                    }
                    &:nth-child(2) {
                        margin-top: 0;
                        margin-left: 90px;
                        overflow-x: scroll;
                        height: 200px;
                        align-items: center;
                        &::-webkit-scrollbar {
                            display: none;
                        }
                        li {
                            min-width: 100px;
                            height: 170px;
                            margin-right: 12px;
                            &.active {
                                padding-top: 2px;
                                img {
                                    width: 110px;
                                    height: 200px;
                                    left: -7px;
                                    top: -17px;
                                }
                                span {
                                    &:nth-child(2) {
                                        background-size: 100% 100%;
                                        width: 90px;
                                        height: 110px;
                                        img {
                                            object-fit: contain;
                                            width: 30%;
                                        }
                                    }
                                    &:nth-child(3) {
                                        margin-top: 2px;
                                        width: 90px;
                                        font-size: 7px;
                                        height: 38px;
                                    }
                                    &:nth-child(4) {
                                        margin-top: 2px;
                                        button,
                                        span {
                                            margin-right: 0;
                                            width: 44px;
                                            height: 16px;
                                            font-size: 6px;
                                            margin-bottom: 2px;
                                        }
                                        span {
                                            margin-right: 2px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &__btn {
                left: 130px;
                bottom: -165px;
                button {
                    padding: 0;
                    width: 120px;
                    height: 24px;
                    font-size: 12px;
                    &:nth-child(1) {
                        margin-right: 12px;
                    }
                }
            }
        }
        &-dknq {
            margin-top: 180px;
            &>img {
                width: 25%;
            }
            & .app-heading {
                font-size: 18px;
                top: 60px;
                left: 50px;
                strong {
                    font-size: 24px;
                }
            }
            &__container {
                &>img {
                    margin-top: -20px;
                    margin-left: 0;
                    width: 70%;
                }
                ul {
                    li {
                        width: 40px;
                        height: 40px;
                        img {
                            width: 50%;
                        }
                        span {
                            font-size: 8px;
                            right: -90px;
                            strong {
                                margin-top: 4px;
                                font-size: 10px;
                            }
                        }
                        &:nth-child(1) {
                            left: 148px;
                            top: -45px;
                        }
                        &:nth-child(2) {
                            left: 210px;
                            top: 0;
                        }
                        &:nth-child(3) {
                            left: 230px;
                            top: 50px;
                        }
                        &:nth-child(4) {
                            left: 220px;
                            top: 100px;
                        }
                        &:nth-child(5) {
                            left: 190px;
                            top: 150px;
                        }
                    }
                }
            }
            &__regiter {
                top: 120px;
                left: 0px;
                width: 100px;
                height: 40px;
                span {
                    width: 90px;
                    height: 30px;
                    font-size: 8px;
                    padding-left: 8px;
                    strong {
                        font-size: 14px;
                    }
                }
                button {
                    width: 90px;
                    bottom: -44px;
                    font-size: 10px;
                }
            }
            &__giftcode {
                width: 100px;
                left: 100px;
                bottom: -20px;
                height: 40px;
                span {
                    font-size: 10px;
                    &:nth-child(2) {
                        width: 94px;
                        height: 20px;
                    }
                }
            }
        }
        &-tm {
            height: unset;
            & .app-heading {
                font-size: 31px;
                margin-top: 8px;
                margin-bottom: 24px;
            }
            & .app-row {
                width: 40%;
                height: 45px;
            }
            &__container {
                flex-direction: column;
                &-help {
                    margin-right: 0;
                    width: 100%;
                    img {
                        width: 100%;
                    }
                    button {
                        width: 160px;
                        height: 40px;
                        font-size: 16px;
                    }
                }
                &-create {
                    width: 100%;
                    margin-top: 12px;
                    margin-left: 0;
                    align-items: center;
                    input {
                        width: 200px;
                        height: 18px;
                        font-size: 10px;
                        margin-bottom: 4px;
                    }
                    span {
                        font-size: 12px;
                    }
                    button {
                        width: 160px;
                        height: 32px;
                        font-size: 16px;
                        margin-top: 30px;
                    }
                }
            }
        }
        &-ct {
            padding-top: 30px;
            height: 600px;
            & .app-heading {
                font-size: 31px;
            }
            &__container {
                width: 100%;
                height: unset;
                padding-bottom: 24px;
                img {
                    width: 95%;
                }
                p {
                    font-size: 10px;
                    width: 95%;
                }
            }
            &__btn {
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    width: 30px;
                    height: 35px;
                    &:nth-child(1) {}
                }
            }
        }
    }
}