
head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../css/style.css")
    title Document
body
    .popup
        .popup-container
            .popup-header
                .popup-header__btn
                    a(href="")
                    a(href="")
                        img(src="../assets/images/logo1.svg" alt="")
                    a(href="")
                        img(src="../assets/images/p8.png" alt="")
            .popup-body
                .popup-body__ul
                .popup-body__ul-li8.popupdk-body__ul-li8
                    p Tin nhắn khôi phục tài khoản đã được<br> gửi tới e-mail
                        a.popup-body__ul2-li8__space hoannn@gmail.com.
                    p Vui lòng truy cập mail để khôi phục mật khẩu.
                            
script(src="../js/swiper.js")
script(src="../js/bootstrap.min.js")
script(src="../js/index.js")