head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css")
  link(rel="stylesheet" href="../css/style.css")
  title Document
body
  header.header
    .container
      .header-nav
        a(href="#").header-nav__logo
          img(src="../assets/images/logo1.svg" alt="")
        ul.header-nav__menu
          li 
            a(href="") Trang chủ
          li
            a(href="") Bạn cần trợ giúp? 
        a.header-nav__login Đăng nhập
        
        ul.header-nav__menumb.hidepc.nav.nav-tabs
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(data-bs-toggle="dropdown" href="#")
            ul.dropdown-menu
              li
                a.dropdown-item(href="#") Trang chủ
              li
                a.dropdown-item(href="#") Trợ giúp
  .app
    .app-nap
      .container
        h1.app-title.app-title1 Nạp game
        .swiper.mySwiper
          .swiper-wrapper.mySwiper-wrapper
            .swiper-slide.mySwiper-slide
              a(href="javascript:;") 
                img(src="../assets/images/item13.png" alt="")
                span Nạp Vcoin
            .swiper-slide.mySwiper-slide
              a(href="javascript:;") 
                img(src="../assets/images/item14.png" alt="")             
                span LAPLACE M
            .swiper-slide.mySwiper-slide
              a(href="javascript:;") 
                img(src="../assets/images/item15.png" alt="") 
                span WAR AND ORDER
            .swiper-slide.mySwiper-slide
              a(href="javascript:;") 
                img(src="../assets/images/item16.png" alt="")
                span AUBEAT
            .swiper-slide.mySwiper-slide
              a(href="javascript:;") 
                img(src="../assets/images/item17.png" alt="") 
                span NORTH TOWER
            .swiper-slide.mySwiper-slide
              a(href="javascript:;")
                img(src="../assets/images/item18.png" alt="")
                span UFC
            .swiper-slide.mySwiper-slide
              a(href="javascript:;")
                img(src="../assets/images/item19.png" alt="")             
                span GAME BAN SUNG
            .swiper-slide.mySwiper-slide
              a(href="javascript:;")
                img(src="../assets/images/item20.png" alt="") 
                span Au2
            .swiper-slide.mySwiper-slide
              a(href="javascript:;") 
                img(src="../assets/images/item13.png" alt="")
                span Nạp Vcoin
            .swiper-slide.mySwiper-slide
              a(href="javascript:;") 
                img(src="../assets/images/item14.png" alt="")             
                span LAPLACE M
            .swiper-slide.mySwiper-slide
              a(href="javascript:;") 
                img(src="../assets/images/item15.png" alt="") 
                span WAR AND ORDER
            .swiper-slide.mySwiper-slide
              a(href="javascript:;") 
                img(src="../assets/images/item16.png" alt="")
                span AUBEAT
            .swiper-slide.mySwiper-slide
              a(href="javascript:;") 
                img(src="../assets/images/item17.png" alt="") 
                span NORTH TOWER
            .swiper-slide.mySwiper-slide
              a(href="javascript:;")
                img(src="../assets/images/item18.png" alt="")
                span UFC
            .swiper-slide.mySwiper-slide
              a(href="javascript:;")
                img(src="../assets/images/item19.png" alt="")             
                span GAME BAN SUNG
            .swiper-slide.mySwiper-slide
              a(href="javascript:;")
                img(src="../assets/images/item20.png" alt="") 
                span Au2
            .swiper-slide.mySwiper-slide
              a(href="javascript:;")
                img(src="../assets/images/item4.png" alt="") 
                span Nạp Vcoin
          .swiper-pagination.mySwiper-pagination
        .swiper-button-prev.mySwiper-button__prev
        .swiper-button-next.mySwiper-button__next
        .swiper-scrollbar.mySwiper-scrollbar
        a(href="").app-nap__help Bấm vào đây để được trợ giúp
    .app-vct
      .container
        h1.app-title Về chúng tôi
        p.app-vct__des.app-vct__des2 VTC Game, 1 thành viên của VTC Intecom, là nhà phát hành game duy nhất trực thuộc Chính phủ và luôn nằm trong top 3 tại Việt Nam từ 2006.<br> Với kinh nghiệm phong phú, lâu năm làm việc với các đối tác lớn trong và ngoài nước, chúng tôi sẽ đưa sản phẩm của bạn đạt tới tiềm năng tối đa tại thị trường 100 triệu dân này.
        p.app-vct__des1.app-vct__des Các mô hình hợp tác
        ul.app-vct__ul
          li.app-vct__ul-li1.app-vct__ul-li Phát hành<br> độc quyền
          li.app-vct__ul-li2.app-vct__ul-li hợp tác<br> phát hành
        p.app-vct__des.app-vct__des3 Bao gồm nhưng không giới hạn trong những công việc sau:
        .swiper.mySwiper2(thumbsSlider="")
          .swiper-wrapper
            .swiper-slide.mySwiper2-slide
              .mySwiper2-slide__item
                .mySwiper2-slide__item-img
                  img(src="../assets/images/i1.png" alt="")
                p Hỗ trợ đảm bảo pháp lý chặt chẽ (Giấy phép phát hành và các công việc liên quan)
            .swiper-slide.mySwiper2-slide
              .mySwiper2-slide__item
                .mySwiper2-slide__item-img
                  img(src="../assets/images/i2.png" alt="")
                p Tích hợp hệ thống thanh toán bản địa thuận tiện, minh bạch
            .swiper-slide.mySwiper2-slide
              .mySwiper2-slide__item
                .mySwiper2-slide__item-img
                  img(src="../assets/images/i3.png" alt="")
                p Cung cấp hạ tầng kỹ thuật mạnh mẽ, ổn định
            .swiper-slide.mySwiper2-slide
              .mySwiper2-slide__item
                .mySwiper2-slide__item-img
                  img(src="../assets/images/i4.png" alt="")
                p Bản địa hoá phù hợp tối đa với văn hoá, sở thích thị trường.
            .swiper-slide.mySwiper2-slide
              .mySwiper2-slide__item
                .mySwiper2-slide__item-img
                  img(src="../assets/images/it1.png" alt="")
                p Vận hành sản phẩm hiệu quả và linh hoạt
            .swiper-slide.mySwiper2-slide
              .mySwiper2-slide__item
                .mySwiper2-slide__item-img
                  img(src="../assets/images/it2.png" alt="")
                p Marketing sáng tạo và phù hợp với tập khách hàng mục tiêu
            .swiper-slide.mySwiper2-slide
              .mySwiper2-slide__item
                .mySwiper2-slide__item-img
                  img(src="../assets/images/it3.png" alt="")
                p Xây dựng cộng đồng sôi động và bền vững
            .swiper-slide.mySwiper2-slide
              .mySwiper2-slide__item
                .mySwiper2-slide__item-img
                  img(src="../assets/images/i4.png" alt="")
                p Chăm sóc khách hàng chu đáo, tận tâm
          
          .swiper-pagination.mySwiper2-pagination
          .swiper-scrollbar.mySwiper2-scrollbar
        .swiper-button-prev.mySwiper2-button__prev
        .swiper-button-next.mySwiper2-button__next
    .app-game1
        h1.app-title game đang phát hành
        .swiper.mySwiper3
          .swiper-wrapper
            .swiper-slide.mySwiper3-slide
              .mySwiper3-slide__left
                h2 Truy Kích PC 
                span Thể loại Client Game
                p Truy Kích PC Battle Teams 2 là game PC bắn súng góc nhìn thứ nhất với nền đồ họa tân tiến,...Truy Kích PC trong lần trở lại với nền độ họa tân tiến mang đến cảm giác chân thực đến mức khó tả đối với game thủ, từng chi tiết trên bản đồ được hoàn thiện chỉn chu, một chiến trường khốc liệt đúng nghĩa cho tất cả người chơi, vũ khí cũng đã được chỉnh sửa đẹp mắt và âm thanh hoành tráng giữa cuộc chiến.
                a(href="") Chơi ngay &#8594;
              .mySwiper3-slide__right
                img(src="../assets/images/item0.png" alt="")
            .swiper-slide.mySwiper3-slide 
              .mySwiper3-slide__left
                h2 Truy Kích PC 
                span Thể loại Client Game
                p Truy Kích PC Battle Teams 2 là game PC bắn súng góc nhìn thứ nhất với nền đồ họa tân tiến,...Truy Kích PC trong lần trở lại với nền độ họa tân tiến mang đến cảm giác chân thực đến mức khó tả đối với game thủ, từng chi tiết trên bản đồ được hoàn thiện chỉn chu, một chiến trường khốc liệt đúng nghĩa cho tất cả người chơi, vũ khí cũng đã được chỉnh sửa đẹp mắt và âm thanh hoành tráng giữa cuộc chiến.
                a(href="") Chơi ngay &#8594;
              .mySwiper3-slide__right
                img(src="../assets/images/item0.png" alt="")
            .swiper-slide.mySwiper3-slide 
              .mySwiper3-slide__left
                h2 Truy Kích PC 
                span Thể loại Client Game
                p Truy Kích PC Battle Teams 2 là game PC bắn súng góc nhìn thứ nhất với nền đồ họa tân tiến,...Truy Kích PC trong lần trở lại với nền độ họa tân tiến mang đến cảm giác chân thực đến mức khó tả đối với game thủ, từng chi tiết trên bản đồ được hoàn thiện chỉn chu, một chiến trường khốc liệt đúng nghĩa cho tất cả người chơi, vũ khí cũng đã được chỉnh sửa đẹp mắt và âm thanh hoành tráng giữa cuộc chiến.
                a(href="") Chơi ngay &#8594;
              .mySwiper3-slide__right
                img(src="../assets/images/item0.png" alt="")
          
          .swiper-pagination.mySwiper3-pagination
          .swiper-scrollbar.mySwiper3-scrollbar
    .app-game2
        h1.app-title game đã triển khai
        .swiper.mySwiper4
          .swiper-wrapper.mySwiper4-wrapper
            .swiper-slide.mySwiper4-slide
                a.mySwiper4-slide__img
                  img(src="../assets/images/item4.png" alt="")
            .swiper-slide.mySwiper4-slide
                a.mySwiper4-slide__img
                  img(src="../assets/images/item4.png" alt="")
            .swiper-slide.mySwiper4-slide
                a.mySwiper4-slide__img
                  img(src="../assets/images/item4.png" alt="")
            .swiper-slide.mySwiper4-slide
                a.mySwiper4-slide__img
                  img(src="../assets/images/item4.png" alt="")
            .swiper-slide.mySwiper4-slide
                a.mySwiper4-slide__img
                  img(src="../assets/images/item4.png" alt="")
            .swiper-slide.mySwiper4-slide
                a.mySwiper4-slide__img
                  img(src="../assets/images/item4.png" alt="")
            .swiper-slide.mySwiper4-slide
                a.mySwiper4-slide__img
                  img(src="../assets/images/item4.png" alt="")
            .swiper-slide.mySwiper4-slide
                a.mySwiper4-slide__img
                  img(src="../assets/images/item4.png" alt="")
            .swiper-slide.mySwiper4-slide
                a.mySwiper4-slide__img
                  img(src="../assets/images/item4.png" alt="")
            .swiper-slide.mySwiper4-slide
                a.mySwiper4-slide__img
                  img(src="../assets/images/item4.png" alt="")
            .swiper-slide.mySwiper4-slide
                a.mySwiper4-slide__img
                  img(src="../assets/images/item4.png" alt="")
            .swiper-slide.mySwiper4-slide
                a.mySwiper4-slide__img
                  img(src="../assets/images/item4.png" alt="")
          .swiper-button-prev.mySwiper4-button__prev
          .swiper-button-next.mySwiper4-button__next
          .swiper-pagination.mySwiper4-pagination

        .swiper.mySwiper5
          .swiper-wrapper.mySwiper5-wrapper
            .swiper-slide.mySwiper5-slide
              ul.mySwiper5-slide__des
                li.mySwiper5-slide__des1
                  h2 UFC - Siêu Sao Bóng Đá1
                  span MobileGame
                  p Nhà sản xuất :Ultimate Football Club
                  p Năm phát hành: 2021 
                  p Hình thức hợp tác: Hợp tác phát hành
                li.mySwiper5-slide__des2 Giới thiệu:
                  p UFC - Siêu Sao Bóng Đá là tựa game quản lý bóng đá mới nhất trên thị trường game Việt,Với đồ họa 3D ấn tượng cùng lối chơi chân thực nhất, UFC được kỳ vọng là tựa game quản lý bóng đá đẳng cấp nhật thị trường Việt trong thời gian tới.
            .swiper-slide.mySwiper5-slide
              ul.mySwiper5-slide__des
                li.mySwiper5-slide__des1
                  h2 UFC - Siêu Sao Bóng Đá2
                  span MobileGame
                  p Nhà sản xuất :Ultimate Football Club
                  p Năm phát hành: 2021 
                  p Hình thức hợp tác: Hợp tác phát hành
                li.mySwiper5-slide__des2 Giới thiệu:
                  p UFC - Siêu Sao Bóng Đá là tựa game quản lý bóng đá mới nhất trên thị trường game Việt,Với đồ họa 3D ấn tượng cùng lối chơi chân thực nhất, UFC được kỳ vọng là tựa game quản lý bóng đá đẳng cấp nhật thị trường Việt trong thời gian tới.
            .swiper-slide.mySwiper5-slide
              ul.mySwiper5-slide__des
                li.mySwiper5-slide__des1
                  h2 UFC - Siêu Sao Bóng Đá3
                  span MobileGame
                  p Nhà sản xuất :Ultimate Football Club
                  p Năm phát hành: 2021 
                  p Hình thức hợp tác: Hợp tác phát hành
                li.mySwiper5-slide__des2 Giới thiệu:
                  p UFC - Siêu Sao Bóng Đá là tựa game quản lý bóng đá mới nhất trên thị trường game Việt,Với đồ họa 3D ấn tượng cùng lối chơi chân thực nhất, UFC được kỳ vọng là tựa game quản lý bóng đá đẳng cấp nhật thị trường Việt trong thời gian tới.
            .swiper-slide.mySwiper5-slide
              ul.mySwiper5-slide__des
                li.mySwiper5-slide__des1
                  h2 UFC - Siêu Sao Bóng Đá4
                  span MobileGame
                  p Nhà sản xuất :Ultimate Football Club
                  p Năm phát hành: 2021 
                  p Hình thức hợp tác: Hợp tác phát hành
                li.mySwiper5-slide__des2 Giới thiệu:
                  p UFC - Siêu Sao Bóng Đá là tựa game quản lý bóng đá mới nhất trên thị trường game Việt,Với đồ họa 3D ấn tượng cùng lối chơi chân thực nhất, UFC được kỳ vọng là tựa game quản lý bóng đá đẳng cấp nhật thị trường Việt trong thời gian tới.
            .swiper-slide.mySwiper5-slide
              ul.mySwiper5-slide__des
                li.mySwiper5-slide__des1
                  h2 UFC - Siêu Sao Bóng Đá1
                  span MobileGame
                  p Nhà sản xuất :Ultimate Football Club
                  p Năm phát hành: 2021 
                  p Hình thức hợp tác: Hợp tác phát hành
                li.mySwiper5-slide__des2 Giới thiệu:
                  p UFC - Siêu Sao Bóng Đá là tựa game quản lý bóng đá mới nhất trên thị trường game Việt,Với đồ họa 3D ấn tượng cùng lối chơi chân thực nhất, UFC được kỳ vọng là tựa game quản lý bóng đá đẳng cấp nhật thị trường Việt trong thời gian tới.
            .swiper-slide.mySwiper5-slide
              ul.mySwiper5-slide__des
                li.mySwiper5-slide__des1
                  h2 UFC - Siêu Sao Bóng Đá2
                  span MobileGame
                  p Nhà sản xuất :Ultimate Football Club
                  p Năm phát hành: 2021 
                  p Hình thức hợp tác: Hợp tác phát hành
                li.mySwiper5-slide__des2 Giới thiệu:
                  p UFC - Siêu Sao Bóng Đá là tựa game quản lý bóng đá mới nhất trên thị trường game Việt,Với đồ họa 3D ấn tượng cùng lối chơi chân thực nhất, UFC được kỳ vọng là tựa game quản lý bóng đá đẳng cấp nhật thị trường Việt trong thời gian tới.
            .swiper-slide.mySwiper5-slide
              ul.mySwiper5-slide__des
                li.mySwiper5-slide__des1
                  h2 UFC - Siêu Sao Bóng Đá3
                  span MobileGame
                  p Nhà sản xuất :Ultimate Football Club
                  p Năm phát hành: 2021 
                  p Hình thức hợp tác: Hợp tác phát hành
                li.mySwiper5-slide__des2 Giới thiệu:
                  p UFC - Siêu Sao Bóng Đá là tựa game quản lý bóng đá mới nhất trên thị trường game Việt,Với đồ họa 3D ấn tượng cùng lối chơi chân thực nhất, UFC được kỳ vọng là tựa game quản lý bóng đá đẳng cấp nhật thị trường Việt trong thời gian tới.
            .swiper-slide.mySwiper5-slide
              ul.mySwiper5-slide__des
                li.mySwiper5-slide__des1
                  h2 UFC - Siêu Sao Bóng Đá4
                  span MobileGame
                  p Nhà sản xuất :Ultimate Football Club
                  p Năm phát hành: 2021 
                  p Hình thức hợp tác: Hợp tác phát hành
                li.mySwiper5-slide__des2 Giới thiệu:
                  p UFC - Siêu Sao Bóng Đá là tựa game quản lý bóng đá mới nhất trên thị trường game Việt,Với đồ họa 3D ấn tượng cùng lối chơi chân thực nhất, UFC được kỳ vọng là tựa game quản lý bóng đá đẳng cấp nhật thị trường Việt trong thời gian tới.
            .swiper-slide.mySwiper5-slide
              ul.mySwiper5-slide__des
                li.mySwiper5-slide__des1
                  h2 UFC - Siêu Sao Bóng Đá1
                  span MobileGame
                  p Nhà sản xuất :Ultimate Football Club
                  p Năm phát hành: 2021 
                  p Hình thức hợp tác: Hợp tác phát hành
                li.mySwiper5-slide__des2 Giới thiệu:
                  p UFC - Siêu Sao Bóng Đá là tựa game quản lý bóng đá mới nhất trên thị trường game Việt,Với đồ họa 3D ấn tượng cùng lối chơi chân thực nhất, UFC được kỳ vọng là tựa game quản lý bóng đá đẳng cấp nhật thị trường Việt trong thời gian tới.
            .swiper-slide.mySwiper5-slide
              ul.mySwiper5-slide__des
                li.mySwiper5-slide__des1
                  h2 UFC - Siêu Sao Bóng Đá2
                  span MobileGame
                  p Nhà sản xuất :Ultimate Football Club
                  p Năm phát hành: 2021 
                  p Hình thức hợp tác: Hợp tác phát hành
                li.mySwiper5-slide__des2 Giới thiệu:
                  p UFC - Siêu Sao Bóng Đá là tựa game quản lý bóng đá mới nhất trên thị trường game Việt,Với đồ họa 3D ấn tượng cùng lối chơi chân thực nhất, UFC được kỳ vọng là tựa game quản lý bóng đá đẳng cấp nhật thị trường Việt trong thời gian tới.
            .swiper-slide.mySwiper5-slide
              ul.mySwiper5-slide__des
                li.mySwiper5-slide__des1
                  h2 UFC - Siêu Sao Bóng Đá3
                  span MobileGame
                  p Nhà sản xuất :Ultimate Football Club
                  p Năm phát hành: 2021 
                  p Hình thức hợp tác: Hợp tác phát hành
                li.mySwiper5-slide__des2 Giới thiệu:
                  p UFC - Siêu Sao Bóng Đá là tựa game quản lý bóng đá mới nhất trên thị trường game Việt,Với đồ họa 3D ấn tượng cùng lối chơi chân thực nhất, UFC được kỳ vọng là tựa game quản lý bóng đá đẳng cấp nhật thị trường Việt trong thời gian tới.
            .swiper-slide.mySwiper5-slide
              ul.mySwiper5-slide__des
                li.mySwiper5-slide__des1
                  h2 UFC - Siêu Sao Bóng Đá4
                  span MobileGame
                  p Nhà sản xuất :Ultimate Football Club
                  p Năm phát hành: 2021 
                  p Hình thức hợp tác: Hợp tác phát hành
                li.mySwiper5-slide__des2 Giới thiệu:
                  p UFC - Siêu Sao Bóng Đá là tựa game quản lý bóng đá mới nhất trên thị trường game Việt,Với đồ họa 3D ấn tượng cùng lối chơi chân thực nhất, UFC được kỳ vọng là tựa game quản lý bóng đá đẳng cấp nhật thị trường Việt trong thời gian tới.
        
  footer.footer
    .container
      .footer-logo
        .footer-logo__img
          img(src='../assets/images/logo1.svg' alt='')
        span TỔNG CÔNG TY TRUYỀN THÔNG ĐA PHƯƠNG TIỆN (VTC) <strong>CÔNG TY VTC CÔNG NGHỆ VÀ NỘI DUNG SỐ (VTC INTECOM)</strong>
      .footer-info
        span CHỊU TRÁCH NHIỆM QUẢN LÝ NỘI DUNG:
        a(href='') Ông Trần Phương Huy    
        table
          tr 
            td THÔNG TIN LIÊN HỆ
          tr
            td
              img(alt="",src="../assets/images/icon_face.png")
              a(href='fb.com/auditionvtc') fb.com/congvtcgame
            td 
              img(alt="",src="../assets/images/icon_web.png")
              a(href='hotro.vtc.vn') info.vtcgame@vtc.vn

      .footer-address
        .footer-address__item

          h5 TRỤ SỞ HÀ NỘI
          p Tầng 14, Tòa nhà VTC 23 Lạc Trung, Quận Hai Bà Trưng, Hà Nội
        .footer-address__item
          h5 VĂN PHÒNG ĐẠI DIỆN TP. HỒ CHÍ MINH
          p 259 Đồng Đen, Phường 10, Quận Tân Bình, TP. Hồ Chí Minh

script(src="../js/swiper.js")
script(src="../js/bootstrap.min.js")
script(src="../js/index.js")