
head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../css/style.css")
    title Document
body
    .popup
        .popup-container
            .popup-header
                .popup-header__btn
                    a(href="").popup-header__btn1
                        img(src="../assets/images/p7.png" alt="")
                    a(href="").popup-header__btn2
                        img(src="../assets/images/logo1.svg" alt="")
                    a(href="").popup-header__btn3
                        img(src="../assets/images/p8.png" alt="")
            
            //- 6->
            .popup-body
                
                
                .popup-body__ul.popup-body__ul5.active
                    h2.popup-body__ul-li0 Khôi phục mật khẩu

                    .popup-body__ul-li5 Nhập tên tài khoản cần khôi phục mật khẩu
                    .popup-body__ul-li1.popup-body__ul5-li1
                        .popup-body__ul-li1__body
                            .popup-body__ul-li1__img
                                img(src="../assets/images/p1.png" alt="")
                            input.popup-body__ul-li1__input(placeholder="Nhập tên đăng nhập")
                        span.popup-body__ul-li2__error
                    
                    a(href="").popup-body__ul-li4.popup-body__ul5-li4 Tiếp tục
                    p.popup-body__ul-li7 Đã có tài khoản? 
                            a(href="") Đăng nhập
                .popup-body__ul.popup-body__ul6
                    h2.popup-body__ul-li0 Khôi phục mật khẩu
                    .popup-body__ul-li5 Tài khoản của bạn chưa được xác thực để khôi phục mật khẩu. Vui lòng truy cập trang hỗ trợ.
                    .popup-body__ul-li6
                        a(href="").popup-body__ul-li6__item.popup-body__ul6-li6__item
                            img(src="../assets/images/p4.svg" alt="")
                            p Xác thực qua số điện thoại                   
                        a(href="").popup-body__ul-li6__item.popup-body__ul6-li6__item
                            img(src="../assets/images/p16.svg" alt="")
                            p Xác thực qua e-mail                 
                          
                    a(href="").popup-body__ul-li4 Gửi yêu cầu hỗ trợ
                .popup-body__ul.popup-body__ul7
                    h2.popup-body__ul-li0 Nhập e-mail
                    .popup-body__ul-li5 Vui lòng nhập địa chỉ e-mail để khôi phục mật khẩu cho tài khoản của bạn
                    .popup-body__ul-li1.popup-body__ul7-li1
                        .popup-body__ul-li1__body
                            .popup-body__ul-li1__img
                                img(src="../assets/images/p17.png" alt="")
                            input.popup-body__ul-li1__input(placeholder="Nhập e-mail")
                        span.popup-body__ul-li1__error
                    a(href="").popup-body__ul-li4 Tiếp tục
                    p.popup-body__ul-li7 Đã có tài khoản? 
                            a(href="") Đăng nhập
                .popup-body__ul.popup-body__ul8
                    h2.popup-body__ul-li0 Khôi phục mật khẩu
                    .popup-body__ul-li5 Tài khoản của bạn chưa <br>được xác thực để khôi phục mật khẩu. <br>Vui lòng truy cập trang hỗ trợ.
                    a(href="").popup-body__ul-li4 Gửi yêu cầu hỗ trợ
                    
                    
                   
script(src="../js/swiper.js")
script(src="../js/bootstrap.min.js")
script(src="../js/index.js")