
head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../css/style.css")
    title Document
body
    .popup
        .popup-container
            .popup-header
                .popup-header__btn
                    a(href="").popup-header__btn1
                        img(src="../assets/images/p7.png" alt="")
                    a(href="").popup-header__btn2
                        img(src="../assets/images/logo1.svg" alt="")
                    a(href="").popup-header__btn3
                        img(src="../assets/images/p8.png" alt="")
            .popup-body
                .popup-body__ul
                    h2.popup-body__ul-li0 Đăng nhập VTC ID
                    
                    .popup-body__ul-li1.popup-body__ullg-li1
                        .popup-body__ul-li1__body
                            .popup-body__ul-li1__img
                                img(src="../assets/images/p1.png" alt="")
                            input.popup-body__ul-li1__input(placeholder="Nhập tên đăng nhập")
                        span.popup-body__ul-li2__error 
                    .popup-body__ul-li2
                        .popup-body__ul-li2__body
                            .popup-body__ul-li2__img
                                img(src="../assets/images/p2.png" alt="")
                            input.popup-body__ul-li2__input.js-pw1(placeholder="Nhập mật khẩu" type="password") 
                            button.popup-body__ul-li2__imgp.js-swpw1(tabindex="-1")
                        span.popup-body__ul-li2__error Mật khẩu không đúng
                    a(href="").popup-body__ul-li3 Quên mật khẩu?
                    a(href="").popup-body__ul-li4 Đăng nhập
                    p.popup-body__ul-li5 Hoặc đăng nhập nhanh hơn bằng
                    .popup-body__ul-li6
                        a(href="").popup-body__ul-li6__item
                            img(src="../assets/images/p5.svg" alt="")
                            p Google
                        a(href="").popup-body__ul-li6__item
                            img(src="../assets/images/p6.svg" alt="")
                            p Facebook
                    p.popup-body__ul-li7 Bạn chưa có tài khoản?
                        a(href="") Đăng ký ngay
                    
script(src="../js/swiper.js")
script(src="../js/bootstrap.min.js")
script(src="../js/index.js")