.app
    .container
        img.app-heading(src="../assets/images/h1.png",alt='')
        .app-surprise
            
            .app-surprise__left
                .app-surprise__left-btn
                    button COMMON
                    button ULTIMATE
                    button SUPER
                .app-surprise__left-turn
                    .light
                        img(src="../assets/images/n1.png",alt='').js-light1
                        img(src="../assets/images/n1-1.png",alt='').active.js-light2
                        img(src="../assets/images/n2.png",alt='').js-light3
                        img(src="../assets/images/n2-1.png",alt='').active.js-light4
                    span Số <strong>Xu Vàng</strong> còn lại: <strong>200</strong>
                    .app-surprise__left-turn__btn
                        button 
                            span 10 lần
                            img(src="../assets/images/bb1.png")   
                        button.js-lightBtn 
                            span Quay
                            img(src="../assets/images/bb1.png")   
                        button
                            span  Thêm<br> lượt 
                            img(src="../assets/images/vv.png")   
                            
            .app-surprise__right
                .app-surprise__right-btn
                    button.btn Lịch sử giao dịch
                    button.btn Thể lệ
                .app-surprise__right-slider
                    span Phần thưởng    
                    button.js-pev
                    .slider.js-slider
                        img(src="../assets/images/8.png",alt='')
                        span Item 123
                    button.js-next 
        .app-shop
            img.app-heading(src="../assets/images/h2.png",alt='')
            .app-shop__head
                img(src="../assets/images/clock.png",alt='')
                span Thời gian còn lại: <strong>02 ngày 22h 03’ 15s</strong>
                span Bạn đang có: <strong>10.000 Vcoin</strong>
                .app-shop__head-btn
                    button Thêm vcoin
                    button.btn Xem trước
                    button.btn Lịch<br> sử
            ul
                li
                    em
                        img(src="../assets/images/ao.png",alt='')
                        span Áo fancy sparkly<br> vĩnh viễn
                            span <strong> 2.500</strong> <strong>2.000 Vcoin</strong>
                    button Mua ngay
                    button Tặng quà
                li
                    em
                        img(src="../assets/images/ao.png",alt='')
                        span Áo fancy sparkly<br> vĩnh viễn
                            span <strong> 2.500</strong> <strong>2.000 Vcoin</strong>
                    button Mua ngay
                    button Tặng quà
                li
                    em
                        img(src="../assets/images/ao.png",alt='')
                        span Áo fancy sparkly<br> vĩnh viễn
                            span <strong> 2.500</strong> <strong>2.000 Vcoin</strong>
                    button Mua ngay
                    button Tặng quà
                li
                    em
                        img(src="../assets/images/ao.png",alt='')
                        span Áo fancy sparkly<br> vĩnh viễn
                            span <strong> 2.500</strong> <strong>2.000 Vcoin</strong>
                    button Mua ngay
                    button Tặng quà
                li
                    em
                        img(src="../assets/images/ao.png",alt='')
                        span Áo fancy sparkly<br> vĩnh viễn
                            span <strong> 2.500</strong> <strong>2.000 Vcoin</strong>
                    button Mua ngay
                    button Tặng quà
                li
                    em
                        img(src="../assets/images/ao.png",alt='')
                        span Áo fancy sparkly<br> vĩnh viễn
                            span <strong> 2.500</strong> <strong>2.000 Vcoin</strong>
                    button Mua ngay
                    button Tặng quà
                li
                    em
                        img(src="../assets/images/ao.png",alt='')
                        span Áo fancy sparkly<br> vĩnh viễn
                            span <strong> 2.500</strong> <strong>2.000 Vcoin</strong>
                    button Mua ngay
                    button Tặng quà
                li
                    em
                        img(src="../assets/images/ao.png",alt='')
                        span Áo fancy sparkly<br> vĩnh viễn
                            span <strong> 2.500</strong> <strong>2.000 Vcoin</strong>
                    button Mua ngay
                    button Tặng quà
                li
                    em
                        img(src="../assets/images/ao.png",alt='')
                        span Áo fancy sparkly<br> vĩnh viễn
                            span <strong> 2.500</strong> <strong>2.000 Vcoin</strong>
                    button Mua ngay
                    button Tặng quà
                li
                    em
                        img(src="../assets/images/ao.png",alt='')
                        span Áo fancy sparkly<br> vĩnh viễn
                            span <strong> 2.500</strong> <strong>2.000 Vcoin</strong>
                    button Mua ngay
                    button Tặng quà
        .app-champions
            img.app-heading(src="../assets/images/h3.png",alt='')
            .app-champions__table
                span Bạn đã tiêu: <strong>10.000 Vcoin</strong>
                span Xếp hạng: <strong>129</strong>
                .table
                    table
                        tr 
                            td TOP
                            td DÂN CHƠI
                            td MỨC TIÊU VCOIN
                        tr 
                            td 1
                            td 
                                span Liliana123
                                    img(src="../assets/images/avta.png",alt='')
                            td 160.000
                        tr 
                            td 2
                            td 
                                span Liliana123
                                    img(src="../assets/images/avta.png",alt='')
                            td 50.000
                        tr 
                            td 3
                            td 
                                span Liliana123
                                    img(src="../assets/images/avta.png",alt='')
                            td 40.000
                        tr 
                            td 4
                            td 
                                span Liliana123
                                    img(src="../assets/images/avta.png",alt='')
                            td 30.000
                        tr 
                            td 5
                            td 
                                span Liliana123
                                    img(src="../assets/images/avta.png",alt='')
                            td 20.000
                        tr 
                            td 6
                            td 
                                span Liliana123
                                    img(src="../assets/images/avta.png",alt='')
                            td 10.000
                        tr 
                            td 7
                            td 
                                span Liliana123
                                    img(src="../assets/images/avta.png",alt='')
                            td 9.000
                        tr 
                            td 8
                            td 
                                span Liliana123
                                    img(src="../assets/images/avta.png",alt='')
                            td 8.000
                        tr 
                            td 9
                            td 
                                span Liliana123
                                    img(src="../assets/images/avta.png",alt='')
                            td 7.000
                        tr 
                            td 10
                            td 
                                span Liliana123
                                    img(src="../assets/images/avta.png",alt='')
                            td 6.000
            h2 Phần thưởng dành cho Top 10 Surprise Champions    
            ul
                li
                    span 1
                        img(src="../assets/images/19.png")
                    ul
                        li Top 1
                        li
                            img(src="../assets/images/15.png",alt='')
                            span Áo Fancy Sparkly<br>
                        li
                            img(src="../assets/images/ao.png",alt='')
                            span Áo Fancy Sparkly<br>
                        li
                            img(src="../assets/images/17.png",alt='')
                            span Áo Fancy Sparkly<br>
                        li
                            img(src="../assets/images/16.png",alt='')
                            span Áo Fancy Sparkly<br>
                li
                    span 2-3
                        img(src="../assets/images/20.png")
                    
                    ul
                        li Top 2-3
                        li
                            img(src="../assets/images/15.png",alt='')
                            span Áo Fancy Sparkly<br>
                        li
                            img(src="../assets/images/ao.png",alt='')
                            span Áo Fancy Sparkly<br>
                        li
                            img(src="../assets/images/17.png",alt='')
                            span Áo Fancy Sparkly<br>
                        li
                            img(src="../assets/images/16.png",alt='')
                            span Áo Fancy Sparkly
                li
                    span 4-10
                        img(src="../assets/images/21.png")
                   
                    ul
                        li Top 4-10
                        li
                            img(src="../assets/images/15.png",alt='')
                            span Áo Fancy Sparkly
                        li
                            img(src="../assets/images/ao.png",alt='')
                            span Áo Fancy Sparkly
                        li
                            img(src="../assets/images/17.png",alt='')
                            span Áo Fancy Sparkly
                        li
                            img(src="../assets/images/16.png",alt='')
                            span Áo Fancy Sparkly
            button.btn Chi tiết              
                                



                
                
            


