header.header   
    .container
        a(href="#")
            img.header-logo1(src="../assets/images/Logo-Aubeat-(option3).png",alt='')
        a(href="#")
            img.header-logo2(src="../assets/images/logo.png",alt='')
        .header-container
            h2.header-container__heading Cảm ơn các dân chơi đã bay cùng<br> AUBEAT trong 365 ngày qua
            img(src="../assets/images/9.png",alt='').header-container__img1
            ul
                li  
                    button 
                        span NHẬN 
                        img(src="../assets/images/g1.png",alt='')
                    span Dân “mới” chơi
                    p Dân chơi có tài khoản<br> đăng ký sau ngày...  <br>và trước ngày...
                li  
                    button 
                        span NHẬN 
                        img(src="../assets/images/g2.png",alt='')
                    span Dân “chuyên” chơi
                    p Dân chơi có tài khoản<br> đăng ký sau ngày... 
                li  
                    button 
                        span NHẬN 
                        img(src="../assets/images/g3.png",alt='')
                    span Dân “mê” chơi
                    p Dân chơi có tài khoản<br> đăng ký sau ngày...  <br>và trước ngày...
            img(src="../assets/images/10.png",alt='').header-container__img2

        button.header-login.active.js-regiter
            span Đăng nhập
            span Austar123
                span
                ul.header-login__menu
                    li
                        a Thông tin tài khoản
                    li
                        a Kho đồ
                    li.js-switch
                        a Đăng xuất
            img(src="../assets/images/VectorSmartObject.png")
        .header-buy.js-buy
            .header-buy__body
                button.js-showbuy
                    img(src="../assets/images/1.png",alt='')
                span 
                    span SHARE
                .header-buy__body-social
                    button 
                        img(src="../assets/images/globe.png",alt='')
                    button 
                        img(src="../assets/images/youtube.png",alt='')
                    button 
                        img(src="../assets/images/fa.png",alt='')
                    button 
                        img(src="../assets/images/tt.png",alt='')
                button NẠP KIM CƯƠNG
                button NẠP VCOIN
                button.js-movtop TOP