/* tablet and mobile */

@media (max-width: 1023px) {
    .header {}
    .app {
        background: url("../assets/images/bg-mb.jpg") center no-repeat;
        background-size: 100% 100%;
    }
}

// pc high
@media (min-width: 2000px) {
    .header {
        background-size: 100% 100%;
        background-position: center;
        background-color: unset;
    }
    .app {
        background-size: 100% 100%;
        background-position: center;
    }
}

// pc
@media (min-width: 1024px) {
    .header {}
    .app {}
}

// pc low
@media (min-width: 1024px) and (max-width: 1280px) {
    .container {
        max-width: 1000px;
    }
    .header {
        height: 560px;
        &-login {
            span {
                &:nth-child(2) {
                    ul {
                        right: 0;
                    }
                }
            }
        }
        &-logo {
            width: 100px;
            top: 395px;
            left: 450px;
        }
        &-left {
            &__download {
                top: 20px;
                width: 120px;
                margin-bottom: 0;
                left: 20px;
                &>img {
                    width: 120px;
                    height: unset;
                    margin-top: 140px;
                    margin-bottom: 5px;
                }
                button {
                    width: 120px;
                    height: 40px;
                    font-size: 16px;
                    padding-left: 30px;
                    span {
                        margin-left: 4px;
                        font-size: 10px;
                    }
                }
                a {
                    font-size: 14px;
                    min-width: 97px;
                    margin-bottom: 5px;
                    img {
                        width: 24px;
                        height: 24px;
                        margin-right: 8px;
                    }
                    &:nth-child(3) {
                        margin-top: 10px;
                    }
                    &::after {
                        width: 50%;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                &>span {
                    font-size: 16px;
                    margin-top: 10px;
                    span {
                        border-bottom: 20px solid #fff;
                        border-right: 10px solid rgba(0, 0, 0, 0);
                        border-left: 10px solid rgba(0, 0, 0, 0);
                    }
                }
            }
            &__img {
                &1 {
                    width: 20%;
                    top: 40px;
                    right: 35px;
                }
                &2 {
                    width: 45%;
                    top: 120px;
                    right: 170px;
                }
            }
        }
        &-right {
            &__download {
                top: 20px;
                width: 120px;
                margin-bottom: 0;
                right: 20px;
                &>img {
                    width: 120px;
                    height: unset;
                    margin-top: 150px;
                    margin-bottom: 5px;
                }
                button {
                    width: 120px;
                    font-size: 16px;
                    padding-left: 30px;
                    height: 40px;
                    span {
                        margin-left: 4px;
                        font-size: 10px;
                    }
                }
                a {
                    font-size: 14px;
                    min-width: 97px;
                    margin-bottom: 5px;
                    img {
                        width: 24px;
                        height: 24px;
                        margin-right: 8px;
                    }
                    &:nth-child(3) {
                        margin-top: 10px;
                    }
                    &::after {
                        width: 50%;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                &>span {
                    font-size: 16px;
                    margin-top: 10px;
                    span {
                        border-bottom: 20px solid #fff;
                        border-right: 10px solid rgba(0, 0, 0, 0);
                        border-left: 10px solid rgba(0, 0, 0, 0);
                    }
                }
            }
            &__img {
                &1 {
                    width: 20%;
                    top: 100px;
                    right: 35px;
                }
                &2 {
                    width: 38%;
                    top: 140px;
                    left: 200px;
                }
            }
        }
        & .container {
            height: 630px;
        }
        &-btn {
            left: unset;
            width: 100%;
            bottom: 20px;
            button {
                font-size: 20px;
                padding-top: 50px;
                line-height: 28px;
            }
        }
    }
    .app {
        &-heading {
            width: 100%;
        }
        &-slider {
            width: 100%;
            &__item {
                width: 60%;
                height: 490px;
            }
        }
        &-control {
            margin-bottom: 55px;
        }
        &-search {
            margin-top: 90px;
            &>img {
                width: 10%;
                left: 90px;
                top: 0;
            }
            &__nav {
                span {
                    button {
                        width: 130px;
                        span {
                            margin-left: 4px;
                        }
                    }
                }
                button {
                    width: 100px;
                    font-size: 18px;
                }
            }
            &__list {
                justify-content: center;
                &-item {
                    &4 {
                        margin-right: 22px;
                    }
                    &6 {
                        margin-right: 0;
                    }
                }
            }
            &__btn {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
        &-vote {
            margin-top: 40px;
            justify-content: center;
            &__search {
                width: 100%;
                justify-content: center;
            }
            &__item {
                &4 {
                    margin-right: 12px;
                }
                &7,
                &8 {
                    display: none;
                }
            }
        }
        &-turn {
            margin-top: 240px;
            &>span {
                &:nth-child(2) {
                    left: 500px;
                }
            }
            &>button {
                right: 30px;
                width: 180px;
                font-size: 20px;
                height: 64px;
                top: -77px;
            }
            &__body {
                &-item {
                    width: 150px;
                    height: 150px;
                    &12 {
                        position: absolute;
                        top: calc(150px + 30px);
                        left: 22px;
                    }
                    &11 {
                        position: absolute;
                        top: calc(150px + 150px + 20px + 20px);
                        left: 22px;
                    }
                    &10 {
                        position: absolute;
                        top: calc(150px + 150px + 150px + 20px + 20px + 20px);
                        left: 22px;
                    }
                    &7 {
                        position: absolute;
                        top: calc(150px + 20px);
                        right: 21px;
                    }
                    &8 {
                        position: absolute;
                        top: calc(150px + 150px + 20px + 20px);
                        right: 21px;
                    }
                    &9 {
                        position: absolute;
                        top: calc(150px + 150px + 150px + 20px + 20px + 20px);
                        right: 21px;
                    }
                    &.active {
                        &::after {
                            width: 160px;
                            height: 160px;
                        }
                    }
                }
                &-content {
                    &>img {
                        width: 50%;
                    }
                    &__btn {
                        margin-bottom: 10px;
                        margin-top: 23px;
                        button {
                            width: 200px;
                            font-size: 36px;
                        }
                    }
                    &__help {
                        button {
                            width: 120px;
                            span {
                                font-size: 24px;
                                bottom: -35px;
                            }
                        }
                    }
                }
            }
        }
        &-giftstore {
            width: 100%;
            padding-top: 137px;
            padding-left: 145px;
            height: 661px;
            margin-top: unset;
            &>img {
                width: 20%;
                top: 30px;
                left: 380px;
            }
            &>span {
                font-size: 18px;
                top: 50px;
                right: 180px;
                strong {
                    font-size: 36px;
                }
            }
            ul {
                width: 700px;
                height: calc(181px + 65px + 181px);
                overflow-y: scroll;
            }
        }
        &-rank {
            &>span {
                right: 90px;
            }
            & .app-heading {
                width: 100%;
            }
            &__list {
                &1,
                &3,
                &2 {
                    width: 300px;
                    ul {
                        & .app-rank__list-item {
                            &>img {
                                &:nth-child(2),
                                &:nth-child(3) {
                                    width: 40px;
                                }
                            }
                            &>span {
                                &:nth-child(1) {
                                    width: 30px;
                                    font-size: 26px;
                                }
                                &:nth-child(4) {
                                    font-size: 14px;
                                    span {
                                        font-size: 14px;
                                    }
                                }
                                &:nth-child(5) {
                                    margin-left: 12px;
                                }
                            }
                            &1 {
                                width: 95%;
                                position: relative;
                                padding-left: 4px;
                                padding-right: 4px;
                            }
                            &-1 {
                                width: 100%;
                                text-align: center;
                                span {
                                    margin-top: 210px;
                                    font-size: 18px;
                                    width: 100%;
                                    display: block;
                                }
                                img {
                                    position: absolute;
                                    width: 100%;
                                    margin-right: 2px;
                                }
                            }
                            &-2 {
                                width: 100%;
                                text-align: center;
                                span {
                                    margin-top: 210px;
                                    font-size: 18px;
                                    width: 100%;
                                    display: block;
                                }
                                img {
                                    position: absolute;
                                    width: 100%;
                                    margin-left: 2px;
                                }
                            }
                        }
                    }
                }
                &2 {
                    width: 380px;
                    ul {
                        & .app-rank__list-item {
                            &>span {
                                &:nth-child(5) {
                                    margin-left: 36px;
                                }
                                &:nth-child(4) {
                                    font-size: 16px;
                                    span {
                                        font-size: 16px;
                                    }
                                }
                            }
                            &-1 {
                                span {
                                    margin-top: 250px;
                                }
                            }
                            &-2 {
                                span {
                                    margin-top: 250px;
                                }
                            }
                        }
                    }
                }
            }
        }
        &-bonus {
            &__left {
                width: 50%;
                img {
                    width: 100%;
                }
            }
            &__right {
                width: 50%;
                margin-top: -50px;
                button {
                    margin-top: -20px;
                }
                img {
                    width: 100%;
                }
            }
        }
    }
}


/* tablet */

@media (min-width: 740px) and (max-width: 1023px) {
    .container {
        max-width: 700px;
    }
    .header {
        height: 560px;
        &-logo {
            width: 100px;
            top: 395px;
            left: 300px;
        }
        &-left {
            &__download {
                top: 50px;
                width: 150px;
                margin-bottom: 0;
                height: 450px;
                &>img {
                    width: 130px;
                    height: unset;
                    margin-top: 50px;
                    margin-bottom: 15px;
                }
                button {
                    width: 170px;
                    font-size: 18px;
                    padding-right: 43px;
                    span {
                        font-size: 12px;
                    }
                }
                a {
                    font-size: 16px;
                    min-width: 120px;
                    margin-bottom: 5px;
                    img {
                        width: 30px;
                    }
                    &:nth-child(3) {
                        margin-top: 10px;
                    }
                    &::after {
                        width: 80%;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                &>span {
                    font-size: 22px;
                    margin-top: 10px;
                }
            }
            &__img {
                &1 {
                    width: 20%;
                    top: 40px;
                    right: 35px;
                }
                &2 {
                    width: 45%;
                    top: 120px;
                    right: 170px;
                }
            }
        }
        &-right {
            &__download {
                top: 50px;
                width: 150px;
                height: 450px;
                margin-bottom: 0;
                &>img {
                    width: 130px;
                    height: unset;
                    margin-top: 50px;
                    margin-bottom: 15px;
                }
                button {
                    width: 170px;
                    font-size: 18px;
                    padding-right: 43px;
                    span {
                        font-size: 12px;
                    }
                }
                a {
                    font-size: 16px;
                    min-width: 120px;
                    margin-bottom: 5px;
                    img {
                        width: 30px;
                    }
                    &:nth-child(3) {
                        margin-top: 10px;
                    }
                    &::after {
                        width: 80%;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                &>span {
                    font-size: 22px;
                    margin-top: 10px;
                }
            }
            &__img {
                &1 {
                    width: 20%;
                    top: 100px;
                    right: 35px;
                }
                &2 {
                    width: 38%;
                    top: 140px;
                    left: 200px;
                }
            }
        }
        & .container {
            height: 630px;
        }
        &-btn {
            left: unset;
            width: 100%;
            bottom: 20px;
            button {
                margin: 0;
                font-size: 16px;
                padding-top: 65px;
                line-height: 20px;
                padding-left: 60px;
            }
        }
    }
    .app {
        &-heading {
            width: 100%;
        }
        &-slider {
            width: 100%;
            &__item {
                width: 60%;
                height: 343px;
            }
        }
        &-control {
            margin-bottom: 55px;
            span {
                height: 8px;
                width: 32px;
                &.active {
                    width: 72px;
                }
            }
        }
        &-giftlove {
            &__item {
                width: 50%;
                &2 {
                    margin-left: unset;
                }
                button {
                    width: 200px;
                    height: 64px;
                    font-size: 20px;
                }
                span {
                    font-size: 18px;
                    &:nth-child(3) {
                        font-size: 18px;
                    }
                    &:nth-child(4) {
                        font-size: 18px;
                    }
                }
            }
        }
        &-search {
            margin-top: 120px;
            &>img {
                width: 10%;
                top: 6px;
            }
            &__nav {
                margin-bottom: 12px;
                &>span {
                    font-size: 18px;
                    button {
                        width: 120px;
                        span {
                            margin-left: 12px;
                        }
                    }
                    &:nth-child(2) {
                        input {
                            width: 120px;
                            margin-left: 12px;
                            margin-right: 12px;
                        }
                    }
                }
                button {
                    width: 100px;
                    font-size: 18px;
                    margin-right: 12px;
                }
            }
            &__list {
                justify-content: center;
                height: 490px;
                &-item {
                    width: 200px;
                    height: 500px;
                    margin-right: 8px;
                    &>img {
                        width: 180px;
                        margin-bottom: 8px;
                        &:nth-child(2) {
                            width: 70px;
                            height: 60px;
                        }
                    }
                    span {
                        &:nth-child(3) {
                            font-size: 26px;
                        }
                    }
                    button {
                        bottom: -110px;
                        &:nth-last-child(1) {
                            right: 90px;
                            width: 200px;
                            height: 200px;
                            padding-left: 100px;
                            padding-top: 16px;
                            img {
                                width: 24px;
                                height: 24px;
                            }
                        }
                        &:nth-last-child(2) {
                            left: 90px;
                            width: 200px;
                            height: 200px;
                            padding-right: 100px;
                            padding-top: 16px;
                            img {
                                width: 24px;
                                height: 24px;
                            }
                        }
                    }
                    &2 {
                        &>img {
                            &:nth-child(2) {
                                width: 60px;
                                height: 40px;
                                top: 25px;
                                left: 20px;
                            }
                        }
                    }
                    &3,
                    &6 {
                        margin-right: 0;
                    }
                }
            }
            &__btn {
                margin-top: 20px;
                margin-bottom: 120px;
            }
        }
        &-vote {
            margin-top: 40px;
            justify-content: center;
            &__search {
                width: 100%;
                justify-content: center;
                button {
                    font-size: 16px;
                }
                input {
                    font-size: 12px;
                }
            }
            &__item {
                &4 {
                    margin-right: 12px;
                }
                &5,
                &6,
                &7,
                &8 {
                    display: none;
                }
            }
        }
        &-turn {
            margin-top: 120px;
            &>span {
                &:nth-child(1) {
                    top: -90px;
                    left: 22px;
                    width: 200px;
                    font-size: 16px;
                    padding-top: 38px;
                    strong {
                        font-size: 36px;
                    }
                }
                &:nth-child(2) {
                    left: 340px;
                    font-size: 20px;
                }
            }
            &>button {
                right: 30px;
                width: 140px;
                font-size: 16px;
                height: 48px;
                top: -57px;
            }
            &__body {
                height: 500px;
                &-item {
                    width: 100px;
                    height: 100px;
                    img {
                        top: 10px;
                        width: 50%;
                        left: 50%;
                        transform: translateX(-50%);
                        -webkit-transform: translateX(-50%);
                        -moz-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                        -o-transform: translateX(-50%);
                    }
                    span {
                        font-size: 24px;
                        line-height: 38px;
                    }
                    &3,
                    &4 {
                        img {
                            width: 25px;
                        }
                    }
                    &12 {
                        position: absolute;
                        top: calc(100px + 30px);
                        left: 22px;
                    }
                    &11 {
                        position: absolute;
                        top: calc(100px + 100px + 20px + 20px);
                        left: 22px;
                    }
                    &10 {
                        position: absolute;
                        top: calc(100px + 100px + 100px + 20px + 20px + 20px);
                        left: 22px;
                    }
                    &7 {
                        position: absolute;
                        top: calc(100px + 20px);
                        right: 21px;
                    }
                    &8 {
                        position: absolute;
                        top: calc(100px + 100px + 20px + 20px);
                        right: 21px;
                    }
                    &9 {
                        position: absolute;
                        top: calc(100px + 100px + 100px + 20px + 20px + 20px);
                        right: 21px;
                    }
                    &.active {
                        &::after {
                            width: 110px;
                            height: 110px;
                        }
                    }
                }
                &-content {
                    &>img {
                        width: 50%;
                    }
                    &__btn {
                        margin-bottom: 0px;
                        margin-top: 0px;
                        button {
                            width: 160px;
                            font-size: 26px;
                        }
                    }
                    &__help {
                        button {
                            margin-right: 24px;
                            width: 80px;
                            height: 40px;
                            span {
                                font-size: 14px;
                                bottom: -25px;
                            }
                            img {
                                width: 30px;
                                height: 30px;
                            }
                        }
                    }
                }
            }
        }
        &-giftstore {
            width: 100%;
            padding-top: 190px;
            padding-left: 70px;
            height: 661px;
            margin-top: unset;
            &>img {
                width: 20%;
                top: 120px;
                left: 270px;
            }
            &>span {
                font-size: 12px;
                top: 132px;
                right: 120px;
                strong {
                    font-size: 30px;
                    margin-left: 8px;
                }
            }
            ul {
                width: 555px;
                height: 300px;
                overflow-y: scroll;
            }
        }
        &-rank {
            overflow-x: scroll;
            & .app-heading {
                width: 100%;
            }
            &__list {
                width: 100%;
                &1,
                &3 {
                    margin-top: 302px;
                }
                &2 {
                    margin-top: 182px;
                }
            }
        }
        &-bonus {
            align-items: flex-end;
            margin-top: 50px;
            button {
                margin: 0;
            }
            &__left {
                width: 50%;
                img {
                    width: 100%;
                }
            }
            &__right {
                width: 50%;
                button {
                    margin: 0;
                }
                img {
                    width: 100%;
                }
            }
        }
    }
}


/* mobile */

@media (max-width: 739px) {
    .container {
        max-width: 355px;
    }
    .header {
        height: 186px;
        &-login {
            top: 0;
            &>span {
                font-size: 14px;
                &:nth-child(2) {
                    ul {
                        top: 24px;
                        right: 0;
                        li {
                            a {
                                font-size: 12px;
                                color: #000;
                            }
                        }
                    }
                }
            }
            img {
                width: 18px;
                height: 18px;
                margin-right: 12px;
            }
        }
        &-logo {
            width: 50px;
            top: 132px;
            left: 153px;
        }
        &-left {
            &__download {
                height: 200px;
                width: 70px;
                margin-bottom: 0;
                left: 20px;
                &>img {
                    width: 80px;
                    height: unset;
                    margin-top: 13px;
                    margin-bottom: 0px;
                }
                button {
                    height: 28px;
                    width: 90px;
                    font-size: 12px;
                    padding-left: 25px;
                    justify-content: unset;
                    span {
                        font-size: 8px;
                        margin-left: 4px;
                    }
                }
                a {
                    font-size: 8px;
                    min-width: 60px;
                    margin-bottom: 5px;
                    img {
                        width: 16px;
                        margin-right: 0;
                        margin-left: 3px;
                    }
                    &:nth-child(3) {
                        margin-top: 0px;
                    }
                    &::after {
                        width: 80%;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                &>span {
                    font-size: 14px;
                    margin-top: 0px;
                    span {
                        border-bottom: 7px solid #fff;
                        border-right: 7px solid rgba(0, 0, 0, 0);
                        border-left: 7px solid rgba(0, 0, 0, 0);
                        margin-bottom: 4px;
                    }
                }
            }
            &__img {
                &1 {
                    width: 20%;
                    top: 12px;
                    right: 5px;
                }
                &2 {
                    width: 40%;
                    top: 30px;
                    right: 60px;
                }
            }
        }
        &-right {
            &__download {
                height: 200px;
                width: 70px;
                margin-bottom: 0;
                right: 20px;
                &>img {
                    width: 80px;
                    height: unset;
                    margin-top: 13px;
                    margin-bottom: 0px;
                }
                button {
                    height: 28px;
                    width: 90px;
                    font-size: 12px;
                    padding-left: 25px;
                    justify-content: unset;
                    span {
                        font-size: 8px;
                        margin-left: 4px;
                    }
                }
                a {
                    font-size: 8px;
                    min-width: 60px;
                    margin-bottom: 5px;
                    img {
                        width: 16px;
                        margin-right: 0;
                        margin-left: 3px;
                    }
                    &:nth-child(3) {
                        margin-top: 0px;
                    }
                    &::after {
                        width: 80%;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                &>span {
                    font-size: 14px;
                    margin-top: 0px;
                    span {
                        border-bottom: 7px solid #fff;
                        border-right: 7px solid rgba(0, 0, 0, 0);
                        border-left: 7px solid rgba(0, 0, 0, 0);
                        margin-bottom: 4px;
                    }
                }
            }
            &__img {
                &1 {
                    width: 20%;
                    top: 40px;
                    left: 15px;
                }
                &2 {
                    width: 30%;
                    top: 60px;
                    left: 75px;
                }
            }
        }
        & .container {
            height: 236px;
        }
        &-btn {
            left: unset;
            width: 100%;
            bottom: 20px;
            button {
                margin: 0;
                font-size: 8px;
                line-height: 20px;
                padding-top: 15px;
                padding-left: 30px;
                height: 40px;
                line-height: unset;
            }
        }
    }
    .app {
        &-heading {
            width: 100%;
        }
        &-slider {
            width: 100%;
            &__item {
                width: 60%;
                height: 174px;
            }
        }
        &-control {
            margin-bottom: 55px;
            span {
                height: 4px;
                width: 16px;
                margin-right: 12px;
                &.active {
                    width: 32px;
                }
            }
        }
        &-giftlove {
            flex-wrap: wrap;
            &__item {
                width: 100%;
                img {
                    width: 60%;
                }
                &2 {
                    margin-left: unset;
                }
                button {
                    width: 200px;
                    height: 64px;
                    font-size: 20px;
                    margin-top: 12px;
                    margin-bottom: 12px;
                }
                span {
                    font-size: 18px;
                    &:nth-child(3) {
                        font-size: 18px;
                        margin-bottom: 8px;
                    }
                    &:nth-child(4) {
                        font-size: 18px;
                        margin-bottom: 24px;
                    }
                }
            }
        }
        &-search {
            margin-top: 40px;
            &>img {
                display: none;
            }
            &__nav {
                flex-wrap: wrap;
                justify-content: center;
                margin-bottom: 12px;
                &>span {
                    font-size: 18px;
                    margin-bottom: 8px;
                    min-width: 100%;
                    justify-content: space-between;
                    button {
                        width: 218px;
                        margin: 0;
                        height: 51px;
                        padding: 0;
                        span {
                            margin-left: 12px;
                        }
                    }
                    &:nth-child(2) {
                        input {
                            padding: 0 0 0 18px;
                            width: 200px;
                            margin: 0;
                        }
                    }
                }
                button {
                    width: 100px;
                    font-size: 18px;
                    margin-right: 12px;
                }
            }
            &__list {
                justify-content: center;
                &::-webkit-scrollbar {
                    display: none;
                }
                &-item {
                    margin-right: 0;
                }
            }
            &__btn {
                width: 100%;
                margin-top: 20px;
                margin-bottom: 40px;
            }
        }
        &-vote {
            margin-top: 24px;
            justify-content: center;
            &__search {
                flex-wrap: wrap;
                width: 100%;
                justify-content: center;
                button {
                    font-size: 16px;
                    height: 36px;
                    &:nth-child(1) {
                        margin-bottom: 12px;
                    }
                }
                input {
                    font-size: 8px;
                    height: 36px;
                    margin-bottom: 12px;
                }
            }
            &__item {
                margin-right: 0;
            }
        }
        &-turn {
            margin-top: 120px;
            &>span {
                &:nth-child(1) {
                    top: -90px;
                    left: 22px;
                    width: 120px;
                    font-size: 10px;
                    padding-top: 58px;
                    padding-left: 16px;
                    strong {
                        font-size: 20px;
                    }
                }
                &:nth-child(2) {
                    left: 200px;
                    top: -23px;
                    font-size: 8px;
                }
            }
            &>button {
                right: 0px;
                width: 80px;
                font-size: 10px;
                height: 24px;
                top: -30px;
            }
            &__body {
                height: 300px;
                ul {
                    padding-top: 15px;
                    padding-left: 15px;
                    padding-right: 15px;
                }
                &-item {
                    width: 50px;
                    height: 50px;
                    border-radius: 24px;
                    -webkit-border-radius: 12px;
                    -moz-border-radius: 24px;
                    -ms-border-radius: 24px;
                    -o-border-radius: 24px;
                    img {
                        top: 10px;
                        width: 50%;
                        left: 50%;
                        transform: translateX(-50%);
                        -webkit-transform: translateX(-50%);
                        -moz-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                        -o-transform: translateX(-50%);
                    }
                    span {
                        font-size: 18px;
                        line-height: 18px;
                    }
                    &3,
                    &4 {
                        span {
                            font-size: 10px;
                        }
                        img {
                            width: 10px;
                        }
                    }
                    &12 {
                        position: absolute;
                        top: calc(50px + 15px + 5px);
                        left: 15px;
                    }
                    &11 {
                        position: absolute;
                        top: calc(50px + 50px + 15px + 10px);
                        left: 15px;
                    }
                    &10 {
                        position: absolute;
                        top: calc(50px + 50px + 50px + 15px + 15px);
                        left: 15px;
                    }
                    &7 {
                        position: absolute;
                        top: calc(50px + 15px + 5px);
                        right: 15px;
                    }
                    &8 {
                        position: absolute;
                        top: calc(50px + 50px + 15px + 10px);
                        right: 15px;
                    }
                    &9 {
                        position: absolute;
                        top: calc(50px + 50px + 50px + 15px + 15px);
                        right: 15px;
                    }
                    &.active {
                        &::after {
                            top: -7.5px;
                            left: -2.5px;
                            margin-top: 5px;
                            width: 55px;
                            height: 55px;
                            border-radius: 12px;
                            -webkit-border-radius: 12px;
                            -moz-border-radius: 12px;
                            -ms-border-radius: 12px;
                            -o-border-radius: 12px;
                        }
                    }
                }
                &-content {
                    &>img {
                        width: 50%;
                        margin-top: -40px;
                    }
                    &__btn {
                        margin-bottom: 8px;
                        margin-top: 8px;
                        button {
                            width: 80px;
                            font-size: 16px;
                            height: 29px;
                            &:nth-child(1) {
                                margin-right: 8px;
                            }
                        }
                    }
                    &__help {
                        button {
                            margin-right: 12px;
                            width: 40px;
                            height: 20px;
                            span {
                                font-size: 8px;
                                bottom: -12px;
                            }
                            img {
                                width: 12px;
                                height: 12px;
                            }
                        }
                    }
                }
            }
        }
        &-giftstore {
            width: 100%;
            padding-top: 50px;
            padding-left: 52px;
            height: 240px;
            margin-top: unset;
            &>img {
                width: 20%;
                top: 12px;
                left: 136px;
            }
            &>span {
                font-size: 8px;
                top: 20px;
                right: 60px;
                strong {
                    font-size: 12px;
                    margin-left: 4px;
                }
            }
            ul {
                width: 250px;
                height: 150px;
                overflow-y: scroll;
                & .app-giftstore__item {
                    width: 50px;
                    height: 75px;
                    margin-bottom: 24px;
                    margin-right: 8px;
                    &>img {
                        width: 60%;
                        object-fit: contain;
                        height: unset;
                        height: 50px;
                        margin-top: 4px;
                        &:nth-child(2) {
                            width: 25px;
                            height: 20px;
                        }
                    }
                    span {
                        &:nth-child(3) {
                            font-size: 6px;
                            top: 4px;
                            right: -9px;
                            width: 31px;
                            height: 8px;
                            clip-path: polygon(28% 0%, 68% 0%, 100% 100%, 0% 136%);
                            transform: rotate(52deg);
                            -webkit-transform: rotate(52deg);
                            -moz-transform: rotate(52deg);
                            -ms-transform: rotate(52deg);
                            -o-transform: rotate(52deg);
                        }
                        &:nth-child(4) {
                            width: 100%;
                            font-size: 8px;
                            height: 20px;
                        }
                    }
                    button {
                        bottom: -32px;
                        width: 100%;
                        font-size: 6px;
                        &.active {
                            font-size: 6px;
                        }
                    }
                }
            }
        }
        &-rank {
            flex-wrap: wrap;
            & .app-heading {
                width: 100%;
            }
            &>span {
                right: unset;
                left: 50%;
                transform: translateX(-50%);
                width: 200px;
                height: 48px;
                font-size: 16px;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                z-index: 1;
                ul {
                    bottom: -95px;
                    width: 100%;
                    padding-left: 12px;
                    padding-right: 12px;
                    height: 90px;
                    li {
                        font-size: 12px;
                        strong {
                            font-size: 16px;
                        }
                    }
                }
                span {
                    width: 48px;
                    height: 48px;
                    font-size: 16px;
                    right: -54px;
                }
            }
            &__list {
                width: 100%;
                margin: 0;
                &1,
                &3 {
                    margin-top: 150px;
                    ul {
                        & .app-rank__list-item {
                            span {
                                &:nth-child(4) {
                                    font-size: 12px;
                                    span {
                                        font-size: 12px;
                                    }
                                }
                                &:nth-child(5) {
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }
                &2 {
                    width: 100%;
                    margin-top: 150px;
                    ul {
                        & .app-rank__list-item {
                            span {
                                &:nth-child(4) {
                                    font-size: 12px;
                                    span {
                                        font-size: 12px;
                                    }
                                }
                                &:nth-child(5) {
                                    margin-left: 12px;
                                    font-size: 20px;
                                }
                            }
                            &1 {
                                width: 95%;
                                position: relative;
                                padding-left: 4px;
                                padding-right: 4px;
                            }
                            &-2 {
                                width: 100%;
                                img {
                                    width: 100%;
                                    margin-left: 2px;
                                }
                                span {
                                    text-align: center;
                                    width: 100%;
                                    display: block;
                                }
                            }
                            &-1 {
                                width: 100%;
                                img {
                                    width: 100%;
                                    margin-right: 2px;
                                }
                                span {
                                    text-align: center;
                                    width: 100%;
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
        &-bonus {
            flex-wrap: wrap;
            margin-top: 50px;
            button {
                margin: 0;
                width: 160px;
                font-size: 18px;
            }
            &__left {
                margin: 0;
                width: 100%;
                img {
                    width: 100%;
                }
            }
            &__right {
                margin: 0;
                width: 100%;
                button {
                    margin: 0;
                    width: 160px;
                    font-size: 18px;
                }
                img {
                    width: 100%;
                }
            }
        }
    }
}