head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../css/style.css")
    title Document
body
    .popup.popupall.popup1
        .container
            .popup-body.popup1-body
                h1.popup-body__title Tặng quà
                button.popup-body__exit
                    img(src="../assets/images/1828774copy.png")
                p.popup-body__name Xin chào, 
                    strong Liliana123 
                p.popup-body__vcoin Số Vcoin hiện có: 
                    strong 10.000 
                a(href="") Nạp Vcoin tại đây
                .popup-body__item
                    span
                        img(src="../assets/images/a5.png",alt="")
                        img(src="../assets/images/b5.png",alt="")
                    p
                        strong Áo fancy sparkly vĩnh viễn
                p.popup-body__vcoin2 Mua tặng với 
                    strong 1.200 Vcoin 
                .popup-body__btn
                    button.popup-body__btn1 Tặng 1
                    button.popup-body__btn2 Tặng 10
    .popup.popupall.popup2
        .container
            .popup-body.popup2-body
                h1.popup-body__title Đổi quà
                button.popup-body__exit
                    img(src="../assets/images/1828774copy.png")
                p.popup-body__name Xin chào, 
                    strong Liliana123 
                p.popup-body__vcoin Số Vcoin hiện có: 
                    strong 10.000 
                a(href="") Nạp Vcoin tại đây
                .popup-body__item
                    span
                        img(src="../assets/images/a5.png",alt="")
                        img(src="../assets/images/b5.png",alt="")
                    p
                        strong Áo fancy sparkly vĩnh viễn
                p.popup2-body__vcoin2.popup-body__vcoin2 Đổi ngay với 
                    strong 1.200 Vé Ướt 
                .popup-body__btn
                    button.popup-body__btn2 Đổi quà
    .popup.popupall.popup3
        .container
            .popup-body.popup3-body
                h1.popup-body__title Mua quà
                button.popup-body__exit
                    img(src="../assets/images/1828774copy.png")
                p.popup-body__name Xin chào, 
                    strong Liliana123 
                p.popup-body__vcoin Số Vcoin hiện có: 
                    strong 10.000 
                a(href="") Nạp Vcoin tại đây
                .popup-body__item
                    span
                        img(src="../assets/images/a5.png",alt="")
                        img(src="../assets/images/b5.png",alt="")
                    p 
                        strong Áo fancy sparkly vĩnh viễn
                p.popup3-body__vcoin2.popup-body__vcoin2 Mua ngay với 
                    strong 1.200 Vcoin 
                .popup-body__btn
                    button.popup-body__btn1 Mua 1
                    button.popup-body__btn2 Mua 10
    .popup.popupall.popup4
        .container
            .popup-body.popup4-body
                h1.popup-body__title Đăng ký thông tin
                button.popup-body__exit
                    img(src="../assets/images/1828774copy.png")
                .popup4-body__info
                    img(src="",alt="")
                    ul
                        li
                            span Game:
                            select
                                option(selected) Chọn game

                        li
                            span Server: 
                            select
                                option(selected) Chọn server
                        li
                            span Giới tính:
                            input 
                        li
                            span ID:
                            input 
                        li.popup4-body__info-item
                            span Ảnh đại diện
                            label(for="insetimg") Tải lên
                                input(type="file")#insetimg         
                    button.popup4-body__info-register Đăng ký
    .popup.popupall.popup5
        .container
            .popup-body.popup5-body
                h1.popup-body__title Lịch sử giao dịch
                button.popup-body__exit
                    img(src="../assets/images/1828774copy.png") 
                .popup5-body__table
                    table
                        thead
                            tr
                                th STT
                                th Thời gian
                                th Nội dung 
                                th Chi tiết
                        tbody 
                            tr
                                td 1
                                td 01/06/22 12:06 
                                td Bắn 1 lần
                                td -1 lượt bắn
                            tr
                                td 1
                                td 01/06/22 12:06 
                                td Bắn 1 lần
                                td -1 lượt bắn
                            tr
                                td 1
                                td 01/06/22 12:06 
                                td Bắn 1 lần
                                td -1 lượt bắn
                            tr
                                td 1
                                td 01/06/22 12:06 
                                td Bắn 1 lần
                                td -1 lượt bắn
                            tr
                                td 1
                                td 01/06/22 12:06 
                                td Bắn 1 lần
                                td -1 lượt bắn
                            tr
                                td 1
                                td 01/06/22 12:06 
                                td Bắn 1 lần
                                td -1 lượt bắn
                            tr
                                td 1
                                td 01/06/22 12:06 
                                td Bắn 1 lần
                                td -1 lượt bắn
                            tr
                                td 1
                                td 01/06/22 12:06 
                                td Bắn 1 lần
                                td -1 lượt bắn
                            tr
                                td 1
                                td 01/06/22 12:06 
                                td Bắn 1 lần
                                td -1 lượt bắn
                            tr
                                td 1
                                td 01/06/22 12:06 
                                td Bắn 1 lần
                                td -1 lượt bắn        
                
                .control
                    img(src="../assets/images/d2.png").control-img1
                    ul
                        li.active 1
                        li 2
                        li 3
                        li 4                        
                    img(src="../assets/images/d2.png").control-img2         
    .popup.popupall.popup6
        .container
            .popup-body.popup6-body   
                h1.popup-body__title Kho đồ
                button.popup-body__exit
                    img(src="../assets/images/1828774copy.png") 
                .popup5-body__table.popup6-body__table
                    table
                        thead
                            tr
                                th STT
                                th Thời gian
                                th Sự kiện  
                                th Chi tiết
                                th Nhận quà
                        tbody 
                            tr
                                td 1
                                td 01/06/22 12:06 
                                td Bắn 1 lần
                                td -1 lượt bắn
                                td
                                    button Nhận quà
                            tr
                                td 1
                                td 01/06/22 12:06 
                                td Bắn 1 lần
                                td -1 lượt bắn
                                td 
                                    button Nhận quà
                            tr
                                td 1
                                td 01/06/22 12:06 
                                td Bắn 1 lần
                                td -1 lượt bắn
                                td 
                                    button Nhận quà
                            tr
                                td 1
                                td 01/06/22 12:06 
                                td Bắn 1 lần
                                td -1 lượt bắn
                                td 
                                    button Nhận quà
                            tr
                                td 1
                                td 01/06/22 12:06 
                                td Bắn 1 lần
                                td -1 lượt bắn
                                td 
                                    button Nhận quà
                            tr
                                td 1
                                td 01/06/22 12:06 
                                td Bắn 1 lần
                                td -1 lượt bắn
                                td 
                                    button Nhận quà
                            tr
                                td 1
                                td 01/06/22 12:06 
                                td Bắn 1 lần
                                td -1 lượt bắn
                                td 
                                    button Nhận quà
                            tr
                                td 1
                                td 01/06/22 12:06 
                                td Bắn 1 lần
                                td -1 lượt bắn
                                td 
                                    button Nhận quà
                            tr
                                td 1
                                td 01/06/22 12:06 
                                td Bắn 1 lần
                                td -1 lượt bắn
                                td 
                                    button Nhận quà
                            tr
                                td 1
                                td 01/06/22 12:06 
                                td Bắn 1 lần
                                td -1 lượt bắn
                                td 
                                    button Nhận quà      
                
                .control
                    img(src="../assets/images/d2.png").control-img1
                    ul
                        li.active 1
                        li 2
                        li 3
                        li 4                        
                    img(src="../assets/images/d2.png").control-img2         
    .popup.popupall.popup7
        .container
            .popup7-body.popup-body  
                h1.popup-body__title Xác nhận thông tin
                button.popup-body__exit
                    img(src="../assets/images/1828774copy.png") 
                label(for="input1") 
                    p Họ và tên:
                    input(placeholder="Thông tin bắt buộc")#input1
                label(for="input2") 
                    p Số điện thoại:
                    input(placeholder="Thông tin bắt buộc")#input2
                label(for="input3") 
                    p Số CCCD/CMND:
                    input(placeholder="Thông tin bắt buộc")#input3
                label(for="#nput4 ").popup7-body__item4
                    p  Địa chỉ cụ thể <br>(ghi rõ số nhà,<br>tên đường, phường,quận, thành phố):
                    input(placeholder="Nhập số nhà, đường phố...")#input4 
                span.popup7-body__notify *Lưu ý: Bạn cần điền đầy đủ thông tin, nếu thiếu sẽ không thể gửi xác nhận đi
                span.popup7-body__error Lỗi: Chưa điền thông tin!
                button.popup7-body__btn Xác nhận
    .popup.popupall.popup8
        .container
            .popup8-body.popup-body
                h1.popup-body__title Thể lệ
                button.popup-body__exit
                    img(src="../assets/images/1828774copy.png") 
                .popup8-body__thele
                    h2 1. Lorem ipsum
                    p Dolor sit amet, consectetur adipiscing elit. Fusce condimentum suscipit tortor, vitae malesuada sapien tempus in. Proin sed massa vulputate, dictum massa ac, semper risus. Morbi at nunc ut augue blandit malesuada. Vestibulum ac odio quis nunc fermentum tincidunt nec id nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean id diam purus. Aliquam a gravida metus. In vel interdum ex.Nulla facilisis eleifend iaculis. Sed imperdiet et augue at congue. Integer non magna aliquam, finibus dui sed, dignissim risus. Vestibulum dignissim ultricies nunc a congue. Proin fermentum sem elit, quis vestibulum magna bibendum suscipit. Donec nec sapien nisi. Praesent posuere sodales luctus. Phasellus elementum lorem lacus, vel pellentesque urna maximus fermentum. Donec vestibulum ut lectus in lobortis. Suspendisse sed eros ante. Quisque elementum quis lectus nec elementum. Morbi metus felis, tincidunt eget malesuada in, gravida at tellus. Quisque non felis ex. Aenean vulputate risus leo. 
                    span Lưu ý: Sed commodo augue rhoncus ultricies dictum.
                    p Dolor sit amet, consectetur adipiscing elit. Fusce condimentum suscipit tortor, vitae malesuada sapien tempus in. Proin sed massa vulputate, dictum massa ac, semper risus. Morbi at nunc ut augue blandit malesuada. Vestibulum ac odio quis nunc fermentum tincidunt nec id nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean id diam purus. Aliquam a gravida metus. In vel interdum ex.Nulla facilisis eleifend iaculis. Sed imperdiet et augue at congue. Integer non magna aliquam, finibus dui sed, dignissim risus. Vestibulum dignissim ultricies nunc a congue. Proin fermentum sem elit, quis vestibulum magna bibendum suscipit. Donec nec sapien nisi. Praesent posuere sodales luctus. Phasellus elementum lorem lacus, vel pellentesque urna maximus fermentum. Donec vestibulum ut lectus in lobortis. Suspendisse sed eros ante. Quisque elementum quis lectus nec elementum. Morbi metus felis, tincidunt eget malesuada in, gravida at tellus. Quisque non felis ex. Aenean vulputate risus leo. Dolor sit amet, consectetur adipiscing elit. Fusce condimentum suscipit tortor, vitae malesuada sapien tempus in. Proin sed massa vulputate, dictum massa ac, semper risus. Morbi at nunc ut augue blandit malesuada. Vestibulum ac odio quis nunc fermentum tincidunt nec id nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean id diam purus. Aliquam a gravida metus. In vel interdum ex.Nulla facilisis eleifend iaculis. Sed imperdiet et augue at congue. Integer non magna aliquam, finibus dui sed, dignissim risus. Vestibulum dignissim ultricies nunc a congue. Proin fermentum sem elit, quis vestibulum magna bibendum suscipit. Donec nec sapien nisi. Praesent posuere sodales luctus. Phasellus elementum lorem lacus, vel pellentesque urna maximus fermentum. Donec vestibulum ut lectus in lobortis. Suspendisse sed eros ante. Quisque elementum quis lectus nec elementum. Morbi metus felis, tincidunt eget malesuada in, gravida at tellus. Quisque non felis ex. Aenean vulputate risus leo.  Dolor sit amet, consectetur adipiscing elit. Fusce condimentum suscipit tortor, vitae malesuada sapien tempus in. Proin sed massa vulputate, dictum massa ac, semper risus. Morbi at nunc ut augue blandit malesuada. Vestibulum ac odio quis nunc fermentum tincidunt nec id nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean id diam purus. Aliquam a gravida metus. In vel interdum ex.Nulla facilisis eleifend iaculis. Sed imperdiet et augue at congue. Integer non magna aliquam, finibus dui sed, dignissim risus. Vestibulum dignissim ultricies nunc a congue. Proin fermentum sem elit, quis vestibulum magna bibendum suscipit. Donec nec sapien nisi. Praesent posuere sodales luctus. Phasellus elementum lorem lacus, vel pellentesque urna maximus fermentum. Donec vestibulum ut lectus in lobortis. Suspendisse sed eros ante. Quisque elementum quis lectus nec elementum. Morbi metus felis, tincidunt eget malesuada in, gravida at tellus. Quisque non felis ex. Aenean vulputate risus leo.  Dolor sit amet, consectetur adipiscing elit. Fusce condimentum suscipit tortor, vitae malesuada sapien tempus in. Proin sed massa vulputate, dictum massa ac, semper risus. Morbi at nunc ut augue blandit malesuada. Vestibulum ac odio quis nunc fermentum tincidunt nec id nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean id diam purus. Aliquam a gravida metus. In vel interdum ex.Nulla facilisis eleifend iaculis. Sed imperdiet et augue at congue. Integer non magna aliquam, finibus dui sed, dignissim risus. Vestibulum dignissim ultricies nunc a congue. Proin fermentum sem elit, quis vestibulum magna bibendum suscipit. Donec nec sapien nisi. Praesent posuere sodales luctus. Phasellus elementum lorem lacus, vel pellentesque urna maximus fermentum. Donec vestibulum ut lectus in lobortis. Suspendisse sed eros ante. Quisque elementum quis lectus nec elementum. Morbi metus felis, tincidunt eget malesuada in, gravida at tellus. Quisque non felis ex. Aenean vulputate risus leo.  Dolor sit amet, consectetur adipiscing elit. Fusce condimentum suscipit tortor, vitae malesuada sapien tempus in. Proin sed massa vulputate, dictum massa ac, semper risus. Morbi at nunc ut augue blandit malesuada. Vestibulum ac odio quis nunc fermentum tincidunt nec id nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean id diam purus. Aliquam a gravida metus. In vel interdum ex.Nulla facilisis eleifend iaculis. Sed imperdiet et augue at congue. Integer non magna aliquam, finibus dui sed, dignissim risus. Vestibulum dignissim ultricies nunc a congue. Proin fermentum sem elit, quis vestibulum magna bibendum suscipit. Donec nec sapien nisi. Praesent posuere sodales luctus. Phasellus elementum lorem lacus, vel pellentesque urna maximus fermentum. Donec vestibulum ut lectus in lobortis. Suspendisse sed eros ante. Quisque elementum quis lectus nec elementum. Morbi metus felis, tincidunt eget malesuada in, gravida at tellus. Quisque non felis ex. Aenean vulputate risus leo.  Dolor sit amet, consectetur adipiscing elit. Fusce condimentum suscipit tortor, vitae malesuada sapien tempus in. Proin sed massa vulputate, dictum massa ac, semper risus. Morbi at nunc ut augue blandit malesuada. Vestibulum ac odio quis nunc fermentum tincidunt nec id nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean id diam purus. Aliquam a gravida metus. In vel interdum ex.Nulla facilisis eleifend iaculis. Sed imperdiet et augue at congue. Integer non magna aliquam, finibus dui sed, dignissim risus. Vestibulum dignissim ultricies nunc a congue. Proin fermentum sem elit, quis vestibulum magna bibendum suscipit. Donec nec sapien nisi. Praesent posuere sodales luctus. Phasellus elementum lorem lacus, vel pellentesque urna maximus fermentum. Donec vestibulum ut lectus in lobortis. Suspendisse sed eros ante. Quisque elementum quis lectus nec elementum. Morbi metus felis, tincidunt eget malesuada in, gravida at tellus. Quisque non felis ex. Aenean vulputate risus leo.  Dolor sit amet, consectetur adipiscing elit. Fusce condimentum suscipit tortor, vitae malesuada sapien tempus in. Proin sed massa vulputate, dictum massa ac, semper risus. Morbi at nunc ut augue blandit malesuada. Vestibulum ac odio quis nunc fermentum tincidunt nec id nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean id diam purus. Aliquam a gravida metus. In vel interdum ex.Nulla facilisis eleifend iaculis. Sed imperdiet et augue at congue. Integer non magna aliquam, finibus dui sed, dignissim risus. Vestibulum dignissim ultricies nunc a congue. Proin fermentum sem elit, quis vestibulum magna bibendum suscipit. Donec nec sapien nisi. Praesent posuere sodales luctus. Phasellus elementum lorem lacus, vel pellentesque urna maximus fermentum. Donec vestibulum ut lectus in lobortis. Suspendisse sed eros ante. Quisque elementum quis lectus nec elementum. Morbi metus felis, tincidunt eget malesuada in, gravida at tellus. Quisque non felis ex. Aenean vulputate risus leo.  Dolor sit amet, consectetur adipiscing elit. Fusce condimentum suscipit tortor, vitae malesuada sapien tempus in. Proin sed massa vulputate, dictum massa ac, semper risus. Morbi at nunc ut augue blandit malesuada. Vestibulum ac odio quis nunc fermentum tincidunt nec id nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean id diam purus. Aliquam a gravida metus. In vel interdum ex.Nulla facilisis eleifend iaculis. Sed imperdiet et augue at congue. Integer non magna aliquam, finibus dui sed, dignissim risus. Vestibulum dignissim ultricies nunc a congue. Proin fermentum sem elit, quis vestibulum magna bibendum suscipit. Donec nec sapien nisi. Praesent posuere sodales luctus. Phasellus elementum lorem lacus, vel pellentesque urna maximus fermentum. Donec vestibulum ut lectus in lobortis. Suspendisse sed eros ante. Quisque elementum quis lectus nec elementum. Morbi metus felis, tincidunt eget malesuada in, gravida at tellus. Quisque non felis ex. Aenean vulputate risus leo.  Dolor sit amet, consectetur adipiscing elit. Fusce condimentum suscipit tortor, vitae malesuada sapien tempus in. Proin sed massa vulputate, dictum massa ac, semper risus. Morbi at nunc ut augue blandit malesuada. Vestibulum ac odio quis nunc fermentum tincidunt nec id nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean id diam purus. Aliquam a gravida metus. In vel interdum ex.Nulla facilisis eleifend iaculis. Sed imperdiet et augue at congue. Integer non magna aliquam, finibus dui sed, dignissim risus. Vestibulum dignissim ultricies nunc a congue. Proin fermentum sem elit, quis vestibulum magna bibendum suscipit. Donec nec sapien nisi. Praesent posuere sodales luctus. Phasellus elementum lorem lacus, vel pellentesque urna maximus fermentum. Donec vestibulum ut lectus in lobortis. Suspendisse sed eros ante. Quisque elementum quis lectus nec elementum. Morbi metus felis, tincidunt eget malesuada in, gravida at tellus. Quisque non felis ex. Aenean vulputate risus leo.  Dolor sit amet, consectetur adipiscing elit. Fusce condimentum suscipit tortor, vitae malesuada sapien tempus in. Proin sed massa vulputate, dictum massa ac, semper risus. Morbi at nunc ut augue blandit malesuada. Vestibulum ac odio quis nunc fermentum tincidunt nec id nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean id diam purus. Aliquam a gravida metus. In vel interdum ex.Nulla facilisis eleifend iaculis. Sed imperdiet et augue at congue. Integer non magna aliquam, finibus dui sed, dignissim risus. Vestibulum dignissim ultricies nunc a congue. Proin fermentum sem elit, quis vestibulum magna bibendum suscipit. Donec nec sapien nisi. Praesent posuere sodales luctus. Phasellus elementum lorem lacus, vel pellentesque urna maximus fermentum. Donec vestibulum ut lectus in lobortis. Suspendisse sed eros ante. Quisque elementum quis lectus nec elementum. Morbi metus felis, tincidunt eget malesuada in, gravida at tellus. Quisque non felis ex. Aenean vulputate risus leo.  Dolor sit amet, consectetur adipiscing elit. Fusce condimentum suscipit tortor, vitae malesuada sapien tempus in. Proin sed massa vulputate, dictum massa ac, semper risus. Morbi at nunc ut augue blandit malesuada. Vestibulum ac odio quis nunc fermentum tincidunt nec id nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean id diam purus. Aliquam a gravida metus. In vel interdum ex.Nulla facilisis eleifend iaculis. Sed imperdiet et augue at congue. Integer non magna aliquam, finibus dui sed, dignissim risus. Vestibulum dignissim ultricies nunc a congue. Proin fermentum sem elit, quis vestibulum magna bibendum suscipit. Donec nec sapien nisi. Praesent posuere sodales luctus. Phasellus elementum lorem lacus, vel pellentesque urna maximus fermentum. Donec vestibulum ut lectus in lobortis. Suspendisse sed eros ante. Quisque elementum quis lectus nec elementum. Morbi metus felis, tincidunt eget malesuada in, gravida at tellus. Quisque non felis ex. Aenean vulputate risus leo.  
    .popup.popupall.popuptb
        .container
            .popup-body.popuptb-body
                h1.popup-body__title.popuptb-body__title Thông báo
                button.popup-body__exit.popuptb-body__exit
                    img(src="../assets/images/1828774copy.png")
                p.popup-body__name.popuptb-body__name Nhận quà thành công!
                .popup-body__btn
                    button.popup-body__btn2 Đến kho đồ
    .popup.popupall.popuptb2.popuptb
        .container
            .popup-body.popuptb2-body.popuptb2-body
                h1.popup-body__title.popuptb-body__title Thông tin người nhận
                button.popup-body__exit.popuptb-body__exit
                    img(src="../assets/images/1828774copy.png")
                p.popup-body__name.popuptb2-body__name Nhập ID người bạn muốn tặng:
                input.popuptb2-body__input(placeholder="Nhập ID người bạn muốn tặng")
                .popup-body__btn
                    button.popup-body__btn2 Tặng
    .popup.popupall.popuptb.popuptb3
        .container
            .popup-body.popuptb3-body.popuptb-body
                h1.popup-body__title.popuptb-body__title Thông báo
                button.popup-body__exit.popuptb-body__exit
                    img(src="../assets/images/1828774copy.png")
                p.popup-body__name.popuptb-body__name Bạn đã nhận quà.
                .popup-body__btn
                    button.popup-body__btn2.default Nhận
    .popup.popupall.popuptb.popuptb4
        .container
            .popup-body.popuptb3-body.popuptb-body
                h1.popup-body__title.popuptb-body__title Thông báo
                button.popup-body__exit.popuptb-body__exit
                    img(src="../assets/images/1828774copy.png")
                p.popup-body__name.popuptb-body__name Tài khoản <strong>Abra123M</strong> chưa đăng nhập website.<br>Chưa thể tặng quà.
    .popup.popuptb.popupall.popuptb5
        .container
            .popup-body.popuptb3-body.popuptb-body
                h1.popup-body__title.popuptb-body__title Thông báo
                button.popup-body__exit.popuptb-body__exit
                    img(src="../assets/images/1828774copy.png")
                p.popup-body__name.popuptb-body__name Bạn không có đủ lượt để quay.
    .popup.popuptb.popupall.popuptb6
        .container
            .popup-body.popuptb3-body.popuptb-body
                h1.popup-body__title.popuptb-body__title Thông báo
                button.popup-body__exit.popuptb-body__exit
                    img(src="../assets/images/1828774copy.png")
                p.popup-body__name.popuptb-body__name Bạn đã tặng quà thành công cho <strong>Abra123.</strong>
    .popup.popuptb.popupall.popuptb7
        .container
            .popup-body.popuptb3-body.popuptb-body
                h1.popup-body__title.popuptb-body__title Thông báo
                button.popup-body__exit.popuptb-body__exit
                    img(src="../assets/images/1828774copy.png")
                p.popup-body__name.popuptb-body__name.popuptb7-body__name Bạn nhận được: <br><strong>Set Chanh Vàng Tươi Mát</strong>
                .popup-body__btn
                    button.popup-body__btn2 Đến kho đồ                                     
    .popup.popuptb.popupall.popuptb8
        .container
            .popup-body.popuptb3-body.popuptb-body
                h1.popup-body__title.popuptb-body__title Thông báo
                button.popup-body__exit.popuptb-body__exit
                    img(src="../assets/images/1828774copy.png")
                p.popup-body__name.popuptb-body__name Mua thành công.<br>Mời bạn đến kho đồ để nhận nha.
                .popup-body__btn
                    button.popup-body__btn2 Đến kho đồ
    .popup.popuptb.popupall.popuptb9
        .container
            .popup-body.popuptb3-body.popuptb-body
                h1.popup-body__title.popuptb-body__title Thông báo
                button.popup-body__exit.popuptb-body__exit
                    img(src="../assets/images/1828774copy.png")
                p.popup-body__name.popuptb-body__name Bạn chưa có đủ điều kiện nhận quà.
    .popup.popuptb.popupall.popuptb10
        .container
            .popup-body.popuptb3-body.popuptb-body
                h1.popup-body__title.popuptb-body__title Thông báo
                button.popup-body__exit.popuptb-body__exit
                    img(src="../assets/images/1828774copy.png")
                p.popup-body__name.popuptb-body__name Đổi thành công.<br>Mời bạn đến kho đồ để nhận nha.
                .popup-body__btn
                    button.popup-body__btn2 Đến kho đồ
    .popup.popuptb.popupall.popuptb11
        .container
            .popup-body.popuptb3-body.popuptb-body
                h1.popup-body__title.popuptb-body__title Thông báo
                button.popup-body__exit.popuptb-body__exit
                    img(src="../assets/images/1828774copy.png")
                p.popup-body__name.popuptb-body__name.popuptb7-body__name Điểm danh thành công.<br>Bạn nhận được <strong>2 Vé Ướt.</strong>
                .popup-body__btn
                    button.popup-body__btn2 Đến Pool
    .popup.popuptb.popupall.popuptb12
        .container
            .popup-body.popuptb3-body.popuptb-body
                h1.popup-body__title.popuptb-body__title Thông báo
                button.popup-body__exit.popuptb-body__exit
                    img(src="../assets/images/1828774copy.png")
                p.popup-body__name.popuptb-body__name.popuptb7-body__name Xác nhận thành công.
    .popup.popuptb.popupall.popuptb13
        .container
            .popup-body.popuptb3-body.popuptb-body
                h1.popup-body__title.popuptb-body__title Thông báo
                button.popup-body__exit.popuptb-body__exit
                    img(src="../assets/images/1828774copy.png")
                p.popup-body__name.popuptb-body__name.popuptb7-body__name Bạn không có đủ Vcoin.
    .popup.popuptb.popupall.popuptb14
        .container
            .popup-body.popuptb3-body.popuptb-body
                h1.popup-body__title.popuptb-body__title Thông báo
                button.popup-body__exit.popuptb-body__exit
                    img(src="../assets/images/1828774copy.png")
                p.popup-body__name.popuptb-body__name.popuptb7-body__name Bạn không có đủ Vé Ướt.
    .popup.popuptb.popupall.popuptb15
        .container
            .popup-body.popuptb15-body.popuptb-body
                h1.popup-body__title.popuptb-body__title Thêm lượt
                button.popup-body__exit.popuptb-body__exit
                    img(src="../assets/images/1828774copy.png")
                p.popup-body__name Xin chào, 
                    strong Liliana123 
                p.popup-body__vcoin Số Vcoin hiện có: 
                    strong 10.000 
                a(href="") Nạp Vcoin tại đây
                ul
                    li
                        input(type="radio",name="vcoin")#input1
                        label(for="input1") 1 Xu Vàng = 10 Vcoin
                    li
                        input(type="radio",name="vcoin")#input2
                        label(for="input2") 10 Xu Vàng = 100 Vcoin

                    li
                        input(type="radio",name="vcoin")#input3
                        label(for="input3") 100 Xu Vàng = 1.000 Vcoin
                span.popuptb15-body__xacnhan Xác nhận mua <strong>10 Xu Vàng</strong> với giá <strong>100 Vcoin</strong>
                .popup-body__btn
                    button.popup-body__btn1 Hủy
                    button.popup-body__btn2 Xác nhận
