head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../css/style.css")
    title Document
body
    .popupmb
        .container
            .popupmb-body
                h1 Kích thước thiết bị không đủ <br>để hiển thị trang.<br>Vui lòng xoay ngang màn hình.
                img(src="../assets/images/xn.png" alt="")

    header.header
        .container
            .header-nav__left.js-navLeft
                ul
                    li.js-mov1 
                        img(src="../assets/images/12.png",alt="")
                        |Pool<br>  Check-in
                    li.js-mov2
                        img(src="../assets/images/14.png",alt="")
                        |Pool<br>  Free gift
                    li.js-mov3
                        img(src="../assets/images/15.png",alt="")
                        |Water<br> Shot
                    li.js-mov4
                        img(src="../assets/images/11.png",alt="")
                        |Pool<br> Shop
                    li.js-mov5
                        img(src="../assets/images/13.png",alt="")
                        |Bảng<br> xếp hạng
                h2.js-navLeftBtn Sự kiện
            .header-nav__right.js-menu
                img(src="../assets/images/au2.png",alt="")
                ul
                    li 
                        img(src="../assets/images/globe.png",alt="")
                    li
                        img(src="../assets/images/youtube.png",alt="")
                    li
                        img(src="../assets/images/a2.png",alt="")
                    li
                        img(src="../assets/images/a1.png",alt="")
                button.header-nav__right-row.js-showmenu
                    img(src="../assets/images/Layer702.png",alt="")
                button.header-nav__right-buy NẠP VCOIN
                button.header-nav__right-movtop.js-movtop TOP
            img.header-logo1(src="../assets/images/aubeat_loves_au2.png")
            img.header-logo2(src="../assets/images/a4.png")
            .header-login
                h2 Austar123
                button.header-login__gift
                    span 1
                .header-login__row
                    span
                    ul
                        li Thông tin tài khoản
                        li Kho đồ
                        li Đăng xuất
    .app
        .app-checkin
            .container
                img(src="../assets/images/w2.png").app-checkin__trangtri1
                img(src="../assets/images/w1.png").app-checkin__trangtri2
                .app-checkin__body
                    img(src="../assets/images/check-in.png",alt="").app-checkin__title
                    .app-checkin__body-item1 
                        p Thời gian điểm danh
                        span 01:22:21
                    .app-checkin__body-item2
                        p Phần thưởng:
                        span x2 Vé ướt
                    .app-checkin__body-item3
                        p Thời gian chờ đến đợt điểm danh kế tiếp
                        span 01:22:21
                    button.defaut Điểm danh
        .app-group
            .container
                .app-group__freegift
                    img(src="../assets/images/title.png",alt="").app-group__freegift-title
                    img(src="../assets/images/q1.png",alt="").app-group__freegift-trangtri1
                    img(src="../assets/images/q2.png",alt="").app-group__freegift-trangtri2
                    
                    ul.app-group__freegift-list
                        li.app-group__freegift-list__item.app-group__freegift-list__item1
                            img(src="../assets/images/Group91.png",alt="")
                            span Dưa hấu
                            button Nhận
                            p Gói quà tặng dành cho  người chơi tạo nhân vật  trong năm 2023
                        li.app-group__freegift-list__item.app-group__freegift-list__item2
                            img(src="../assets/images/Group92.png",alt="")
                            span Dừa xiêm
                            button Nhận
                            p Gói quà tặng dành cho người chơi tạo nhân vật trước ngày 01/07/2022
                        li.app-group__freegift-list__item.app-group__freegift-list__item3
                            img(src="../assets/images/Group93.png",alt="")
                            span Kem nhiệt đới
                            button Nhận
                            p Gói quà tặng dành cho người chơi tạo nhân vật trong thời gian từ 01/07/2022 đến 31/12/2022
                .app-group-watershot
                    img(src="../assets/images/wdshot.png",alt="").app-group-watershot__title
                    .app-group-watershot__left 
                        .app-group-watershot__left-header
                            button Lịch sử
                            button Thể lệ
                            button Chi tiết
                        .app-group-watershot__left-body
                            ul 
                                li 
                                    img(src="../assets/images/bq.png",alt="")
                                    img(src="../assets/images/b1.png",alt="")
                                    img(src="../assets/images/b3.png",alt="")
                                    img(src="../assets/images/b4.png",alt="")
                                    img(src="../assets/images/b2.png",alt="")
                                li  
                                    img(src="../assets/images/bq.png",alt="")
                                    img(src="../assets/images/b1.png",alt="")
                                    img(src="../assets/images/b3.png",alt="")
                                    img(src="../assets/images/b4.png",alt="")
                                    img(src="../assets/images/b2.png",alt="")
                                li
                                    img(src="../assets/images/bq.png",alt="")
                                    img(src="../assets/images/b1.png",alt="")
                                    img(src="../assets/images/b3.png",alt="")
                                    img(src="../assets/images/b4.png",alt="")
                                    img(src="../assets/images/b2.png",alt="")
                                li
                                    img(src="../assets/images/bq.png",alt="")
                                    img(src="../assets/images/b1.png",alt="")
                                    img(src="../assets/images/b3.png",alt="")
                                    img(src="../assets/images/b4.png",alt="")
                                    img(src="../assets/images/b2.png",alt="")
                        .app-group-watershot__left-footer
                            .app-group-watershot__left-footer__buy
                                p Số lượt bắn đang có:
                                    strong 20
                                button Thêm lượt
                            .app-group-watershot__left-footer__btn
                                button.app-group-watershot__left-footer__btn1 Bắn 1 lần
                                button.app-group-watershot__left-footer__btn2 Bắn 10 lần      
                    .app-group-watershot__right
                        h2 Phần thưởng
                        #demo.carousel.slide.app-group-watershot__right-sl
                            .carousel-inner.app-group-watershot__right-sl__list
                                .carousel-item.active.app-group-watershot__right-sl__list-item
                                    img(src="../assets/images/vllqr.png")
                                    p Bộ Lam lụa Quyến rũ
                                .carousel-item.app-group-watershot__right-sl__list-item
                                    img(src="../assets/images/vllqr.png")
                                    p Bộ Lam lụa Quyến rũ
                                .carousel-item.app-group-watershot__right-sl__list-item
                                    img(src="../assets/images/vllqr.png")
                                    p Bộ Lam lụa Quyến rũ
                        button.carousel-control-prev.app-group-watershot__right-btn__prev(data-bs-target="#demo" data-bs-slide="prev")
                            span.carousel-control-prev-icon
                        button.carousel-control-next.app-group-watershot__right-btn__next(data-bs-target="#demo" data-bs-slide="next")
                            span.carousel-control-next-icon
                .app-group-poolshop
                    img(src="../assets/images/Group1366.png",alt="").app-group-poolshop__title

                    ul.app-group-poolshop__header
                        li.app-group-poolshop__header-item1
                            img(src="../assets/images/Layer635.png",alt="")
                            p Thời gian còn lại:  
                                strong 02 ngày 22h 03' 15s
                        li.app-group-poolshop__header-item2
                            p Bạn đang có:
                            span 10.000 Vcoin 
                                strong 22 Vé ướt
                        li.app-group-poolshop__header-item3
                            button.app-group-poolshop__header-item3__btn1 + Vcoin
                            button.app-group-poolshop__header-item3__btn2 Xem
                            button.app-group-poolshop__header-item3__btn3 Thể lệ
                
                    ul.app-group-poolshop__list
                        li.app-group-poolshop__list-item
                            em.app-group-poolshop__list-item__em1
                                img(src="../assets/images/a5.png",alt="")
                                img(src="../assets/images/b5.png",alt="")
                            em.app-group-poolshop__list-item__em2
                                p Áo fancy sparkly vĩnh viễn
                                span
                                    s 2.500 
                                    p 2.000 Vcoin
                                        strong 2.000 Vé ướt
                            button Mua ngay
                            em.app-group-poolshop__list-item__em3
                                button Đổi quà
                                button Tặng quà
                        li.app-group-poolshop__list-item
                            em.app-group-poolshop__list-item__em1
                                img(src="../assets/images/a5.png",alt="")
                                img(src="../assets/images/b5.png",alt="")
                            em.app-group-poolshop__list-item__em2
                                p Áo fancy sparkly vĩnh viễn
                                span
                                    s 2.500 
                                    p 2.000 Vcoin
                                        strong 2.000 Vé ướt
                            button Mua ngay
                            em.app-group-poolshop__list-item__em3
                                button Đổi quà
                                button Tặng quà
                        li.app-group-poolshop__list-item
                            em.app-group-poolshop__list-item__em1
                                img(src="../assets/images/a5.png",alt="")
                                img(src="../assets/images/b5.png",alt="")
                            em.app-group-poolshop__list-item__em2
                                p Áo fancy sparkly vĩnh viễn
                                span
                                    s 2.500 
                                    p 2.000 Vcoin
                                        strong 2.000 Vé ướt
                            button Mua ngay
                            em.app-group-poolshop__list-item__em3
                                button Đổi quà
                                button Tặng quà
                        li.app-group-poolshop__list-item
                            em.app-group-poolshop__list-item__em1
                                img(src="../assets/images/a5.png",alt="")
                                img(src="../assets/images/b5.png",alt="")
                            em.app-group-poolshop__list-item__em2
                                p Áo fancy sparkly vĩnh viễn
                                span
                                    s 2.500 
                                    p 2.000 Vcoin
                                        strong 2.000 Vé ướt
                            button Mua ngay
                            em.app-group-poolshop__list-item__em3
                                button Đổi quà
                                button Tặng quà
                        li.app-group-poolshop__list-item
                            em.app-group-poolshop__list-item__em1
                                img(src="../assets/images/a5.png",alt="")
                                img(src="../assets/images/b5.png",alt="")
                            em.app-group-poolshop__list-item__em2
                                p Áo fancy sparkly vĩnh viễn
                                span
                                    s 2.500 
                                    p 2.000 Vcoin
                                        strong 2.000 Vé ướt
                            button Mua ngay
                            em.app-group-poolshop__list-item__em3
                                button Đổi quà
                                button Tặng quà
                        li.app-group-poolshop__list-item
                            em.app-group-poolshop__list-item__em1
                                img(src="../assets/images/a5.png",alt="")
                                img(src="../assets/images/b5.png",alt="")
                            em.app-group-poolshop__list-item__em2
                                p Áo fancy sparkly vĩnh viễn
                                span
                                    s 2.500 
                                    p 2.000 Vcoin
                                        strong 2.000 Vé ướt
                            button Mua ngay
                            em.app-group-poolshop__list-item__em3
                                button Đổi quà
                                button Tặng quà
                        li.app-group-poolshop__list-item
                            em.app-group-poolshop__list-item__em1
                                img(src="../assets/images/a5.png",alt="")
                                img(src="../assets/images/b5.png",alt="")
                            em.app-group-poolshop__list-item__em2
                                p Áo fancy sparkly vĩnh viễn
                                span
                                    s 2.500 
                                    p 2.000 Vcoin
                                        strong 2.000 Vé ướt
                            button Mua ngay
                            em.app-group-poolshop__list-item__em3
                                button Đổi quà
                                button Tặng quà
                        li.app-group-poolshop__list-item
                            em.app-group-poolshop__list-item__em1
                                img(src="../assets/images/a5.png",alt="")
                                img(src="../assets/images/b5.png",alt="")
                            em.app-group-poolshop__list-item__em2
                                p Áo fancy sparkly vĩnh viễn
                                span
                                    s 2.500 
                                    p 2.000 Vcoin
                                        strong 2.000 Vé ướt
                            button Mua ngay
                            em.app-group-poolshop__list-item__em3
                                button Đổi quà
                                button Tặng quà
                        li.app-group-poolshop__list-item
                            em.app-group-poolshop__list-item__em1
                                img(src="../assets/images/a5.png",alt="")
                                img(src="../assets/images/b5.png",alt="")
                            em.app-group-poolshop__list-item__em2
                                p Áo fancy sparkly vĩnh viễn
                                span
                                    s 2.500 
                                    p 2.000 Vcoin
                                        strong 2.000 Vé ướt
                            button Mua ngay
                            em.app-group-poolshop__list-item__em3
                                button Đổi quà
                                button Tặng quà
                        li.app-group-poolshop__list-item
                            em.app-group-poolshop__list-item__em1
                                img(src="../assets/images/a5.png",alt="")
                                img(src="../assets/images/b5.png",alt="")
                            em.app-group-poolshop__list-item__em2
                                p Áo fancy sparkly vĩnh viễn
                                span
                                    s 2.500 
                                    p 2.000 Vcoin
                                        strong 2.000 Vé ướt
                            button Mua ngay
                            em.app-group-poolshop__list-item__em3
                                button Đổi quà
                                button Tặng quà
        .app-group2
            .container
                .app-rank
                    img(src="../assets/images/title2.png",alt="").app-rank__title  
                    img(src="../assets/images/q3.png",alt="").app-rank__trangtri1  
                    img(src="../assets/images/q4.png",alt="").app-rank__trangtri2  

                    .app-rank__table
                        .app-rank__table-btn
                            button.active Tổng
                            button AU2
                            button AUBEAT
                        p.app-rank__table-spent Bạn đã tiêu:
                            strong 200.000 Vcoin
                        table
                            thead
                                tr
                                    th TOP
                                    th GAME
                                    th TÀI KHOẢN
                                    th MỨC TIÊU VCOIN
                            tbody
                                tr
                                    td 1    
                                    td Au2
                                    td Liliana123
                                    td 60.000 
                                tr
                                    td 1    
                                    td Au2
                                    td Liliana123
                                    td 60.000 
                                tr
                                    td 1    
                                    td Au2
                                    td Liliana123
                                    td 60.000 
                                tr
                                    td 1    
                                    td Au2
                                    td Liliana123
                                    td 60.000 
                                tr
                                    td 1    
                                    td Au2
                                    td Liliana123
                                    td 60.000 
                                tr
                                    td 1    
                                    td Au2
                                    td Liliana123
                                    td 60.000 
                                tr
                                    td 1    
                                    td Au2
                                    td Liliana123
                                    td 60.000 
                                tr
                                    td 1    
                                    td Au2
                                    td Liliana123
                                    td 60.000 
                                tr
                                    td 1    
                                    td Au2
                                    td Liliana123
                                    td 60.000 
                                tr
                                    td 1    
                                    td Au2
                                    td Liliana123
                                    td 60.000 
                        .app-rank__control
                            img(src="../assets/images/d2.png").app-rank__control-img1
                            ul
                                li.active 1
                                li 2
                                li 3
                                li 4                        
                            img(src="../assets/images/d2.png").app-rank__control-img2                       
                    .app-rank__myrank
                        .app-rank__myrank-item1
                            p Xếp hạng của bạn tại BXH Tổng:
                            span 100
                        .app-rank__myrank-item2
                            p Xếp hạng của bạn tại BXH Au2/AUB:
                            span 50
                .app-giftrank
                    .app-giftrank__aub
                        img(src="../assets/images/c3.png",alt="").app-giftrank__aub-logo
                        ul
                            li
                                span TOP 1
                                em
                                    span Áo AUBEAT siêu đặc biệt
                                        img(src="../assets/images/b5.png",alt="")
                                    span Áo AUBEAT siêu đặc biệt
                                        img(src="../assets/images/b5.png",alt="")
                                    span Áo AUBEAT siêu đặc biệt
                                        img(src="../assets/images/b5.png",alt="")
                            li
                                span TOP 2-3
                                em
                                    span Áo AUBEAT siêu đặc biệt
                                        img(src="../assets/images/b5.png",alt="")
                                    span Áo AUBEAT siêu đặc biệt
                                        img(src="../assets/images/b5.png",alt="")
                            li
                                span TOP 4-10
                                em
                                    span Áo AUBEAT siêu đặc biệt
                                        img(src="../assets/images/b5.png",alt="")
                    .app-giftrank__top1
                        img(src="../assets/images/a3.png",alt="").app-giftrank__top1-logo
                        ul
                            li
                                span TOP 1
                                em
                                    span Áo AUBEAT siêu đặc biệt
                                        img(src="../assets/images/b5.png",alt="")
                                    span Áo AUBEAT siêu đặc biệt
                                        img(src="../assets/images/b5.png",alt="")
                                    span Áo AUBEAT siêu đặc biệt
                                        img(src="../assets/images/b5.png",alt="")
                                    span Áo AUBEAT siêu đặc biệt
                                        img(src="../assets/images/b5.png",alt="")
                                    span Áo AUBEAT siêu đặc biệt
                                        img(src="../assets/images/b5.png",alt="")
                                    span Áo AUBEAT siêu đặc biệt
                                        img(src="../assets/images/b5.png",alt="")
                    .app-giftrank__au2
                        img(src="../assets/images/c2.png",alt="").app-giftrank__au2-logo
                        ul
                            li
                                span TOP 1
                                em
                                    span Áo AUBEAT siêu đặc biệt
                                        img(src="../assets/images/b5.png",alt="")
                                    span Áo AUBEAT siêu đặc biệt
                                        img(src="../assets/images/b5.png",alt="")
                                    span Áo AUBEAT siêu đặc biệt
                                        img(src="../assets/images/b5.png",alt="")
                            li
                                span TOP 2-3
                                em
                                    span Áo AUBEAT siêu đặc biệt
                                        img(src="../assets/images/b5.png",alt="")
                                    span Áo AUBEAT siêu đặc biệt
                                        img(src="../assets/images/b5.png",alt="")
                            li
                                span TOP 4-10
                                em
                                    span Áo AUBEAT siêu đặc biệt
                                        img(src="../assets/images/b5.png",alt="")
                button.app-group2__btn Chi tiết
    footer.footer
        .container
            .footer-logo
                img(src='../assets/images/logo_vtc.png' alt='')
                span TỔNG CÔNG TY TRUYỀN THÔNG ĐA PHƯƠNG TIỆN (VTC) <strong>CÔNG TY VTC CÔNG NGHỆ VÀ NỘI DUNG SỐ (VTC INTECOM)</strong>
            .footer-info
                span CHỊU TRACH NHIỆM QUẢN LÝ NỘI DUNG:
                a(href='') Ông Trần Phương Huy    
                table
                    tr 
                        td THÔNG TIN LIÊN HỆ
                    tr
                        td
                            img(alt="",src="../assets/images/icon_cskh.png")
                            a(href='tel:19001530') 1900 1530
                        td 
                            img(alt="",src="../assets/images/icon_web.png")
                            a(href='hotro.vtc.vn') hotro.vtc.vn
                    tr
                        td
                            img(alt="",src="../assets/images/icon_fax.png")
                            a(href='mailto:cskh.au@vtc.vn') cskh.au@vtc.vn
                        td
                            img(alt="",src="../assets/images/icon_face.png")
                            a(href='fb.com/auditionvtc') fb.com/auditionvtc

            .footer-address
                .footer-address__item

                    h5 TRỤ SỞ HÀ NỘI
                    p Tòa nhà VTC 23 Lạc Trung, Quận Hai Bà Trưng, Hà Nội
                .footer-address__item
            
                    h5 CHI NHÁNH THÀNH PHỐ HỒ CHÍ MINH
                    p 259 Đồng Đen, Phường 10, Quận tân Bình, TP. Hồ Chí Minh
script(src="../js/bootstrap.min.js")
script(src="../js/index.js")