head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../css/style.css")
    title Document
body
    .popup.popuptb.popuptb15
        .container
            .popup-body.popuptb15-body.popuptb-body
                h1.popup-body__title.popuptb-body__title Thêm lượt
                button.popup-body__exit.popuptb-body__exit
                    img(src="../assets/images/1828774copy.png")
                p.popup-body__name Xin chào, 
                    strong Liliana123 
                p.popup-body__vcoin Số Vcoin hiện có: 
                    strong 10.000 
                a(href="") Nạp Vcoin tại đây
                ul
                    li
                        input(type="radio",name="vcoin")#input1
                        label(for="input1") 1 Xu Vàng = 10 Vcoin
                    li
                        input(type="radio",name="vcoin")#input2
                        label(for="input2") 10 Xu Vàng = 100 Vcoin

                    li
                        input(type="radio",name="vcoin")#input3
                        label(for="input3") 100 Xu Vàng = 1.000 Vcoin
                span.popuptb15-body__xacnhan Xác nhận mua <strong>10 Xu Vàng</strong> với giá <strong>100 Vcoin</strong>
                .popup-body__btn
                    button.popup-body__btn1 Hủy
                    button.popup-body__btn2 Xác nhận
script(src="../js/bootstrap.min.js")
script(src="../js/index.js")