head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../css/style.css")
    title Document
body
    .popup.popuptb2.popuptb
        .container
            .popup-body.popuptb2-body.popuptb2-body
                h1.popup-body__title.popuptb-body__title Thông tin người nhận
                button.popup-body__exit.popuptb-body__exit
                    img(src="../assets/images/1828774copy.png")
                p.popup-body__name.popuptb2-body__name Nhập ID người bạn muốn tặng:
                input.popuptb2-body__input(placeholder="Nhập ID người bạn muốn tặng")
                .popup-body__btn
                    button.popup-body__btn2 Tặng
                   
script(src="../js/bootstrap.min.js")
script(src="../js/index.js")