head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../css/style.css")
    title Document
body
    .popupmb
        .container
            .popupmb-body
                h1 Kích thước thiết bị không đủ <br>để hiển thị trang.<br>Vui lòng xoay ngang màn hình.
                img(src="../assets/images/xn.png" alt="")
