header.header
    img(src="../aseets/images/Layer11.png")
    .grid.wide
        button.header-login
            img.header-login__user(src="../aseets/images/Forma1.png")
            span Đăng nhập/ Đăng ký
        a(href="#")
            img.header-logo(src="../aseets/images/LOGO_PHUCKICH_FINAL1.png")
        .row.center
            ul.header-nav__left.col-lg-6.col-md-6
                li.header-nav__left-item.header-nav__left-item1 
                    a.active.js-toggleControl đại lộ <br> danh vọng
                li.header-nav__left-item.header-nav__left-item2
                    a.js-toggleControl đãi ngộ vip
                li.header-nav__left-item.header-nav__left-item3
                    a.js-toggleControl group vip
                li.header-nav__left-item.header-nav__left-item4
                    a.js-toggleControl fanpage
            ul.header-nav__right.col-lg-6.col-md-6
                li.header-nav__right-item.header-nav__right-item1
                    a.js-toggleControl sự kiện vip
                li.header-nav__right-item.header-nav__right-item2
                    a.js-toggleControl tòa án binh
                li.header-nav__right-item.header-nav__right-item3
                    a.js-toggleControl group <br>cộng đồng
                li.header-nav__right-item.header-nav__right-item4
                    a.js-toggleControl group <br>chu clan
        .row
            .header-dowload.col-sm-0.col-lg-2.col-md-0
                button.header-dowload__btn
                .header-dowload__body
                    a nạp game
                    a youtube
                    iframe(src="https://www.youtube.com/embed/3vUHORsMclY")



