.app {
    height: 2430px;
    &-highlight {
        &__btn {
            top: 24px;
            right: unset;
            &-item {
                width: 152px;
                &3 {
                    margin-top: 12px;
                }
            }
        }
    }
    &-help {
        height: 100%;
        h2 {
            margin-bottom: 31px;
        }
        &__catalogue {
            height: 1938px;
            background: url("../aseets/images/Group441.jpg")#1b1738 no-repeat bottom;
            position: relative;
            display: flex;
            justify-content: center;
            padding: 0 !important;
        }
        &__body {
            padding: 26px 0 0 0!important;
            display: flex;
            flex-direction: column;
            align-items: center;
            &>span {
                font-size: 36px;
                font-weight: "Open Sans";
                font-weight: bold;
                margin-bottom: 32px;
            }
        }
    }
    &-result {
        margin-bottom: 63px;
        & .app-heading {
            margin-top: 32px;
            color: #d6a552;
            margin-bottom: 36px;
        }
        h1 {
            text-align: center;
        }
        & .app-row {
            background: linear-gradient(to right, #2f2518, #fff3be, #2f2518);
        }
    }
    &-even {
        margin-bottom: 29px;
    }
    &-adv {
        height: unset;
    }
}