.app {
    &-help {
        &__body {
            img {
                width: 100%;
            }
        }
    }
    &-highlight {
        &__btn {
            top: 24px;
            right: unset;
            &-item {
                width: 152px;
                &3 {
                    margin-top: 12px;
                }
            }
        }
    }
    &-help {
        &__catalogue {
            background: url("../aseets/images/Group441.jpg")#1b1738 no-repeat bottom;
            position: relative;
            display: flex;
            justify-content: center;
            padding: 0 !important;
        }
    }
}