.app {
    &-row {
        margin-left: unset;
        margin-top: 10px;
        width: 100%;
    }
    &-help {
        height: 1253px;
        width: 1138px;
        display: flex;
        &__catalogue {
            width: 195px;
            height: 1253px;
            padding: 26px 0 0 38px !important;
            background: url("../aseets/images/Layer839.jpg") #1b1738 no-repeat bottom;
            &>li {
                position: relative;
                font-family: "UTM Centur";
                list-style: none;
                color: #49f4ff;
                font-size: 20px;
                width: 110px;
                &:first-child {
                    margin-bottom: 20px;
                    font-size: 30px;
                    font-family: "UTM Centur";
                    color: #d6a552;
                    &::after {
                        border: none;
                    }
                }
                &.active {
                    color: #fff;
                }
                &::after {
                    content: "";
                    position: absolute;
                    left: -23px;
                    top: 13px;
                    width: 0;
                    height: 0;
                    border-top: 5px solid transparent;
                    border-left: 9px solid #00ffff;
                    border-bottom: 5px solid transparent;
                    display: flex;
                }
            }
            li {
                list-style: none;
            }
            &-sub {
                margin-left: 10px;
                li {
                    color: #6bb9e7;
                }
            }
        }
        &__body {
            padding: 26px 37px 0 34px !important;
            background: #272249;
            width: calc(1138px - 195px);
            font-family: "Open Sans";
            color: #c59751;
            h2 {
                font-size: 36px;
                font-weight: bold;
                text-align: center;
            }
            h3 {
                font-size: 20px;
            }
            p {
                font-size: 18px;
                color: #b2bee5;
                margin-bottom: 34px;
                text-indent: 3px;
            }
            img {
                margin-bottom: 34px;
            }
        }
    }
    &-adv {
        height: 213px;
        img {
            &:nth-child(1) {
                position: fixed;
                bottom: 0;
                right: 0;
                width: 378px;
                height: 130px;
                margin: 0;
            }
        }
    }
}