head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../css/style.css")
    title Document
body
   .popup
        .container
            .popup-body
                h1.popup-heading Thể lệ sự kiện
                a(href="").popup-close
                    img(src="../assets/images/Close.png")
                p.popup-des Thời Gian: 22/06 đến hết CBT<br>Trong Thời Gian Diễn Ra Sự Kiện User Có Tiến Hành Đăng Nhập Trang Sự Kiện Để Mua Các Gói Sau <br>Vip<br><br>Giá bán: 200,000 VNĐ (Sale 40%)<br>‌<br>Quà nhận ngay:<br>· Bảng Tên, Avatar, Danh Thiếp, jet pack<br>· 1 bộ vũ khí Gold ( D.E + S12k )<br>· Thẻ Tháng Thường<br>‌<br>SVIP<br>‌<br>Giá bán: 500,000 VNĐ (Sale 50%)<br>Quà nhận ngay:<br>Bảng Tên, Avatar, Danh<br>Thiếp, jet pack<br>1 bộ vũ khí Gold ( D.E + S12k + AKM + M4A1 )<br>Thẻ Tháng Cao Cấp 1 Tháng<br>‌<br>‌<br>Legendary<br>‌<br>Giá bán: 1,000,000 VNĐ (Sale 60%)<br>Quà nhận ngay:<br>Bảng Tên, Avatar, Danh Thiếp, jet pack<br>1 bộ vũ khí Gold ( D.E + S12k + AKM + M4A1+ MP5A3 )<br>Nhân Vật Hayana<br>Thẻ Tháng Cao Cấp 1 Tháng & Thẻ Tháng Thường<br><br>2.Mỗi Gói Qua Chỉ Mua Được Một Lần Trên Một Tài Khoản <br>+ Thời Gian Trao Thưởng<br>- Sau Khi User Mua Quà Xong Bạn Có Thể Vào Thư Để Tiến Hành Nhận Gói Quà Tương Ứng Với Mình Đã Mua Trên Trang Sự Kiện <br>- Phần Quà Thẻ Tháng Sẽ Được Tiền Hành Trao Lại Cho Các User Mua Các Gói Sự Kiện Vào Giai Đoạn EA/OB Tương Ứng Với Gói Quà Của Bạn Mua <br><br>*Lưu ý : <br>- Đối Với Các Vật Phẩm Trùng Như : Nhân Vật, Bảng Tên , Avatar. Danh Thiếp Thì Sau Khi Nhận Về Kho Đồ Sẽ Tự Tiến Hành Bán Chuyển Hóa Thành Bạc<br>- Đối Với Súng Trùng Sẽ Hiển Thị Trong Kho Đồ Là 2 Vật Phẩm
script(src="../js/bootstrap.min.js")
script(src="../js/index.js")