.slide 
   .container 
        h2.slide-heading TIN HÓT HÓT PHI ĐỘI 1
        span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae <br> ipsum ligula. Nullam imperdiet metus et rutrum fermentum. Fusce <br>volutpat augue lorem.
.app
    .container
        .app-news
            .app-news__btn
                button.active.js-toggleControl TIN HOT PHI ĐỘI 1
                button.js-toggleControl TIN HOT PHI ĐỘI 2
            .app-news__body
                .app-news__body-item
                    img(src="../assets/images/773.jpg")
                    span Phi Đội 16 - 
                        br
                        | Nonstop Moving
                    span Sau 16 năm phát triển, Phi Đội tự hào là Tựa game không chiến số 1 trên thị trường game Việt Nam hiện tại.
                .app-news__body-item
                    img(src="../assets/images/774.jpg")
                    span Phi Đội 16 - 
                        br
                        | Nonstop Moving
                    span Sau 16 năm phát triển, Phi Đội tự hào là Tựa game không chiến số 1 trên thị trường game Việt Nam hiện tại.

                .app-news__body-item
                    img(src="../assets/images/775.jpg")
                    span Phi Đội 16 - 
                        br
                        | Nonstop Moving
                    span Sau 16 năm phát triển, Phi Đội tự hào là Tựa game không chiến số 1 trên thị trường game Việt Nam hiện tại.

                .app-news__body-item
                    img(src="../assets/images/776.jpg")
                    span Phi Đội 16 - 
                        br
                        | Nonstop Moving
                    span Sau 16 năm phát triển, Phi Đội tự hào là Tựa game không chiến số 1 trên thị trường game Việt Nam hiện tại.
                .app-news__body-item
                    img(src="../assets/images/773.jpg")
                    span Phi Đội 16 - 
                        br
                        | Nonstop Moving
                    span Sau 16 năm phát triển, Phi Đội tự hào là Tựa game không chiến số 1 trên thị trường game Việt Nam hiện tại.
                .app-news__body-item
                    img(src="../assets/images/774.jpg")
                    span Phi Đội 16 - 
                        br
                        | Nonstop Moving
                    span Sau 16 năm phát triển, Phi Đội tự hào là Tựa game không chiến số 1 trên thị trường game Việt Nam hiện tại.

                .app-news__body-item
                    img(src="../assets/images/775.jpg")
                    span Phi Đội 16 - 
                        br
                        | Nonstop Moving
                    span Sau 16 năm phát triển, Phi Đội tự hào là Tựa game không chiến số 1 trên thị trường game Việt Nam hiện tại.
                .app-news__body-item
                    img(src="../assets/images/776.jpg")
                    span Phi Đội 16 - 
                        br
                        | Nonstop Moving
                    span Sau 16 năm phát triển, Phi Đội tự hào là Tựa game không chiến số 1 trên thị trường game Việt Nam hiện tại.
                .app-news__body-item
                    img(src="../assets/images/773.jpg")
                    span Phi Đội 16 - 
                        br
                        | Nonstop Moving
                    span Sau 16 năm phát triển, Phi Đội tự hào là Tựa game không chiến số 1 trên thị trường game Việt Nam hiện tại.
                .app-news__body-item
                    img(src="../assets/images/774.jpg")
                    span Phi Đội 16 - 
                        br
                        | Nonstop Moving
                    span Sau 16 năm phát triển, Phi Đội tự hào là Tựa game không chiến số 1 trên thị trường game Việt Nam hiện tại.

                .app-news__body-item
                    img(src="../assets/images/775.jpg")
                    span Phi Đội 16 - 
                        br
                        | Nonstop Moving
                    span Sau 16 năm phát triển, Phi Đội tự hào là Tựa game không chiến số 1 trên thị trường game Việt Nam hiện tại.

                .app-news__body-item
                    img(src="../assets/images/776.jpg")
                    span Phi Đội 16 - 
                        br
                        | Nonstop Moving
                    span Sau 16 năm phát triển, Phi Đội tự hào là Tựa game không chiến số 1 trên thị trường game Việt Nam hiện tại.
                .app-news__body-item
                    img(src="../assets/images/773.jpg")
                    span Phi Đội 16 - 
                        br
                        | Nonstop Moving
                    span Sau 16 năm phát triển, Phi Đội tự hào là Tựa game không chiến số 1 trên thị trường game Việt Nam hiện tại.
                .app-news__body-item
                    img(src="../assets/images/774.jpg")
                    span Phi Đội 16 - 
                        br
                        | Nonstop Moving
                    span Sau 16 năm phát triển, Phi Đội tự hào là Tựa game không chiến số 1 trên thị trường game Việt Nam hiện tại.

                .app-news__body-item
                    img(src="../assets/images/775.jpg")
                    span Phi Đội 16 - 
                        br
                        | Nonstop Moving
                    span Sau 16 năm phát triển, Phi Đội tự hào là Tựa game không chiến số 1 trên thị trường game Việt Nam hiện tại.

                .app-news__body-item
                    img(src="../assets/images/776.jpg")
                    span Phi Đội 16 - 
                        br
                        | Nonstop Moving
                    span Sau 16 năm phát triển, Phi Đội tự hào là Tựa game không chiến số 1 trên thị trường game Việt Nam hiện tại.
                .app-news__body-item
                    img(src="../assets/images/773.jpg")
                    span Phi Đội 16 - 
                        br
                        | Nonstop Moving
                    span Sau 16 năm phát triển, Phi Đội tự hào là Tựa game không chiến số 1 trên thị trường game Việt Nam hiện tại.
                .app-news__body-item
                    img(src="../assets/images/774.jpg")
                    span Phi Đội 16 - 
                        br
                        | Nonstop Moving
                    span Sau 16 năm phát triển, Phi Đội tự hào là Tựa game không chiến số 1 trên thị trường game Việt Nam hiện tại.

                .app-news__body-item
                    img(src="../assets/images/775.jpg")
                    span Phi Đội 16 - 
                        br
                        | Nonstop Moving
                    span Sau 16 năm phát triển, Phi Đội tự hào là Tựa game không chiến số 1 trên thị trường game Việt Nam hiện tại.

                .app-news__body-item
                    img(src="../assets/images/776.jpg")
                    span Phi Đội 16 - 
                        br
                        | Nonstop Moving
                    span Sau 16 năm phát triển, Phi Đội tự hào là Tựa game không chiến số 1 trên thị trường game Việt Nam hiện tại.
            .app-news__body-control
                                button
                                span.js-toggleControl 1
                                span.js-toggleControl.active 2
                                span.js-toggleControl 3
                                button
            