.slider
    .app-control
        span.js-toggleControl
        span.js-toggleControl
        span.active.js-toggleControl
.app
    .app-dowload
        .container
            .app-dowload__body
                .app-dowload__btn
                    button.app-dowload__btn-item.app-dowload__btn-item1.js-toggleControl NẠP VCOIN
                    button.app-dowload__btn-item.app-dowload__btn-item2.js-toggleControl TẢI MIỄN PHÍ PHI ĐỘI 1
                    button.app-dowload__btn-item.app-dowload__btn-item3.active.js-toggleControl TẢI MIỄN PHÍ PHI ĐỘI 2
                .app-dowload__slider
                    img(src="../assets/images/Layer773.jpg")
                    .app-control
                        span.js-toggleControl
                        span.js-toggleControl
                        span.active.js-toggleControl
                        span.js-toggleControl
                        span.js-toggleControl
    .app-news
        .container
            h1.app-heading PHI ĐỘI ĐANG CÓ GÌ HOT?
            .app-news__btn
                button.active.js-toggleControl TIN HOT PHI ĐỘI 1
                button.js-toggleControl TIN HOT PHI ĐỘI 2
            .app-news__body
                .app-news__body-item
                    img(src="../assets/images/773.jpg")
                    span Phi Đội 16 - 
                        br
                        | Nonstop Moving
                    span Sau 16 năm phát triển, Phi Đội tự hào là Tựa game không chiến số 1 trên thị trường game Việt Nam hiện tại.
                .app-news__body-item
                    img(src="../assets/images/774.jpg")
                    span Phi Đội 16 - 
                        br
                        | Nonstop Moving
                    span Sau 16 năm phát triển, Phi Đội tự hào là Tựa game không chiến số 1 trên thị trường game Việt Nam hiện tại.

                .app-news__body-item
                    img(src="../assets/images/775.jpg")
                    span Phi Đội 16 - 
                        br
                        | Nonstop Moving
                    span Sau 16 năm phát triển, Phi Đội tự hào là Tựa game không chiến số 1 trên thị trường game Việt Nam hiện tại.

                .app-news__body-item
                    img(src="../assets/images/776.jpg")
                    span Phi Đội 16 - 
                        br
                        | Nonstop Moving
                    span Sau 16 năm phát triển, Phi Đội tự hào là Tựa game không chiến số 1 trên thị trường game Việt Nam hiện tại.
            .app-control
                span.active.js-toggleControl
                span.js-toggleControl
            button.app-more Xem thêm
                span
                span
    .app-help
            .container
                h1.app-heading GIẢI ĐÁP VÀ HỖ TRỢ  
                .app-news__body
                    .app-news__body-item
                        img(src="../assets/images/773.jpg")
                        span Phi Đội 16 - 
                            br 
                            | Nonstop Moving
                        span Sau 16 năm phát triển, Phi Đội tự hào là Tựa game không chiến số 1 trên thị trường game Việt Nam hiện tại.
                    .app-news__body-item
                        img(src="../assets/images/774.jpg")
                        span Phi Đội 16 - 
                            br 
                            | Nonstop Moving
                        span Sau 16 năm phát triển, Phi Đội tự hào là Tựa game không chiến số 1 trên thị trường game Việt Nam hiện tại.

                    .app-news__body-item
                        img(src="../assets/images/775.jpg")
                        span Phi Đội 16 - 
                            br 
                            | Nonstop Moving
                        span Sau 16 năm phát triển, Phi Đội tự hào là Tựa game không chiến số 1 trên thị trường game Việt Nam hiện tại.

                    .app-news__body-item
                        img(src="../assets/images/776.jpg")
                        span Phi Đội 16 - 
                            br 
                            | Nonstop Moving
                        span Sau 16 năm phát triển, Phi Đội tự hào là Tựa game không chiến số 1 trên thị trường game Việt Nam hiện tại.
                .app-control
                    span.active.js-toggleControl
                    span.js-toggleControl
                button.app-more Xem thêm
                    span.js-toggleControl
                    span.js-toggleControl

