header.header
    .container
        .header-nav
            img.header-nav__logo(src="../assets/images/VectorSmartObject.png")
            ul.header-nav__menu
                li
                    a.active.js-toggleControl TRANG CHỦ
                li 
                    a.js-toggleControl GIỚI THIỆU
                    ul.header-nav__menu-subgt
                        li
                            a CỐT TRUYỆN
                        li
                            a GIỚI THIỆU M.GEAR
                        li
                            a GIỚI THIỆU I.GEAR
                        li
                            a GIỚI THIỆU B.GEAR
                        li
                            a GIỚI THIỆU A.GEAR
                        li
                            a TRỤ CHIẾN THUẬT
                li 
                    a.js-toggleControl HƯỚNG DẪN
                    ul.header-nav__menu-subhd
                        li
                            a QUY ĐỊNH QUẢN TRỊ
                        li
                            a CHỈ SỐ ĐẦU ĐUÔI
                        li
                            a NHẬP GIFTCODE
                        li
                            a KĨ NĂNG B.GEAR
                        li
                            a KĨ NĂNG A.GEAR
                        li
                            a KĨ NĂNG B.GEAR
                        li
                            a KĨ NĂNG A.GEAR
                li 
                    a.js-toggleControl FANPAGE
                li
                    a.js-toggleControl GROUP 1
                li
                    a GROUP 2
            .header-nav__login
                button.js-toggleControl NẠP VCOIN
                button.js-toggleControl ĐĂNG KÝ
