doctype html
html(lang="en")
    include head.pug
    link(rel="stylesheet" href="../css/app-3.css")
    link(rel="stylesheet" href="../css/respontive-3.css")

    body
        include header.pug
        include app-3.pug
        script(src="../js/index.js")