head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  
  link(rel="stylesheet" href="../css/style.css")
  title Document
body 
  header.header
    .container
      .header-nav
        a.header-nav__logo(href="")
          img(src='../assets/images/logo1.png')
        .header-nav__menu
            a(href="").header-nav__menu-item giới thiệu
            a(href="").header-nav__menu-item thể lệ
            a(href="").header-nav__menu-item voting
            a(href="").header-nav__menu-item tin tức
            a(href="").header-nav__menu-item social
        .header-nav__login
          a(href="").header-nav__login-name
            img(src="../assets/images/item1.png" alt="").header-nav__login-name__img
            p.header-nav__login-name__des blingstar123@gmail.com
          a(href="").header-nav__login-btn Thoát
          a.header-nav__login-btn1(href="") đăng nhập
        ul.nav.nav-tabs.header-nav__menumb.hidepc
          li.nav-item.dropdown.active
            a.nav-link.dropdown-toggle(data-bs-toggle="dropdown" href="#")
            ul.dropdown-menu
              li
                a.dropdown-item(href="#").header-nav__menu-item giới thiệu
              li
                a.dropdown-item(href="#").header-nav__menu-item thể lệ
              li
                a.dropdown-item(href="#").header-nav__menu-item voting
              li
                a.dropdown-item(href="#").header-nav__menu-item tin tức
              li
                a.dropdown-item(href="#").header-nav__menu-item social
    
  .banner
    .container
      .swiper.mySwiper
          .swiper-wrapper.mySwiper-wrapper

            .swiper-slide.mySwiper-slide
              a(href="").mySwiper-slide__item
                img(src="../assets/images/item2.jpg" alt="")
            .swiper-slide.mySwiper-slide
              a(href="").mySwiper-slide__item
                img(src="../assets/images/item3.jpg" alt="")
            .swiper-slide.mySwiper-slide
              a(href="").mySwiper-slide__item
                img(src="../assets/images/item4.jpg" alt="")
            .swiper-slide.mySwiper-slide
              a(href="").mySwiper-slide__item
                img(src="../assets/images/item2.jpg" alt="")
            .swiper-slide.mySwiper-slide
              a(href="").mySwiper-slide__item
                img(src="../assets/images/item3.jpg" alt="")
            .swiper-slide.mySwiper-slide
              a(href="").mySwiper-slide__item
                img(src="../assets/images/item4.jpg" alt="")
          .swiper-pagination.mySwiper-pagination
  .app
    .container
      .app-voteteam
        h1.app-voteteam__heading Vote cho team của bạn  
          select.app-voteteam__select
            option(selected) Miền Bắc
            option Miền Nam
        label.app-voteteam__search
          input.app-voteteam__search-input(placeholder="Nhập tên đội bạn muốn tìm...")
          a(href="").app-voteteam__search-icon
            img(src="../assets/images/search.png" alt="")
      .app-rank
        .swiper.mySwiper3
          .swiper-wrapper.mySwiper3-wrapper
            .swiper-slide.mySwiper3-slide.mySwiper3-slide1
              .app-rank__item.app-rank__item1
                img.app-rank__item-header.app-rank__item1-header(src="../assets/images/item10.png" alt="")
                .app-rank__item-body.app-rank__item1-body
                  img.app-rank__item-body__img.app-rank__item1-body__img(src="../assets/images/item5.jpg" alt="")
                  p.app-rank__item-body__des.app-rank__item1-body__des SynthWave Dance Group- Bảng chuyên nghiệp | Audition off Stage 2023
                  .app-rank__item-body__btn
                    a.app-rank__item-body__btn1.app-rank__item1-body__btn1(href="") SHARE
                    a.app-rank__item-body__btn2.app-rank__item1-body__btn2(href="") 
                      img(src="../assets/images/item6.png" alt="").app-rank__item-body__btn2-img.app-rank__item1-body__btn2-img
                      p.app-rank__item-body__btn2-des.app-rank__item1-body__btn2-des 2.890
                .app-rank__item-footer
                  img.app-rank__item-footer__img(src="../assets/images/item7.png" alt="")
                  h2.app-rank__item-footer__h2 TOP 2
            .swiper-slide.mySwiper3-slide.mySwiper3-slide2         
              .app-rank__item.app-rank__item2
                img.app-rank__item-header.app-rank__item2-header(src="../assets/images/item11.png" alt="")
                .app-rank__item-body.app-rank__item2-body
                  img.app-rank__item-body__img.app-rank__item2-body__img(src="../assets/images/item5.jpg" alt="")
                  p.app-rank__item-body__des.app-rank__item2-body__des SynthWave Dance Group- Bảng chuyên nghiệp | Audition off Stage 2023
                  .app-rank__item-body__btn
                    a.app-rank__item-body__btn1.app-rank__item2-body__btn1(href="") SHARE
                    a.app-rank__item-body__btn2.app-rank__item2-body__btn2(href="") 
                      img(src="../assets/images/item6.png" alt="").app-rank__item-body__btn2-img.app-rank__item2-body__btn2-img
                      p.app-rank__item-body__btn2-des.app-rank__item2-body__btn2-des 2.890
                .app-rank__item-footer
                  img.app-rank__item-footer__img(src="../assets/images/item8.png" alt="")
                  h2.app-rank__item-footer__h2.app-rank__item2-footer__h2 TOP 1
            .swiper-slide.mySwiper3-slide.mySwiper3-slide3         
              .app-rank__item.app-rank__item3
                img.app-rank__item-header.app-rank__item3-header(src="../assets/images/item12.png" alt="")
                .app-rank__item-body.app-rank__item3-body
                  img.app-rank__item-body__img.app-rank__item3-body__img(src="../assets/images/item5.jpg" alt="")
                  p.app-rank__item-body__des.app-rank__item3-body__des SynthWave Dance Group- Bảng chuyên nghiệp | Audition off Stage 2023
                  .app-rank__item-body__btn
                    a.app-rank__item-body__btn1.app-rank__item3-body__btn1(href="") SHARE
                    a.app-rank__item-body__btn2.app-rank__item3-body__btn2(href="") 
                      img(src="../assets/images/item6.png" alt="").app-rank__item-body__btn2-img.app-rank__item3-body__btn2-img
                      p.app-rank__item-body__btn2-des.app-rank__item3-body__btn2-des 2.890
                .app-rank__item-footer
                  img.app-rank__item-footer__img(src="../assets/images/item9.png" alt="")
                  h2.app-rank__item-footer__h2 TOP 3
           
            
      .app-new
        .app-rank__item-body.app-new__item-body
            img.app-rank__item-body__img.app-new__item-body__img(src="../assets/images/item5.jpg" alt="")
            p.app-rank__item-body__des.app-new__item-body__des SynthWave Dance Group- Bảng chuyên nghiệp | Audition off Stage 2023
            .app-rank__item-body__btn
              a.app-rank__item-body__btn1.app-new__item-body__btn1(href="") SHARE
              a.app-rank__item-body__btn2.app-new__item-body__btn2(href="") 
                img(src="../assets/images/item6.png" alt="").app-rank__item-body__btn2-img.app-new__item-body__btn2-img
                p.app-rank__item-body__btn2-des.app-new__item-body__btn2-des 2.890
        .app-rank__item-body.app-new__item-body
            img.app-rank__item-body__img.app-new__item-body__img(src="../assets/images/item5.jpg" alt="")
            p.app-rank__item-body__des.app-new__item-body__des SynthWave Dance Group- Bảng chuyên nghiệp | Audition off Stage 2023
            .app-rank__item-body__btn
              a.app-rank__item-body__btn1.app-new__item-body__btn1(href="") SHARE
              a.app-rank__item-body__btn2.app-new__item-body__btn2(href="") 
                img(src="../assets/images/item6.png" alt="").app-rank__item-body__btn2-img.app-new__item-body__btn2-img
                p.app-rank__item-body__btn2-des.app-new__item-body__btn2-des 2.890
        .app-rank__item-body.app-new__item-body
            img.app-rank__item-body__img.app-new__item-body__img(src="../assets/images/item5.jpg" alt="")
            p.app-rank__item-body__des.app-new__item-body__des SynthWave Dance Group- Bảng chuyên nghiệp | Audition off Stage 2023
            .app-rank__item-body__btn
              a.app-rank__item-body__btn1.app-new__item-body__btn1(href="") SHARE
              a.app-rank__item-body__btn2.app-new__item-body__btn2(href="") 
                img(src="../assets/images/item6.png" alt="").app-rank__item-body__btn2-img.app-new__item-body__btn2-img
                p.app-rank__item-body__btn2-des.app-new__item-body__btn2-des 2.890
        .app-rank__item-body.app-new__item-body
            img.app-rank__item-body__img.app-new__item-body__img(src="../assets/images/item5.jpg" alt="")
            p.app-rank__item-body__des.app-new__item-body__des SynthWave Dance Group- Bảng chuyên nghiệp | Audition off Stage 2023
            .app-rank__item-body__btn
              a.app-rank__item-body__btn1.app-new__item-body__btn1(href="") SHARE
              a.app-rank__item-body__btn2.app-new__item-body__btn2(href="") 
                img(src="../assets/images/item6.png" alt="").app-rank__item-body__btn2-img.app-new__item-body__btn2-img
                p.app-rank__item-body__btn2-des.app-new__item-body__btn2-des 2.890
        .app-rank__item-body.app-new__item-body
            img.app-rank__item-body__img.app-new__item-body__img(src="../assets/images/item5.jpg" alt="")
            p.app-rank__item-body__des.app-new__item-body__des SynthWave Dance Group- Bảng chuyên nghiệp | Audition off Stage 2023
            .app-rank__item-body__btn
              a.app-rank__item-body__btn1.app-new__item-body__btn1(href="") SHARE
              a.app-rank__item-body__btn2.app-new__item-body__btn2(href="") 
                img(src="../assets/images/item6.png" alt="").app-rank__item-body__btn2-img.app-new__item-body__btn2-img
                p.app-rank__item-body__btn2-des.app-new__item-body__btn2-des 2.890
        .app-rank__item-body.app-new__item-body
            img.app-rank__item-body__img.app-new__item-body__img(src="../assets/images/item5.jpg" alt="")
            p.app-rank__item-body__des.app-new__item-body__des SynthWave Dance Group- Bảng chuyên nghiệp | Audition off Stage 2023
            .app-rank__item-body__btn
              a.app-rank__item-body__btn1.app-new__item-body__btn1(href="") SHARE
              a.app-rank__item-body__btn2.app-new__item-body__btn2(href="") 
                img(src="../assets/images/item6.png" alt="").app-rank__item-body__btn2-img.app-new__item-body__btn2-img
                p.app-rank__item-body__btn2-des.app-new__item-body__btn2-des 2.890
        .app-rank__item-body.app-new__item-body
            img.app-rank__item-body__img.app-new__item-body__img(src="../assets/images/item5.jpg" alt="")
            p.app-rank__item-body__des.app-new__item-body__des SynthWave Dance Group- Bảng chuyên nghiệp | Audition off Stage 2023
            .app-rank__item-body__btn
              a.app-rank__item-body__btn1.app-new__item-body__btn1(href="") SHARE
              a.app-rank__item-body__btn2.app-new__item-body__btn2(href="") 
                img(src="../assets/images/item6.png" alt="").app-rank__item-body__btn2-img.app-new__item-body__btn2-img
                p.app-rank__item-body__btn2-des.app-new__item-body__btn2-des 2.890
        .app-rank__item-body.app-new__item-body
            img.app-rank__item-body__img.app-new__item-body__img(src="../assets/images/item5.jpg" alt="")
            p.app-rank__item-body__des.app-new__item-body__des SynthWave Dance Group- Bảng chuyên nghiệp | Audition off Stage 2023
            .app-rank__item-body__btn
              a.app-rank__item-body__btn1.app-new__item-body__btn1(href="") SHARE
              a.app-rank__item-body__btn2.app-new__item-body__btn2(href="") 
                img(src="../assets/images/item6.png" alt="").app-rank__item-body__btn2-img.app-new__item-body__btn2-img
                p.app-rank__item-body__btn2-des.app-new__item-body__btn2-des 2.890
        .control
          a(href="").control-prev
            img(src="../assets/images/item16.png" alt="")
          ul.control-ul
              li.control-ul__li 
                a.control-ul__li-a(href="").active 1
              li.control-ul__li 
                a.control-ul__li-a(href="") 2
              li.control-ul__li 
                a.control-ul__li-a(href="") 3
              li.control-ul__li 
                a.control-ul__li-a(href="") 4                        
          a(href="").control-next
            img(src="../assets/images/item17.png")
      
      img(src="../assets/images/item18.png" alt="").app-trangtri1
      img(src="../assets/images/item19.png" alt="").app-trangtri2
      .banner2
        a(href="").banner2-item.banner2-item1
          img(src="../assets/images/item14.jpg" alt="").banner2-item__img
        a(href="").banner2-item.banner2-item2
          img(src="../assets/images/item14.jpg" alt="").banner2-item__img
  a(href="javascript:void(0)").js-movtop.movtop
    img(src="../assets/images/item13.png" alt="").movtop-img
  footer.footer
    .container
      .footer-logo
        .footer-logo__img
          img(src='../assets/images/logo1.svg' alt='')
        span TỔNG CÔNG TY TRUYỀN THÔNG ĐA PHƯƠNG TIỆN (VTC) <strong>CÔNG TY VTC CÔNG NGHỆ VÀ NỘI DUNG SỐ (VTC INTECOM)</strong>
      .footer-info
        span CHỊU TRÁCH NHIỆM QUẢN LÝ NỘI DUNG:
        a(href='') Ông Trần Phương Huy    
        table
          tr 
            td THÔNG TIN LIÊN HỆ
          tr
            td

              img(alt="",src="../assets/images/icon_web.png")
              a(href='hotro.vtc.vn') info.vtcgame@vtc.vn
          tr
            td
              img(alt="",src="../assets/images/icon_fax.png")
              a(href='mailto:cskh.au@vtc.vn') 024.3636.7728
          tr
            td
              img(alt="",src="../assets/images/icon_face.png")
              a(href='fb.com/auditionvtc') fb.com/congvtcgame
          tr
            td
              img(alt="",src="../assets/images/icon_cskh.png")
              a(href='fb.com/auditionvtc') 1900 1530
      .footer-address
        .footer-address__item

          h5 TRỤ SỞ HÀ NỘI
          p Tầng 14, Tòa nhà VTC 23 Lạc Trung, Quận Hai Bà Trưng, Hà Nội
        .footer-address__item
          h5 VĂN PHÒNG ĐẠI DIỆN TP. HỒ CHÍ MINH
          p 259 Đồng Đen, Phường 10, Quận Tân Bình, TP. Hồ Chí Minh
script(src="../js/swiper.js")
script(src="../js/bootstrap.min.js")
script(src="../js/index.js")