head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  
  link(rel="stylesheet" href="../css/style.css")
  title Document
body.pbody

  .popup
    .container.popup-container1
      iframe.popup-iframe(src="https://www.youtube.com/embed/PNhYz6RmIr4")

      
cript(src="../js/swiper.js")
script(src="../js/bootstrap.min.js")
script(src="../js/index.js")