head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet" href="../css/style.css")
  title Document
body.pbody
  .popup
    .popup-container
      .popup-header
        h1.popup-header__title Thông báo
        a.popup-header__close(href="")
          img(src="../assets/images/close.png" alt="").popup-header__close-img
        img.popup-header__trangtri(src="../assets/images/p1.png" alt="")
      .popup-body 
        p.popup-body__des Bạn đã chọn 
        p.popup-body__item SynthWave Dance Group
        p.popup-body__des thành công! 
cript(src="../js/swiper.js")
script(src="../js/bootstrap.min.js")
script(src="../js/index.js")