.app
    .container
        .app-news
            h1.app-heading Tin tức mới nhất
            .app-news__content
                ul.app-news__content-item
                    li
                        img(src="../assets/images/2.jpg" alt="")
                        h3 Hộp quà bí ẩn - Vật phẩm siêu ngon<br> với giá ưu đãi
                        p Rise Of The Kings là tựa game chiến thuật nhập vai lấy bối cảnh Trung Cổ, kết hợp 2 thể loại game RPG, RTS hài hòa, do VTC Game hợp tác phát hành chính thức tại Việt Nam.
                        a Xem thêm
                    li
                        img(src="../assets/images/3.jpg" alt="")
                        h3 Hộp quà bí ẩn - Vật phẩm siêu ngon<br> với giá ưu đãi
                        p Rise Of The Kings là tựa game chiến thuật nhập vai lấy bối cảnh Trung Cổ, kết hợp 2 thể loại game RPG, RTS hài hòa, do VTC Game hợp tác phát hành chính thức tại Việt Nam.
                        a Xem thêm
                span Sự kiện hot
                .app-news__content-item2
                    button.js-pevNews
                        img(src="../assets/images/row.png" alt="")
                    ul.js-sliderNews
                        li 
                            img(src="../assets/images/4.jpg" alt="")
                            span  [HOT] Giải đáp những thắc mắc về game mới của VTC 
                        li 
                            img(src="../assets/images/4.jpg" alt="")
                            span  [HOT] Giải đáp những thắc mắc về game mới của VTC 
                        li 
                            img(src="../assets/images/4.jpg" alt="")
                            span  [HOT] Giải đáp những thắc mắc về game mới của VTC 
                        li 
                            img(src="../assets/images/4.jpg" alt="")
                            span  [HOT] Giải đáp những thắc mắc về game mới của VTC 
                        li 
                            img(src="../assets/images/4.jpg" alt="")
                            span  [HOT] Giải đáp những thắc mắc về game mới của VTC

                        li 
                            img(src="../assets/images/4.jpg" alt="")
                            span  [HOT] Giải đáp những thắc mắc về game mới của VTC
                        li 
                            img(src="../assets/images/4.jpg" alt="")
                            span  [HOT] Giải đáp những thắc mắc về game mới của VTC
                        li 
                            img(src="../assets/images/4.jpg" alt="")
                            span  [HOT] Giải đáp những thắc mắc về game mới của VTC 
                        li 
                            img(src="../assets/images/4.jpg" alt="")
                            span  [HOT] Giải đáp những thắc mắc về game mới của VTC

                        li 
                            img(src="../assets/images/4.jpg" alt="")
                            span  [HOT] Giải đáp những thắc mắc về game mới của VTC
                        li 
                            img(src="../assets/images/4.jpg" alt="")
                            span  [HOT] Giải đáp những thắc mắc về game mới của VTC
                    button.js-nextNews
                        img(src="../assets/images/row.png" alt="")
        .app-pkm
            h1.app-heading Pokemon tiêu biểu
            .app-pkm__content
                .app-pkm__content-item
                    span
                    ul
                        li 
                            span Pikachu
                            p Pikachu là một loài gặm nhấm với thân hình lùn và nhỏ. Pikachu rất dễ nhận ra bởi thân hình toàn màu vàng, với đôi tai dài và những sọc đen sau lưng, cạnh cái đuôi như tia điện xẹt.
                            span Tiến hoá
                            img(src="../assets/images/7.png" alt="")
                        li 
                            img(src="../assets/images/6.png" alt="")
                .app-pkm__content-item2
                    button.js-pevPkm
                        img(src="../assets/images/row.png" alt="")
                    ul.js-sliderPkm
                        li 
                            img(src="../assets/images/8.png" alt="")
                        
                        li 
                            img(src="../assets/images/9.png" alt="")
                        
                        li 
                            img(src="../assets/images/10.png" alt="")
                        
                        li 
                            img(src="../assets/images/11.png" alt="")
                        li 
                            img(src="../assets/images/12.png" alt="")
                        li 
                            img(src="../assets/images/12.png" alt="")
                        li 
                            img(src="../assets/images/12.png" alt="")
                        li 
                            img(src="../assets/images/8.png" alt="")
                        
                        li 
                            img(src="../assets/images/9.png" alt="")
                        
                        li 
                            img(src="../assets/images/10.png" alt="")
                        
                        li 
                            img(src="../assets/images/11.png" alt="")
                        li 
                            img(src="../assets/images/12.png" alt="")
                        li 
                            img(src="../assets/images/12.png" alt="")
                        li 
                            img(src="../assets/images/12.png" alt="")    
                    button.js-nextPkm 
                        img(src="../assets/images/row.png" alt="")
        .app-ds
            h2.app-heading Đặc sắc
            .app-ds__slide.js-slider
                img(src="../assets/images//16.png")
                img(src="../assets/images//16.png")
                img(src="../assets/images//16.png")
                img(src="../assets/images//16.png")
              
            .app-ds__control
                button.active.js-control.js-control1
                button.js-control.js-control2
                button.js-control.js-control3
                button.js-control.js-control4
        .app-popup
            .overlay
            span Comming Soon