.app
    .container
        .app-introduce
            button.app-introduce__btn Giới thiệu
            span LƯỚT TOONDER MÊ SAY! NHẬN GIFTCODE LIỀN TAY  
            .app-introduce__gift
                button 
                    img(src="../assets/images/2.png")
                button 
                    img(src="../assets/images/3.png")
                button 
                    img(src="../assets/images/Logo-Aubeat-(final).png")
            .app-introduce__directional
                button.js-rules.app-introduce__btn Thể lệ
                button.js-help.app-introduce__btn Hướng dẫn
        .app-rules  
            ul.app-rules__detail
                li.btn Thể lệ
                li Tải app <strong>Toonder</strong> và đăng nhập tài khoản VTC ID để tham gia sự kiện nhận quà 
                li Mỗi 01 <strong>tài khoản VTC ID</strong> chỉ được chọn <strong>01 game</strong> để nhận giftcode và không được chọn lại. 
                li Truy cập và hoàn thành các nhiệm vụ để nhận điểm (P) trên app <strong>Toonder</strong> 
                li Với mỗi mốc <strong>20 điểm, 50 điểm, 80 điểm </strong>sẽ nhận được các phần quà giftcode tương ứng. 
                li Nhận Giftcode quà tại mục <strong>" ĐỔI COUPON"</strong> trên app Toonder   
            button AUDITION 
            ul.app-rules__code1.app-rules__code
                li
                    span AUCODE<strong>30%</strong>
                    button Tạo tài<br> khoản mới
                li
                    span AUCODE<strong>30%</strong>
                    button Đạt mốc 20 điểm
                li
                    span AUCODE<strong>30%</strong> 
                    button Đạt mốc 50 điểm
                li
                    span AUCODE<strong>30%</strong>
                    button Đạt mốc 80 điểm
            button Aubeat  
            ul.app-rules__code2.app-rules__code
                    li 
                        span GIFTCODE<strong>100K</strong>
                        button Tạo tài<br> khoản mới
                    li 
                        span GIFTCODE<strong>100K</strong>
                        button Đạt mốc 20 điểm
                    li 
                        span GIFTCODE<strong>100K</strong>
                        button Đạt mốc 50 điểm
                    li 
                        span GIFTCODE<strong>100K</strong>
                        button Đạt mốc 80 điểm
            button AU2 
            ul.app-rules__code3.app-rules__code
                    li 
                        span GIFTCODE<strong>100K</strong>
                        button Tạo tài khoản mới
                    li 
                        span GIFTCODE<strong>100K</strong>
                        button Đạt mốc 20 điểm
                    li 
                        span GIFTCODE<strong>100K</strong>
                        button Đạt mốc 50 điểm
                    li 
                        span GIFTCODE<strong>100K</strong>
                        button Đạt mốc 80 điểm
        .app-help   
            ul.app-rules__detail
                li.btn Hướng dẫn
                li Bước 1: Tải app Toonder và đăng nhập tài khoản VTC ID trên app 
                li 
                    button 
                        img(src="../assets/images/6.png")
                        img(src="../assets/images/8.jpg")
                        img(src="../assets/images/6.png")
                li  
                    img(src="../assets/images/4.png")
                li
                    img(src="../assets/images/5.png")
            button Tải app toonder 