footer.footer
  .container
    .footer-logo
      img(src='../assets/images/logo_vtc.png' alt='')
      span TỔNG CÔNG TY TRUYỀN THÔNG ĐA PHƯƠNG TIỆN (VTC) <strong>CÔNG TY VTC CÔNG NGHỆ VÀ NỘI DUNG SỐ (VTC INTECOM)</strong>
    .footer-info
        span CHỊU TRACH NHIỆM QUẢN LÝ NỘI DUNG:
        a(href='') Ông Trần Phương Huy    
        table
            tr 
                td THÔNG TIN LIÊN HỆ
            tr
                td
                    img(alt="",src="../assets/images/icon_cskh.png")
                    a(href='tel:19001530') 1900 1530
                td 
                    img(alt="",src="../assets/images/icon_web.png")
                    a(href='hotro.vtc.vn') hotro.vtc.vn
            tr
                td
                    img(alt="",src="../assets/images/icon_fax.png")
                    a(href='mailto:cskh.au@vtc.vn') cskh.au@vtc.vn
                td
                    img(alt="",src="../assets/images/icon_face.png")
                    a(href='fb.com/auditionvtc') fb.com/auditionvtc

    .footer-address
        .footer-address__item

            h5 TRỤ SỞ HÀ NỘI
            p Tòa nhà VTC 23 Lạc Trung, Quận Hai Bà Trưng, Hà Nội
        .footer-address__item
    
            h5 CHI NHÁNH THÀNH PHỐ HỒ CHÍ MINH
            p 259 Đồng Đen, Phường 10, Quận tân Bình, TP. Hồ Chí Minh
