img(src="../assets/images/bgall.jpg").bg-all
header.header   
    .container
        img.header-logo(src="../assets/images/logo.png")
        ul.header-login
            li
                a.active Trang chủ
            li
                a Group
        .header-download
            span Tải toonder 
            span 
                img(src="../assets/images/Layer11.png")
            button 
                span Get it on <strong>Google play</strong>
                img(src="../assets/images/google-play.png")
            button
                span Dowload on the <strong>APP store</strong>
                img(src="../assets/images/apple-black-logo.png")
            button.js-movtop
                img(src="../assets/images/6.png")