img(src="../assets/images/bg.jpg" alt="").bg
header.header   
    .container
        .header-nav
            ul
                li
                    a(href="#").active Trang chủ
                li
                    a(href="#") Tin hot
                li
                    a(href="#") Học viện
            a(href="#")
                img(src="../assets/images/pokemon---logo.png" alt="")
            ul
                li
                    a(href="#") Cập nhập
                li
                    a(href="#") Event
                li
                    a(href="#") Fanpage
            
        .header-introduce
            img(src="../assets/images/14.png" alt="")
            button Nạp<br> kim cương
                img(src="../assets/images/Layer34.png" alt="")
            .header-introduce__video
                .iframe.defaut
                    iframe
                    img(src="../assets/images/Play-512.png")
             
            .header-introduce__download
                button Tải game<br> trên IOS
                    img(src="../assets/images/Apple.png" alt="")
                button Tải game<br> trên Android
                    img(src="../assets/images/38002.png" alt="")
                button Tải game <br>trên PC
                    img(src="../assets/images/pc.png" alt="")
        .header-download
            img(src="../assets/images/pkm.png" alt="")
            ul
                li Qrcode
                    img(src="../assets/images/btn_tai_qr.png" alt="")
                li  Tải game<br> trên IOS
                    img(src="../assets/images/Applecopy.png" alt="")
                li  Tải game<br> trên Android
                    img(src="../assets/images/38002copy.png" alt="")
                li  Tải game<br> trên PC
                    img(src="../assets/images/pccopy.png" alt="")
         
            button.js-movtop TOP
                img(src="../assets/images/row.png" alt="")

            

