.app
  .container
    .app-slider
      .app-slider__item.js-slider
        img.app-slider__item1(src="../assets/images/bannerKOL.png")
        img.app-slider__item2(src="../assets/images/bannerKOL.png")
        img.app-slider__item3(src="../assets/images/bannerKOL.png")
        img.app-slider__item4(src="../assets/images/bannerKOL.png")
        img.app-slider__item5(src="../assets/images/bannerKOL.png")
      .app-control
        span.active.js-sliderBtn.js-sliderBtn1
        span.js-sliderBtn.js-sliderBtn2
        span.js-sliderBtn.js-sliderBtn3
        span.js-sliderBtn.js-sliderBtn4
        span.js-sliderBtn.js-sliderBtn5
    img.app-heading(src="../assets/images/16.png")
    .app-giftlove
      .app-giftlove__item.app-giftlove__item1
        img(src="../assets/images/Group61.png")

        button NHẬN NGAY
        span Chào mừng bạn đến với<br><strong>AUBEAT Love Au2!</strong>
        span Nhận quà của chúng tớ nha! 
      .app-giftlove__item.app-giftlove__item2
        img(src="../assets/images/Group61.png")

        button.defaut NHẬN NGAY
        span Ghép đôi thành công và<br>hoàn thành ít nhất 1 thử thách<br>tại sự kiện "Bạn muốn ghép đôi" để<br> có cơ hội nhận thưởng
        span (Quà tặng sẽ được active vào<br>ngày kết thúc sự kiện, ngày 07/06/2022)
    .app-search
      img(src="../assets/images/Logo-Au-Ok2.png")
      .app-search__nav
        span Server
          button.js-btnServer Sôi động
            span
            ul.js-server
              li 
                a Sôi động
              li
                a Thành phố vũ hội
        span ID 
          input(placeholder="Nhập ID")
        button Tìm kiếm
        button Quy định
      .app-search__list
        .app-search__list-item.app-search__list-item1
          img(src="../assets/images/Layer710copy.jpg")
          img(src="../assets/images/Logo-Aubeat(option3).png")

          
          span Austar123
          span Nữ
          span Server: Sành điệu
          span ID: 209189
          button.js-remove Bỏ qua
            img(src="../assets/images/1828774.png")
          button Ghép đôi
            img(src="../assets/images/heart.png")
        .app-search__list-item.app-search__list-item2
          img(src="../assets/images/Layer711.jpg")
          img(src="../assets/images/Logo-Au-Ok2.png")

          span Austar123
          span Nam
          span Server: TP Vũ Hội
          span ID: 209189
          button.js-remove Bỏ qua
            img(src="../assets/images/1828774.png")
          button Ghép đôi
            img(src="../assets/images/heart.png")
        .app-search__list-item.app-search__list-item3
          img(src="../assets/images/Layer710copy.jpg")
          img(src="../assets/images/Logo-Aubeat(option3).png")
          span Austar123
          span Nữ
          span Server: Sành điệu
          span ID: 209189
          button.js-remove Bỏ qua
            img(src="../assets/images/1828774.png")
          button Ghép đôi
            img(src="../assets/images/heart.png")
        .app-search__list-item.app-search__list-item4
          img(src="../assets/images/Layer710copy.jpg")
          img(src="../assets/images/Logo-Aubeat(option3).png")
          span Austar123
          span Nữ
          span Server: Sành điệu
          span ID: 209189
          button.js-remove Bỏ qua
            img(src="../assets/images/1828774.png")
          button Ghép đôi
            img(src="../assets/images/heart.png")
        .app-search__list-item.app-search__list-item5
          img(src="../assets/images/Layer710copy.jpg")
          img(src="../assets/images/Logo-Aubeat(option3).png")
          span Austar123
          span Nữ
          span Server: Sành điệu
          span ID: 209189
          button.js-remove Bỏ qua
            img(src="../assets/images/1828774.png")
          button Ghép đôi
            img(src="../assets/images/heart.png")
        .app-search__list-item.app-search__list-item6
          img(src="../assets/images/Layer710copy.jpg")
          img(src="../assets/images/Logo-Aubeat(option3).png")
          span Austar123
          span Nữ
          span Server: Sành điệu
          span ID: 209189
          button.js-remove Bỏ qua
            img(src="../assets/images/1828774.png")
          button Ghép đôi
            img(src="../assets/images/heart.png")
      button.app-search__btn Thể lệ thử thách
    img.app-heading(src="../assets/images/Group6021.png")
    .app-vote
      .app-vote__search
        button Thể lệ
        input(placeholder="Nhập ID của 1 trong 2 người trong couple mà bạn muốn tìm kiếm..")
        button Tìm kiếm
      .app-vote__item.app-vote__item1
        img(src="../assets/images/5.png")
        .app-vote__item-1
          img(src="../assets/images/23.png")
          img(src="../assets/images/Logo-Aubeat(option3).png")

          span Austar123
          span ID:221890
        .app-vote__item-2
          img(src="../assets/images/22.png")
          img(src="../assets/images/Logo-Au-Ok2.png")

          span Austar88
          span ID:897189
        .app-vote__item-3
          span Điểm nhiệm vụ:<strong>320</strong>
          span Lượt vote:<strong>221</strong>
          button.js-like.active Voted      
      .app-vote__item.app-vote__item2
        img(src="../assets/images/5.png")
        .app-vote__item-1
          img(src="../assets/images/23.png")
          img(src="../assets/images/Logo-Aubeat(option3).png")

          span Austar123
          span ID:221890
        .app-vote__item-2
          img(src="../assets/images/22.png")
          img(src="../assets/images/Logo-Au-Ok2.png")

          span Austar88
          span ID:897189
        .app-vote__item-3
          span Điểm nhiệm vụ:<strong>320</strong>
          span Lượt vote:<strong>221</strong>
          button.js-like Vote
      .app-vote__item.app-vote__item3
        img(src="../assets/images/5.png")
        .app-vote__item-1
          img(src="../assets/images/23.png")
          img(src="../assets/images/Logo-Aubeat(option3).png")

          span Austar123
          span ID:221890
        .app-vote__item-2
          img(src="../assets/images/22.png")
          img(src="../assets/images/Logo-Au-Ok2.png")

          span Austar88
          span ID:897189
        .app-vote__item-3
          span Điểm nhiệm vụ:<strong>320</strong>
          span Lượt vote:<strong>221</strong>
          button.js-like.active Voted
      .app-vote__item.app-vote__item4
        img(src="../assets/images/5.png")
        .app-vote__item-1
          img(src="../assets/images/23.png")
          img(src="../assets/images/Logo-Aubeat(option3).png")

          span Austar123
          span ID:221890
        .app-vote__item-2
          img(src="../assets/images/22.png")
          img(src="../assets/images/Logo-Au-Ok2.png")

          span Austar88
          span ID:897189
        .app-vote__item-3
          span Điểm nhiệm vụ:<strong>320</strong>
          span Lượt vote:<strong>221</strong>
          button.js-like.active Voted
      .app-vote__item.app-vote__item5
        img(src="../assets/images/5.png")
        .app-vote__item-1
          img(src="../assets/images/23.png")
          img(src="../assets/images/Logo-Aubeat(option3).png")

          span Austar123
          span ID:221890
        .app-vote__item-2
          img(src="../assets/images/22.png")
          img(src="../assets/images/Logo-Au-Ok2.png")

          span Austar88
          span ID:897189
        .app-vote__item-3
          span Điểm nhiệm vụ:<strong>320</strong>
          span Lượt vote:<strong>221</strong>
          button.js-like Vote
      .app-vote__item.app-vote__item6
        img(src="../assets/images/5.png")
        .app-vote__item-1
          img(src="../assets/images/23.png")
          img(src="../assets/images/Logo-Aubeat(option3).png")

          span Austar123
          span ID:221890
        .app-vote__item-2
          img(src="../assets/images/22.png")
          img(src="../assets/images/Logo-Au-Ok2.png")

          span Austar88
          span ID:897189
        .app-vote__item-3
          span Điểm nhiệm vụ:<strong>320</strong>
          span Lượt vote:<strong>221</strong>
          button.js-like.active Voted
      .app-vote__item.app-vote__item7
        img(src="../assets/images/5.png")
        .app-vote__item-1
          img(src="../assets/images/23.png")
          img(src="../assets/images/Logo-Aubeat(option3).png")

          span Austar123
          span ID:221890
        .app-vote__item-2
          img(src="../assets/images/22.png")
          img(src="../assets/images/Logo-Au-Ok2.png")

          span Austar88
          span ID:897189
        .app-vote__item-3
          span Điểm nhiệm vụ:<strong>320</strong>
          span Lượt vote:<strong>221</strong>
          button.js-like Vote
      .app-vote__item.app-vote__item8
        img(src="../assets/images/5.png")
        .app-vote__item-1
          img(src="../assets/images/23.png")
          img(src="../assets/images/Logo-Aubeat(option3).png")

          span Austar123
          span ID:221890
        .app-vote__item-2
          img(src="../assets/images/22.png")
          img(src="../assets/images/Logo-Au-Ok2.png")

          span Austar88
          span ID:897189
        .app-vote__item-3
          span Điểm nhiệm vụ:<strong>320</strong>
          span Lượt vote:<strong>221</strong>
          button.js-like.active Voted
    .app-turn
      span Điểm tích luỹ:<br><strong>2.320</strong>   
      span Bạn còn <strong>2</strong> lượt quay
      button Thêm lượt
      .app-turn__body
        ul.js-turnList
          li.app-turn__body-item.app-turn__body-item1.js-turn1
            img(src="../assets/images/Group19.png")
            span 100
          li.app-turn__body-item.app-turn__body-item2.js-turn2
            img(src="../assets/images/Group19.png")
            span 100
          li.app-turn__body-item.app-turn__body-item3.js-turn3
            img(src="../assets/images/Layer1058.png")
            span iphone 13
          li.app-turn__body-item.app-turn__body-item4.js-turn4
            img(src="../assets/images/Layer1058.png")
            span iphone 13
          li.app-turn__body-item.app-turn__body-item5.js-turn5
            img(src="../assets/images/Group19.png")
            span 100
          li.app-turn__body-item.app-turn__body-item6.js-turn6
            img(src="../assets/images/Group19.png")
            span 100
          li.app-turn__body-item.app-turn__body-item7.js-turn7
            img(src="../assets/images/Group19.png")
            span 100
          li.app-turn__body-item.app-turn__body-item8.js-turn8
            img(src="../assets/images/Group19.png")
            span 100
          li.app-turn__body-item.app-turn__body-item9.js-turn9
            img(src="../assets/images/Group19.png")
            span 100
          li.app-turn__body-item.app-turn__body-item10.js-turn10
            img(src="../assets/images/Group19.png")
            span 100
          li.app-turn__body-item.app-turn__body-item11.js-turn11
            img(src="../assets/images/Group19.png")
            span 100
          li.app-turn__body-item.app-turn__body-item12.js-turn12
            img(src="../assets/images/Group19.png")
            span 100
        .app-turn__body-content
          img.app-heading(src="../assets/images/0.png")
          .app-turn__body-content__btn
            button.js-turnBtn QUAY
            button.js-turnBtn2 SIÊU TỐC
          .app-turn__body-content__help
            button  
              img(src="../assets/images/_.png")
              span Hướng dẫn
            button  
              img(src="../assets/images/Layer72.png")
              span Lịch sử
            button  
              img(src="../assets/images/Layer73.png")
              span Kho quà
            button  
              img(src="../assets/images/podium.png")
              span Bảng xếp hạng
    .app-giftstore
      img.app-heading(src="../assets/images/6.png")
      span Điểm tích luỹ:<strong>2.320</strong> 
      ul
        li.app-giftstore__item.app-giftstore__item1
          img(src="../assets/images/aa.png")
          img(src="../assets/images/Logo-Aubeat(option3).png")
          span Hiếm          
          span Áo Au 2
          button 600 Điểm    
        li.app-giftstore__item.app-giftstore__item2
          img(src="../assets/images/aa.png")
          img(src="../assets/images/Logo-Aubeat(option3).png")
          span Hiếm          
          span Áp AUBEAT mix Au2
          button.defaut 600 Điểm
        li.app-giftstore__item.app-giftstore__item3 
          img(src="../assets/images/aa.png")
          img(src="../assets/images/Logo-Aubeat(option3).png")
          span Hiếm          
          span Áp AUBEAT mix Au2
          button.active Đổi quà
        li.app-giftstore__item.app-giftstore__item4
          img(src="../assets/images/aa.png")
          img(src="../assets/images/Logo-Aubeat(option3).png")
          span Hiếm          
          span Áo Au 2
          button 600 Điểm
        li.app-giftstore__item.app-giftstore__item5
          img(src="../assets/images/aa.png")
          img(src="../assets/images/Logo-Aubeat(option3).png")
          span Hiếm          
          span Áo Au 2
          button 600 Điểm
        li.app-giftstore__item.app-giftstore__item6
          img(src="../assets/images/aa.png")
          img(src="../assets/images/Logo-Aubeat(option3).png")
          span Hiếm          
          span Áo Au 2
          button 600 Điểm
        li.app-giftstore__item.app-giftstore__item7
          img(src="../assets/images/aa.png")
          img(src="../assets/images/Logo-Aubeat(option3).png")
          span Hiếm          
          span Áo Au 2
          button 600 Điểm
        li.app-giftstore__item.app-giftstore__item8
          img(src="../assets/images/aa.png")
          img(src="../assets/images/Logo-Aubeat(option3).png")
          span Hiếm          
          span Áo Au 2
          button 600 Điểm   
        li.app-giftstore__item.app-giftstore__item9
          img(src="../assets/images/aa.png")
          img(src="../assets/images/Logo-Aubeat(option3).png")
          span Hiếm          
          span Áo Au 2
          button 600 Điểm
        li.app-giftstore__item.app-giftstore__item10
          img(src="../assets/images/aa.png")
          img(src="../assets/images/Logo-Aubeat(option3).png")
          span Hiếm          
          span Áo Au 2
          button 600 Điểm
        li.app-giftstore__item.app-giftstore__item11
          img(src="../assets/images/aa.png")
          img(src="../assets/images/Logo-Aubeat(option3).png")
          span Hiếm          
          span Áo Au 2
          button 600 Điểm
        li.app-giftstore__item.app-giftstore__item12
          img(src="../assets/images/aa.png")
          img(src="../assets/images/Logo-Aubeat(option3).png")
          span Hiếm          
          span Áo Au 2
          button 600 Điểm
        li.app-giftstore__item.app-giftstore__item13
          img(src="../assets/images/aa.png")
          img(src="../assets/images/Logo-Aubeat(option3).png")
          span Hiếm          
          span Áo Au 2
          button 600 Điểm   
        li.app-giftstore__item.app-giftstore__item14
          img(src="../assets/images/aa.png")
          img(src="../assets/images/Logo-Aubeat(option3).png")
          span Hiếm          
          span Áo Au 2
          button 600 Điểm
        li.app-giftstore__item.app-giftstore__item15
          img(src="../assets/images/aa.png")
          img(src="../assets/images/Logo-Aubeat(option3).png")
          span Hiếm          
          span Áo Au 2
          button 600 Điểm
        li.app-giftstore__item.app-giftstore__item16
          img(src="../assets/images/aa.png")
          img(src="../assets/images/Logo-Aubeat(option3).png")
          span Hiếm          
          span Áo Au 2
          button 600 Điểm
        li.app-giftstore__item.app-giftstore__item17
          img(src="../assets/images/aa.png")
          img(src="../assets/images/Logo-Aubeat(option3).png")
          span Hiếm          
          span Áo Au 2
          button 600 Điểm
        li.app-giftstore__item.app-giftstore__item18
          img(src="../assets/images/aa.png")
          img(src="../assets/images/Logo-Aubeat(option3).png")
          span Hiếm          
          span Áo Au 2
          button 600 Điểm   
        li.app-giftstore__item.app-giftstore__item19
          img(src="../assets/images/aa.png")
          img(src="../assets/images/Logo-Aubeat(option3).png")
          span Hiếm          
          span Áo Au 2
          button 600 Điểm
        li.app-giftstore__item.app-giftstore__item20
          img(src="../assets/images/aa.png")
          img(src="../assets/images/Logo-Aubeat(option3).png")
          span Hiếm          
          span Áo Au 2
          button 600 Điểm   
    img.app-heading(src="../assets/images/7.png")
    .app-rank
      span.js-rankBtn Xếp hạng<br>cặp đôi của bạn
        ul.js-rank
          li BXH Cặp đôi Đẳng cấp: <strong>120</strong>
          li BXH Cặp đôi Chăm chỉ: <strong>78</strong>
          li BXH Cặp đôi được Yêu thích:<strong>11</strong> 
        span.js-rules
          img(src="../assets/images/_.png")
      .app-rank__list1.app-rank__list
        img.app-heading(src="../assets/images/Group601.png")
        ul
          li.app-rank__list-item1
            span 22:04:11
              img(src="../assets/images/8.png")
            .app-rank__list-item-1
              img(src="../assets/images/Layer710copy.jpg")
              img(src="../assets/images/Logo-Aubeat(option3).png")
             
              span AuStar123
            .app-rank__list-item-2
              img(src="../assets/images/Layer711.jpg")
              img(src="../assets/images/Logo-Au-Ok2.png")

              span AuStar228
            .app-rank__list-item-3
              span #<strong>1</strong>
              span 3120
                img(src="../assets/images/18.png")
          li.app-rank__list-item2.app-rank__list-item
            span 2
            img(src="../assets/images/22.png")
            img(src="../assets/images/23.png")
            span AuStar123
              span AuStar228
            span 1120
              img(src="../assets/images/18.png")
          li.app-rank__list-item3.app-rank__list-item
            span 3
            img(src="../assets/images/22.png")
            img(src="../assets/images/23.png")
            span AuStar123
              span AuStar228
            span 1120
              img(src="../assets/images/18.png")
          li.app-rank__list-item4.app-rank__list-item
            span 4
            img(src="../assets/images/22.png")
            img(src="../assets/images/23.png")
            span AuStar123
              span AuStar228
            span 1120
              img(src="../assets/images/18.png")
          li.app-rank__list-item5.app-rank__list-item
            span 5
            img(src="../assets/images/22.png")
            img(src="../assets/images/23.png")
            span AuStar123
              span AuStar228
            span 1120
              img(src="../assets/images/18.png")
          li.app-rank__list-item6.app-rank__list-item
            span 6
            img(src="../assets/images/22.png")
            img(src="../assets/images/23.png")
            span AuStar123
              span AuStar228
            span 1120
              img(src="../assets/images/18.png")
          li.app-rank__list-item7.app-rank__list-item
            span 7
            img(src="../assets/images/22.png")
            img(src="../assets/images/23.png")
            span AuStar123
              span AuStar228
            span 1120
              img(src="../assets/images/18.png")
          li.app-rank__list-item8.app-rank__list-item
            span 8
            img(src="../assets/images/22.png")
            img(src="../assets/images/23.png")
            span AuStar123
              span AuStar228
            span 1120
              img(src="../assets/images/18.png")
          li.app-rank__list-item9.app-rank__list-item
            span 9
            img(src="../assets/images/22.png")
            img(src="../assets/images/23.png")
            span AuStar123
              span AuStar228
            span 1120
              img(src="../assets/images/18.png")
          li.app-rank__list-item10.app-rank__list-item
            span 10
            img(src="../assets/images/22.png")
            img(src="../assets/images/23.png")
            span AuStar123
              span AuStar228
            span 1120
              img(src="../assets/images/18.png")
      .app-rank__list2.app-rank__list
        img.app-heading(src="../assets/images/Group602.png")
        ul
          li.app-rank__list-item1
            span 22:04:11
              img(src="../assets/images/8.png")
            .app-rank__list-item-1
              img(src="../assets/images/Layer710copy.jpg")
              img(src="../assets/images/Logo-Aubeat(option3).png")
              span AuStar123
            .app-rank__list-item-2
              img(src="../assets/images/Layer711.jpg")
              img(src="../assets/images/Logo-Au-Ok2.png")
              span AuStar228
            .app-rank__list-item-3
              span #<strong>1</strong>
              span 3120
                img(src="../assets/images/19.png")
          li.app-rank__list-item2.app-rank__list-item
            span 2
            img(src="../assets/images/22.png")
            img(src="../assets/images/23.png")
            span AuStar123
              span AuStar228
            span 1120
              img(src="../assets/images/19.png")
          li.app-rank__list-item3.app-rank__list-item
            span 3
            img(src="../assets/images/22.png")
            img(src="../assets/images/23.png")
            span AuStar123
              span AuStar228
            span 1120
              img(src="../assets/images/19.png")
          li.app-rank__list-item4.app-rank__list-item
            span 4
            img(src="../assets/images/22.png")
            img(src="../assets/images/23.png")
            span AuStar123
              span AuStar228
            span 1120
              img(src="../assets/images/19.png")
          li.app-rank__list-item5.app-rank__list-item
            span 5
            img(src="../assets/images/22.png")
            img(src="../assets/images/23.png")
            span AuStar123
              span AuStar228
            span 1120
              img(src="../assets/images/19.png")
          li.app-rank__list-item6.app-rank__list-item
            span 6
            img(src="../assets/images/22.png")
            img(src="../assets/images/23.png")
            span AuStar123
              span AuStar228
            span 1120
              img(src="../assets/images/19.png")
          li.app-rank__list-item7.app-rank__list-item
            span 7
            img(src="../assets/images/22.png")
            img(src="../assets/images/23.png")
            span AuStar123
              span AuStar228
            span 1120
              img(src="../assets/images/19.png")
          li.app-rank__list-item8.app-rank__list-item
            span 8
            img(src="../assets/images/22.png")
            img(src="../assets/images/23.png")
            span AuStar123
              span AuStar228
            span 1120
              img(src="../assets/images/19.png")
          li.app-rank__list-item9.app-rank__list-item
            span 9
            img(src="../assets/images/22.png")
            img(src="../assets/images/23.png")
            span AuStar123
              span AuStar228
            span 1120
              img(src="../assets/images/19.png")
          li.app-rank__list-item10.app-rank__list-item
            span 10
            img(src="../assets/images/23.png")
            img(src="../assets/images/22.png")
            span AuStar123
              span AuStar228
            span 1120
              img(src="../assets/images/19.png")
      .app-rank__list3.app-rank__list
        img.app-heading(src="../assets/images/Group603.png")
        ul
          li.app-rank__list-item1
            span 22:04:11
              img(src="../assets/images/8.png")
            .app-rank__list-item-1
              img(src="../assets/images/Layer710copy.jpg")
              img(src="../assets/images/Logo-Aubeat(option3).png")
              span AuStar123
            .app-rank__list-item-2
              img(src="../assets/images/Layer711.jpg")
              img(src="../assets/images/Logo-Au-Ok2.png")
              span AuStar228
            .app-rank__list-item-3
              span #<strong>1</strong>
              span 3120
                img(src="../assets/images/17.png")
          li.app-rank__list-item2.app-rank__list-item
            span 2
            img(src="../assets/images/22.png")
            img(src="../assets/images/23.png")
            span AuStar123
              span AuStar228
            span 1120
              img(src="../assets/images/17.png")
          li.app-rank__list-item3.app-rank__list-item
            span 3
            img(src="../assets/images/22.png")
            img(src="../assets/images/23.png")
            span AuStar123
              span AuStar228
            span 1120
              img(src="../assets/images/17.png")
          li.app-rank__list-item4.app-rank__list-item
            span 4
            img(src="../assets/images/22.png")
            img(src="../assets/images/23.png")
            span AuStar123
              span AuStar228
            span 1120
              img(src="../assets/images/17.png")
          li.app-rank__list-item5.app-rank__list-item
            span 5
            img(src="../assets/images/22.png")
            img(src="../assets/images/23.png")
            span AuStar123
              span AuStar228
            span 1120
              img(src="../assets/images/17.png")
          li.app-rank__list-item6.app-rank__list-item
            span 6
            img(src="../assets/images/22.png")
            img(src="../assets/images/23.png")
            span AuStar123
              span AuStar228
            span 1120
              img(src="../assets/images/17.png")
          li.app-rank__list-item7.app-rank__list-item
            span 7
            img(src="../assets/images/22.png")
            img(src="../assets/images/23.png")
            span AuStar123
              span AuStar228
            span 1120
              img(src="../assets/images/17.png")
          li.app-rank__list-item8.app-rank__list-item
            span 8
            img(src="../assets/images/22.png")
            img(src="../assets/images/23.png")
            span AuStar123
              span AuStar228
            span 1120
              img(src="../assets/images/17.png")
          li.app-rank__list-item9.app-rank__list-item
            span 9
            img(src="../assets/images/22.png")
            img(src="../assets/images/23.png")
            span AuStar123
              span AuStar228
            span 1120
              img(src="../assets/images/17.png")
          li.app-rank__list-item10.app-rank__list-item
            span 10
            img(src="../assets/images/22.png")
            img(src="../assets/images/23.png")
            span AuStar123
              span AuStar228
            span 1120
              img(src="../assets/images/17.png")
    img.app-heading(src="../assets/images/9.png")
    .app-bonus
      .app-bonus__left
        img(src="../assets/images/Group31.png")
        button XEM NGAY   
      .app-bonus__right
        img(src="../assets/images/Group31copy.png")
        button XEM NGAY


















