header.header
    .header-left__download
        img(src="../assets/images/Logo-Aubeat(option3).png")
        button NẠP
            span KIM<br>CƯƠNG
        a(href="#") Tải game
            img(src="../assets/images/2.png")
            
        a(href="#") Fanpage
            img(src="../assets/images/3.png")
            
        a(href="#") Group
            img(src="../assets/images/4.png")
            
        span.js-moveTop TOP
            span
    .header-right__download
        img(src="../assets/images/Logo-Au-Ok2.png")
        button NẠP
            span KIM<br>CƯƠNG
        a(href="#") Tải game
            img(src="../assets/images/2.png")
            
        a(href="#") Fanpage
            img(src="../assets/images/3.png")
            
        a(href="#") Group
            img(src="../assets/images/4.png")
            
        span.js-moveTop TOP
            span
    .container
        img.header-logo.defaut(src="../assets/images/15.png")
        .header-left
            img.header-left__img1(src="../assets/images/Logo-Aubeat(option3).png")
            img.header-left__img2(src="../assets/images/Hue_Saturation929.png")
        .header-right
            img.header-right__img1(src="../assets/images/Logo-Au-Ok2.png")
            img.header-right__img2(src="../assets/images/Hue_Saturation930.png")            
        button.header-login.active
            span Đăng nhập
            span Austar123
                span
                ul.header-login__menu
                    li
                        a Thông tin tài khoản
                    li
                        a Giftode
                    li
                        a Đăng xuất
            img(src="../assets/images/VectorSmartObject.png")
        .header-btn
            button.header-btn__item.header-btn__item1.js-movGiftLove Quà tặng<br> tình yêu
            button.header-btn__item.header-btn__item2.js-movVote Bạn muốn<br> ghép đôi
            button.header-btn__item.header-btn__item3.js-movVote2 Mảnh ghép<br> hoàn hảo
            button.header-btn__item.header-btn__item4.js-movRank Bảng<br> xếp hạng
        