.app
    .container
        .app-heading
            img(src="../assets/images/điểmdanhnhậnquà.png")  
            span
                span ?
        .app-dd#app-dd
            ul.app-dd__list1
                li.js-dd.active 1
                    em
                        img(src="../assets/images/2.png")

                li.js-dd.defaut 2
                li.js-dd 3
                li.js-dd 4
                li.js-dd 5
                    em
                        img(src="../assets/images/2.png")
                li.js-dd 6
                li.js-dd 7
                li.js-dd 8
                li.js-dd 9 
                li.js-dd 10
                    em.defaut
                        img(src="../assets/images/2.png")
            ul.app-dd__list2
                li
                    span Gói quà ngày 1
                    img(src="../assets/images/Layer7copy.png")
                    span Venom AK<br>30 ngày
                    button Nhận
                li
                    span Gói quà ngày 5
                    img(src="../assets/images/Layer7copy.png")
                    span Venom AK<br>30 ngày
                    button Nhận
                li
                    span Gói quà ngày 10
                    img(src="../assets/images/Layer7copy.png")
                    span Venom AK<br>30 ngày
                    button.defaut Nhận
        .app-heading
            img(src="../assets/images/Group12copy5.png")  
            span
                span ?
        .app-kick#app-kick
            span Bạn còn <strong>2</strong> lần Kick bom
            .app-kick__img
                img(src="../assets/images/3.png")
                img(src="../assets/images/3.png")
                img(src="../assets/images/3.png")
                img(src="../assets/images/3.png")
                img(src="../assets/images/3.png")
            .app-kick__btn
                button Kick 1 Bom
                button Kick 10 Bom
            .app-kick__gift
                span NỔ BOM CÓ QUÀ GÌ
                .app-kick__gift-item.app-kick__gift-item1
                    img(src="../assets/images/Layer7copy.png")
                    span Venom AK<br>30 ngày
                .app-kick__gift-item.app-kick__gift-item2
                    img(src="../assets/images/Layer7copy.png")
                    span Venom AK<br>30 ngày
                .app-kick__gift-item.app-kick__gift-item3
                    img(src="../assets/images/Layer7copy.png")
                    span Venom AK<br>30 ngày
                .app-kick__gift-item.app-kick__gift-item4
                    img(src="../assets/images/Layer7copy.png")
                    span Venom AK<br>30 ngày
                .app-kick__gift-item.app-kick__gift-item5
                    img(src="../assets/images/Layer7copy.png")
                    span Venom AK<br>30 ngày
        .app-heading
            img(src="../assets/images/Group20copy.png")  
            span
                span ?
        .app-sale#app-sale 
            .app-sale__item.app-sale__item1
                img(src="../assets/images/Layer45.jpg")
                .app-sale__item-much
                    span Giá cũ
                        del 2.000
                    span Giá ưu đãi
                        span 1.000
                p Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit.<br> Phasellus mi enim, fermentum-
                button Mua Ngay
            .app-sale__item.app-sale__item2
                img(src="../assets/images/Layer45.jpg")
                .app-sale__item-much
                    span Giá cũ
                        del 2.000
                    span Giá ưu đãi
                        span 1.000
                p Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit.<br> Phasellus mi enim, fermentum-
                button Mua Ngay
            .app-sale__item.app-sale__item3
                img(src="../assets/images/Layer45.jpg")
                .app-sale__item-much
                    span Giá cũ
                        del 2.000
                    span Giá ưu đãi
                        span 1.000
                p Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit.<br> Phasellus mi enim, fermentum-
                button Mua Ngay

            