header.header
    img(src="../assets/images/Group19.png")
    .container
        .header-nav
            a(href="#").header-nav__logo
                img(src="../assets/images/logo.png")
            .header-nav__login.js-login
                span Bimbo1223
                button Đăng xuất
            .header-nav__loginmb.js-showlogin
                span
                span
                span
        .header-content
            span Bộ vũ khí
            img(src="../assets/images/Group1.png")
            span Lần đầu tiên xuất hiện tại <br>Phục Kích
                button PLAY CLIP
                    span
                button SHARE FACEBOOK
                    span f
            .header-content__btn
            a(href="#app-dd")
                button DIỂM DANH NHẬN QUÀ
                    
            a(href="#app-kick")
                button KÍCH BOM
                    
            a(href="#app-sale")
                button GÓI VẬT PHẨM <br>SIÊU ƯU ĐÃI
                    
        .header-social
            button Nạp Thẻ
            a Fanpage
                img(src="../assets/images/Ellipse2.png")
            a Group
                img(src="../assets/images/VectorSmartObject.png")
            button.js-movt TOP
                img(src="../assets/images/Shape3.png")