doctype html
html(lang="en")
    include head.pug
    link(rel="stylesheet" href="../css/app-4.css")
    link(rel="stylesheet" href="../css/respontive-4.css")
    link(rel="stylesheet" href="../css/respontive-sub.css")


    body
        include header.pug
        include app-4.pug
        script(src="../js/index.js")