header.header
    img.header-cloud(src="./asset/img/may.png")
    img.header-logo(src="./asset/img/logo.png")
    .header-even
        .header-even__item
            img(src="./asset/img/landing sinh nhat.png")
            span LAN ĐING <br> SINH NHÂT
            span 27/12/2022
        .header-even__item
            img(src="./asset/img/landing sinh nhat.png")
            span NGÀY HỘI <br> TRÍ TUỆ
            span 26/12/2022 <br> 4/1/2023
        .header-even__item
            img(src="./asset/img/landing sinh nhat.png")
            span NGÀY HỘI <br> SỨC MẠNH
            span 29/12/2022
        .header-even__item
            img(src="./asset/img/landing sinh nhat.png")
            span GALA SINH NHẬT <br> ITC 17
            span 5/1/2023
    .header-even__tabs 
        .header-even__tabs-item 
            img(src="./asset/img/Layer 691.png")
            a XƯNG DANH
        .header-even__tabs-item 
            img(src="./asset/img/Layer 691.png")
            a GIEO QUẺ
        .header-even__tabs-item 
            img(src="./asset/img/Layer 691.png")
            a ITC VÀ BẠN
    img()


