header.header
    .header-download__left.header-download.js-dll
            img(src="../assets/images/Logo-Aubeat(option3).png")
            button NẠP
                span KIM<br>CƯƠNG
            button NẠP
                span VCOIN
            span.js-moveTop TOP
                img(src="../assets/images/6.png")
            button.js-showDLL
                img(src="../assets/images/row.png")
    .header-download__right.header-download.js-dlr
            img(src="../assets/images/Logo-Au-Ok2.png")
            button NẠP
                span KIM<br>CƯƠNG
            button NẠP
                span VCOIN
            span.js-moveTop TOP
                img(src="../assets/images/6.png")
            button.js-showDLR 
                img(src="../assets/images/row.png")
    .container
        .header-logo
            img(src="../assets/images/Logo-Aubeat(option3).png")
            img(src="../assets/images/Group39.png")
            img(src="../assets/images/Logo-Au-Ok2.png")
        button.header-menubtn.js-showmenu 
            span 
            span 
            span
        .header-nav__top.js-menu
            ul
                li
                    a Trang chủ                                 
                li
                    a Fanpage
                li
                    a Group
        button.header-login.active.js-regiter
            span Đăng nhập
            span Austar123
                span
                ul.header-login__menu
                    li
                        a Thông tin tài khoản
                    li
                        a Kho đồ
                    li.js-switch
                        a Đăng xuất
        .header-nav__left
            img(src="../assets/images/Group85.png")
            button.btn Nhận quà <br>8/3
                img(src="../assets/images/1.png")
        .header-nav__right
            img(src="../assets/images/Group60.png")
            button.btn Tặng quà <br>8/3
                img(src="../assets/images/1.png")
        span.header-notify *Nhận quà chỉ áp dụng với tài khoản có nhân vật giới tính nữ 
     
            
