/* tablet and mobile */

@media (max-width:1023px) {
    .header {
        height: 400px;
        &-logo {
            width: 100px;
            height: 50px;
        }
        &-nav__left,
        &-nav__right {
            margin-top: 24px;
            a {
                width: 100px;
                height: 50px;
                font-size: 12px;
                margin-bottom: 12px;
                img {
                    width: 100px;
                    height: 50px;
                }
            }
        }
        &-dowload {
            right: 10px;
            &__btn {
                top: -50px;
                background-size: contain;
            }
            a {
                font-size: 12px;
            }
        }
    }
    .app {
        &-btn {
            margin: 24px 0;
            button {
                width: calc(284px - 50px);
                height: calc(125px - 50px);
                margin-right: 24px;
                img {
                    width: calc(284px - 50px);
                    height: calc(125px - 50px);
                }
                span {
                    font-size: 20px;
                }
            }
        }
        &-rankings {
            &__item {
                height: 330px;
                span {
                    font-size: 24px;
                    &:nth-child(5),
                    &:nth-child(4) {
                        font-size: 16px;
                    }
                }
                &2 {
                    margin-bottom: 50px;
                }
            }
            &__btn {
                width: 150px;
                height: 50px;
                font-size: 24px;
                img {
                    width: 150px;
                    height: 50px;
                }
            }
            &__table {
                margin-top: 12px;
                &-search {
                    right: 0;
                }
            }
        }
        &-even {
            &__banner {}
            &__btn {
                margin-top: 24px;
                button {
                    width: 150px;
                    span {
                        font-size: 14px;
                    }
                }
            }
            &__notify {
                margin-top: 24px;
                margin-bottom: 18px;
            }
            &__turn {
                height: 400px;
                &-item {
                    &.active {
                        &::after {
                            width: calc(108px / 2);
                            height: calc(108px / 2);
                        }
                    }
                }
                &-btn {
                    &>span {
                        font-size: 14px;
                        span {
                            font-size: 24px;
                            margin-top: 12px;
                        }
                    }
                    button {
                        margin-top: 0;
                        height: 70px;
                        span {
                            font-size: 24px;
                        }
                    }
                }
            }
            & .app-rankings__btn {
                font-size: 24px;
                width: 200px;
                height: 56px;
                margin-bottom: 32px;
                img {
                    width: 200px;
                    height: 56px;
                }
            }
            &__buy {
                flex-wrap: wrap;
                &>span {
                    font-size: 16px;
                    padding-left: 24px;
                    span {
                        margin-left: 100px;
                    }
                    button {
                        width: 100px;
                        height: 46px;
                        font-size: 14px;
                    }
                }
            }
            & .app-btn2 {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 0;
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    margin-bottom: 12px;
                    span {
                        font-size: 18px;
                    }
                    img {
                        right: unset;
                    }
                    margin-right: 0;
                }
            }
            &__note1 {
                margin-bottom: 24px;
            }
            &__choose {
                &-item {
                    margin-right: 0;
                    margin-bottom: 1px;
                    height: 95px;
                }
            }
        }
        &-treatment {
            padding-bottom: 24px;
            margin-top: 24px;
            & .app-btn {
                button {
                    margin-right: 24px;
                }
            }
            padding: 24px 12px;
            p {
                font-size: 16px;
                margin-bottom: 8px;
                &:nth-child(8) {
                    margin-top: 14px;
                }
            }
        }
    }
}


/* tablet */

@media (min-width:740px) and (max-width:1023px) {
    .header {}
    .app {
        &-heading {
            span {
                left: 200px;
                font-size: 48px;
            }
        }
        &-btn {
            &2 {
                button {
                    margin-left: 12px;
                }
            }
        }
        &-rankings {
            &__item {
                &:nth-child(2) {
                    margin-bottom: 85px;
                }
                img {
                    margin-top: 70px;
                    width: 50%;
                }
                span {
                    margin-top: 12px;
                    &:nth-child(3),
                    &:nth-child(4) {
                        margin-top: 8px;
                        font-size: 18px;
                    }
                }
            }
            &__table {
                &-body {
                    ul {
                        &:nth-child(1) {
                            li {
                                font-size: 14px;
                            }
                        }
                        li {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        &-even {
            &__banner {
                height: unset;
                img {
                    margin-bottom: 12px;
                }
            }
            &__btn {
                margin-top: 24px;
                button {
                    width: 150px;
                    span {
                        font-size: 14px;
                    }
                }
            }
            &__notify {
                margin-top: 24px;
                margin-bottom: 18px;
            }
            &__turn {
                height: 400px;
                &-item {
                    img {
                        width: 50%;
                    }
                }
            }
            &__buy {
                justify-content: center;
            }
        }
    }
}


/* mobile */

@media (max-width:739px) {
    .header {
        & .row {
            flex-wrap: nowrap;
        }
        height: 230px;
        &-login {
            height: 16px;
            &__user {
                width: 12px;
                height: 12px;
            }
            span {
                font-size: 8px;
            }
        }
        &-logo {
            width: 50px;
            height: 35px;
            margin-left: 24px;
        }
        &-nav__left,
        &-nav__right {
            margin-top: 0;
            a {
                width: 100px;
                height: 40px;
                font-size: 18px;
                margin-bottom: 8px;
                img {
                    width: 45px;
                    height: 25px;
                }
            }
        }
        &-dowload {
            top: 50px;
            background-size: contain;
            &__btn {}
            a {
                font-size: 6px;
                top: 2px;
                &:nth-child(3) {
                    top: 18px;
                }
            }
            iframe {
                top: 30px;
                height: 35px;
            }
        }
    }
    .app {
        &-heading {
            span {
                left: 22%;
                font-size: 18px;
            }
        }
        &-btn {
            margin: 12px 0;
            button {
                width: calc(284px - 180px);
                height: calc(125px - 60px);
                margin-right: 24px;
                img {
                    width: calc(284px - 180px);
                    height: calc(125px - 60px);
                }
                span {
                    font-size: 16px;
                }
            }
        }
        &-control {
            button {
                width: 30px;
                height: 30px;
                background-size: contain;
                span {
                    font-size: 12px;
                }
            }
        }
        &-rankings {
            padding-bottom: 24px;
            &__logo {
                margin-bottom: 24px;
                width: 50%;
            }
            &__item {
                height: 125px;
                img {
                    margin-top: 28px;
                    margin-bottom: 4px;
                    width: 50px;
                    height: 50px;
                }
                span {
                    margin: 0;
                    font-size: 12px;
                    &:nth-child(3),
                    &:nth-child(4) {
                        font-size: 6px;
                        margin-top: 4px;
                    }
                }
                &2 {
                    margin-bottom: 75px;
                }
            }
            &__btn {
                width: 100px;
                height: 30px;
                font-size: 16px;
                img {
                    width: 100px;
                    height: 30px;
                }
                &3 {
                    margin-right: 0;
                }
            }
            &__table {
                padding-top: 16px;
                height: 217px;
                &-search {
                    width: 50%;
                    top: -14px;
                    font-size: 8px;
                    img {
                        width: 8px;
                        height: 8px;
                    }
                }
                &-body {
                    height: 180px;
                }
                ul {
                    height: 10%;
                    &:nth-child(2) {
                        li {
                            font-size: 8px;
                        }
                    }
                    li {
                        font-size: 6px;
                    }
                }
            }
        }
        &-even {
            &__banner {
                height: unset;
                margin-bottom: 24px;
                img {
                    margin-top: 12px;
                    margin-bottom: 8px;
                }
            }
            &__btn {
                margin-top: 24px;
                button {
                    margin-right: 8px;
                    width: 90px;
                    height: 30px;
                    span {
                        font-size: 8px;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            &__notify {
                margin-top: 12px;
                margin-bottom: 8px;
                font-size: 12px;
                img {
                    width: 16px;
                    height: 16px;
                    top: 0;
                    left: -25px;
                }
            }
            &__turn {
                margin: auto;
                height: 200px;
                &-item {
                    img {
                        width: 50%;
                    }
                    &.active {
                        &::after {
                            width: 50%;
                            height: 50%;
                        }
                    }
                    &10 {
                        left: 25%;
                        bottom: 0;
                        width: 50%;
                        img {
                            width: 50%;
                            &:nth-child(1) {
                                margin-bottom: -10px;
                            }
                            &:nth-child(2) {
                                margin-bottom: -20px;
                            }
                        }
                    }
                    &3,
                    &11,
                    &8,
                    &9 {
                        img {
                            margin-top: 10px;
                        }
                    }
                }
                &-btn {
                    &>span {
                        font-size: 8px;
                        height: 40px;
                        text-align: center;
                        span {
                            font-size: 6px;
                            margin-top: 6px;
                            text-align: center;
                        }
                    }
                    button {
                        height: 50px;
                        span {
                            font-size: 8px;
                        }
                    }
                }
            }
            &__note {
                text-align: center;
                margin: 12px 0;
                font-size: 8px;
            }
            & .app-rankings__btn {
                font-size: 12px;
                width: 100px;
                height: 36px;
                margin-bottom: 24px;
                img {
                    width: 100px;
                    height: 36px;
                }
            }
            &__buy {
                flex-wrap: wrap;
                justify-content: center;
                &>span {
                    background-size: contain;
                    font-size: 8px;
                    padding-left: 0;
                    span {
                        margin-left: 12px;
                    }
                    button {
                        right: 10px;
                        width: 100px;
                        height: 35px;
                        font-size: 12px;
                    }
                }
            }
            & .app-btn2 {
                button {
                    height: 50px;
                    width: 100px;
                    span {
                        font-size: 16px;
                    }
                    img {
                        height: 50px;
                        width: 100px;
                        right: unset;
                    }
                    margin-right: 0;
                }
            }
            &__note1 {
                margin-bottom: 24px;
                font-size: 8px;
            }
            &__choose {
                height: unset;
                &-item {
                    height: 48px;
                    img {
                        &:last-child {
                            height: 50%;
                        }
                    }
                }
            }
        }
        &-treatment {
            padding: 24px 12px;
            p {
                font-size: 8px;
                margin-bottom: 6px;
                line-height: 12px;
            }
        }
    }
}