head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../css/style.css")
    title Document
body
    header.header
        .container
            ul.header-nav.nav.nav-tabs
                li.nav-item.dropdown
                    a.nav-link(href="#")
                        img(src="../assets/images/header-home.png",alt="")
                li.nav-item.dropdown
                    a.nav-link Tin tức 
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(data-bs-toggle="dropdown") Hướng dẫn 
                        span
                    ul.dropdown-menu 
                        li
                            a.dropdown-item Đăng ký tài khoản
                        li 
                            a.dropdown-item Tải và cài đặt
                        li 
                            a.dropdown-item Cách thức nạp
                li
                    a(href="#")
                        img(src="../assets/images/header-logo.png",alt="")
                li.nav-item.dropdown
                    a.nav-link Giới thiệu
                li.nav-item.dropdown
                    a.nav-link Hỗ trợ 
            ul.header-navmb
                li.header-navmb__item1
                    img(src="../assets/images/searchmb.png",alt="")
                li.header-navmb__item2
                    a(href="#")
                        img(src="../assets/images/header-logo.png",alt="")
                li.header-navmb__item3
                    img(src="../assets/images/menuicon.png",alt="")
                    em
                        ul.app1-left__info.header-navmb__item3-submenu.active
                            li.app1-left__info-item1.app1-left__info-item 
                                p Czar123
                                span RankLevel
                            li.app1-left__info-item.app1-left__info-item2 
                                span Silk:
                                em 
                                    img(src="../assets/images/gold.png",alt="")
                                    span 2000
                            li.app1-left__info-item.app1-left__info-item3
                                span Tiêu trong<br>1 tháng:
                                em 
                                    img(src="../assets/images/gold.png",alt="")
                                    span 420
                            li.app1-left__info-item.app1-left__info-item4
                                span Tiêu trong<br>3 tháng:
                                em 
                                    img(src="../assets/images/gold.png",alt="")
                                    span 1.890
                        button
                            p Đăng nhập ngay
                        ul.header-navmb__item3-submenu2
                            li Giới thiệu
                            li Hướng dẫn
                            li Tin tức
                            li Dịch vụ
                            li Giftcode
                            li Web Mall
                            li Thông tin server
                            li Cộng đồng
                                
            .header-download.js-dl
                button.header-download__btn.js-showDlBtn
                    img(src="../assets/images/b2.png",alt="")
                a(href="#") Tải<br>game
            button.header-nap.js-dl1 Nạp Silk
    .searchmb
        .searchmb-body
            input(placeholder="Nhập từ khóa tìm kiếm...")
            img(src="../assets/images/search.png")
    .app
        .app1.app1-bxh
            .container
                .app1-left
                    .app1-left__done
                        .app1-left__btn
                            button.app1-left__btn-login Đăng nhập
                                img(src="../assets/images/khung3.png")

                            button.app1-left__btn-regiter Đăng ký
                                img(src="../assets/images/khung3.png")
                        ul.app1-left__social
                            li.app1-left__social-item Cộng đồng
                            li.app1-left__social-item1 
                                em
                                    img(src="../assets/images/item3.png",alt="")
                                    img(src="../assets/images/item4.png",alt="")
                                em
                                    img(src="../assets/images/item6.png",alt="")
                                    img(src="../assets/images/item5.png",alt="")
                    ul.app1-left__info.active
                        li.app1-left__info-item1.app1-left__info-item 
                            p Czar123
                            span RankLevel
                        li.app1-left__info-item.app1-left__info-item2 
                            span Silk:
                            em 
                                img(src="../assets/images/gold.png",alt="")
                                span 2000
                        li.app1-left__info-item.app1-left__info-item3
                            span Tiêu trong<br>1 tháng:
                            em 
                                img(src="../assets/images/gold.png",alt="")
                                span 420
                        li.app1-left__info-item.app1-left__info-item4
                            span Tiêu trong<br>3 tháng:
                            em 
                                img(src="../assets/images/gold.png",alt="")
                                span 1.890
                    
                        li.app1-left__info-item.app1-left__info-item5
                            a(href="#") Nạp Silk
                            
                            a(href="#") Quản lý tài khoản
                
                    ul.app1-left__sidebar
                        li
                            button.app1-left__sidebar-item.app1-left__sidebar-item1 Dịch vụ
                                img(src="../assets/images/khung3.png",alt="")
                            button.app1-left__sidebar-item.app1-left__sidebar-item2 Web Mall
                                img(src="../assets/images/khung3.png",alt="")

                            button.app1-left__sidebar-item.app1-left__sidebar-item3 Hướng dẫn
                                img(src="../assets/images/khung3.png",alt="")
                            button.app1-left__sidebar-item.app1-left__sidebar-item4 Sự kiện
                                img(src="../assets/images/khung3.png",alt="")
                            button.app1-left__sidebar-item.app1-left__sidebar-item5 Giftcode
                                img(src="../assets/images/khung3.png",alt="")
                .app2-right
                    .app2-right__header
                        h1.app-title Bảng xếp hạng
                        span Chọn máy chủ:
                            ul.nav.nav-tabs.app2-right__header-menu
                                li.dropdown.nav-item
                                    a.nav-link.dropdown-toggle(data-bs-toggle="dropdown",href="#") Máy chủ 1
                                        span.caret
                                    ul.dropdown-menu
                                        li 
                                            a(href="#").dropdown-item Máy chủ 1
                                        li 
                                            a(href="#").dropdown-item Máy chủ 2
                                        li 
                                            a(href="#").dropdown-item Máy chủ 3
                            
                    .app2-right__body
                        ul.nav.nav-tabs.app2-right__body-btn
                            li.nav-item.nav-item1
                                label(for="home1a")
                                    a(href="#home1" data-bs-toggle="tab").nav-link.active#home1a
                                        <select class="app-title" >
                                            <option selected>Bảng xếp hạng Tháng 12</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                            li.nav-item
                                a(data-bs-toggle="tab" href="#home2").nav-link.app-title Bảng xếp hạng Năm
                        .tab-content
                            #home1.tab-pane.active.app2-right__body-content
                                ul.nav.nav-tabs.app2-right__body-btn2
                                    li.nav-item.app2-right__body-btn2-item1
                                        a(data-bs-toggle="tab" href="#home5").nav-link.app-title.active Level
                                    li.nav-item.app2-right__body-btn2-item2
                                        a(data-bs-toggle="tab" href="#home6").nav-link.app-title Guild
                                    li.nav-item.app2-right__body-btn2-item3
                                        a(data-bs-toggle="tab" href="#home7").nav-link.app-title Job
                                .tab-content
                                    #home5.tab-pane.active.app2-right__body-content2
                                        .app2-right__body-table
                                            table
                                                thead
                                                    tr
                                                        th Hạng
                                                        th Tên nhân vật
                                                        th Level
                                                        th EXP
                                                tbody
                                                    tr
                                                        td 1
                                                        td SandMaster123
                                                        td 400
                                                        td 1.000

                                                    tr   
                                                        td 2
                                                        td Nino879
                                                        td 309
                                                        td 780

                                                    tr   
                                                        td 3
                                                        td Czar445
                                                        td 200
                                                        td 270

                                                    tr   
                                                        td 4
                                                        td SandMaster123
                                                        td 200
                                                        td 1.000

                                                    tr   
                                                        td 5
                                                        td Nino879
                                                        td 120
                                                        td 780

                                                    tr   
                                                        td 6
                                                        td Czar445
                                                        td 109
                                                        td 270

                                                    tr   
                                                        td 7
                                                        td SandMaster123
                                                        td 60
                                                        td 1.000

                                                    tr   
                                                        td 8
                                                        td Nino879
                                                        td 42
                                                        td 780

                                                    tr   
                                                        td 9
                                                        td Czar445
                                                        td 30
                                                        td 270

                                                    tr   
                                                        td 10 
                                                        td Czar445
                                                        td 30
                                                        td 1.000
                                                    tr
                                                        td 1
                                                        td SandMaster123
                                                        td 400
                                                        td 1.000

                                                    tr   
                                                        td 2
                                                        td Nino879
                                                        td 309
                                                        td 780

                                                    tr   
                                                        td 3
                                                        td Czar445
                                                        td 200
                                                        td 270

                                                    tr   
                                                        td 4
                                                        td SandMaster123
                                                        td 200
                                                        td 1.000

                                                    tr   
                                                        td 5
                                                        td Nino879
                                                        td 120
                                                        td 780

                                                    tr   
                                                        td 6
                                                        td Czar445
                                                        td 109
                                                        td 270

                                                    tr   
                                                        td 7
                                                        td SandMaster123
                                                        td 60
                                                        td 1.000

                                                    tr   
                                                        td 8
                                                        td Nino879
                                                        td 42
                                                        td 780

                                                    tr   
                                                        td 9
                                                        td Czar445
                                                        td 30
                                                        td 270

                                                    tr   
                                                        td 10 
                                                        td Czar445
                                                        td 30
                                                        td 1.000
                                        
                                        .control
                                            img(src="../assets/images/btnm.png").control-img1.control-img4
                                            img(src="../assets/images/row.png").control-img1
                                            ul
                                                li.active 1
                                                li 2
                                                li 3
                                                li 4                        
                                            img(src="../assets/images/row.png").control-img2 
                                            img(src="../assets/images/btnm.png").control-img3
   
                                        
                                    #home6.tab-pane.app2-right__body-content2
                                        .app2-right__body-table
                                            table
                                                thead
                                                    tr
                                                        th Hạng
                                                        th Guild
                                                        th Cấp
                                                        th Chủ Guild
                                                tbody
                                                    tr
                                                        td 1
                                                        td SandMaster123
                                                        td Pacheon
                                                        td 400
                                                        

                                                    tr   
                                                        td 2
                                                        td Nino879
                                                        td Pacheon
                                                        td 309
                                                        

                                                    tr   
                                                        td 3
                                                        td Czar445
                                                        td Pacheon
                                                        td 200
                                                        

                                                    tr   
                                                        td 4
                                                        td SandMaster123
                                                        td Pacheon
                                                        td 200
                                                        

                                                    tr   
                                                        td 5
                                                        td Nino879
                                                        td Pacheon
                                                        td 120
                                                        

                                                    tr   
                                                        td 6
                                                        td Czar445
                                                        td Pacheon
                                                        td 109
                                                        

                                                    tr   
                                                        td 7
                                                        td SandMaster123
                                                        td Pacheon
                                                        td 60
                                                        

                                                    tr   
                                                        td 8
                                                        td Nino879
                                                        td Pacheon
                                                        td 42
                                                        

                                                    tr   
                                                        td 9
                                                        td Czar445
                                                        td Pacheon
                                                        td 30
                                                        

                                                    tr   
                                                        td 10 
                                                        td Czar445
                                                        td Pacheon
                                                        td 30
                                                    tr
                                                        td 1
                                                        td SandMaster123
                                                        td Pacheon
                                                        td 400
                                                        

                                                    tr   
                                                        td 2
                                                        td Nino879
                                                        td Pacheon
                                                        td 309
                                                        

                                                    tr   
                                                        td 3
                                                        td Czar445
                                                        td Pacheon
                                                        td 200
                                                        

                                                    tr   
                                                        td 4
                                                        td SandMaster123
                                                        td Pacheon
                                                        td 200
                                                        

                                                    tr   
                                                        td 5
                                                        td Nino879
                                                        td Pacheon
                                                        td 120
                                                        

                                                    tr   
                                                        td 6
                                                        td Czar445
                                                        td Pacheon
                                                        td 109
                                                        

                                                    tr   
                                                        td 7
                                                        td SandMaster123
                                                        td Pacheon
                                                        td 60
                                                        

                                                    tr   
                                                        td 8
                                                        td Nino879
                                                        td Pacheon
                                                        td 42
                                                        

                                                    tr   
                                                        td 9
                                                        td Czar445
                                                        td Pacheon
                                                        td 30
                                                        

                                                    tr   
                                                        td 10 
                                                        td Czar445
                                                        td Pacheon
                                                        td 30
                                                        
                                        .control
                                            img(src="../assets/images/btnm.png").control-img1.control-img4
                                            img(src="../assets/images/row.png").control-img1
                                            ul
                                                li.active 1
                                                li 2
                                                li 3
                                                li 4                        
                                            img(src="../assets/images/row.png").control-img2 
                                            img(src="../assets/images/btnm.png").control-img3

                                         
                                    #home7.tab-pane.app2-right__body-content2
                                        .app2-right__body-table
                                            table
                                                thead
                                                    tr
                                                        th Hạng
                                                        th Tên nhân vật
                                                        th Tên Job
                                                        th Level
                                                        th EXP
                                                tbody
                                                    tr
                                                        td 1
                                                        td SandMaster123
                                                        td Pacheon
                                                        td 400
                                                        td 1.000

                                                    tr   
                                                        td 2
                                                        td Nino879
                                                        td Pacheon
                                                        td 309
                                                        td 780

                                                    tr   
                                                        td 3
                                                        td Czar445
                                                        td Pacheon
                                                        td 200
                                                        td 270

                                                    tr   
                                                        td 4
                                                        td SandMaster123
                                                        td Pacheon
                                                        td 200
                                                        td 1.000

                                                    tr   
                                                        td 5
                                                        td Nino879
                                                        td Pacheon
                                                        td 120
                                                        td 780

                                                    tr   
                                                        td 6
                                                        td Czar445
                                                        td Pacheon
                                                        td 109
                                                        td 270

                                                    tr   
                                                        td 7
                                                        td SandMaster123
                                                        td Pacheon
                                                        td 60
                                                        td 1.000

                                                    tr   
                                                        td 8
                                                        td Nino879
                                                        td Pacheon
                                                        td 42
                                                        td 780

                                                    tr   
                                                        td 9
                                                        td Czar445
                                                        td Pacheon
                                                        td 30
                                                        td 270

                                                    tr   
                                                        td 10 
                                                        td Czar445
                                                        td Pacheon
                                                        td 30
                                                        td 1.000
                                                    tr
                                                        td 1
                                                        td SandMaster123
                                                        td Pacheon
                                                        td 400
                                                        td 1.000

                                                    tr   
                                                        td 2
                                                        td Nino879
                                                        td Pacheon
                                                        td 309
                                                        td 780

                                                    tr   
                                                        td 3
                                                        td Czar445
                                                        td Pacheon
                                                        td 200
                                                        td 270

                                                    tr   
                                                        td 4
                                                        td SandMaster123
                                                        td Pacheon
                                                        td 200
                                                        td 1.000

                                                    tr   
                                                        td 5
                                                        td Nino879
                                                        td Pacheon
                                                        td 120
                                                        td 780

                                                    tr   
                                                        td 6
                                                        td Czar445
                                                        td Pacheon
                                                        td 109
                                                        td 270

                                                    tr   
                                                        td 7
                                                        td SandMaster123
                                                        td Pacheon
                                                        td 60
                                                        td 1.000

                                                    tr   
                                                        td 8
                                                        td Nino879
                                                        td Pacheon
                                                        td 42
                                                        td 780

                                                    tr   
                                                        td 9
                                                        td Czar445
                                                        td Pacheon
                                                        td 30
                                                        td 270

                                                    tr   
                                                        td 10 
                                                        td Czar445
                                                        td Pacheon
                                                        td 30
                                                        td 1.000
                                        
                                        .control
                                            img(src="../assets/images/btnm.png").control-img1.control-img4
                                            img(src="../assets/images/row.png").control-img1
                                            ul
                                                li.active 1
                                                li 2
                                                li 3
                                                li 4                        
                                            img(src="../assets/images/row.png").control-img2 
                                            img(src="../assets/images/btnm.png").control-img3
 
                                        
                            
                            #home2.tab-pane.app2-right__body-content
                                ul.nav.nav-tabs.app2-right__body-btn2
                                    li.nav-item.app2-right__body-btn2-item1
                                        a(data-bs-toggle="tab" href="#home8").nav-link.app-title.active Level
                                    li.nav-item.app2-right__body-btn2-item2
                                        a(data-bs-toggle="tab" href="#home9").nav-link.app-title Guild
                                    li.nav-item.app2-right__body-btn2-item3
                                        a(data-bs-toggle="tab" href="#home10").nav-link.app-title Job
                                .tab-content
                                    #home8.tab-pane.active.app2-right__body-content2
                                        .app2-right__body-table
                                            table
                                                thead
                                                    tr
                                                        th Hạng
                                                        th Tên nhân vật
                                                        th Level
                                                        th EXP
                                                tbody
                                                    tr
                                                        td 1
                                                        td SandMaster123
                                                        td 400
                                                        td 1.000

                                                    tr   
                                                        td 2
                                                        td Nino879
                                                        td 309
                                                        td 780

                                                    tr   
                                                        td 3
                                                        td Czar445
                                                        td 200
                                                        td 270

                                                    tr   
                                                        td 4
                                                        td SandMaster123
                                                        td 200
                                                        td 1.000

                                                    tr   
                                                        td 5
                                                        td Nino879
                                                        td 120
                                                        td 780

                                                    tr   
                                                        td 6
                                                        td Czar445
                                                        td 109
                                                        td 270

                                                    tr   
                                                        td 7
                                                        td SandMaster123
                                                        td 60
                                                        td 1.000

                                                    tr   
                                                        td 8
                                                        td Nino879
                                                        td 42
                                                        td 780

                                                    tr   
                                                        td 9
                                                        td Czar445
                                                        td 30
                                                        td 270

                                                    tr   
                                                        td 10 
                                                        td Czar445
                                                        td 30
                                                        td 1.000
                                                    tr
                                                        td 1
                                                        td SandMaster123
                                                        td 400
                                                        td 1.000

                                                    tr   
                                                        td 2
                                                        td Nino879
                                                        td 309
                                                        td 780

                                                    tr   
                                                        td 3
                                                        td Czar445
                                                        td 200
                                                        td 270

                                                    tr   
                                                        td 4
                                                        td SandMaster123
                                                        td 200
                                                        td 1.000

                                                    tr   
                                                        td 5
                                                        td Nino879
                                                        td 120
                                                        td 780

                                                    tr   
                                                        td 6
                                                        td Czar445
                                                        td 109
                                                        td 270

                                                    tr   
                                                        td 7
                                                        td SandMaster123
                                                        td 60
                                                        td 1.000

                                                    tr   
                                                        td 8
                                                        td Nino879
                                                        td 42
                                                        td 780

                                                    tr   
                                                        td 9
                                                        td Czar445
                                                        td 30
                                                        td 270

                                                    tr   
                                                        td 10 
                                                        td Czar445
                                                        td 30
                                                        td 1.000
                                        
                                        .control
                                            img(src="../assets/images/btnm.png").control-img1.control-img4
                                            img(src="../assets/images/row.png").control-img1
                                            ul
                                                li.active 1
                                                li 2
                                                li 3
                                                li 4                        
                                            img(src="../assets/images/row.png").control-img2 
                                            img(src="../assets/images/btnm.png").control-img3
  
                                        
                                    #home9.tab-pane.app2-right__body-content2
                                        .app2-right__body-table
                                            table
                                                thead
                                                    tr
                                                        th Hạng
                                                        th Guild
                                                        th Cấp
                                                        th Chủ Guild
                                                tbody
                                                    tr
                                                        td 1
                                                        td SandMaster123
                                                        td Pacheon
                                                        td 400
                                                        

                                                    tr   
                                                        td 2
                                                        td Nino879
                                                        td Pacheon
                                                        td 309
                                                        

                                                    tr   
                                                        td 3
                                                        td Czar445
                                                        td Pacheon
                                                        td 200
                                                        

                                                    tr   
                                                        td 4
                                                        td SandMaster123
                                                        td Pacheon
                                                        td 200
                                                        

                                                    tr   
                                                        td 5
                                                        td Nino879
                                                        td Pacheon
                                                        td 120
                                                        

                                                    tr   
                                                        td 6
                                                        td Czar445
                                                        td Pacheon
                                                        td 109
                                                        

                                                    tr   
                                                        td 7
                                                        td SandMaster123
                                                        td Pacheon
                                                        td 60
                                                        

                                                    tr   
                                                        td 8
                                                        td Nino879
                                                        td Pacheon
                                                        td 42
                                                        

                                                    tr   
                                                        td 9
                                                        td Czar445
                                                        td Pacheon
                                                        td 30
                                                        

                                                    tr   
                                                        td 10 
                                                        td Czar445
                                                        td Pacheon
                                                        td 30
                                                    tr
                                                        td 1
                                                        td SandMaster123
                                                        td Pacheon
                                                        td 400
                                                        

                                                    tr   
                                                        td 2
                                                        td Nino879
                                                        td Pacheon
                                                        td 309
                                                        

                                                    tr   
                                                        td 3
                                                        td Czar445
                                                        td Pacheon
                                                        td 200
                                                        

                                                    tr   
                                                        td 4
                                                        td SandMaster123
                                                        td Pacheon
                                                        td 200
                                                        

                                                    tr   
                                                        td 5
                                                        td Nino879
                                                        td Pacheon
                                                        td 120
                                                        

                                                    tr   
                                                        td 6
                                                        td Czar445
                                                        td Pacheon
                                                        td 109
                                                        

                                                    tr   
                                                        td 7
                                                        td SandMaster123
                                                        td Pacheon
                                                        td 60
                                                        

                                                    tr   
                                                        td 8
                                                        td Nino879
                                                        td Pacheon
                                                        td 42
                                                        

                                                    tr   
                                                        td 9
                                                        td Czar445
                                                        td Pacheon
                                                        td 30
                                                        

                                                    tr   
                                                        td 10 
                                                        td Czar445
                                                        td Pacheon
                                                        td 30
                                                        
                                        .control
                                            img(src="../assets/images/btnm.png").control-img1.control-img4
                                            img(src="../assets/images/row.png").control-img1
                                            ul
                                                li.active 1
                                                li 2
                                                li 3
                                                li 4                        
                                            img(src="../assets/images/row.png").control-img2 
                                            img(src="../assets/images/btnm.png").control-img3

                                         
                                    #home10.tab-pane.app2-right__body-content2
                                        .app2-right__body-table
                                            table
                                                thead
                                                    tr
                                                        th Hạng
                                                        th Tên nhân vật
                                                        th Tên Job
                                                        th Level
                                                        th EXP
                                                tbody
                                                    tr
                                                        td 1
                                                        td SandMaster123
                                                        td Pacheon
                                                        td 400
                                                        td 1.000

                                                    tr   
                                                        td 2
                                                        td Nino879
                                                        td Pacheon
                                                        td 309
                                                        td 780

                                                    tr   
                                                        td 3
                                                        td Czar445
                                                        td Pacheon
                                                        td 200
                                                        td 270

                                                    tr   
                                                        td 4
                                                        td SandMaster123
                                                        td Pacheon
                                                        td 200
                                                        td 1.000

                                                    tr   
                                                        td 5
                                                        td Nino879
                                                        td Pacheon
                                                        td 120
                                                        td 780

                                                    tr   
                                                        td 6
                                                        td Czar445
                                                        td Pacheon
                                                        td 109
                                                        td 270

                                                    tr   
                                                        td 7
                                                        td SandMaster123
                                                        td Pacheon
                                                        td 60
                                                        td 1.000

                                                    tr   
                                                        td 8
                                                        td Nino879
                                                        td Pacheon
                                                        td 42
                                                        td 780

                                                    tr   
                                                        td 9
                                                        td Czar445
                                                        td Pacheon
                                                        td 30
                                                        td 270

                                                    tr   
                                                        td 10 
                                                        td Czar445
                                                        td Pacheon
                                                        td 30
                                                        td 1.000
                                                    tr
                                                        td 1
                                                        td SandMaster123
                                                        td Pacheon
                                                        td 400
                                                        td 1.000

                                                    tr   
                                                        td 2
                                                        td Nino879
                                                        td Pacheon
                                                        td 309
                                                        td 780

                                                    tr   
                                                        td 3
                                                        td Czar445
                                                        td Pacheon
                                                        td 200
                                                        td 270

                                                    tr   
                                                        td 4
                                                        td SandMaster123
                                                        td Pacheon
                                                        td 200
                                                        td 1.000

                                                    tr   
                                                        td 5
                                                        td Nino879
                                                        td Pacheon
                                                        td 120
                                                        td 780

                                                    tr   
                                                        td 6
                                                        td Czar445
                                                        td Pacheon
                                                        td 109
                                                        td 270

                                                    tr   
                                                        td 7
                                                        td SandMaster123
                                                        td Pacheon
                                                        td 60
                                                        td 1.000

                                                    tr   
                                                        td 8
                                                        td Nino879
                                                        td Pacheon
                                                        td 42
                                                        td 780

                                                    tr   
                                                        td 9
                                                        td Czar445
                                                        td Pacheon
                                                        td 30
                                                        td 270

                                                    tr   
                                                        td 10 
                                                        td Czar445
                                                        td Pacheon
                                                        td 30
                                                        td 1.000
                                        
                                        .control
                                            img(src="../assets/images/btnm.png").control-img1.control-img4
                                            img(src="../assets/images/row.png").control-img1
                                            ul
                                                li.active 1
                                                li 2
                                                li 3
                                                li 4                        
                                            img(src="../assets/images/row.png").control-img2 
                                            img(src="../assets/images/btnm.png").control-img3
 
                                        
                    
                        .app2-btn
                            button.app2-btn1.js-movtop
                                img(src="../assets/images/movtop.png")  
                            button.app2-btn2
                                img(src="../assets/images/messengericon.png") 
                img(src="../assets/images/trangtri1.png",alt="").trangtri.trangtri-tt
    ul.banner-body__navmb.app-navmb  
            li.banner-body__navmb-item1
                img(src="../assets/images/ytmb.png")
            li.banner-body__navmb-item2 NẠP SILK
            li.banner-body__navmb-item3
                img(src="../assets/images/gmnb.png")
                img(src="../assets/images/famb.png")        
    footer.footer
        .container
            .footer-logo
                .footer-logo__img
                    img(src='../assets/images/logo_vtc.png' alt='')
                    img(src='../assets/images/logo_sro.png' alt='')
                span TỔNG CÔNG TY TRUYỀN THÔNG ĐA PHƯƠNG TIỆN (VTC) <strong>CÔNG TY VTC CÔNG NGHỆ VÀ NỘI DUNG SỐ (VTC INTECOM)</strong>
            .footer-info
                span CHỊU TRÁCH NHIỆM QUẢN LÝ NỘI DUNG:
                a(href='') Ông Trần Phương Huy    
                table
                    tr 
                        td THÔNG TIN LIÊN HỆ
                    tr
                        td
                            img(alt="",src="../assets/images/icon_cskh.png")
                            a(href='tel:19001530') 1900 1530
                        td 
                            img(alt="",src="../assets/images/icon_web.png")
                            a(href='hotro.vtc.vn') hotro.vtc.vn
                    tr
                        td
                            img(alt="",src="../assets/images/icon_fax.png")
                            a(href='mailto:cskh.au@vtc.vn') 024.3636.7728
                        td
                            img(alt="",src="../assets/images/icon_face.png")
                            a(href='fb.com/auditionvtc') fb.com/PhiDoiVTC

            .footer-address
                .footer-address__item

                    h5 TRỤ SỞ HÀ NỘI
                    p Tòa nhà VTC 23 Lạc Trung, Quận Hai Bà Trưng, Hà Nội
                .footer-address__item
            
                    h5 CHI NHÁNH THÀNH PHỐ HỒ CHÍ MINH
                    p 259 Đồng Đen, Phường 10, Quận Tân Bình, TP. Hồ Chí Minh
script(src="../js/bootstrap.min.js")
script(src="../js/index.js")