
head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../css/style.css")
    title Document
body
    .popup
        .popup-body
            img(src="../assets/images/closepopup.png",alt="").popup-body__close
            span.popup-body__title.app-title Lịch sử nhập code
            ul.app-dichvu__right-body__form
                li.app-dichvu__right-body__form-item.app-dichvu__right-body__form-item9.popup-body__item Nhân vật:
                    select
                        option(selected) Pacheon
                        option(value="2") Pacheon
                        option(value="3") Pacheon
            .app2-right__body-table
                table
                    thead
                        tr
                            th Thời gian
                            th Mã code
                           
                    tbody
                        tr 
                            td 22:10 28/07/2023
                            td acd12dffg

                        tr
                            td 22:10 28/07/2023
                            td acd12dffg
                        tr
                            td 22:10 28/07/2023
                            td acd12dffg
                        tr
                            td 22:10 28/07/2023
                            td acd12dffg
                        tr
                            td 22:10 28/07/2023
                            td acd12dffg
                        tr
                            td 22:10 28/07/2023
                            td acd12dffg
                        tr
                            td 22:10 28/07/2023
                            td acd12dffg
                        tr
                            td 22:10 28/07/2023
                            td acd12dffg
                        tr
                            td 22:10 28/07/2023
                            td acd12dffg
                        tr
                            td 22:10 28/07/2023
                            td acd12dffg
                
                .control
                    img(src="../assets/images/btnm.png").control-img1.control-img4
                    img(src="../assets/images/row.png").control-img1
                    ul
                        li.active 1
                        li 2
                        li 3
                        li 4                        
                    img(src="../assets/images/row.png").control-img2 
                    img(src="../assets/images/btnm.png").control-img3
   
                        
            
script(src="../js/bootstrap.min.js")
script(src="../js/index.js")