head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../css/style.css")
    title Document
body
    .popup
        .popup-body.popup-body__tb.popup-body4
            img(src="../assets/images/closepopup.png",alt="").popup-body__close
            span.popup-body__title.app-title Thông báo
            p.popup-body__des Reset giờ chơi thành công
            button Xác nhận