head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../css/style.css")
    title Document
body
    .popup
        .container
            .popup-body.popup-body2
                h1.popup-body__title.app-title Lịch sử nhập Giftcode
                button.popup-body__exit
                ul.popup-body__choose
                    li.app-title.app-dichvu__right-body__form-item Nhân vật:
                        select
                            option(selected) Pacheon
                            option(value="2") nv2
                            option(value="3") nv3
                .popup-body__table.app2-right__body-table
                    table
                        thead
                            tr
                                th Thời gian
                                th Mã code
                        tbody
                            tr
                                td 15:34 22/07/2023
                                td Kmy287xh

                            tr    
                                td 15:34 22/07/2023
                                td Kmy287xh

                            tr    
                                td 15:34 22/07/2023
                                td Kmy287xh

                            tr    
                                td 15:34 22/07/2023
                                td Kmy287xh

                            tr    
                                td 15:34 22/07/2023
                                td Kmy287xh

                            tr    
                                td 15:34 22/07/2023
                                td Kmy287xh

                            tr    
                                td 15:34 22/07/2023
                                td Kmy287xh

                            tr    
                                td 15:34 22/07/2023
                                td Kmy287xh

                            tr    
                                td 15:34 22/07/2023
                                td Kmy287xh

                            tr    
                                td 15:34 22/07/2023
                                td Kmy287xh
                    .control
                        img(src="../assets/images/btnm.png").control-img1.control-img4
                        img(src="../assets/images/row.png").control-img1
                        ul
                            li.active 1
                            li 2
                            li 3
                            li 4                        
                        img(src="../assets/images/row.png").control-img2 
                        img(src="../assets/images/btnm.png").control-img3




















