
.index-1-banner 
    #demo3.carousel.slide.index-1-banner-sl(data-bs-ride="carousel",data-interval="5000")
        .carousel-inner.index-1-banner-sl__list
            .carousel-item.active.index-1-banner-sl__list-item
                img(src="../assets/images/banner.jpeg").index-1-banner-sl__list-item__img
                img(src="../assets/images/index-banner.jpeg").index-1-banner-sl__list-item__mb
                .container 
                    h2 Theo dõi quá trình học và <br>thi luật an toàn giao thông1
                    p Bảng thống kê quá trình học và thi được cá nhân<br> hóa, giúp bạn dễ dàng theo dõi quá trình học hay<br> kết quả thi hay luyện tập của mình trên hệ thống
                    .index-1-banner-btn
                        button Đăng ký
                        button Xem thêm  
            .carousel-item.index-1-banner-sl__list-item
                img(src="../assets/images/banner.jpeg").index-1-banner-sl__list-item__img
                img(src="../assets/images/index-banner.jpeg").index-1-banner-sl__list-item__mb

                .container 
                    h2 Theo dõi quá trình học và <br>thi luật an toàn giao thông2
                    p Bảng thống kê quá trình học và thi được cá nhân<br> hóa, giúp bạn dễ dàng theo dõi quá trình học hay<br> kết quả thi hay luyện tập của mình trên hệ thống
                    .index-1-banner-btn
                        button Đăng ký
                        button Xem thêm   
            .carousel-item.index-1-banner-sl__list-item
                img(src="../assets/images/banner.jpeg").index-1-banner-sl__list-item__img
                img(src="../assets/images/index-banner.jpeg").index-1-banner-sl__list-item__mb

                .container 
                    h2 Theo dõi quá trình học và <br>thi luật an toàn giao thông3
                    p Bảng thống kê quá trình học và thi được cá nhân<br> hóa, giúp bạn dễ dàng theo dõi quá trình học hay<br> kết quả thi hay luyện tập của mình trên hệ thống
                    .index-1-banner-btn
                        button Đăng ký
                        button Xem thêm
            button.carousel-control-prev.index-1-banner-sl__btn-prev(data-bs-target="#demo3" data-bs-slide="prev")
                span.carousel-control-prev-icon
            button.carousel-control-next.index-1-banner-sl__btn-next(data-bs-target="#demo3" data-bs-slide="next")
                span.carousel-control-next-icon
        .index-1-banner-control.carousel-indicators
            button.active.index-js-control.index-js-control1(data-bs-slide-to="0",data-bs-target="#demo3")
                svg
                    circle(r="10" cx="13" cy="13")
            button.index-js-control.index-js-control2(data-bs-slide-to="1",data-bs-target="#demo3")
                svg
                    circle(r="10" cx="13" cy="13")
            button.index-js-control.index-js-control3(data-bs-slide-to="2",data-bs-target="#demo3")
                svg
                    circle(r="10" cx="13" cy="13")       
.index-1-app
    .index-1-app-unit1
        .container
            h2.index-1-app-heading Đơn vị phối hợp tổ chức
            ul 
                li
                    img(src="../assets/images/14.png",alt="") 
                li
                    img(src="../assets/images/11.png",alt="") 
                li
                    img(src="../assets/images/12.png",alt="") 
                li
                    img(src="../assets/images/13.png",alt="") 
                li
                    img(src="../assets/images/10.png",alt="") 
    .index-1-app-communication
        .container
            h2.index-1-app-heading Nền tảng số<br> an toàn giao thông Việt Nam
                p Hãy kể cho tôi cách bạn tham gia giao thông,<br> tôi sẽ nói cho bạn biết bạn là người thế nào
            ul
                li
                    img(src="../assets/images/1.jpeg",alt="")
                li 
                    h3 Nền tảng tin cậy dành cho tất cả các đối tượng người dân tham gia giao thông
                    p Học kiến thức về pháp luật, văn hóa giao thông qua các bài học ngắn gọn, trò chơi thông minh, video giảng dạy dễ hiểu. Các tổ chức, cá nhân có thể tự tạo cuộc thi trên nền tảng, nội dung có sẵn, khiến cho việc triển khai các cuộc thi trở nên dễ dàng và đồng bộ hơn. Hệ thống<br> tổng hợp điểm và xếp hạng, kích thích người dùng sử dụng thường xuyên              
    .index-1-app-convenient
        .container
            h2.index-1-app-heading dễ dàng sử dụng trên<br> đa nền tảng
                p Tin tức cập nhật, nội dung đa dạng, thuận tiện<br> trong bổ sung kiến thức
            .index-1-app-convenient__control
                button.index-js-controlcon1
                button.index-js-controlcon2
            ul.index-js-sl1
                li
                    img(src="../assets/images/2.jpeg",alt="")
                    em
                        h3 Sử dụng trên trình duyệt web
                        p Trình duyệt web với đầy đủ tính năng: Tin tức, Thi,<br> Học tập, và đặc biệt có tính năng tổ chức các cuộc<br> thi dành cho đối tác là các Trung tâm/Tổ chức Đào<br> tạo hay Khảo thí. Dễ dàng triển khai và vận hành<br> các cuộc thi
                li
                    em
                        h3 Sử dụng trên ứng dụng mobile
                        p Ứng dụng mobile giúp cho người dùng dễ dàng cập nhật thông tin, tin tức về An toàn giao thông mọi lúc mọi nơi. Rất thuận tiện cho những người bận rộn nhưng đang cần bổ trợ kiến thức dành cho các cuộc thi
                    img(src="../assets/images/3.jpeg",alt="")
                
            ul
                li  
                    img(src="../assets/images/3.png",alt="")
                    em 
                        h3 Tính năng Dashboard
                        p Tổng hợp, thống kê, tích điểm, xếp hạng và theo dõi quá trình luyện tập về kiến thức an toàn giao thông
                li  
                    img(src="../assets/images/5.png",alt="")
                    em 
                        h3 Kết nối cộng đồng
                        p Chia sẻ tin tức về giao thông, hỗ trợ thông tin về phương tiện, kết nối mạng xã hội
                li  
                    img(src="../assets/images/6.png",alt="")
                    em 
                        h3 Học và thi
                        p Các chương trình học đơn giản, bổ ích phù hợp với mọi lứa tuổi. Kết hợp với các cuộc thi, các chương trình luyện tập hỗ trợ cho các kỳ thi sát hạch các loại giấy phép lái xe, điều khiển phương tiện giao thông
                li  
                    img(src="../assets/images/7.png",alt="")
                    em 
                        h3 Hợp tác phát triển
                        p Nền tảng mở rộng cho hợp tác với các đối tác là doanh nghiệp, tổ chức, trường học. Xây dựng các chương trình đào tạo, thi hay sát hạch
    
    .index-1-app-active
        .container
            h2.index-1-app-heading các chương trình<br> đang hoạt động
            #demo.carousel.slide.index-1-app-active__sl(data-bs-interval="false")
                .carousel-inner.index-1-app-active__sl-list
                    .carousel-item.active.index-1-app-active__sl-list__item
                        img(src="../assets/images/a1.jpg",alt="")
                        h3 Dành cho Giáo dục phổ thông
                        p Học miễn phí<br>Hỗ trợ video bài giảng<br>Tổ chức các cuộc thi
                        span
                        button Tham gia
                        
                    .carousel-item.index-1-app-active__sl-list__item
                        img(src="../assets/images/a2.jpg",alt="")
                        h3 Dành cho thí sinh tự do
                        p Học miễn phí<br>Hỗ trợ video bài giảng<br>Đăng ký tham gia các cuộc thi của ban tổ chức<br>
                        span
                        button Tham gia
                    .carousel-item.index-1-app-active__sl-list__item
                        img(src="../assets/images/a3.jpg",alt="")
                        h3 Dành cho tổ chức sát hạch
                        p Hỗ trợ tổ chức thi lý thuyết<br>Hỗ trợ thực hành sát hạch<br>Hướng dẫn sa hình
                        span
                        button Tham gia
                    .carousel-item.index-1-app-active__sl-list__item
                        img(src="../assets/images/a4.jpg",alt="")
                        h3 Dành cho đối tác hợp tác
                        p Hợp tác đào tạo<br>Hợp tác quảng cáo
                        span
                        button Tham gia
                button.carousel-control-prev.index-1-app-active__sl-btn__prev(data-bs-target="#demo" data-bs-slide="prev")
                    span.carousel-control-prev-icon
                button.carousel-control-next.index-1-app-active__sl-btn__next(data-bs-target="#demo" data-bs-slide="next")
                    span.carousel-control-next-icon
            span Cần thêm thông tin, xin hãy liên hệ e-mail:
                a(href="mailto:atgtqg@vtc.vn") atgtqg@vtc.vn
    .index-1-app-comment
        .container
            #demo1.carousel.slide.index-1-app-comment__sl(data-bs-interval="false")
                .carousel-inner.index-1-app-comment__sl-list
                    .carousel-item.active.index-1-app-comment__sl-list__item
                        .index-1-app-comment__sl-list__item-ct
                            span “Tôi đã tự học và ôn thi Giấy phép lái xe B2 thông qua ứng dụng này,<br> thật sự rất hữu ích cho những người ít thời gian để học như tôi.”
                            img(src="../assets/images/8.png",alt="")
                            h3 Thái Phúc
                            p Nhân viên văn phòng1
                    .carousel-item.index-1-app-comment__sl-list__item
                        .index-1-app-comment__sl-list__item-ct
                            span “Tôi đã tự học và ôn thi Giấy phép lái xe B2 thông qua ứng dụng này,<br> thật sự rất hữu ích cho những người ít thời gian để học như tôi.”

                            img(src="../assets/images/8.png",alt="")
                            h3 Thái Phúc
                            p Nhân viên văn phòng2
                    .carousel-item.index-1-app-comment__sl-list__item
                        .index-1-app-comment__sl-list__item-ct
                            span “Tôi đã tự học và ôn thi Giấy phép lái xe B2 thông qua ứng dụng này,<br> thật sự rất hữu ích cho những người ít thời gian để học như tôi.”

                            img(src="../assets/images/8.png",alt="")
                            h3 Thái Phúc
                            p Nhân viên văn phòng3
                    .carousel-item.index-1-app-comment__sl-list__item
                        .index-1-app-comment__sl-list__item-ct
                            span “Tôi đã tự học và ôn thi Giấy phép lái xe B2 thông qua ứng dụng này,<br> thật sự rất hữu ích cho những người ít thời gian để học như tôi.”

                            img(src="../assets/images/8.png",alt="")
                            h3 Thái Phúc
                            p Nhân viên văn phòng4
                    .carousel-item.index-1-app-comment__sl-list__item
                        .index-1-app-comment__sl-list__item-ct
                            span “Tôi đã tự học và ôn thi Giấy phép lái xe B2 thông qua ứng dụng này,<br> thật sự rất hữu ích cho những người ít thời gian để học như tôi.”

                            img(src="../assets/images/8.png",alt="")
                            h3 Thái Phúc
                            p Nhân viên văn phòng5
                button.carousel-control-prev.index-1-app-comment__sl-btn__prev(data-bs-target="#demo1" data-bs-slide="prev")
                    span.carousel-control-prev-icon
                button.carousel-control-next.index-1-app-comment__sl-btn__next(data-bs-target="#demo1" data-bs-slide="next")
                    span.carousel-control-next-icon
                

    .index-1-app-unit2
        .container
            ul 
                li
                    img(src="../assets/images/18.png",alt="", onclick="currentSlide(1)") 
                li
                    img(src="../assets/images/19.png",alt="",onclick="currentSlide(2)") 
                li
                    img(src="../assets/images/15.png",alt="",onclick="currentSlide(3)") 
                li
                    img(src="../assets/images/17.png",alt="",onclick="currentSlide(4)") 
                li
                    img(src="../assets/images/16.png",alt="",onclick="currentSlide(5)")      


