.index-19-banner
.index-19-app
    .container
        .index-19-app-body
            span Học tập /  Quy tắc giao thông
            table
                thead
                    tr
                        th(rowspan="2") Quy tắc giao thông
                        th(colspan="2") Mức xử phạt phương tiện                     
                        th(rowspan="2") Hình thức bổ sung (Nếu có)
                    tr 
                        th Xe máy
                        th Ô tô        
                tbody
                    tr
                        td Chuyển làn không có tín hiệu báo trước (Không Xi nhan)
                        td 100.000 đồng đến 200.000 đồng<br>(Điểm i Khoản 1 Điều 6 <br><a>Nghị định 100)</a>
                        td 400.000 đồng đến 600.000 đồng<br>(Điểm a Khoản 2 Điều 5 <br><a>Nghị định 100)</a>
                        td Xe ô tô vi phạm: Tước quyền sử dụng Giấy phép lái xe từ 01 tháng đến 03 tháng nếu vi phạm trên cao tốc<br>(Điểm b Khoản 11 Điều 5 <a>Nghị định 100)</a>
                    tr
                        td Chuyển làn không có tín hiệu báo trước (Không Xi nhan)
                        td 100.000 đồng đến 200.000 đồng<br>(Điểm i Khoản 1 Điều 6 <br><a>Nghị định 100)</a>
                        td 400.000 đồng đến 600.000 đồng<br>(Điểm a Khoản 2 Điều 5 <br><a>Nghị định 100)</a>
                        td Xe ô tô vi phạm: Tước quyền sử dụng Giấy phép lái xe từ 01 tháng đến 03 tháng nếu vi phạm trên cao tốc<br>(Điểm b Khoản 11 Điều 5 <a>Nghị định 100)</a>
                    tr
                        td Chuyển làn không có tín hiệu báo trước (Không Xi nhan)
                        td 100.000 đồng đến 200.000 đồng<br>(Điểm i Khoản 1 Điều 6 <br><a>Nghị định 100)</a>
                        td 400.000 đồng đến 600.000 đồng<br>(Điểm a Khoản 2 Điều 5 <br><a>Nghị định 100)</a>
                        td Xe ô tô vi phạm: Tước quyền sử dụng Giấy phép lái xe từ 01 tháng đến 03 tháng nếu vi phạm trên cao tốc<br>(Điểm b Khoản 11 Điều 5 <a>Nghị định 100)</a>
                    tr
                        td Chuyển làn không có tín hiệu báo trước (Không Xi nhan)
                        td 100.000 đồng đến 200.000 đồng<br>(Điểm i Khoản 1 Điều 6 <br><a>Nghị định 100)</a>
                        td 400.000 đồng đến 600.000 đồng<br>(Điểm a Khoản 2 Điều 5 <br><a>Nghị định 100)</a>
                        td Xe ô tô vi phạm: Tước quyền sử dụng Giấy phép lái xe từ 01 tháng đến 03 tháng nếu vi phạm trên cao tốc<br>(Điểm b Khoản 11 Điều 5 <a>Nghị định 100)</a>
                    tr
                        td Chuyển làn không có tín hiệu báo trước (Không Xi nhan)
                        td 100.000 đồng đến 200.000 đồng<br>(Điểm i Khoản 1 Điều 6 <br><a>Nghị định 100)</a>
                        td 400.000 đồng đến 600.000 đồng<br>(Điểm a Khoản 2 Điều 5 <br><a>Nghị định 100)</a>
                        td Xe ô tô vi phạm: Tước quyền sử dụng Giấy phép lái xe từ 01 tháng đến 03 tháng nếu vi phạm trên cao tốc<br>(Điểm b Khoản 11 Điều 5 <a>Nghị định 100)</a>
                    tr
                        td Chuyển làn không có tín hiệu báo trước (Không Xi nhan)
                        td 100.000 đồng đến 200.000 đồng<br>(Điểm i Khoản 1 Điều 6 <br><a>Nghị định 100)</a>
                        td 400.000 đồng đến 600.000 đồng<br>(Điểm a Khoản 2 Điều 5 <br><a>Nghị định 100)</a>
                        td Xe ô tô vi phạm: Tước quyền sử dụng Giấy phép lái xe từ 01 tháng đến 03 tháng nếu vi phạm trên cao tốc<br>(Điểm b Khoản 11 Điều 5 <a>Nghị định 100)</a>
            .index-19-app-body__btn
                button
                    img(src="../assets/images/Vector.png")
                ul
                    li 2
                    li /
                    li 16       
                button 
                    img(src="../assets/images/Vector.png")      