
.index-10-banner
.index-11-app
    .container
        .index-11-app-news
            .index-11-app-news__left
                img(src="../assets/images/app11.jpeg",alt="")
                a(href="#") 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Habitant morbi.
                ul
                    li
                        img(src="../assets/images/app11.jpeg",alt="")
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Habitant morbi tristique senectus et. Amet consectetur adipiscing elit ut aliquam purus. Mauris cursus mattis molestie a iaculis at erat pellentesque. 
                    li
                        em
                            img(src="../assets/images/app11.jpeg",alt="")
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.....
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Habitant morbi tristique senectus et. Amet consectetur adipiscing elit ut aliquam purus. Mauris cursus mattis molestie a iaculis at erat pellentesque.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Habitant morbi tristique senectus et. Amet consectetur adipiscing elit ut aliquam purus. Mauris cursus mattis molestie a iaculis at erat pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br><br>Habitant morbi tristique senectus et. Amet consectetur adipiscing elit ut aliquam purus. Mauris cursus mattis molestie a iaculis at erat pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Habitant morbi tristique senectus et. Amet consectetur adipiscing elit ut aliquam purus. Mauris cursus mattis molestie a iaculis at erat pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing.
                    li
                        em
                            img(src="../assets/images/app11.jpeg",alt="")
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.....
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Habitant morbi tristique senectus et. Amet consectetur adipiscing elit ut aliquam purus. Mauris cursus mattis molestie a iaculis at erat pellentesque.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Habitant morbi tristique senectus et. Amet consectetur adipiscing elit ut aliquam purus. Mauris cursus mattis molestie a iaculis at erat pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br><br>Habitant morbi tristique senectus et. Amet consectetur adipiscing elit ut aliquam purus. Mauris cursus mattis molestie a iaculis at erat pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Habitant morbi tristique senectus et. Amet consectetur adipiscing elit ut aliquam purus. Mauris cursus mattis molestie a iaculis at erat pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Habitant morbi tristique senectus et. Amet consectetur adipiscing elit ut aliquam purus. Mauris cursus mattis molestie a iaculis at erat pellentesque. <br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Habitant morbi tristique senectus et. Amet consectetur adipiscing elit ut aliquam purus. Mauris cursus mattis molestie a iaculis at erat pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Habitant morbi tristique senectus et. Amet consectetur adipiscing elit ut aliquam purus. Mauris cursus mattis molestie a iaculis at erat pellentesque. 
                .index-11-app-news__left-share
                    span Chia sẻ:
                    ul
                        li 
                            img(src="../assets/images/app11-fa.png",alt="")
                        li 
                            img(src="../assets/images/app11-tw.png",alt="")
                        li 
                            img(src="../assets/images/app11-gm.png",alt="")
                        li 
                            img(src="../assets/images/app11-link.png",alt="")
                img.index-11-app-news__left-ads(src="../assets/images/tt8.jpeg",alt="")
                
                .index-11-app-news__left-comment
                    span Bình luận <strong>(10)</strong>
                    .index-11-app-news__left-comment__cm
                        input(placeholder="Thêm bình luận")
                        img(src="../assets/images/app11-icon.png",alt="")
                    ul
                        li
                            span T
                            em
                                h3 Lưu Ngọc Thư
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet consectetur adipiscing elit ut aliquam purus. Mauris cursus mattis molestie a iaculis at erat pellentesque. 
                                ul
                                    li 10
                                        img(src="../assets/images/app11-like.png",alt="")
                                    li Trả lời
                                    li 11h trước
                        li
                            span T
                            em
                                h3 Lưu Ngọc Thư
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet consectetur adipiscing elit ut aliquam purus. Mauris cursus mattis molestie a iaculis at erat pellentesque. 
                                ul
                                    li 10
                                        img(src="../assets/images/app11-like.png",alt="")
                                    li Trả lời
                                    li 11h trước
                        li
                            span T
                            em
                                h3 Lưu Ngọc Thư
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet consectetur adipiscing elit ut aliquam purus. Mauris cursus mattis molestie a iaculis at erat pellentesque. 
                                ul
                                    li 10
                                        img(src="../assets/images/app11-like.png",alt="")
                                    li Trả lời
                                    li 11h trước
                        li
                            span T
                            em
                                h3 Lưu Ngọc Thư
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet consectetur adipiscing elit ut aliquam purus. Mauris cursus mattis molestie a iaculis at erat pellentesque. 
                                ul
                                    li 10
                                        img(src="../assets/images/app11-like.png",alt="")
                                    li Trả lời
                                    li 11h trước
                    button Xem thêm bình luận 
            .index-11-app-news__rightmb
                h2 ĐỌC THÊM
                ul
                    li
                        img(src="../assets/images/tt4.jpeg",alt="")
                        a(href="#") 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                          
                    li
                        img(src="../assets/images/tt5.jpeg",alt="")
                        a(href="#") 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                          
                    li
                        img(src="../assets/images/tt6.jpeg",alt="")
                        a(href="#") 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                          
                    li
                        img(src="../assets/images/tt3.jpeg",alt="")
                        a(href="#") 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                          
                .index-11-app-news__rightmb-control
                    span 
                        img(src="../assets/images/Vector.png")
                    .btn
                        span.active.index11-js-control 1
                        span.index11-js-control 2
                        span.index11-js-control 3
                        span.index11-js-control 4
                        span ...
                        span.index11-js-control 10
                    span 
                        img(src="../assets/images/Vector.png")
            .index-11-app-news__right
                h2 ĐỌC THÊM
                ul
                    li
                        img(src="../assets/images/tt4.jpeg",alt="")
                        em
                            a(href="#") 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.......
                    li
                        img(src="../assets/images/tt5.jpeg",alt="")
                        em
                            a(href="#") 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.......
                    li
                        img(src="../assets/images/tt6.jpeg",alt="")
                        em
                            a(href="#") 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.......
                    li
                        img(src="../assets/images/tt3.jpeg",alt="")
                        em
                            a(href="#") 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.......
                h2 TIN TỨC TRONG NGÀY
                ul
                    li
                        img(src="../assets/images/tt4.jpeg",alt="")
                        em
                            a(href="#") 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.......
                    li
                        img(src="../assets/images/tt5.jpeg",alt="")
                        em
                            a(href="#") 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.......
                    li
                        img(src="../assets/images/tt6.jpeg",alt="")
                        em
                            a(href="#") 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.......
                    li
                        img(src="../assets/images/tt7.jpeg",alt="")
                        em
                            a(href="#") 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.......      
                img(src="../assets/images/tt7.jpeg",alt="")

