
.index-10-banner
    .container
        h2 Tin Tức
.index-10-app
    .index-10-app-searchmb
        input(placeholder="Tìm kiếm")
        img(src="../assets/images/search.png")
    .container
        h2.index-10-app-heading TIN MỚI NHẤT
            hr
    .index-10-app-news
        .container
            .index-10-app-news__left
                ul
                    li
                        ul
                            li 
                                a(href="./tintuc-chitiet.html")
                                    img(src="../assets/images/tt1.jpeg")
                                    h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.......Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.......em ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.......Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.......
                        ul.index10-js-slider2
                            li 
                                a(href="./tintuc-chitiet.html")
                                    img(src="../assets/images/tt1.jpeg")
                                    h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            li 
                                a(href="./tintuc-chitiet.html")
                                    img(src="../assets/images/tt1.jpeg")
                                    h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            li 
                                a(href="./tintuc-chitiet.html")
                                    img(src="../assets/images/tt1.jpeg")
                                    h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            li 
                                a(href="./tintuc-chitiet.html")
                                    img(src="../assets/images/tt1.jpeg")
                                    h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            li 
                                a(href="./tintuc-chitiet.html")
                                    img(src="../assets/images/tt1.jpeg")
                                    h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            li 
                                a(href="./tintuc-chitiet.html")
                                    img(src="../assets/images/tt1.jpeg")
                                    h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            li 
                                a(href="./tintuc-chitiet.html")
                                    img(src="../assets/images/tt1.jpeg")
                                    h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            li 
                                a(href="./tintuc-chitiet.html")
                                    img(src="../assets/images/tt1.jpeg")
                                    h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                        ul
                            li
                                a(href="./tintuc-chitiet.html")
                                    img(src="../assets/images/tt2.jpeg")
                                    h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            li
                                a(href="./tintuc-chitiet.html")
                                    img(src="../assets/images/tt3.jpeg")
                                    h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                    li
                        button(onclick="index10jspev()")
                            span
                        ul.index10-js-slider
                            li
                                a(href="./tintuc-chitiet.html")
                                    img(src="../assets/images/tt4.jpeg")
                                    h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            li
                                a(href="./tintuc-chitiet.html")
                                    img(src="../assets/images/tt5.jpeg")
                                    h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            li
                                a(href="./tintuc-chitiet.html")
                                    img(src="../assets/images/tt6.jpeg")
                                    h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu    
                            li
                                a(href="./tintuc-chitiet.html")
                                    img(src="../assets/images/tt4.jpeg")
                                    h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            li
                                a(href="./tintuc-chitiet.html")
                                    img(src="../assets/images/tt5.jpeg")
                                    h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            li
                                a(href="./tintuc-chitiet.html")
                                    img(src="../assets/images/tt4.jpeg")
                                    h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu
                            li
                                a(href="./tintuc-chitiet.html")
                                    img(src="../assets/images/tt5.jpeg")
                                    h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu          
                        button(onclick="index10jsnext()")
                            span
                .index-10-app-news__left-control
                    button.active.index10-js-control.index10-js-control1
                    button.index10-js-control.index10-js-control2
                    button.index10-js-control.index10-js-control3 
                    button.index10-js-control.index10-js-control4      
            .index-10-app-news__right
                img.index-10-app-news__ads(src="../assets/images/tt7.jpeg")       
    .container
        h2.index-10-app-heading TIN ĐỌC NHIỀU
            hr
    .index-10-app-newss
        .container
            ul  
                li.active Tất cả tin
                li Tin đọc nhiều
                li Giao thông
                li Luật
               
            .index-10-app-newss__left
                ul
                    li
                        a(href="./tintuc-chitiet.html")
                            img(src="../assets/images/tt9.jpg")
                            h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu   
                              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........em ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........
                    li
                        a(href="./tintuc-chitiet.html")
                            img(src="../assets/images/tt10.jpg")
                            h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu       
                              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........em ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........
                    li
                        a(href="./tintuc-chitiet.html")
                            img(src="../assets/images/tt11.jpg")
                            h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu   
                              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........em ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........
                    li
                        a(href="./tintuc-chitiet.html")
                            img(src="../assets/images/tt12.jpg")
                            h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu   
                              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........em ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........
                    li
                        a(href="./tintuc-chitiet.html")
                            img(src="../assets/images/tt13.jpg")
                            h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu   
                              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........em ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........
                    li
                        a(href="./tintuc-chitiet.html")
                            img(src="../assets/images/tt14.jpg")
                            h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu   
                              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........em ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........
                img(src="../assets/images/tt8.jpeg")
                ul
                    li
                        a(href="./tintuc-chitiet.html")
                            img(src="../assets/images/tt9.jpg")
                            h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu   
                              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........em ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........
                    li
                        a(href="./tintuc-chitiet.html")
                            img(src="../assets/images/tt10.jpg")
                            h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu       
                              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........em ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........
                    li
                        a(href="./tintuc-chitiet.html")
                            img(src="../assets/images/tt11.jpg")
                            h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu   
                              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........em ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........
                    li
                        a(href="./tintuc-chitiet.html")
                            img(src="../assets/images/tt12.jpg")
                            h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu   
                              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........em ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........
                    li
                        a(href="./tintuc-chitiet.html")
                            img(src="../assets/images/tt13.jpg")
                            h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu   
                              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........em ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........
                    li
                        a(href="./tintuc-chitiet.html")
                            img(src="../assets/images/tt14.jpg")
                            h3 6 yếu tố giúp lái xe ô tô tiết kiệm nhiên liệu   
                              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........em ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.........
            .index-10-app-newss__right
                img.index-10-app-news__ads(src="../assets/images/tt15.jpg")       
    .index-10-app-newss__control
        span 
            img(src="../assets/images/Vector.png")
        .btn
            span.active.index10-js-control 1
            span.index10-js-control 2
            span.index10-js-control 3
            span.index10-js-control 4
            span ...
            span.index10-js-control 10
        span 
            img(src="../assets/images/Vector.png")
        


