.index-12-app
    span 
        img(src="../assets/images/Vector.png")
    .container
        ul
            li
                a(href="./home.html")
                    img(src="../assets/images/login-logo.png",alt="")
                a(href="home.html")
                    img(src="../assets/images/login-logomb.png",alt="")
                p NỀN TẢNG CÔNG NGHỆ SỐ QUỐC GIA<br> TUYÊN TRUYỀN, PHỔ BIẾN, GIÁO DỤC PHÁP LUẬT<br> VỀ VĂN HÓA VÀ AN TOÀN GIAO THÔNG
            li.index12-js-login
                h2 ĐĂNG NHẬP
                input(placeholder="Tên đăng nhập/ VTCID")
                label.index12-js-pw
                    input(placeholder="Mật khẩu",type="password")
                    button.index12-js-switchpw
                    span Mật khẩu không chính xác
                em
                    span 
                        input(type="checkbox",name="login",id="login")
                        label(for="login") Ghi nhớ thông tin đăng nhập
                    a.index12-js-qmkBtn Quên mật khẩu?
                button Đăng nhập
                em 
                    span
                    p Hoặc
                    span 
                em
                    img(src="../assets/images/login-gg.png",alt="")
                    img(src="../assets/images/login-fa.png",alt="")
                em 
                    span Chưa có tài khoản?
                    a(href="./dangki.html") Đăng ký ngay!
            li.index12-js-qmk
                h2 QUÊN MẬT KHẨU
                input(placeholder="Nhập tài khoản VTC ID")
                p Tài khoản chỉ được thay đổi mật khẩu khi đã được xác thực bằng số điện thoại
                a.index12-js-tt Tiếp tục
            li.index12-js-ttt
                h2 QUÊN MẬT KHẨU

                em.index12-js-pw1
                    input(placeholder='Nhập mật khẩu mới',type="password")
                    button.index12-js-switchpw1
                em.index12-js-pw2
                    input(placeholder='Nhập mật khẩu mới',type="password")
                    button.index12-js-switchpw2
                em
                    input(placeholder='Nhập mã OTP')
                    button
                p Sử dụng số điện thoại *******827 soạn tin nhắn<br>EB OTP gửi 8030 để nhận mã OTP
                button Xác nhận