.index-18-banner
    .container
        h2 Học tập
.index-18-app
    .container
        .index-18-app-law
            h2.index-18-app-heading KHÓA HỌC THEO LUẬT
            hr
            ul
                li
                    img(src="../assets/images/app18-1.jpeg")
                    em
                        h2 Quy tắc giao thông
                            p Bao gồm 150 quy tắc <strong>tham gia</strong> giao thông
                        button 
                            a(href="./hoctap-qtgt.html") Xem ngay
                li
                    img(src="../assets/images/app18-6.jpeg")
                    em 
                        h2 Biển báo giao thông
                            p Bao gồm 129 loại biển báo giao thông
                        button 
                            a(href="./hoctap-bbgt.html") Xem ngay

        .index-18-app-common 
            h2.index-18-app-heading GIÁO DỤC PHỔ THÔNG
            hr
            ul
                li
                    img(src="../assets/images/app18-2.jpeg")
                    em
                        h2 Lớp 1
                        p 39 bài giảng
                        button  
                            a(href="./hoctap-theolop.html") Xem ngay
                li
                    img(src="../assets/images/app18-3.jpg")
                    em
                        h2 Lớp 2
                        p 39 bài giảng
                        button  
                            a(href="./hoctap-theolop.html") Xem ngay
                li
                    img(src="../assets/images/app18-4.jpg")
                    em
                        h2 Lớp 3
                        p 39 bài giảng
                        button  
                            a(href="./hoctap-theolop.html") Xem ngay
                li
                    img(src="../assets/images/app18-5.jpg")
                    em
                        h2 Lớp 4
                        p 39 bài giảng
                        button  
                            a(href="./hoctap-theolop.html") Xem ngay
                li
                    img(src="../assets/images/app18-2.jpeg")
                    em
                        h2 Lớp 1
                        p 39 bài giảng
                        button  
                            a(href="./hoctap-theolop.html") Xem ngay
                li
                    img(src="../assets/images/app18-3.jpg")
                    em
                        h2 Lớp 2
                        p 39 bài giảng
                        button  
                            a(href="./hoctap-theolop.html") Xem ngay
                li
                    img(src="../assets/images/app18-4.jpg")
                    em
                        h2 Lớp 3
                        p 39 bài giảng
                        button  
                            a(href="./hoctap-theolop.html") Xem ngay
                li
                    img(src="../assets/images/app18-5.jpg")
                    em
                        h2 Lớp 4
                        p 39 bài giảng
                        button  
                            a(href="./hoctap-theolop.html") Xem ngay
                li
                    img(src="../assets/images/app18-2.jpeg")
                    em
                        h2 Lớp 1
                        p 39 bài giảng
                        button  
                            a(href="./hoctap-theolop.html") Xem ngay
                li
                    img(src="../assets/images/app18-3.jpg")
                    em
                        h2 Lớp 2
                        p 39 bài giảng
                        button  
                            a(href="./hoctap-theolop.html") Xem ngay
                li
                    img(src="../assets/images/app18-4.jpg")
                    em
                        h2 Lớp 3
                        p 39 bài giảng
                        button  
                            a(href="./hoctap-theolop.html") Xem ngay
                li
                    img(src="../assets/images/app18-5.jpg")
                    em
                        h2 Lớp 4
                        p 39 bài giảng
                        button  
                            a(href="./hoctap-theolop.html") Xem ngay

