.index-24-banner
.index-24-app
    .container
        .index-24-app-header
            h2 Giáo dục phổ thông - Lớp 1 
            .index-24-app-header__btn
                a(href="./hoctap-theolop.html") Bài giảng
                    img(src="../assets/images/app23-3.png")
                a(href="./hoctap-ggpt1-ontap.html").active Ôn tập
                    img(src="../assets/images/app23-4.png")
        .index-24-app-body
            ul
                li  Mức độ hoàn thành
                li 
                    span 0/5
                li 
                    span Câu chưa làm
                        span
                    span Câu đúng
                        span
                    span Câu sai
                        span
            span Vui lòng nhấn bắt đầu để làm bài ôn tập
            .index-24-app-body__btn
                button 
                    a(href="./hoctap-ggpt1-ontap-cauhoi.html") Bắt đầu
                button.index24-js-xl xem lại
                button.index24-js-ll Làm lại
            ul
                li  
                    span Câu số 01
                    span
                    em
                        span <strong>Dễ</strong> Mức độ: 
                            img(src="../assets/images/app24-1.png")
                        span Đã trả lời đúng
                            span
                li  
                    span Câu số 02
                    span
                    em
                        span <strong>Dễ</strong> Mức độ: 
                            img(src="../assets/images/app24-1.png")
                        span Đã trả lời sai
                            span
                li  
                    span Câu số 03
                    span
                    em
                        span <strong>Dễ</strong> Mức độ: 
                            img(src="../assets/images/app24-1.png")
                        span Chưa làm
                            span
                li  
                    span Câu số 04
                    span
                    em
                        span <strong>Dễ</strong> Mức độ: 
                            img(src="../assets/images/app24-1.png")
                        span Chưa làm
                            span
                li  
                    span Câu số 05
                    span
                    em
                        span <strong>Dễ</strong> Mức độ: 
                            img(src="../assets/images/app24-1.png")
                        span Chưa làm
                            span
.popup-index24
    .popup-index24__body
        h2 Thông báo
        p Bạn đã hoàn thành<br> bộ câu hỏi ôn tập này.<br>Bạn có muốn làm lại hoặc xem lại?
        .popup-index24__body-btn
            button.js-index24-return Làm lại
            button.js-index24-closepopup 
                a(href="./index25.html") Xem lại

