.index-25-banner
.index-25-app
    .container
        .index-25-app-header
            h2 Giáo dục phổ thông - Lớp 1 
            .index-25-app-header__btn
                a(href="./hoctap-theolop.html") Bài giảng
                    img(src="../assets/images/app23-3.png")
                a(href="./hoctap-ggpt1-ontap.html").active Ôn tập
                    img(src="../assets/images/app23-4.png")
        .index-25-app-body
            button.index-25-app-body__btn Nộp bài
            #demo25.carousel.slide.index-25-app-active__sl(data-bs-interval="false")
                .carousel-inner.index-25-app-active__sl-list
                    .carousel-item.active.index-25-app-active__sl-list__item
                        .index-25-app-body__head
                            h2 Câu hỏi 01:
                                p Biển nào không cho phép ô tô con vượt?
                       
                        .index-25-app-body__slider
                            img(src="../assets/images/ch.png")
                        ul
                            li.index25-js-ch 1. Biển 1 và 2 
                            li.index25-js-ch 2. Biển 2
                            li.index25-js-ch 3. Biển 1 và 3
                            li.index25-js-ch 4. Biển 2 và 3
                        .index-25-app-body__resulf.index25-js-resulf
                            h3 Giải thích đáp án: 
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus.                   
                    .carousel-item.index-25-app-active__sl-list__item
                        .index-25-app-body__head
                            h2 Câu hỏi 02:
                                p Biển nào không cho phép ô tô con vượt?
                       
                        .index-25-app-body__slider
                            img(src="../assets/images/ch.png")
                        ul
                            li.index25-js-ch 1. Biển 1 và 2 
                            li.index25-js-ch 2. Biển 2
                            li.index25-js-ch 3. Biển 1 và 3
                            li.index25-js-ch 4. Biển 2 và 3
                        .index-25-app-body__resulf.index25-js-resulf
                            h3 Giải thích đáp án: 
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus.                
                    .carousel-item.index-25-app-active__sl-list__item
                        .index-25-app-body__head
                            h2 Câu hỏi 03:
                                p Biển nào không cho phép ô tô con vượt?
                       
                        .index-25-app-body__slider
                            img(src="../assets/images/ch.png")
                        ul
                            li.index25-js-ch 1. Biển 1 và 2 
                            li.index25-js-ch 2. Biển 2
                            li.index25-js-ch 3. Biển 1 và 3
                            li.index25-js-ch 4. Biển 2 và 3
                        .index-25-app-body__resulf.index25-js-resulf
                            h3 Giải thích đáp án: 
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus.                  
                    .carousel-item.index-25-app-active__sl-list__item
                        .index-25-app-body__head
                            h2 Câu hỏi 04:
                                p Biển nào không cho phép ô tô con vượt?
                       
                        .index-25-app-body__slider
                            img(src="../assets/images/ch.png")
                        ul
                            li.index25-js-ch 1. Biển 1 và 2 
                            li.index25-js-ch 2. Biển 2
                            li.index25-js-ch 3. Biển 1 và 3
                            li.index25-js-ch 4. Biển 2 và 3
                        .index-25-app-body__resulf.index25-js-resulf
                            h3 Giải thích đáp án: 
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus.
                    .carousel-item.index-25-app-active__sl-list__item
                        .index-25-app-body__head
                            h2 Câu hỏi 05:
                                p Biển nào không cho phép ô tô con vượt?
                       
                        .index-25-app-body__slider
                            img(src="../assets/images/ch.png")
                        ul
                            li.index25-js-ch 1. Biển 1 và 2 
                            li.index25-js-ch 2. Biển 2
                            li.index25-js-ch 3. Biển 1 và 3
                            li.index25-js-ch 4. Biển 2 và 3
                        .index-25-app-body__resulf.index25-js-resulf
                            h3 Giải thích đáp án: 
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus.
            button.carousel-control-prev.index-25-app-active__sl-btn__prev(data-bs-target="#demo25" data-bs-slide="prev")
                span.carousel-control-prev-icon
                    img(src="../assets/images/Vector.png")
            button.carousel-control-next.index-25-app-active__sl-btn__next(data-bs-target="#demo25" data-bs-slide="next")
                span.carousel-control-next-icon
                    img(src="../assets/images/Vector.png")

.index-25-app-left__btnmb
    span 
        img(src="../assets/images/row2.png",alt="")
    span.js-index25-showquestion
        img(src="../assets/images/Apps.png",alt="")
        ul
            - for (let i = 1; i <= 35; i++) {
                li.js-index25-question #{i}

            - }
        .index-25-app-left__btnmb-overlay.js-index25-overlay2
    span 
        img(src="../assets/images/row2.png",alt="")
                

