.index-20-banner
.index-20-app
    .container
        .index-20-app-body
            span Học tập /  Biển báo giao thông
            span Loại biển báo:
                select
                    option(value="",selected) Tất cả
                    option(value="") bb1
                    option(value="") bb2
                    option(value="") bb3    
                span         
            table
                thead
                    tr
                        th Biển báo
                        th Tên biển
                        th Nội dung biển báo                  
                       
                  
                tbody
                    tr
                        td
                            img(src="../assets/images/app20-1.jpg",alt="")
                        td Biển cấm
                        td Biển báo Đường cấm: Cấm các loại phương tiện di chuyển cả 2 hướng (ngoại trừ xe ưu tiên theo quy định).
                    tr
                        td
                            img(src="../assets/images/app20-2.jpg",alt="")
                        td Biển cấm
                        td Biển báo Cấm đi ngược chiều: Cấm các loại phương tiện đi vào chiều đặt biển (ngoại trừ xe ưu tiên theo quy định).
                    tr
                        td
                            img(src="../assets/images/app20-3.jpg",alt="")
                        td Biển cấm
                        td Biển báo Cấm xe ô tô: Cấm các loại xe cơ giới đi vào, trừ xe máy 2 bánh, xe gắn máy và xe ưu tiên theo quy định.
                    tr
                        td
                            img(src="../assets/images/app20-4.jpg",alt="")
                        td Biển cấm
                        td Biển báo số 101 – Đường cấm có hình tròn, nền có màu trắng, viền hình tròn màu đỏ. Biển báo đường cấm thường được đặt tại các tuyến đường đang thi công hay các tuyến đường cấm vì mục đích an ninh. Biển báo đường cấm số 101 yêu cầu mọi người tham gia giao thông chấp hành nghiêm chỉnh, những trường hợp không tuân thủ sẽ bị xử phạt theo quy định của pháp luật
                    tr
                        td
                            img(src="../assets/images/app20-5.jpg",alt="")
                        td Biển cấm
                        td Biển báo số 101 – Đường cấm có hình tròn, nền có màu trắng, viền hình tròn màu đỏ. Biển báo đường cấm thường được đặt tại các tuyến đường đang thi công hay các tuyến đường cấm vì mục đích an ninh. Biển báo đường cấm số 101 yêu cầu mọi người tham gia giao thông chấp hành nghiêm chỉnh, những trường hợp không tuân thủ sẽ bị xử phạt theo quy định của pháp luật
                    tr
                        td
                            img(src="../assets/images/app20-6.jpg",alt="")
                        td Biển cấm
                        td Biển báo số 101 – Đường cấm có hình tròn, nền có màu trắng, viền hình tròn màu đỏ. Biển báo đường cấm thường được đặt tại các tuyến đường đang thi công hay các tuyến đường cấm vì mục đích an ninh. Biển báo đường cấm số 101 yêu cầu mọi người tham gia giao thông chấp hành nghiêm chỉnh, những trường hợp không tuân thủ sẽ bị xử phạt theo quy định của pháp luật
            .index-20-app-body__btn
                button
                    img(src="../assets/images/Vector.png")
                ul
                    li 2
                    li /
                    li 6       
                button
                    img(src="../assets/images/Vector.png")       