.index-2-banner
    .container 
        h2 Thi 
.index-2-app
    .container
        ul
            li
                em
                    h3 Thi<br>Giấy phép<br>lái xe
                    p Đối tượng: <strong>Tất cả</strong>
                img(src="../assets/images/image6.jpg",alt="")
                a(href="./thi-laixe.html") 
                    button Xem thêm
                        
            li
                em
                    h3 Cuộc thi<br>An toàn<br>giao thông
                    p Thời gian: <strong>08/05 - 08/06</strong><br><strong>Đối tượng: Học sinh,<br> sinh viên</strong>
                img(src="../assets/images/image3.jpg",alt="")
                a(href="") 
                    button Xem thêm
            li
                em
                    h3 Cuộc thi<br>Kiến thức<br>giao thông
                    p Thời gian: <strong>08/05 - 08/06</strong><br><strong>Đối tượng: Học sinh,<br> sinh viên</strong>
                img(src="../assets/images/image4.jpg",alt="")
                a(href="") 
                    button Xem thêm
            li
                em
                    h3 Thi<br> Bằng lái<br>tàu thủy
                    p Đối tượng: <strong>Tất cả</strong>
                img(src="../assets/images/image5.jpg",alt="")
                a(href="") 
                    button Xem thêm
            li
                em
                    h3 Thi<br>Giấy phép<br>lái xe
                    p Đối tượng: <strong>Tất cả</strong>
                img(src="../assets/images/image6.jpg",alt="")
                a(href="") 
                    button Xem thêm
            li
                em
                    h3 Cuộc thi<br>An toàn<br>giao thông
                    p Thời gian: <strong>08/05 - 08/06</strong><br><strong>Đối tượng: Học sinh,<br> sinh viên</strong>
                img(src="../assets/images/image3.jpg",alt="")
                a(href="") 
                    button Xem thêm
            li
                em
                    h3 Cuộc thi<br>Kiến thức<br>giao thông
                    p Thời gian: <strong>08/05 - 08/06</strong><br><strong>Đối tượng: Học sinh,<br> sinh viên</strong>
                img(src="../assets/images/image4.jpg",alt="")
                a(href="") 
                    button Xem thêm
            li
                em
                    h3 Thi<br> Bằng lái<br>tàu thủy
                    p Đối tượng: <strong>Tất cả</strong>
                img(src="../assets/images/image5.jpg",alt="")
                a(href="") 
                    button Xem thêm

