
.index-21-app
    .container
        .index-21-app-body
            span Giáo dục phổ thông - Lớp 1 
            ul
                li Bao gồm 9 bài học
                    em
                        img(src="../assets/images/app21-2.png")
                        span Lớp1
                li Học tập
                    strong 2/10    
                li 
                    em
                        span 20% 
                    em 
                        span Chưa học 
                            span
                        span Đã học 
                            span
                li Ôn tập
                    strong 2/10    
                li
                    em 
                        span 20% 
                    em 
                        span Chưa ôn
                            span
                        span Đã ôn
                            span
            ul
                li.active
                    img(src="../assets/images/app21-1.jpeg")  
                    p An toàn <br>Giao thông
                    h2 Bài 1: Giới thiệu về các khái niệm khi tham gia Giao thông    
                    em
                        span 30 phút
                            span
                        span 
                            span
                        span 0/5
                            span
                    em 
                        button 
                            a(href="./hoctap-ggpt1-ontap.html") Ôn tập
                        button 
                            a(href="./hoctap-ggpt1-baigiang-anh.html") Vào học
                li.active
                    img(src="../assets/images/app21-1.jpeg")  
                    p An toàn <br>Giao thông
                    h2 Bài 1: Giới thiệu về các khái niệm khi tham gia Giao thông    
                    em
                        span 30 phút
                            span
                        span 
                            span
                        span 0/5
                            span
                    em 
                        button 
                            a(href="./hoctap-ggpt1-ontap.html") Ôn tập
                        button 
                            a(href="./hoctap-ggpt1-baigiang-anh.html") Vào học
                li.active
                    img(src="../assets/images/app21-1.jpeg")  
                    p An toàn <br>Giao thông
                    h2 Bài 1: Giới thiệu về các khái niệm khi tham gia Giao thông    
                    em
                        span 30 phút
                            span
                        span 
                            span
                        span 0/5
                            span
                    em 
                        button 
                            a(href="./hoctap-ggpt1-ontap.html") Ôn tập
                        button 
                            a(href="./hoctap-ggpt1-baigiang-anh.html") Vào học
                li
                    img(src="../assets/images/app21-1.jpeg")  
                    p An toàn <br>Giao thông
                    h2 Bài 1: Giới thiệu về các khái niệm khi tham gia Giao thông    
                    em
                        span 30 phút
                            span
                        span 
                            span
                        span 0/5
                            span
                    em 
                        button 
                            a(href="./hoctap-ggpt1-ontap.html") Ôn tập
                        button 
                            a(href="./hoctap-ggpt1-baigiang-anh.html") Vào học
                li
                    img(src="../assets/images/app21-1.jpeg")  
                    p An toàn <br>Giao thông
                    h2 Bài 1: Giới thiệu về các khái niệm khi tham gia Giao thông    
                    em
                        span 30 phút
                            span
                        span 
                            span
                        span 0/5
                            span
                    em 
                        button 
                            a(href="./hoctap-ggpt1-ontap.html") Ôn tập
                        button 
                            a(href="./hoctap-ggpt1-baigiang-anh.html") Vào học
                li
                    img(src="../assets/images/app21-1.jpeg")  
                    p An toàn <br>Giao thông
                    h2 Bài 1: Giới thiệu về các khái niệm khi tham gia Giao thông    
                    em
                        span 30 phút
                            span
                        span 
                            span
                        span 0/5
                            span
                    em 
                        button 
                            a(href="./hoctap-ggpt1-ontap.html") Ôn tập
                        button 
                            a(href="./hoctap-ggpt1-baigiang-anh.html") Vào học
                li
                    img(src="../assets/images/app21-1.jpeg")  
                    p An toàn <br>Giao thông
                    h2 Bài 1: Giới thiệu về các khái niệm khi tham gia Giao thông    
                    em
                        span 30 phút
                            span
                        span 
                            span
                        span 0/5
                            span
                    em 
                        button 
                            a(href="./hoctap-ggpt1-ontap.html") Ôn tập
                        button 
                            a(href="./hoctap-ggpt1-baigiang-anh.html") Vào học
                li
                    img(src="../assets/images/app21-1.jpeg")  
                    p An toàn <br>Giao thông
                    h2 Bài 1: Giới thiệu về các khái niệm khi tham gia Giao thông    
                    em
                        span 30 phút
                            span
                        span 
                            span
                        span 0/5
                            span
                    em 
                        button 
                            a(href="./hoctap-ggpt1-ontap.html") Ôn tập
                        button 
                            a(href="./hoctap-ggpt1-baigiang-anh.html") Vào học
                li
                    img(src="../assets/images/app21-1.jpeg")  
                    p An toàn <br>Giao thông
                    h2 Bài 1: Giới thiệu về các khái niệm khi tham gia Giao thông    
                    em
                        span 30 phút
                            span
                        span 
                            span
                        span 0/5
                            span
                    em 
                        button 
                            a(href="./hoctap-ggpt1-ontap.html") Ôn tập
                        button 
                            a(href="./hoctap-ggpt1-baigiang-anh.html") Vào học