.index-26-banner
.index-26-app
    .container
        .index-26-app-profile
            .index-26-app-profile__head
                span Lấy lại mật khẩu
                ul.nav.nav-tab(role="tablist")
                    li.nav-item 
                        a(data-bs-toggle="tab",data-bs-target="#home").nav-link.active Qua SMS
            .tab-content
                .tab-pane.active#home.show  
                    ul.index-26-app-profile__body
                        li.index-26-app-profile__body-item.index-26-app-profile__body-item2.index26-js-pw1
                            label Mật khẩu mới
                            input(placeholder="Nhập mật khẩu mới",type="password")
                            button.index26-js-switchpw1 
                        li.index-26-app-profile__body-item.index-26-app-profile__body-item3.index26-js-pw2
                            label Nhập lại mật khẩu
                            input(placeholder="Nhập lại mật khẩu mới",type="password")
                            button.index26-js-switchpw2
                        li.index-26-app-profile__body-item.index-26-app-profile__body-item4  
                            label Nhập mã OTP
                            span OTP SMS
                               
                            img(src="../assets/images/material-symbols_arrow-drop-down-rounded.png")
                            input(placeholder="Soạn tin EB OTP gửi 8030") 
                    button.index-26-app-profile__btn Xác nhận
                
                