
.app27
    img.app27-back(src="../assets/images/up6.svg" alt="")
    .container.app27-container
        h1.app27-heading LIÊN HỆ VỚI CHÚNG TÔI 
        p.app27-des Hãy liên hệ với chúng tôi để được tư vấn và hỗ trợ trực tiếp về vấn đề bạn quan tâm.
        .app27-item1
            h2.app27-item1__heading CÔNG TY VTC CÔNG NGHỆ VÀ NỘI DUNG SỐ (VTC INTECOM)
            iframe.app27-item1__map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2098.291967687437!2d105.86248509539004!3d21.002619719952296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac089c9450cb%3A0xf7acf3044f9e961e!2zVG_DoCBuaMOgIFZUQywgMjMgUC4gTOG6oWMgVHJ1bmcsIFbEqW5oIFR1eSwgSGFpIELDoCBUcsawbmcsIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1687157067534!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")
            .app27-item1__ul
                .app27-item1__ul-li.app27-item1__ul-li1
                    .app27-item1__ul-li__em Địa chỉ
                        img(src="../assets/images/up1.svg" alt="")
                    .app27-item1__ul-li1__adr  
                        p Hà Nội: 
                            u Tầng 13-14, Tòa nhà VTC 23 Lạc Trung, Quận Hai Bà Trưng, Hà Nội 
                        p Hồ Chí Minh: 
                            u 259 Đồng Đen, Phường 10, Quận Tân Bình, TP. Hồ Chí Minh
                .app27-item1__ul-li.app27-item1__ul-li2
                    .app27-item1__ul-li__em Website
                        img(src="../assets/images/up2.svg" alt="")
                    a(href="").app27-item1__ul-li2__web https://giaothongso.vn
                .app27-item1__ul-li.app27-item1__ul-li3
                    .app27-item1__ul-li__em Điện thoại               
                        img(src="../assets/images/up3.svg" alt="")
                    a(href="").app27-item1__ul-li2__web (+84)24 4455 1530
                    a(href="").app27-item1__ul-li3__btn Liên hệ
                .app27-item1__ul-li.app27-item1__ul-li4
                    .app27-item1__ul-li__em Email               
                        img(src="../assets/images/up4.svg" alt="")
                    a(href="").app27-item1__ul-li2__web atgtqg@vtc.vn
                    a(href="").app27-item1__ul-li3__btn Liên hệ


        h1.app27-heading HOẶC
        p.app27-des Để lại các thông tin dưới đây để chúng tôi có thể hỗ trợ giải đáp thắc mắc của bạn trong thời gian sớm nhất
        .app27-item2
            form(action="").app27-item2__from
                
                    input(type="text" value="" placeholder="Tên của bạn").app27-item2__from-item
                    input(type="text" value="" placeholder="Số điện thoại").app27-item2__from-item
                    input(type="text" value="" placeholder="Email").app27-item2__from-item
                    input(type="text" value="" placeholder="Nội dung").app27-item2__from-item4.app27-item2__from-item
                    a(href="").app27-item2__from-item5.app27-item2__from-item
                        input(type="submit" value="Gửi")
            img.app27-item2__img(src="../assets/images/up5.jpeg" alt="")
            
             

       



   
                
                