.index-22-banner
.index-22-app
    .container
        .index-22-app-header
            h2 Giáo dục phổ thông - Lớp 1 
            .index-22-app-header__btn
                a(href="./hoctap-theolop.html") Bài giảng
                    img(src="../assets/images/app23-3.png")
                a(href="./hoctap-ggpt1-ontap.html") Ôn tập
                    img(src="../assets/images/app23-4.png")
        .index-22-app-left
            #demo5.carousel.slide.index-22-app-left-sl
                .carousel-inner.index-22-app-left-sl__list
                    .carousel-item.active.index-22-app-left-sl__list-item
                        img(src="../assets/images/app23-7.png")
                    .carousel-item.index-22-app-left-sl__list-item
                        img(src="../assets/images/app23-7.png")
                    .carousel-item.index-22-app-left-sl__list-item
                        img(src="../assets/images/app23-7.png")
                    .carousel-item.index-22-app-left-sl__list-item
                        img(src="../assets/images/app23-7.png")
                    .carousel-item.index-22-app-left-sl__list-item
                        img(src="../assets/images/app23-7.png")
                    .carousel-item.index-22-app-left-sl__list-item
                        img(src="../assets/images/app23-7.png")
                    .index-22-app-left-sl-control
                        button.carousel-control-prev.index-22-app-left-sl__btn-prev(data-bs-target="#demo5" data-bs-slide="prev")
                            span.carousel-control-prev-icon
                        ul
                            li.index-22-js-number 1
                            li /
                            li 12
                        button.index-22-app-left-sl__btn-zoom
                        button.carousel-control-next.index-22-app-left-sl__btn-next(data-bs-target="#demo5" data-bs-slide="next")
                            span.carousel-control-next-icon
                button.index-22-app-left-sl__btn-share
            h2 Bài 2 Trách nhiệm về trật tự an toàn giao thông
            ul
                li
                    h3 Nội dung bài giảng
                    p Nhằm góp phần nâng cao nhận thức và ý thức tự giác chấp hành pháp luật của người tham gia giao thông, xây dựng văn hóa giao thông trong cộng đồng, góp phần giảm ùn tắc giao thông tại các trục đường chính của thành phố vào những giờ cao điểm; đồng thời phối hợp toàn diện trong công tác tuyên truyền An toàn giao thông theo chủ đề năm 2018: "An toàn giao thông cho trẻ em"; Sở Giao thông vận tải, Văn phòng Ban An toàn giao thông thành phố đã phối hợp với Sở Thông tin và Truyền thông thực hiện video 
                    button Hiển thị thêm
                li Slide bài giảng về An Toàn giao thông.ppt
                    button Tải về
                li Tài liệu tham khảo.doc
                    button Tải về

        .index-22-app-right           
            ul
                li.active
                    img(src="../assets/images/app23-2.jpeg")
                    em
                        h3 Bài 1: Khái niệm An toàn giao thông
                        em  
                            span 30’
                                img(src="../assets/images/app21-3.png")
                            span Đã học
                                img(src="../assets/images/app21-4.png")
                            span 0/5
                                img(src="../assets/images/app21-2.png")
                        button 
                            a(href="#") Vào học
                li
                    img(src="../assets/images/app23-2.jpeg")
                    em
                        h3 Bài 1: Khái niệm An toàn giao thông
                        em  
                            span 30’
                                img(src="../assets/images/app21-3.png")
                            span Chưa học
                                img(src="../assets/images/app21-4.png")
                            span 0/5
                                img(src="../assets/images/app21-2.png")
                        button 
                            a(href="#") Vào học
                li
                    img(src="../assets/images/app23-2.jpeg")
                    em
                        h3 Bài 1: Khái niệm An toàn giao thông
                        em  
                            span 30’
                                img(src="../assets/images/app21-3.png")
                            span Chưa học
                                img(src="../assets/images/app21-4.png")
                            span 0/5
                                img(src="../assets/images/app21-2.png")
                        button 
                            a(href="#") Vào học
                li
                    img(src="../assets/images/app23-2.jpeg")
                    em
                        h3 Bài 1: Khái niệm An toàn giao thông
                        em  
                            span 30’
                                img(src="../assets/images/app21-3.png")
                            span Chưa học
                                img(src="../assets/images/app21-4.png")
                            span 0/5
                                img(src="../assets/images/app21-2.png")
                        button 
                            a(href="#") Vào học
                li
                    img(src="../assets/images/app23-2.jpeg")
                    em
                        h3 Bài 1: Khái niệm An toàn giao thông
                        em  
                            span 30’
                                img(src="../assets/images/app21-3.png")
                            span Chưa học
                                img(src="../assets/images/app21-4.png")
                            span 0/5
                                img(src="../assets/images/app21-2.png")
                        button 
                            a(href="#") Vào học
                li
                    img(src="../assets/images/app23-2.jpeg")
                    em
                        h3 Bài 1: Khái niệm An toàn giao thông
                        em  
                            span 30’
                                img(src="../assets/images/app21-3.png")
                            span Chưa học
                                img(src="../assets/images/app21-4.png")
                            span 0/5
                                img(src="../assets/images/app21-2.png")
                        button 
                            a(href="#") Vào học
                li
                    img(src="../assets/images/app23-2.jpeg")
                    em
                        h3 Bài 1: Khái niệm An toàn giao thông
                        em  
                            span 30’
                                img(src="../assets/images/app21-3.png")
                            span Chưa học
                                img(src="../assets/images/app21-4.png")
                            span 0/5
                                img(src="../assets/images/app21-2.png")
                        button 
                            a(href="#") Vào học
                li
                    img(src="../assets/images/app23-2.jpeg")
                    em
                        h3 Bài 1: Khái niệm An toàn giao thông
                        em  
                            span 30’
                                img(src="../assets/images/app21-3.png")
                            span Chưa học
                                img(src="../assets/images/app21-4.png")
                            span 0/5
                                img(src="../assets/images/app21-2.png")
                        button 
                            a(href="#") Vào học
                            