.index-3-banner
    .container 
        h2 Thi Giấy phép <br>và Bằng lái xe
.index-3-app
    .container
        span Lựa chọn loại Giấy phép lái xe mà bạn muốn ôn thi dưới đây: 
        .index-3-app-menu
            span.index3-js-menuat Ôn thi Giấy phép lái xe hạng
                strong A1
            img(src="../assets/images/row.png",alt="") 
            ul.index3-js-menu
                li.active Ôn thi Giấy phép lái xe hạng 
                    strong A1
                li Ôn thi Giấy phép lái xe hạng 
                    strong A2
                li Ôn thi Giấy phép lái xe hạng 
                    strong A3
                li Ôn thi Giấy phép lái xe hạng 
                    strong B1
                li Ôn thi Giấy phép lái xe hạng 
                    strong B2
                li Ôn thi Giấy phép lái xe hạng 
                    strong C
                li Ôn thi Giấy phép lái xe hạng 
                    strong D
                li Ôn thi Giấy phép lái xe hạng 
                    strong E
                li Ôn thi Giấy phép lái xe hạng 
                    strong F
        ul
            li 
                a(href="./dethingaunhien.html") Đề thi ngẫu nhiên
                    img(src="../assets/images/Group364.png",alt="")
            li 
                a(href="./luyenthitheobode.html") Luyện thi theo<br> Bộ đề
                    img(src="../assets/images/Group365.png",alt="")
            li 
                a(href="./bo200cauhoi.html") Bộ 200 câu hỏi
                    img(src="../assets/images/Group366.png",alt="")
            li 
                a(href="#") 20 câu điểm liệt
                    img(src="../assets/images/Group367.png",alt="")
            li 
                a(href="./hoctheochude.html") Học theo chủ đề
                    img(src="../assets/images/Group368.png",alt="")
            li 
                a(href="./meoonthi.html") Mẹo ôn thi
                    img(src="../assets/images/Group369.png",alt="")
                