
.index-7-banner
.index-7-app
    .container
        .index-7-app-left
            span Luyện thi Giấy phép lái xe hạng B2 <strong>/</strong><br><a> Học theo chủ đề </a>
          
            span Chọn 1 trong các chủ đề dưới đây:
            ul
                li
                    img(src="../assets/images/Group181.png")
                    span Khái niệm và <br> quy tắc giao thông
                li
                    img(src="../assets/images/Group182.png")
                    span Nghiệp vụ vận tải
                li
                    img(src="../assets/images/Group188.png")
                    span Văn hóa và đạo đức
                li
                    img(src="../assets/images/Group183.png")
                    span Kỹ thuật lái xe
                li
                    img(src="../assets/images/Group184.png")
                    span Cấu tạo và sửa chữa
                li
                    img(src="../assets/images/Group185.png")
                    span Biển báo và đường bộ
                li
                    img(src="../assets/images/Group186.png")
                    span Sa hình
                li
                    img(src="../assets/images/Group187.png")
                    span Câu điểm liệt
                

