
.index-8-banner
.index-8-app
    .container
        .index-8-app-left
            span Luyện thi Giấy phép lái xe hạng B2 <strong>/</strong><br><a> Mẹo ôn thi</a>
            span Chọn một trong các chủ đề dưới đây: 
            .index-8-app-left__menu
                span.index8-js-sw Giấy phép lái xe
                img(src="../assets/images/row2.png")
                ul.index8-js-menu1
                    li.active Giấy phép lái xe
                    li Độ tuổi và niên hạn sử dụng xe
                    li Quy tắc khi tham gia giao thông
                    li Tốc độ và khoảng cách
                    li Phương tiện khi tham gia giao thông
                    li Hiệu lệnh
                    li Nghiệp vụ vận tải
                    li Kỹ thuật lái xe
                    li Cấu tạo sửa chữa
                    li Biển báo
                    li Sa hình
                    li Chung

            ul.index8-js-menu
                li.active 
                    span Giấy phép lái xe 
                    em 
                        p Đường cấm dừng, cấm đỗ, cấm đi do UBND cấp tỉnh cấp Xe quá khổ, quá tải do: cơ quan quản lý đường bộ có thẩm quyền cấp phép. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus. Nunc id ornare ligula. Nulla ac gravida erat, eu suscipit ex.Đường cấm dừng, cấm đỗ, cấm đi do UBND cấp tỉnh cấp Xe quá khổ, quá tải do: cơ quan quản lý đường bộ có thẩm quyền cấp phép. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus. Nunc id ornare ligula. Nulla ac gravida erat, eu suscipit ex.Đường cấm dừng, cấm đỗ, cấm đi do UBND cấp tỉnh cấp Xe quá khổ, quá tải do: cơ quan quản lý đường bộ có thẩm quyền cấp phép. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus. Nunc id ornare ligula. Nulla ac gravida erat, eu suscipit ex.Đường cấm dừng, cấm đỗ, cấm đi do UBND cấp tỉnh cấp Xe quá khổ, quá tải do: cơ quan quản lý đường bộ có thẩm quyền cấp phép. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus. Nunc id ornare ligula. Nulla ac gravida erat, eu suscipit ex.Đường cấm dừng, cấm đỗ, cấm đi do UBND cấp tỉnh cấp Xe quá khổ, quá tải do: cơ quan quản lý đường bộ có thẩm quyền cấp phép. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus. Nunc id ornare ligula. Nulla ac gravida erat, eu suscipit ex.Đường cấm dừng, cấm đỗ, cấm đi do UBND cấp tỉnh cấp Xe quá khổ, quá tải do: cơ quan quản lý đường bộ có thẩm quyền cấp phép. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus. Nunc id ornare ligula. Nulla ac gravida erat, eu suscipit ex.

                li 
                    span Độ tuổi và niên hạn sử dụng xe
                    em 
                        p Đường cấm dừng, cấm đỗ, cấm đi do UBND cấp tỉnh cấp Xe quá khổ, quá tải do: cơ quan quản lý đường bộ có thẩm quyền cấp phép. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus. Nunc id ornare ligula. Nulla ac gravida erat, eu suscipit ex.

                li 
                    span Quy tắc khi tham gia giao thông
                    em 
                        p Đường cấm dừng, cấm đỗ, cấm đi do UBND cấp tỉnh cấp Xe quá khổ, quá tải do: cơ quan quản lý đường bộ có thẩm quyền cấp phép. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus. Nunc id ornare ligula. Nulla ac gravida erat, eu suscipit ex.

                li 
                    span Tốc độ và khoảng cách
                    em 
                        p Đường cấm dừng, cấm đỗ, cấm đi do UBND cấp tỉnh cấp Xe quá khổ, quá tải do: cơ quan quản lý đường bộ có thẩm quyền cấp phép. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus. Nunc id ornare ligula. Nulla ac gravida erat, eu suscipit ex.

                li 
                    span Phương tiện khi tham gia giao thông
                    em 
                        p Đường cấm dừng, cấm đỗ, cấm đi do UBND cấp tỉnh cấp Xe quá khổ, quá tải do: cơ quan quản lý đường bộ có thẩm quyền cấp phép. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus. Nunc id ornare ligula. Nulla ac gravida erat, eu suscipit ex.

                li 
                    span Hiệu lệnh
                    em 
                        p Đường cấm dừng, cấm đỗ, cấm đi do UBND cấp tỉnh cấp Xe quá khổ, quá tải do: cơ quan quản lý đường bộ có thẩm quyền cấp phép. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus. Nunc id ornare ligula. Nulla ac gravida erat, eu suscipit ex.

                li 
                    span Nghiệp vụ vận tải
                    em 
                        p Đường cấm dừng, cấm đỗ, cấm đi do UBND cấp tỉnh cấp Xe quá khổ, quá tải do: cơ quan quản lý đường bộ có thẩm quyền cấp phép. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus. Nunc id ornare ligula. Nulla ac gravida erat, eu suscipit ex.

                li 
                    span Kỹ thuật lái xe
                    em 
                        p Đường cấm dừng, cấm đỗ, cấm đi do UBND cấp tỉnh cấp Xe quá khổ, quá tải do: cơ quan quản lý đường bộ có thẩm quyền cấp phép. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus. Nunc id ornare ligula. Nulla ac gravida erat, eu suscipit ex.

                li 
                    span Cấu tạo sửa chữa
                    em 
                        p Đường cấm dừng, cấm đỗ, cấm đi do UBND cấp tỉnh cấp Xe quá khổ, quá tải do: cơ quan quản lý đường bộ có thẩm quyền cấp phép. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus. Nunc id ornare ligula. Nulla ac gravida erat, eu suscipit ex.

                li 
                    span Biển báo
                    em 
                        p Đường cấm dừng, cấm đỗ, cấm đi do UBND cấp tỉnh cấp Xe quá khổ, quá tải do: cơ quan quản lý đường bộ có thẩm quyền cấp phép. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus. Nunc id ornare ligula. Nulla ac gravida erat, eu suscipit ex.

                li 
                    span Sa hình
                    em 
                        p Đường cấm dừng, cấm đỗ, cấm đi do UBND cấp tỉnh cấp Xe quá khổ, quá tải do: cơ quan quản lý đường bộ có thẩm quyền cấp phép. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus. Nunc id ornare ligula. Nulla ac gravida erat, eu suscipit ex.

                li 
                    span Chung
                    em 
                        p Đường cấm dừng, cấm đỗ, cấm đi do UBND cấp tỉnh cấp Xe quá khổ, quá tải do: cơ quan quản lý đường bộ có thẩm quyền cấp phép. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum cursus ullamcorper. Sed sed massa at enim molestie iaculis. Aliquam sed ante quis odio varius ullamcorper id vitae risus. Nunc id ornare ligula. Nulla ac gravida erat, eu suscipit ex.