.index-9-banner
    #demo.carousel.slide.index-9-banner-sl(data-bs-ride="carousel",data-bs-interval="5000")
        .carousel-inner.index-9-banner-sl__list
            .carousel-item.active.index-9-banner-sl__list-item
                img(src="../assets/images/bg12.jpeg")
                .container
                    h3 1Giới thiệu về Nền tảng Công nghệ số<br> quốc gia tuyên truyền, phổ biến, giáo<br> dục pháp luật về văn hóa và an toàn <br> giao thông
                        p Nền tảng Công nghệ số quốc gia tuyên truyền, phổ biến, giáo dục pháp luật về văn hóa và an toàn giao thông được xây dựng theo chương trình "Chương trình Chuyển đổi số quốc gia đến năm 2025, định hướng đến năm 2030” của Thủ tướng chính phủ phê duyệt. Xuất phát từ thực tế và nhu cầu của xã hội, VTC đã xây dựng Nền tảng Công nghệ số quốc gia tuyên truyền, phổ biến, giáo dục pháp luật về văn hóa và an toàn giao thông.Nền tảng thông cung cấp đầy đủ các tính năng mà các sản phẩm khác trên thị trường đang có thì giải quyết các vấn đề mà các ứng dụng, website khác chưa đáp ứng được, tạo nên điểm khác biệt cho sản phẩm
                    img(src="../assets/images/atgt1.png")
            .carousel-item.index-9-banner-sl__list-item
                img(src="../assets/images/bg12.jpeg")
                .container
                    h3 2Giới thiệu về Nền tảng Công nghệ số<br> quốc gia tuyên truyền, phổ biến, giáo<br> dục pháp luật về văn hóa và an toàn <br> giao thông
                        p Nền tảng Công nghệ số quốc gia tuyên truyền, phổ biến, giáo dục pháp luật về văn hóa và an toàn giao thông được xây dựng theo chương trình "Chương trình Chuyển đổi số quốc gia đến năm 2025, định hướng đến năm 2030” của Thủ tướng chính phủ phê duyệt. Xuất phát từ thực tế và nhu cầu của xã hội, VTC đã xây dựng Nền tảng Công nghệ số quốc gia tuyên truyền, phổ biến, giáo dục pháp luật về văn hóa và an toàn giao thông.Nền tảng thông cung cấp đầy đủ các tính năng mà các sản phẩm khác trên thị trường đang có thì giải quyết các vấn đề mà các ứng dụng, website khác chưa đáp ứng được, tạo nên điểm khác biệt cho sản phẩm
                    img(src="../assets/images/atgt1.png")
            .carousel-item.index-9-banner-sl__list-item
                img(src="../assets/images/bg12.jpeg")
                .container
                    h3 3Giới thiệu về Nền tảng Công nghệ số<br> quốc gia tuyên truyền, phổ biến, giáo<br> dục pháp luật về văn hóa và an toàn <br> giao thông
                        p Nền tảng Công nghệ số quốc gia tuyên truyền, phổ biến, giáo dục pháp luật về văn hóa và an toàn giao thông được xây dựng theo chương trình "Chương trình Chuyển đổi số quốc gia đến năm 2025, định hướng đến năm 2030” của Thủ tướng chính phủ phê duyệt. Xuất phát từ thực tế và nhu cầu của xã hội, VTC đã xây dựng Nền tảng Công nghệ số quốc gia tuyên truyền, phổ biến, giáo dục pháp luật về văn hóa và an toàn giao thông.Nền tảng thông cung cấp đầy đủ các tính năng mà các sản phẩm khác trên thị trường đang có thì giải quyết các vấn đề mà các ứng dụng, website khác chưa đáp ứng được, tạo nên điểm khác biệt cho sản phẩm
                    img(src="../assets/images/atgt1.png")
.index-9-app
    p Nền tảng Công nghệ số quốc gia tuyên truyền, phổ biến, giáo dục pháp luật về văn hóa và an toàn giao thông được xây dựng theo chương trình "Chương trình Chuyển đổi số quốc gia đến năm 2025, định hướng đến năm 2030” của Thủ tướng chính phủ phê duyệt. Xuất phát từ thực tế và nhu cầu của xã hội, VTC đã xây dựng Nền tảng Công nghệ số quốc gia tuyên truyền, phổ biến, giáo dục pháp luật về văn hóa và an toàn giao thông.<br><br>Nền tảng thông cung cấp đầy đủ các tính năng mà các sản phẩm khác trên thị trường đang có thì giải quyết các vấn đề mà các ứng dụng, website khác chưa đáp ứng được, tạo nên điểm khác biệt cho sản phẩm
    .index-9-app-vision
        .container
            h2.index-9-app-heading TẦM NHÌN
                p Tuyên truyền, phổ biến, giáo dục pháp luật về văn hóa và an toàn giao thông
            ul
                li
                    img(src="../assets/images/859801-01.svg")
                li Nền tảng tin cậy dành cho tất cả các đối tượng người dân tham gia giao thông
                    p Trở thành người bạn đồng hành với mọi người dân Việt Nam trên mọi nẻo đường, góp phần xây dựng văn hóa và an toàn giao thông cho quốc gia
    .index-9-app-mission    
        .container
            h2.index-9-app-heading SỨ MỆNH
                p Hãy kể cho tôi cách bạn tham gia giao thông, tôi sẽ nói cho bạn biết bạn là người thế nào
            ul
                li Nền tảng tin cậy dành cho tất cả các đối tượng người dân tham gia giao thông
                    p Học kiến thức về pháp luật, văn hóa giao thông qua các bài học ngắn gọn, trò chơi thông minh, video giảng dạy dễ hiểu. Các tổ chức, cá nhân có thể tự tạo cuộc thi trên nền tảng, nội dung có sẵn, khiến cho việc triển khai các cuộc thi trở nên dễ dàng và đồng bộ hơn.Hệ thống tổng hợp điểm và xếp hạng, kích thích người dùng sử dụng thường xuyên
                li
                    img(src="../assets/images/vision-01.svg")
    .index-9-app-teams
        .container
            h2.index-9-app-heading ĐỘI NGŨ PHÁT TRIỂN
                p VTC mong muốn đóng góp cùng sự phát triển của xã hội, đội ngũ của chúng tôi<br> luôn nỗ lực hết mình để đưa đến trải nghiệm tốt nhất cho người dùng
            #demo2.carousel.slide.index-9-app-teams-sl2
                .carousel-inner.index-9-app-teams-sl2__list
                    .carousel-item.active.index-9-app-teams-sl2__list-item
                        ul
                            li
                                img(src="../assets/images/8.png")
                                h3 jacod
                                p Tổng giám đốc
                                p Former co-founder of Opendoor. Early staff at Spotify and Clearbit.
                            li 
                                img(src="../assets/images/8.png")
                                h3 jacod
                                p Tổng giám đốc
                                p Former co-founder of Opendoor. Early staff at Spotify and Clearbit.
                            li 
                                img(src="../assets/images/8.png")
                                h3 jacod
                                p Tổng giám đốc
                                p Former co-founder of Opendoor. Early staff at Spotify and Clearbit.
                    .carousel-item.index-9-app-teams-sl2__list-item
                        ul
                            li
                                img(src="../assets/images/8.png")
                                h3 jacod
                                p Tổng giám đốc
                                p Former co-founder of Opendoor. Early staff at Spotify and Clearbit.
                            li 
                                img(src="../assets/images/8.png")
                                h3 jacod
                                p Tổng giám đốc
                                p Former co-founder of Opendoor. Early staff at Spotify and Clearbit.
                            li 
                                img(src="../assets/images/8.png")
                                h3 jacod
                                p Tổng giám đốc
                                p Former co-founder of Opendoor. Early staff at Spotify and Clearbit.
                    .carousel-item.index-9-app-teams-sl2__list-item
                        ul
                            li
                                img(src="../assets/images/8.png")
                                h3 jacod
                                p Tổng giám đốc
                                p Former co-founder of Opendoor. Early staff at Spotify and Clearbit.
                            li 
                                img(src="../assets/images/8.png")
                                h3 jacod
                                p Tổng giám đốc
                                p Former co-founder of Opendoor. Early staff at Spotify and Clearbit.
                            li 
                                img(src="../assets/images/8.png")
                                h3 jacod
                                p Tổng giám đốc
                                p Former co-founder of Opendoor. Early staff at Spotify and Clearbit.
                    .carousel-item.index-9-app-teams-sl2__list-item
                        ul
                            li
                                img(src="../assets/images/8.png")
                                h3 jacod
                                p Tổng giám đốc
                                p Former co-founder of Opendoor. Early staff at Spotify and Clearbit.
                            li 
                                img(src="../assets/images/8.png")
                                h3 jacod
                                p Tổng giám đốc
                                p Former co-founder of Opendoor. Early staff at Spotify and Clearbit.
                            li 
                                img(src="../assets/images/8.png")
                                h3 jacod
                                p Tổng giám đốc
                                p Former co-founder of Opendoor. Early staff at Spotify and Clearbit.
                    button.carousel-control-prev.index-9-app-teams-sl2__btn-prev(data-bs-target="#demo2" data-bs-slide="prev")
                        span.carousel-control-prev-icon
                    button.carousel-control-next.index-9-app-teams-sl2__btn-next(data-bs-target="#demo2" data-bs-slide="next")
                        span.carousel-control-next-icon
                .index-9-app-teams-sl2__control.carousel-indicators
                    button.active(data-bs-slide-to="0",data-bs-target="#demo2")
                        span
                    button(data-bs-slide-to="1",data-bs-target="#demo2")
                        span
                    button(data-bs-slide-to="2",data-bs-target="#demo2")
                        span
                    button(data-bs-slide-to="3",data-bs-target="#demo2")
                        span