footer.footer
    .container
        ul
            li
                h3 TỔNG CÔNG TY TRUYỀN THÔNG ĐA PHƯƠNG TIỆN (VTC)
                h3 CÔNG TY VTC CÔNG NGHỆ VÀ NỘI DUNG SỐ (VTC INTECOM)
                p Tầng 13-14, Tòa nhà VTC 23 Lạc Trung, Quận Hai Bà Trưng, Hà Nội
                span Đăng ký nhận thông tin qua e-mail:
                .footer-register
                    input(placeholder="Nhập địa chỉ e-mail")
                    button Đăng kí
            li
                h3 Nền tảng số<br> an toàn giao thông<br> Việt Nam
                a(href="./index.html") Trang chủ
                a(href="./index10.html") Tin tức
                a(href="/index3.html") Thi
                a(href="./index18.html") Học tập
            li
                h3 Sản phẩm của<br>chúng tôi
                a(href="#") Truyền hình
                a(href="#") Giải trí trực tuyến
                a(href="#") Thanh toán và thương mại điện tử
                a(href="#") Truyền thông trực tuyến
            li
                h3 Liên hệ
                a(href="tel:+842444551530") (+84)24 4455 1530
                    img(src="../assets/images/phone.png",alt="")
                a(href="mailto:atgtqg@vtc.vn") atgtqg@vtc.vn
                    img(src="../assets/images/gmail.png",alt="")
                .footer-social
                    img(src="../assets/images/FAA.png",alt="")
                    img(src="../assets/images/tw.png",alt="")
                    img(src="../assets/images/inta.png",alt="")
                    img(src="../assets/images/gg.png",alt="")
        span Đăng ký nhận thông tin qua e-mail:
        .footer-registermb 
            input(placeholder="Nhập địa chỉ e-mail")
            button Đăng kí





