@font-face {
    font-family: 'iCielPanton-Light';
    src: url('../assets/fonts/iCielPanton-Light.otf');
}

@font-face {
    font-family: 'iCielPanton-Black';
    src: url('../assets/fonts/iCielPanton-Black.otf');
}

@font-face {
    font-family: 'arial';
    src: url('../assets/fonts/arial.ttf');
}

@font-face {
    font-family: 'ArialBold';
    src: url('../assets/fonts/ArialBold.ttf');
}

@font-face {
    font-family: 'UTMNeutra';
    src: url('../assets/fonts/UTMNeutra.ttf');
}

body {
    overflow-x: hidden;
    background: url("../assets/images/bg.jpg")top center no-repeat;
    background-size: 100% 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

.header {
    background: url("../assets/images/Shape2.png") center /cover no-repeat;
    height: 90px;
    margin-bottom: 384px;
    & .container {
        display: flex;
        justify-content: center;
        &>a {
            margin: 14px 55px 0 62px;
        }
    }
    &-nav {
        display: flex;
        align-items: center;
        height: 62px;
        li {
            a {
                color: #fff;
                font-size: 16px;
                font-family: 'iCielPanton-Light';
                position: relative;
                cursor: pointer;
                &::after {
                    content: "";
                    display: block;
                    background: #0092d8;
                    position: absolute;
                    height: 3px;
                    width: 0;
                    bottom: -5px;
                    left: 0;
                    transition: 0.5s;
                    -webkit-transition: 0.5s;
                    -moz-transition: 0.5s;
                    -ms-transition: 0.5s;
                    -o-transition: 0.5s;
                }
                &.active {
                    &::after {
                        width: 100%;
                    }
                }
                &:hover {
                    &::after {
                        content: "";
                        display: block;
                        background: #0092d8;
                        position: absolute;
                        height: 3px;
                        width: 100%;
                        bottom: -5px;
                    }
                }
            }
        }
        &__left {
            li {
                padding-left: 45px;
                &:nth-child(1) {
                    padding-left: 0;
                }
            }
        }
        &__right {
            li {
                padding-right: 45px;
                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}